<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatingContext.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FloatingContext.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatingState.cpp.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatingContext.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
34 namespace WebCore {
35 
36 namespace Layout {
37 
38 class FloatAvoider;
39 class Box;
40 class Container;
41 class FloatingPair;
42 class LayoutState;
43 
44 // FloatingContext is responsible for adjusting the position of a box in the current formatting context
45 // by taking the floating boxes into account.
46 class FloatingContext {
47     WTF_MAKE_ISO_ALLOCATED(FloatingContext);
48 public:
49     FloatingContext(FloatingState&amp;);
50 
51     FloatingState&amp; floatingState() const { return m_floatingState; }
52 
53     Point positionForFloat(const Box&amp;) const;
<span class="line-modified">54     Optional&lt;Point&gt; positionForFloatAvoiding(const Box&amp;) const;</span>
55 
56     struct ClearancePosition {
57         Optional&lt;Position&gt; position;
58         Optional&lt;LayoutUnit&gt; clearance;
59     };
60     ClearancePosition verticalPositionWithClearance(const Box&amp;) const;
61 
62 private:
63     LayoutState&amp; layoutState() const { return m_floatingState.layoutState(); }
64 
<span class="line-modified">65     void floatingPosition(FloatAvoider&amp;) const;</span>

66 
67     FloatingState&amp; m_floatingState;
68 };
69 
70 }
71 }
72 #endif
</pre>
</td>
<td>
<hr />
<pre>
34 namespace WebCore {
35 
36 namespace Layout {
37 
38 class FloatAvoider;
39 class Box;
40 class Container;
41 class FloatingPair;
42 class LayoutState;
43 
44 // FloatingContext is responsible for adjusting the position of a box in the current formatting context
45 // by taking the floating boxes into account.
46 class FloatingContext {
47     WTF_MAKE_ISO_ALLOCATED(FloatingContext);
48 public:
49     FloatingContext(FloatingState&amp;);
50 
51     FloatingState&amp; floatingState() const { return m_floatingState; }
52 
53     Point positionForFloat(const Box&amp;) const;
<span class="line-modified">54     Optional&lt;Point&gt; positionForFormattingContextRoot(const Box&amp;) const;</span>
55 
56     struct ClearancePosition {
57         Optional&lt;Position&gt; position;
58         Optional&lt;LayoutUnit&gt; clearance;
59     };
60     ClearancePosition verticalPositionWithClearance(const Box&amp;) const;
61 
62 private:
63     LayoutState&amp; layoutState() const { return m_floatingState.layoutState(); }
64 
<span class="line-modified">65     void findPositionForFloatBox(FloatBox&amp;) const;</span>
<span class="line-added">66     void findPositionForFormattingContextRoot(FloatAvoider&amp;) const;</span>
67 
68     FloatingState&amp; m_floatingState;
69 };
70 
71 }
72 }
73 #endif
</pre>
</td>
</tr>
</table>
<center><a href="FloatingContext.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatingState.cpp.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>