<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New make/langtools/intellij/template/copyright/profiles_settings.xml</title>
    <link rel="stylesheet" href="../../../../../style.css" />
  </head>
  <body>
    <pre>
1 &lt;component name=&quot;CopyrightManager&quot;&gt;
2   &lt;settings default=&quot;langtools&quot;&gt;
3     &lt;LanguageOptions name=&quot;JAVA&quot;&gt;
4       &lt;option name=&quot;fileLocation&quot; value=&quot;1&quot; /&gt;
5     &lt;/LanguageOptions&gt;
6   &lt;/settings&gt;
7 &lt;/component&gt;
    </pre>
  </body>
</html>