<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineFormattingContext.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="InlineFormattingContext.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineFormattingContextLineLayout.cpp.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineFormattingContext.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -28,78 +28,74 @@</span>
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
  #include &quot;DisplayBox.h&quot;
  #include &quot;FormattingContext.h&quot;
  #include &quot;InlineFormattingState.h&quot;
<span class="udiff-line-modified-removed">- #include &quot;InlineRun.h&quot;</span>
<span class="udiff-line-modified-added">+ #include &quot;InlineLine.h&quot;</span>
  #include &lt;wtf/IsoMalloc.h&gt;
  
  namespace WebCore {
  namespace Layout {
  
  class FloatingState;
<span class="udiff-line-modified-removed">- class InlineContainer;</span>
<span class="udiff-line-modified-removed">- class InlineRunProvider;</span>
<span class="udiff-line-removed">- class Line;</span>
<span class="udiff-line-modified-added">+ struct LineContent;</span>
<span class="udiff-line-modified-added">+ struct LineInput;</span>
  
  // This class implements the layout logic for inline formatting contexts.
  // https://www.w3.org/TR/CSS22/visuren.html#inline-formatting
  class InlineFormattingContext : public FormattingContext {
      WTF_MAKE_ISO_ALLOCATED(InlineFormattingContext);
  public:
      InlineFormattingContext(const Box&amp; formattingContextRoot, InlineFormattingState&amp;);
      void layout() const override;
  
  private:
<span class="udiff-line-modified-removed">-     void computeIntrinsicWidthConstraints() const override;</span>
<span class="udiff-line-modified-added">+     IntrinsicWidthConstraints computedIntrinsicWidthConstraints() const override;</span>
  
<span class="udiff-line-modified-removed">-     class LineLayout {</span>
<span class="udiff-line-modified-added">+     class InlineLayout {</span>
      public:
<span class="udiff-line-modified-removed">-         LineLayout(const InlineFormattingContext&amp;);</span>
<span class="udiff-line-modified-removed">-         void layout(const InlineRunProvider&amp;) const;</span>
<span class="udiff-line-modified-added">+         InlineLayout(const InlineFormattingContext&amp;);</span>
<span class="udiff-line-modified-added">+         void layout(const InlineItems&amp;, LayoutUnit widthConstraint) const;</span>
<span class="udiff-line-added">+         LayoutUnit computedIntrinsicWidth(const InlineItems&amp;, LayoutUnit widthConstraint) const;</span>
  
      private:
<span class="udiff-line-modified-removed">-         enum class IsLastLine { No, Yes };</span>
<span class="udiff-line-modified-removed">-         void initializeNewLine(Line&amp;) const;</span>
<span class="udiff-line-modified-removed">-         void closeLine(Line&amp;, IsLastLine) const;</span>
<span class="udiff-line-modified-removed">-         void appendContentToLine(Line&amp;, const InlineRunProvider::Run&amp;, const LayoutSize&amp;) const;</span>
<span class="udiff-line-removed">-         void postProcessInlineRuns(Line&amp;, IsLastLine) const;</span>
<span class="udiff-line-removed">-         void createFinalRuns(Line&amp;) const;</span>
<span class="udiff-line-removed">-         void splitInlineRunIfNeeded(const InlineRun&amp;, InlineRuns&amp; splitRuns) const;</span>
<span class="udiff-line-removed">-         void computeFloatPosition(const FloatingContext&amp;, Line&amp;, const Box&amp;) const;</span>
<span class="udiff-line-removed">-         void placeInFlowPositionedChildren(unsigned firstRunIndex) const;</span>
<span class="udiff-line-removed">-         void alignRuns(TextAlignMode, Line&amp;, IsLastLine) const;</span>
<span class="udiff-line-removed">-         void computeExpansionOpportunities(Line&amp;, const InlineRunProvider::Run&amp;, InlineRunProvider::Run::Type lastRunType) const;</span>
<span class="udiff-line-removed">-         LayoutUnit runWidth(const InlineContent&amp;, const InlineItem&amp;, ItemPosition from, unsigned length, LayoutUnit contentLogicalLeft) const;</span>
<span class="udiff-line-modified-added">+         LayoutState&amp; layoutState() const { return m_layoutState; }</span>
<span class="udiff-line-modified-added">+         LineContent placeInlineItems(const LineInput&amp;) const;</span>
<span class="udiff-line-modified-added">+         void createDisplayRuns(const Line::Content&amp;, const Vector&lt;WeakPtr&lt;InlineItem&gt;&gt;&amp; floats, LayoutUnit widthConstraint) const;</span>
<span class="udiff-line-modified-added">+         void alignRuns(TextAlignMode, InlineRuns&amp;, unsigned firstRunIndex, LayoutUnit availableWidth) const;</span>
  
      private:
<span class="udiff-line-modified-removed">-         static void justifyRuns(Line&amp;);</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     private:</span>
<span class="udiff-line-removed">-         const InlineFormattingContext&amp; m_formattingContext;</span>
<span class="udiff-line-removed">-         InlineFormattingState&amp; m_formattingState;</span>
<span class="udiff-line-removed">-         FloatingState&amp; m_floatingState;</span>
<span class="udiff-line-modified-added">+         LayoutState&amp; m_layoutState;</span>
          const Container&amp; m_formattingRoot;
      };
  
<span class="udiff-line-added">+     class Quirks {</span>
<span class="udiff-line-added">+     public:</span>
<span class="udiff-line-added">+         static bool lineDescentNeedsCollapsing(const LayoutState&amp;, const Line::Content&amp;);</span>
<span class="udiff-line-added">+         static Line::InitialConstraints::HeightAndBaseline lineHeightConstraints(const LayoutState&amp;, const Box&amp; formattingRoot);</span>
<span class="udiff-line-added">+     };</span>
<span class="udiff-line-added">+ </span>
      class Geometry : public FormattingContext::Geometry {
      public:
          static HeightAndMargin inlineBlockHeightAndMargin(const LayoutState&amp;, const Box&amp;);
          static WidthAndMargin inlineBlockWidthAndMargin(LayoutState&amp;, const Box&amp;, UsedHorizontalValues);
      };
  
      void layoutFormattingContextRoot(const Box&amp;, UsedHorizontalValues) const;
<span class="udiff-line-modified-removed">-     void computeIntrinsicWidthForFloatBox(const Box&amp;) const;</span>
<span class="udiff-line-modified-removed">-     void computeIntrinsicWidthForInlineBlock(const Box&amp;) const;</span>
<span class="udiff-line-modified-added">+     void computeMarginBorderAndPaddingForInlineContainer(const Container&amp;, UsedHorizontalValues) const;</span>
<span class="udiff-line-modified-added">+     void initializeMarginBorderAndPaddingForGenericInlineBox(const Box&amp;) const;</span>
<span class="udiff-line-added">+     void computeIntrinsicWidthForFormattingRoot(const Box&amp;) const;</span>
      void computeWidthAndHeightForReplacedInlineBox(const Box&amp;, UsedHorizontalValues) const;
<span class="udiff-line-modified-removed">-     void computeMargin(const Box&amp;, UsedHorizontalValues) const;</span>
<span class="udiff-line-modified-added">+     void computeHorizontalMargin(const Box&amp;, UsedHorizontalValues) const;</span>
      void computeHeightAndMargin(const Box&amp;) const;
      void computeWidthAndMargin(const Box&amp;, UsedHorizontalValues) const;
  
<span class="udiff-line-modified-removed">-     void collectInlineContent(InlineRunProvider&amp;) const;</span>
<span class="udiff-line-modified-added">+     void collectInlineContent() const;</span>
  
      InlineFormattingState&amp; formattingState() const { return downcast&lt;InlineFormattingState&gt;(FormattingContext::formattingState()); }
<span class="udiff-line-added">+     // FIXME: Come up with a structure that requires no friending.</span>
<span class="udiff-line-added">+     friend class Line;</span>
  };
  
  }
  }
  #endif
</pre>
<center><a href="InlineFormattingContext.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineFormattingContextLineLayout.cpp.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>