<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineLineBreaker.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="InlineItem.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineLineBreaker.h.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineLineBreaker.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -26,175 +26,77 @@</span>
  #include &quot;config.h&quot;
  #include &quot;InlineLineBreaker.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
<span class="udiff-line-removed">- #include &quot;FontCascade.h&quot;</span>
  #include &quot;Hyphenation.h&quot;
<span class="udiff-line-modified-removed">- #include &quot;InlineRunProvider.h&quot;</span>
<span class="udiff-line-modified-removed">- #include &quot;TextUtil.h&quot;</span>
<span class="udiff-line-modified-removed">- #include &lt;wtf/IsoMallocInlines.h&gt;</span>
<span class="udiff-line-modified-added">+ #include &quot;InlineItem.h&quot;</span>
<span class="udiff-line-modified-added">+ #include &quot;InlineTextItem.h&quot;</span>
<span class="udiff-line-modified-added">+ #include &quot;LayoutState.h&quot;</span>
  
  namespace WebCore {
  namespace Layout {
  
<span class="udiff-line-modified-removed">- WTF_MAKE_ISO_ALLOCATED_IMPL(InlineLineBreaker);</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">- InlineLineBreaker::InlineLineBreaker(const LayoutState&amp; layoutState, const InlineContent&amp; inlineContent, const Vector&lt;InlineRunProvider::Run&gt;&amp; inlineRuns)</span>
<span class="udiff-line-removed">-     : m_layoutState(layoutState)</span>
<span class="udiff-line-removed">-     , m_inlineContent(inlineContent)</span>
<span class="udiff-line-removed">-     , m_inlineRuns(inlineRuns)</span>
<span class="udiff-line-removed">- {</span>
<span class="udiff-line-removed">- }</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">- Optional&lt;InlineLineBreaker::Run&gt; InlineLineBreaker::nextRun(LayoutUnit contentLogicalLeft, LayoutUnit availableWidth, bool lineIsEmpty)</span>
<span class="udiff-line-modified-added">+ LineBreaker::BreakingContext LineBreaker::breakingContext(const InlineItem&amp; inlineItem, LayoutUnit logicalWidth, const LineContext&amp; lineContext)</span>
  {
<span class="udiff-line-modified-removed">-     if (isAtContentEnd())</span>
<span class="udiff-line-modified-removed">-         return WTF::nullopt;</span>
<span class="udiff-line-modified-removed">- </span>
<span class="udiff-line-removed">-     InlineRunProvider::Run currentInlineRun = m_inlineRuns[m_currentRunIndex];</span>
<span class="udiff-line-removed">-     // Adjust the current run if it is split midword.</span>
<span class="udiff-line-removed">-     if (m_splitPosition) {</span>
<span class="udiff-line-removed">-         ASSERT(currentInlineRun.isText());</span>
<span class="udiff-line-removed">-         m_splitPosition = WTF::nullopt;</span>
<span class="udiff-line-removed">-     }</span>
<span class="udiff-line-modified-added">+     // First content always stays on line.</span>
<span class="udiff-line-modified-added">+     if (lineContext.isEmpty || logicalWidth &lt;= lineContext.availableWidth)</span>
<span class="udiff-line-modified-added">+         return { BreakingBehavior::Keep, isAtBreakingOpportunity(inlineItem) };</span>
  
<span class="udiff-line-modified-removed">-     if (currentInlineRun.isLineBreak()) {</span>
<span class="udiff-line-modified-removed">-         ++m_currentRunIndex;</span>
<span class="udiff-line-removed">-         return Run { Run::Position::LineEnd, 0, currentInlineRun };</span>
<span class="udiff-line-removed">-     }</span>
<span class="udiff-line-modified-added">+     if (inlineItem.isHardLineBreak())</span>
<span class="udiff-line-modified-added">+         return { BreakingBehavior::Keep, isAtBreakingOpportunity(inlineItem) };</span>
  
<span class="udiff-line-modified-removed">-     auto contentWidth = runWidth(currentInlineRun, contentLogicalLeft);</span>
<span class="udiff-line-modified-removed">-     // 1. Plenty of space left.</span>
<span class="udiff-line-removed">-     if (contentWidth &lt;= availableWidth) {</span>
<span class="udiff-line-removed">-         ++m_currentRunIndex;</span>
<span class="udiff-line-removed">-         return Run { lineIsEmpty ? Run::Position::LineBegin : Run::Position::Undetermined, contentWidth, currentInlineRun };</span>
<span class="udiff-line-removed">-     }</span>
<span class="udiff-line-modified-added">+     if (is&lt;InlineTextItem&gt;(inlineItem))</span>
<span class="udiff-line-modified-added">+         return { wordBreakingBehavior(downcast&lt;InlineTextItem&gt;(inlineItem), lineContext.isEmpty), isAtBreakingOpportunity(inlineItem) };</span>
  
<span class="udiff-line-modified-removed">-     // 2. No space left whatsoever.</span>
<span class="udiff-line-modified-removed">-     if (availableWidth &lt;= 0) {</span>
<span class="udiff-line-modified-removed">-         ++m_currentRunIndex;</span>
<span class="udiff-line-modified-removed">-         return Run { Run::Position::LineBegin, contentWidth, currentInlineRun };</span>
<span class="udiff-line-modified-removed">-     }</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     // 3. Some space left. Let&#39;s find out what we need to do with this run.</span>
<span class="udiff-line-removed">-     auto breakingBehavior = lineBreakingBehavior(currentInlineRun, lineIsEmpty);</span>
<span class="udiff-line-removed">-     if (breakingBehavior == LineBreakingBehavior::Keep) {</span>
<span class="udiff-line-removed">-         ++m_currentRunIndex;</span>
<span class="udiff-line-removed">-         return Run { lineIsEmpty ? Run::Position::LineBegin : Run::Position::Undetermined, contentWidth, currentInlineRun };</span>
<span class="udiff-line-removed">-     }</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     if (breakingBehavior == LineBreakingBehavior::WrapToNextLine) {</span>
<span class="udiff-line-removed">-         ++m_currentRunIndex;</span>
<span class="udiff-line-removed">-         return Run { Run::Position::LineBegin, contentWidth, currentInlineRun };</span>
<span class="udiff-line-removed">-     }</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     ASSERT(breakingBehavior == LineBreakingBehavior::Break);</span>
<span class="udiff-line-removed">-     // Split content.</span>
<span class="udiff-line-removed">-     return splitRun(currentInlineRun, contentLogicalLeft, availableWidth, lineIsEmpty);</span>
<span class="udiff-line-modified-added">+     // Wrap non-text boxes to the next line unless we can trim trailing whitespace.</span>
<span class="udiff-line-modified-added">+     auto availableWidth = lineContext.availableWidth + lineContext.trimmableWidth;</span>
<span class="udiff-line-modified-added">+     if (logicalWidth &lt;= availableWidth)</span>
<span class="udiff-line-modified-added">+         return { BreakingBehavior::Keep, isAtBreakingOpportunity(inlineItem) };</span>
<span class="udiff-line-modified-added">+     return { BreakingBehavior::Wrap, isAtBreakingOpportunity(inlineItem) };</span>
  }
  
<span class="udiff-line-modified-removed">- bool InlineLineBreaker::isAtContentEnd() const</span>
<span class="udiff-line-modified-added">+ LineBreaker::BreakingBehavior LineBreaker::wordBreakingBehavior(const InlineTextItem&amp; inlineItem, bool lineIsEmpty) const</span>
  {
<span class="udiff-line-modified-removed">-     return m_currentRunIndex == m_inlineRuns.size();</span>
<span class="udiff-line-removed">- }</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">- InlineLineBreaker::LineBreakingBehavior InlineLineBreaker::lineBreakingBehavior(const InlineRunProvider::Run&amp; inlineRun, bool lineIsEmpty)</span>
<span class="udiff-line-removed">- {</span>
<span class="udiff-line-removed">-     // Line breaking behaviour:</span>
<span class="udiff-line-modified-added">+     // Word breaking behaviour:</span>
      // 1. Whitesapce collapse on -&gt; push whitespace to next line.
      // 2. Whitespace collapse off -&gt; whitespace is split where possible.
      // 3. Non-whitespace -&gt; first run on the line -&gt; either split or kept on the line. (depends on overflow-wrap)
      // 4. Non-whitespace -&gt; already content on the line -&gt; either gets split (word-break: break-all) or gets pushed to the next line.
      // (Hyphenate when possible)
      // 5. Non-text type -&gt; next line
<span class="udiff-line-modified-removed">-     auto&amp; style = inlineRun.style();</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     if (inlineRun.isWhitespace())</span>
<span class="udiff-line-removed">-         return style.collapseWhiteSpace() ? LineBreakingBehavior::WrapToNextLine : LineBreakingBehavior::Break;</span>
<span class="udiff-line-modified-added">+     auto&amp; style = inlineItem.style();</span>
  
<span class="udiff-line-modified-removed">-     if (inlineRun.isNonWhitespace()) {</span>
<span class="udiff-line-modified-removed">-         auto shouldHypenate = !m_hyphenationIsDisabled &amp;&amp; style.hyphens() == Hyphens::Auto &amp;&amp; canHyphenate(style.locale());</span>
<span class="udiff-line-removed">-         if (shouldHypenate)</span>
<span class="udiff-line-removed">-             return LineBreakingBehavior::Break;</span>
<span class="udiff-line-modified-added">+     if (inlineItem.isWhitespace())</span>
<span class="udiff-line-modified-added">+         return style.collapseWhiteSpace() ? BreakingBehavior::Wrap : BreakingBehavior::Split;</span>
  
<span class="udiff-line-modified-removed">-         if (style.autoWrap()) {</span>
<span class="udiff-line-modified-removed">-             // Break any word</span>
<span class="udiff-line-modified-removed">-             if (style.wordBreak() == WordBreak::BreakAll)</span>
<span class="udiff-line-removed">-                 return LineBreakingBehavior::Break;</span>
<span class="udiff-line-modified-added">+     auto shouldHypenate = !m_hyphenationIsDisabled &amp;&amp; style.hyphens() == Hyphens::Auto &amp;&amp; canHyphenate(style.locale());</span>
<span class="udiff-line-modified-added">+     if (shouldHypenate)</span>
<span class="udiff-line-modified-added">+         return BreakingBehavior::Split;</span>
  
<span class="udiff-line-modified-removed">-             // Break first run on line.</span>
<span class="udiff-line-modified-removed">-             if (lineIsEmpty &amp;&amp; style.breakWords() &amp;&amp; style.preserveNewline())</span>
<span class="udiff-line-modified-removed">-                 return LineBreakingBehavior::Break;</span>
<span class="udiff-line-modified-removed">-         }</span>
<span class="udiff-line-modified-added">+     if (style.autoWrap()) {</span>
<span class="udiff-line-modified-added">+         // Break any word</span>
<span class="udiff-line-modified-added">+         if (style.wordBreak() == WordBreak::BreakAll)</span>
<span class="udiff-line-modified-added">+             return BreakingBehavior::Split;</span>
  
<span class="udiff-line-modified-removed">-         // Non-breakable non-whitespace run.</span>
<span class="udiff-line-modified-removed">-         return lineIsEmpty ? LineBreakingBehavior::Keep : LineBreakingBehavior::WrapToNextLine;</span>
<span class="udiff-line-modified-added">+         // Break first run on line.</span>
<span class="udiff-line-modified-added">+         if (lineIsEmpty &amp;&amp; style.breakWords() &amp;&amp; style.preserveNewline())</span>
<span class="udiff-line-added">+             return BreakingBehavior::Split;</span>
      }
  
<span class="udiff-line-modified-removed">-     ASSERT(inlineRun.isBox() || inlineRun.isFloat());</span>
<span class="udiff-line-modified-removed">-     // Non-text inline runs.</span>
<span class="udiff-line-removed">-     return LineBreakingBehavior::WrapToNextLine;</span>
<span class="udiff-line-removed">- }</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">- LayoutUnit InlineLineBreaker::runWidth(const InlineRunProvider::Run&amp; inlineRun, LayoutUnit contentLogicalLeft) const</span>
<span class="udiff-line-removed">- {</span>
<span class="udiff-line-removed">-     ASSERT(!inlineRun.isLineBreak());</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     if (inlineRun.isText())</span>
<span class="udiff-line-removed">-         return textWidth(inlineRun, contentLogicalLeft);</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     ASSERT(inlineRun.isBox() || inlineRun.isFloat());</span>
<span class="udiff-line-removed">-     auto&amp; inlineItem = inlineRun.inlineItem();</span>
<span class="udiff-line-removed">-     auto&amp; layoutBox = inlineItem.layoutBox();</span>
<span class="udiff-line-removed">-     ASSERT(m_layoutState.hasDisplayBox(layoutBox));</span>
<span class="udiff-line-removed">-     auto&amp; displayBox = m_layoutState.displayBoxForLayoutBox(layoutBox);</span>
<span class="udiff-line-removed">-     return inlineItem.nonBreakableStart() + displayBox.width() + inlineItem.nonBreakableEnd();</span>
<span class="udiff-line-modified-added">+     // Non-breakable non-whitespace run.</span>
<span class="udiff-line-modified-added">+     return lineIsEmpty ? BreakingBehavior::Keep : BreakingBehavior::Wrap;</span>
  }
  
<span class="udiff-line-modified-removed">- LayoutUnit InlineLineBreaker::textWidth(const InlineRunProvider::Run&amp; inlineRun, LayoutUnit contentLogicalLeft) const</span>
<span class="udiff-line-modified-added">+ bool LineBreaker::isAtBreakingOpportunity(const InlineItem&amp; inlineItem)</span>
  {
<span class="udiff-line-modified-removed">-     // FIXME: Find a way to merge this and InlineFormattingContext::Geometry::runWidth.</span>
<span class="udiff-line-modified-removed">-     auto&amp; inlineItem = inlineRun.inlineItem();</span>
<span class="udiff-line-removed">-     auto textContext = inlineRun.textContext();</span>
<span class="udiff-line-removed">-     auto startPosition = textContext-&gt;start();</span>
<span class="udiff-line-removed">-     auto length = textContext-&gt;isCollapsed() ? 1 : textContext-&gt;length();</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     // FIXME: It does not do proper kerning/ligature handling.</span>
<span class="udiff-line-removed">-     LayoutUnit width;</span>
<span class="udiff-line-removed">-     auto iterator = m_inlineContent.find(const_cast&lt;InlineItem*&gt;(&amp;inlineItem));</span>
<span class="udiff-line-removed">- #if !ASSERT_DISABLED</span>
<span class="udiff-line-removed">-     auto inlineItemEnd = m_inlineContent.end();</span>
<span class="udiff-line-removed">- #endif</span>
<span class="udiff-line-removed">-     while (length) {</span>
<span class="udiff-line-removed">-         ASSERT(iterator != inlineItemEnd);</span>
<span class="udiff-line-removed">-         auto&amp; currentInlineItem = **iterator;</span>
<span class="udiff-line-removed">-         auto inlineItemLength = currentInlineItem.textContent().length();</span>
<span class="udiff-line-removed">-         auto endPosition = std::min&lt;ItemPosition&gt;(startPosition + length, inlineItemLength);</span>
<span class="udiff-line-removed">-         auto textWidth = TextUtil::width(currentInlineItem, startPosition, endPosition, contentLogicalLeft);</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-         auto nonBreakableStart = !startPosition ? currentInlineItem.nonBreakableStart() : 0_lu;</span>
<span class="udiff-line-removed">-         auto nonBreakableEnd =  endPosition == inlineItemLength ? currentInlineItem.nonBreakableEnd() : 0_lu;</span>
<span class="udiff-line-removed">-         auto contentWidth = nonBreakableStart + textWidth + nonBreakableEnd;</span>
<span class="udiff-line-removed">-         contentLogicalLeft += contentWidth;</span>
<span class="udiff-line-removed">-         width += contentWidth;</span>
<span class="udiff-line-removed">-         length -= (endPosition - startPosition);</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-         startPosition = 0;</span>
<span class="udiff-line-removed">-         ++iterator;</span>
<span class="udiff-line-removed">-     }</span>
<span class="udiff-line-removed">-     return width;</span>
<span class="udiff-line-removed">- }</span>
<span class="udiff-line-modified-added">+     if (inlineItem.isHardLineBreak())</span>
<span class="udiff-line-modified-added">+         return true;</span>
  
<span class="udiff-line-modified-removed">- InlineLineBreaker::Run InlineLineBreaker::splitRun(const InlineRunProvider::Run&amp; inlineRun, LayoutUnit, LayoutUnit, bool)</span>
<span class="udiff-line-modified-removed">- {</span>
<span class="udiff-line-modified-removed">-     return { Run::Position::Undetermined, { }, inlineRun };</span>
<span class="udiff-line-removed">- }</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">- Optional&lt;ItemPosition&gt; InlineLineBreaker::adjustSplitPositionWithHyphenation(const InlineRunProvider::Run&amp;, ItemPosition, LayoutUnit, LayoutUnit, bool) const</span>
<span class="udiff-line-removed">- {</span>
<span class="udiff-line-removed">-     return { };</span>
<span class="udiff-line-modified-added">+     if (is&lt;InlineTextItem&gt;(inlineItem))</span>
<span class="udiff-line-modified-added">+         return downcast&lt;InlineTextItem&gt;(inlineItem).isWhitespace();</span>
<span class="udiff-line-modified-added">+     return !inlineItem.isFloat() &amp;&amp; !inlineItem.isContainerStart() &amp;&amp; !inlineItem.isContainerEnd();</span>
  }
  
  }
  }
  #endif
</pre>
<center><a href="InlineItem.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineLineBreaker.h.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>