<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/text/TextUtil.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../InlineTextItem.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../index.html" target="_top">index</a> <a href="TextUtil.h.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/text/TextUtil.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #include &quot;config.h&quot;
 27 #include &quot;TextUtil.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 

 31 #include &quot;FontCascade.h&quot;


 32 #include &quot;RenderStyle.h&quot;
 33 
 34 namespace WebCore {
 35 namespace Layout {
 36 
<span class="line-modified"> 37 Optional&lt;unsigned&gt; TextUtil::hyphenPositionBefore(const InlineItem&amp;, unsigned, unsigned)</span>
 38 {
<span class="line-modified"> 39     return WTF::nullopt;</span>





 40 }
 41 
<span class="line-modified"> 42 LayoutUnit TextUtil::width(const Box&amp; inlineBox, unsigned from, unsigned to, LayoutUnit contentLogicalLeft)</span>
 43 {
 44     auto&amp; style = inlineBox.style();
 45     auto&amp; font = style.fontCascade();
 46     if (!font.size() || from == to)
 47         return 0;
 48 
<span class="line-modified"> 49     auto text = inlineBox.textContent();</span>

 50     ASSERT(to &lt;= text.length());
<span class="line-removed"> 51 </span>
<span class="line-removed"> 52     if (font.isFixedPitch())</span>
<span class="line-removed"> 53         return fixedPitchWidth(text, style, from, to, contentLogicalLeft);</span>
<span class="line-removed"> 54 </span>
 55     auto hasKerningOrLigatures = font.enableKerning() || font.requiresShaping();
 56     auto measureWithEndSpace = hasKerningOrLigatures &amp;&amp; to &lt; text.length() &amp;&amp; text[to] == &#39; &#39;;
 57     if (measureWithEndSpace)
 58         ++to;
<span class="line-modified"> 59     LayoutUnit width;</span>
<span class="line-modified"> 60     auto tabWidth = style.collapseWhiteSpace() ? TabSize(0) : style.tabSize();</span>
<span class="line-modified"> 61 </span>
<span class="line-modified"> 62     WebCore::TextRun run(StringView(text).substring(from, to - from), contentLogicalLeft);</span>
<span class="line-modified"> 63     if (tabWidth)</span>
<span class="line-modified"> 64         run.setTabSize(true, tabWidth);</span>
<span class="line-modified"> 65     width = font.width(run);</span>






 66 
 67     if (measureWithEndSpace)
 68         width -= (font.spaceWidth() + font.wordSpacing());
 69 
<span class="line-modified"> 70     return std::max&lt;LayoutUnit&gt;(0, width);</span>
 71 }
 72 
<span class="line-modified"> 73 LayoutUnit TextUtil::fixedPitchWidth(String text, const RenderStyle&amp; style, unsigned from, unsigned to, LayoutUnit contentLogicalLeft)</span>
 74 {
 75     auto&amp; font = style.fontCascade();
 76     auto monospaceCharacterWidth = font.spaceWidth();
<span class="line-modified"> 77     LayoutUnit width;</span>
 78     for (auto i = from; i &lt; to; ++i) {
 79         auto character = text[i];
 80         if (character &gt;= &#39; &#39; || character == &#39;\n&#39;)
 81             width += monospaceCharacterWidth;
 82         else if (character == &#39;\t&#39;)
 83             width += style.collapseWhiteSpace() ? monospaceCharacterWidth : font.tabWidth(style.tabSize(), contentLogicalLeft + width);
 84 
 85         if (i &gt; from &amp;&amp; (character == &#39; &#39; || character == &#39;\t&#39; || character == &#39;\n&#39;))
 86             width += font.wordSpacing();
 87     }
 88 
<span class="line-modified"> 89     return width;</span>
<span class="line-removed"> 90 }</span>
<span class="line-removed"> 91 </span>
<span class="line-removed"> 92 bool TextUtil::isTrimmableContent(const InlineItem&amp; inlineItem)</span>
<span class="line-removed"> 93 {</span>
<span class="line-removed"> 94     if (!is&lt;InlineTextItem&gt;(inlineItem))</span>
<span class="line-removed"> 95         return false;</span>
<span class="line-removed"> 96     auto&amp; inlineTextItem = downcast&lt;InlineTextItem&gt;(inlineItem);</span>
<span class="line-removed"> 97     return inlineTextItem.isWhitespace() &amp;&amp; inlineTextItem.style().collapseWhiteSpace();</span>
 98 }
 99 
<span class="line-modified">100 TextUtil::SplitData TextUtil::split(const Box&amp; inlineBox, unsigned startPosition, unsigned length, LayoutUnit textWidth, LayoutUnit availableWidth, LayoutUnit contentLogicalLeft)</span>
101 {
<span class="line-removed">102     // FIXME This should take hypens into account.</span>
103     ASSERT(availableWidth &gt;= 0);
104     auto left = startPosition;
105     // Pathological case of (extremely)long string and narrow lines.
106     // Adjust the range so that we can pick a reasonable midpoint.
<span class="line-modified">107     LayoutUnit averageCharacterWidth = textWidth / length;</span>
<span class="line-modified">108     auto right = std::min&lt;unsigned&gt;(left + (2 * availableWidth / averageCharacterWidth).toUnsigned(), (startPosition + length - 1));</span>

109     // Preserve the left width for the final split position so that we don&#39;t need to remeasure the left side again.
<span class="line-modified">110     LayoutUnit leftSideWidth = 0;</span>
111     while (left &lt; right) {
112         auto middle = (left + right) / 2;
113         auto width = TextUtil::width(inlineBox, startPosition, middle + 1, contentLogicalLeft);
114         if (width &lt; availableWidth) {
115             left = middle + 1;
116             leftSideWidth = width;
117         } else if (width &gt; availableWidth)
118             right = middle;
119         else {
120             right = middle + 1;
121             leftSideWidth = width;
122             break;
123         }
124     }
125     return { startPosition, right - startPosition, leftSideWidth };
126 }
127 






















128 }
129 }
130 #endif
</pre>
</td>
<td>
<hr />
<pre>
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #include &quot;config.h&quot;
 27 #include &quot;TextUtil.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 
<span class="line-added"> 31 #include &quot;BreakLines.h&quot;</span>
 32 #include &quot;FontCascade.h&quot;
<span class="line-added"> 33 #include &quot;InlineTextItem.h&quot;</span>
<span class="line-added"> 34 #include &quot;RenderBox.h&quot;</span>
 35 #include &quot;RenderStyle.h&quot;
 36 
 37 namespace WebCore {
 38 namespace Layout {
 39 
<span class="line-modified"> 40 InlineLayoutUnit TextUtil::width(const InlineTextItem&amp; inlineTextItem, unsigned from, unsigned to, InlineLayoutUnit contentLogicalLeft)</span>
 41 {
<span class="line-modified"> 42     // Fast path for collapsed whitespace.</span>
<span class="line-added"> 43     if (inlineTextItem.isCollapsible()) {</span>
<span class="line-added"> 44         auto font = inlineTextItem.style().fontCascade();</span>
<span class="line-added"> 45         return font.spaceWidth() + font.wordSpacing();</span>
<span class="line-added"> 46     }</span>
<span class="line-added"> 47     return TextUtil::width(inlineTextItem.layoutBox(), from, to, contentLogicalLeft);</span>
 48 }
 49 
<span class="line-modified"> 50 InlineLayoutUnit TextUtil::width(const Box&amp; inlineBox, unsigned from, unsigned to, InlineLayoutUnit contentLogicalLeft)</span>
 51 {
 52     auto&amp; style = inlineBox.style();
 53     auto&amp; font = style.fontCascade();
 54     if (!font.size() || from == to)
 55         return 0;
 56 
<span class="line-modified"> 57     auto&amp; textContext = *inlineBox.textContext();</span>
<span class="line-added"> 58     auto&amp; text = textContext.content;</span>
 59     ASSERT(to &lt;= text.length());




 60     auto hasKerningOrLigatures = font.enableKerning() || font.requiresShaping();
 61     auto measureWithEndSpace = hasKerningOrLigatures &amp;&amp; to &lt; text.length() &amp;&amp; text[to] == &#39; &#39;;
 62     if (measureWithEndSpace)
 63         ++to;
<span class="line-modified"> 64     float width = 0;</span>
<span class="line-modified"> 65     if (textContext.canUseSimplifiedContentMeasuring) {</span>
<span class="line-modified"> 66         if (font.isFixedPitch())</span>
<span class="line-modified"> 67             width = fixedPitchWidth(text, style, from, to, contentLogicalLeft);</span>
<span class="line-modified"> 68         else</span>
<span class="line-modified"> 69             width = font.widthForSimpleText(StringView(text).substring(from, to - from));</span>
<span class="line-modified"> 70     } else {</span>
<span class="line-added"> 71         auto tabWidth = style.collapseWhiteSpace() ? TabSize(0) : style.tabSize();</span>
<span class="line-added"> 72         WebCore::TextRun run(StringView(text).substring(from, to - from), contentLogicalLeft);</span>
<span class="line-added"> 73         if (tabWidth)</span>
<span class="line-added"> 74             run.setTabSize(true, tabWidth);</span>
<span class="line-added"> 75         width = font.width(run);</span>
<span class="line-added"> 76     }</span>
 77 
 78     if (measureWithEndSpace)
 79         width -= (font.spaceWidth() + font.wordSpacing());
 80 
<span class="line-modified"> 81     return std::max&lt;InlineLayoutUnit&gt;(0 , InlineLayoutUnit(width));</span>
 82 }
 83 
<span class="line-modified"> 84 InlineLayoutUnit TextUtil::fixedPitchWidth(const StringView&amp; text, const RenderStyle&amp; style, unsigned from, unsigned to, InlineLayoutUnit contentLogicalLeft)</span>
 85 {
 86     auto&amp; font = style.fontCascade();
 87     auto monospaceCharacterWidth = font.spaceWidth();
<span class="line-modified"> 88     float width = 0;</span>
 89     for (auto i = from; i &lt; to; ++i) {
 90         auto character = text[i];
 91         if (character &gt;= &#39; &#39; || character == &#39;\n&#39;)
 92             width += monospaceCharacterWidth;
 93         else if (character == &#39;\t&#39;)
 94             width += style.collapseWhiteSpace() ? monospaceCharacterWidth : font.tabWidth(style.tabSize(), contentLogicalLeft + width);
 95 
 96         if (i &gt; from &amp;&amp; (character == &#39; &#39; || character == &#39;\t&#39; || character == &#39;\n&#39;))
 97             width += font.wordSpacing();
 98     }
 99 
<span class="line-modified">100     return std::max&lt;InlineLayoutUnit&gt;(0, InlineLayoutUnit(width));</span>








101 }
102 
<span class="line-modified">103 TextUtil::SplitData TextUtil::split(const Box&amp; inlineBox, unsigned startPosition, unsigned length, InlineLayoutUnit textWidth, InlineLayoutUnit availableWidth, InlineLayoutUnit contentLogicalLeft)</span>
104 {

105     ASSERT(availableWidth &gt;= 0);
106     auto left = startPosition;
107     // Pathological case of (extremely)long string and narrow lines.
108     // Adjust the range so that we can pick a reasonable midpoint.
<span class="line-modified">109     InlineLayoutUnit averageCharacterWidth = textWidth / length;</span>
<span class="line-modified">110     unsigned offset = toLayoutUnit(2 * availableWidth / averageCharacterWidth).toUnsigned();</span>
<span class="line-added">111     auto right = std::min&lt;unsigned&gt;(left + offset, (startPosition + length - 1));</span>
112     // Preserve the left width for the final split position so that we don&#39;t need to remeasure the left side again.
<span class="line-modified">113     InlineLayoutUnit leftSideWidth = 0;</span>
114     while (left &lt; right) {
115         auto middle = (left + right) / 2;
116         auto width = TextUtil::width(inlineBox, startPosition, middle + 1, contentLogicalLeft);
117         if (width &lt; availableWidth) {
118             left = middle + 1;
119             leftSideWidth = width;
120         } else if (width &gt; availableWidth)
121             right = middle;
122         else {
123             right = middle + 1;
124             leftSideWidth = width;
125             break;
126         }
127     }
128     return { startPosition, right - startPosition, leftSideWidth };
129 }
130 
<span class="line-added">131 unsigned TextUtil::findNextBreakablePosition(LazyLineBreakIterator&amp; lineBreakIterator, unsigned startPosition, const RenderStyle&amp; style)</span>
<span class="line-added">132 {</span>
<span class="line-added">133     auto keepAllWordsForCJK = style.wordBreak() == WordBreak::KeepAll;</span>
<span class="line-added">134     auto breakNBSP = style.autoWrap() &amp;&amp; style.nbspMode() == NBSPMode::Space;</span>
<span class="line-added">135 </span>
<span class="line-added">136     if (keepAllWordsForCJK) {</span>
<span class="line-added">137         if (breakNBSP)</span>
<span class="line-added">138             return nextBreakablePositionKeepingAllWords(lineBreakIterator, startPosition);</span>
<span class="line-added">139         return nextBreakablePositionKeepingAllWordsIgnoringNBSP(lineBreakIterator, startPosition);</span>
<span class="line-added">140     }</span>
<span class="line-added">141 </span>
<span class="line-added">142     if (lineBreakIterator.mode() == LineBreakIteratorMode::Default) {</span>
<span class="line-added">143         if (breakNBSP)</span>
<span class="line-added">144             return WebCore::nextBreakablePosition(lineBreakIterator, startPosition);</span>
<span class="line-added">145         return nextBreakablePositionIgnoringNBSP(lineBreakIterator, startPosition);</span>
<span class="line-added">146     }</span>
<span class="line-added">147 </span>
<span class="line-added">148     if (breakNBSP)</span>
<span class="line-added">149         return nextBreakablePositionWithoutShortcut(lineBreakIterator, startPosition);</span>
<span class="line-added">150     return nextBreakablePositionIgnoringNBSPWithoutShortcut(lineBreakIterator, startPosition);</span>
<span class="line-added">151 }</span>
<span class="line-added">152 </span>
153 }
154 }
155 #endif
</pre>
</td>
</tr>
</table>
<center><a href="../InlineTextItem.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../index.html" target="_top">index</a> <a href="TextUtil.h.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>