<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutContainer.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="LayoutChildIterator.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutContainer.h.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutContainer.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 35,11 ***</span>
  namespace Layout {
  
  WTF_MAKE_ISO_ALLOCATED_IMPL(Container);
  
  Container::Container(Optional&lt;ElementAttributes&gt; attributes, RenderStyle&amp;&amp; style, BaseTypeFlags baseTypeFlags)
<span class="line-modified">!     : Box(attributes, WTFMove(style), baseTypeFlags | ContainerFlag)</span>
  {
  }
  
  const Box* Container::firstInFlowChild() const
  {
<span class="line-new-header">--- 35,11 ---</span>
  namespace Layout {
  
  WTF_MAKE_ISO_ALLOCATED_IMPL(Container);
  
  Container::Container(Optional&lt;ElementAttributes&gt; attributes, RenderStyle&amp;&amp; style, BaseTypeFlags baseTypeFlags)
<span class="line-modified">!     : Box(attributes, { }, WTFMove(style), baseTypeFlags | ContainerFlag)</span>
  {
  }
  
  const Box* Container::firstInFlowChild() const
  {
</pre>
<hr />
<pre>
<span class="line-old-header">*** 89,8 ***</span>
<span class="line-new-header">--- 89,21 ---</span>
  void Container::setLastChild(Box&amp; childBox)
  {
      m_lastChild = &amp;childBox;
  }
  
<span class="line-added">+ void Container::appendChild(Box&amp; childBox)</span>
<span class="line-added">+ {</span>
<span class="line-added">+     childBox.setParent(*this);</span>
<span class="line-added">+ </span>
<span class="line-added">+     if (m_lastChild) {</span>
<span class="line-added">+         m_lastChild-&gt;setNextSibling(childBox);</span>
<span class="line-added">+         childBox.setPreviousSibling(*m_lastChild);</span>
<span class="line-added">+     } else</span>
<span class="line-added">+         m_firstChild = &amp;childBox;</span>
<span class="line-added">+ </span>
<span class="line-added">+     m_lastChild = &amp;childBox;</span>
<span class="line-added">+ }</span>
<span class="line-added">+ </span>
  }
  }
  #endif
</pre>
<center><a href="LayoutChildIterator.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutContainer.h.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>