<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../style.css" />
  </head>
<body>
<center>&lt; prev <a href="../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>    <h2>application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 54,11 ***</span>
  import org.eclipse.jface.action.IAction;
  import org.eclipse.jface.action.IMenuManager;
  import org.eclipse.jface.action.IToolBarManager;
  import org.eclipse.jface.action.Separator;
  import org.eclipse.jface.resource.ImageDescriptor;
<span class="line-removed">- import org.eclipse.jface.resource.ResourceLocator;</span>
  import org.eclipse.jface.viewers.ISelection;
  import org.eclipse.jface.viewers.IStructuredSelection;
  import org.eclipse.swt.SWT;
  import org.eclipse.swt.browser.Browser;
  import org.eclipse.swt.browser.ProgressAdapter;
<span class="line-new-header">--- 54,10 ---</span>
</pre>
<hr />
<pre>
<span class="line-old-header">*** 74,10 ***</span>
<span class="line-new-header">--- 73,11 ---</span>
  import org.eclipse.ui.ISelectionListener;
  import org.eclipse.ui.IViewSite;
  import org.eclipse.ui.IWorkbenchPart;
  import org.eclipse.ui.PartInitException;
  import org.eclipse.ui.part.ViewPart;
<span class="line-added">+ import org.eclipse.ui.plugin.AbstractUIPlugin;</span>
  import org.openjdk.jmc.common.item.IItemCollection;
  import org.openjdk.jmc.common.util.StringToolkit;
  import org.openjdk.jmc.flightrecorder.flameview.FlameviewImages;
  import org.openjdk.jmc.flightrecorder.flameview.tree.TraceNode;
  import org.openjdk.jmc.flightrecorder.flameview.tree.TraceTreeUtils;
</pre>
<hr />
<pre>
<span class="line-old-header">*** 90,10 ***</span>
<span class="line-new-header">--- 90,12 ---</span>
  import org.openjdk.jmc.ui.common.util.AdapterUtil;
  import org.openjdk.jmc.ui.handlers.MCContextMenuManager;
  import org.openjdk.jmc.ui.misc.DisplayToolkit;
  
  public class FlameGraphView extends ViewPart implements ISelectionListener {
<span class="line-added">+ 	private static final String DIR_ICONS = &quot;icons/&quot;; //$NON-NLS-1$</span>
<span class="line-added">+ 	private static final String PLUGIN_ID = &quot;org.openjdk.jmc.flightrecorder.flameview&quot;; //$NON-NLS-1$</span>
  	private static final String UNCLASSIFIABLE_FRAME = getStacktraceMessage(STACKTRACE_UNCLASSIFIABLE_FRAME);
  	private static final String UNCLASSIFIABLE_FRAME_DESC = getStacktraceMessage(STACKTRACE_UNCLASSIFIABLE_FRAME_DESC);
  	private static final String HTML_PAGE;
  	static {
  		// from: https://cdn.jsdelivr.net/gh/spiermar/d3-flame-graph@2.0.3/dist/d3-flamegraph.css
</pre>
<hr />
<pre>
<span class="line-old-header">*** 374,12 ***</span>
  	private static String flameviewMessage(String key) {
  		return org.openjdk.jmc.flightrecorder.flameview.Messages.getString(key);
  	}
  
  	private static ImageDescriptor flameviewImageDescriptor(String iconName) {
<span class="line-modified">! 		return ResourceLocator</span>
<span class="line-removed">- 				.imageDescriptorFromBundle(&quot;org.openjdk.jmc.flightrecorder.flameview&quot;, &quot;icons/&quot; + iconName).get(); //$NON-NLS-1$</span>
  	}
  
  	private static String getIconBase64(String iconName) {
  		Image image = FlightRecorderUI.getDefault().getImage(iconName);
  		if (image == null) {
<span class="line-new-header">--- 376,11 ---</span>
  	private static String flameviewMessage(String key) {
  		return org.openjdk.jmc.flightrecorder.flameview.Messages.getString(key);
  	}
  
  	private static ImageDescriptor flameviewImageDescriptor(String iconName) {
<span class="line-modified">! 		return AbstractUIPlugin.imageDescriptorFromPlugin(PLUGIN_ID, DIR_ICONS + iconName);  //$NON-NLS-1$</span>
  	}
  
  	private static String getIconBase64(String iconName) {
  		Image image = FlightRecorderUI.getDefault().getImage(iconName);
  		if (image == null) {
</pre>
<center>&lt; prev <a href="../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>  </body>
</html>