<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../../../../../../../../../../../org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>    <h2>application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -30,10 +30,12 @@</span>
   * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
   * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
   */
  package org.openjdk.jmc.flightrecorder.ui.views.stacktrace;
  
<span class="udiff-line-added">+ import static org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModelUtils.getLastSelectedBranch;</span>
<span class="udiff-line-added">+ </span>
  import java.util.Arrays;
  import java.util.List;
  import java.util.Optional;
  import java.util.concurrent.CompletableFuture;
  import java.util.logging.Level;
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -86,11 +88,10 @@</span>
  import org.eclipse.ui.IWorkbenchPart;
  import org.eclipse.ui.PartInitException;
  import org.eclipse.ui.PlatformUI;
  import org.eclipse.ui.forms.widgets.FormText;
  import org.eclipse.ui.part.ViewPart;
<span class="udiff-line-removed">- </span>
  import org.openjdk.jmc.common.IDisplayable;
  import org.openjdk.jmc.common.IMCFrame;
  import org.openjdk.jmc.common.IState;
  import org.openjdk.jmc.common.collection.SimpleArray;
  import org.openjdk.jmc.common.item.IItemCollection;
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -866,22 +867,10 @@</span>
  			input.addAll(selectedBranch.getTailFrames());
  			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
  		}
  	}
  
<span class="udiff-line-removed">- 	// See JMC-6787</span>
<span class="udiff-line-removed">- 	@SuppressWarnings(&quot;deprecation&quot;)</span>
<span class="udiff-line-removed">- 	private static Branch getLastSelectedBranch(Fork fromFork) {</span>
<span class="udiff-line-removed">- 		Branch lastSelectedBranch = null;</span>
<span class="udiff-line-removed">- 		Branch branch = fromFork.getSelectedBranch();</span>
<span class="udiff-line-removed">- 		while (branch != null) {</span>
<span class="udiff-line-removed">- 			lastSelectedBranch = branch;</span>
<span class="udiff-line-removed">- 			branch = branch.getEndFork().getSelectedBranch();</span>
<span class="udiff-line-removed">- 		}</span>
<span class="udiff-line-removed">- 		return lastSelectedBranch;</span>
<span class="udiff-line-removed">- 	}</span>
<span class="udiff-line-removed">- </span>
  	private static Fork getRootFork(Fork fork) {
  		while (fork.getParentBranch() != null) {
  			fork = fork.getParentBranch().getParentFork();
  		}
  		return fork;
</pre>
<center><a href="../../../../../../../../../../../org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>  </body>
</html>