<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.graphics/src/main/java/javafx/scene/layout/HBox.java</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../../../../../../../javafx.controls/src/main/java/javafx/scene/control/Cell.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="VBox.java.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.graphics/src/main/java/javafx/scene/layout/HBox.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
154 
155     private boolean biasDirty = true;
156     private double minBaselineComplement = Double.NaN;
157     private double prefBaselineComplement = Double.NaN;
158     private Orientation bias;
159     private double[][] tempArray;
160 
161     /********************************************************************
162      *  BEGIN static methods
163      ********************************************************************/
164     private static final String MARGIN_CONSTRAINT = &quot;hbox-margin&quot;;
165     private static final String HGROW_CONSTRAINT = &quot;hbox-hgrow&quot;;
166 
167     /**
168      * Sets the horizontal grow priority for the child when contained by an hbox.
169      * If set, the hbox will use the priority value to allocate additional space if the
170      * hbox is resized larger than its preferred width.
171      * If multiple hbox children have the same horizontal grow priority, then the
172      * extra space will be split evenly between them.
173      * If no horizontal grow priority is set on a child, the hbox will never
<span class="line-modified">174      * allocate it additional horizontal space if available.</span>
175      * &lt;p&gt;
176      * Setting the value to {@code null} will remove the constraint.
177      * @param child the child of an hbox
178      * @param value the horizontal grow priority for the child
179      */
180     public static void setHgrow(Node child, Priority value) {
181         setConstraint(child, HGROW_CONSTRAINT, value);
182     }
183 
184     /**
185      * Returns the child&#39;s hgrow constraint if set.
186      * @param child the child node of an hbox
187      * @return the horizontal grow priority for the child or null if no priority was set
188      */
189     public static Priority getHgrow(Node child) {
190         return (Priority)getConstraint(child, HGROW_CONSTRAINT);
191     }
192 
193     /**
194      * Sets the margin for the child when contained by an hbox.
</pre>
<hr />
<pre>
225      *  END static methods
226      ********************************************************************/
227 
228     /**
229      * Creates an {@code HBox} layout with {@code spacing = 0}.
230      */
231     public HBox() {
232         super();
233     }
234 
235     /**
236      * Creates an {@code HBox} layout with the specified spacing between children.
237      * @param spacing the amount of horizontal space between each child
238      */
239     public HBox(double spacing) {
240         this();
241         setSpacing(spacing);
242     }
243 
244     /**
<span class="line-modified">245      * Creates an {@code HBox} layout with{@code spacing = 0}.</span>
246      * @param children the initial set of children for this pane
247      * @since JavaFX 8.0
248      */
249     public HBox(Node... children) {
250         super();
251         getChildren().addAll(children);
252     }
253 
254     /**
255      * Creates an {@code HBox} layout with the specified spacing between children.
256      * @param spacing the amount of horizontal space between each child
257      * @param children The initial set of children for this pane
258      * @since JavaFX 8.0
259      */
260     public HBox(double spacing, Node... children) {
261         this();
262         setSpacing(spacing);
263         getChildren().addAll(children);
264     }
265 
</pre>
</td>
<td>
<hr />
<pre>
154 
155     private boolean biasDirty = true;
156     private double minBaselineComplement = Double.NaN;
157     private double prefBaselineComplement = Double.NaN;
158     private Orientation bias;
159     private double[][] tempArray;
160 
161     /********************************************************************
162      *  BEGIN static methods
163      ********************************************************************/
164     private static final String MARGIN_CONSTRAINT = &quot;hbox-margin&quot;;
165     private static final String HGROW_CONSTRAINT = &quot;hbox-hgrow&quot;;
166 
167     /**
168      * Sets the horizontal grow priority for the child when contained by an hbox.
169      * If set, the hbox will use the priority value to allocate additional space if the
170      * hbox is resized larger than its preferred width.
171      * If multiple hbox children have the same horizontal grow priority, then the
172      * extra space will be split evenly between them.
173      * If no horizontal grow priority is set on a child, the hbox will never
<span class="line-modified">174      * allocate any additional horizontal space for that child.</span>
175      * &lt;p&gt;
176      * Setting the value to {@code null} will remove the constraint.
177      * @param child the child of an hbox
178      * @param value the horizontal grow priority for the child
179      */
180     public static void setHgrow(Node child, Priority value) {
181         setConstraint(child, HGROW_CONSTRAINT, value);
182     }
183 
184     /**
185      * Returns the child&#39;s hgrow constraint if set.
186      * @param child the child node of an hbox
187      * @return the horizontal grow priority for the child or null if no priority was set
188      */
189     public static Priority getHgrow(Node child) {
190         return (Priority)getConstraint(child, HGROW_CONSTRAINT);
191     }
192 
193     /**
194      * Sets the margin for the child when contained by an hbox.
</pre>
<hr />
<pre>
225      *  END static methods
226      ********************************************************************/
227 
228     /**
229      * Creates an {@code HBox} layout with {@code spacing = 0}.
230      */
231     public HBox() {
232         super();
233     }
234 
235     /**
236      * Creates an {@code HBox} layout with the specified spacing between children.
237      * @param spacing the amount of horizontal space between each child
238      */
239     public HBox(double spacing) {
240         this();
241         setSpacing(spacing);
242     }
243 
244     /**
<span class="line-modified">245      * Creates an {@code HBox} layout with {@code spacing = 0}.</span>
246      * @param children the initial set of children for this pane
247      * @since JavaFX 8.0
248      */
249     public HBox(Node... children) {
250         super();
251         getChildren().addAll(children);
252     }
253 
254     /**
255      * Creates an {@code HBox} layout with the specified spacing between children.
256      * @param spacing the amount of horizontal space between each child
257      * @param children The initial set of children for this pane
258      * @since JavaFX 8.0
259      */
260     public HBox(double spacing, Node... children) {
261         this();
262         setSpacing(spacing);
263         getChildren().addAll(children);
264     }
265 
</pre>
</td>
</tr>
</table>
<center><a href="../../../../../../../javafx.controls/src/main/java/javafx/scene/control/Cell.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="VBox.java.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>