<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.graphics/src/main/java/javafx/scene/layout/VBox.java</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="HBox.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> next &gt;</center>    <h2>modules/javafx.graphics/src/main/java/javafx/scene/layout/VBox.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -158,11 +158,11 @@</span>
       * If set, the vbox will use the priority value to allocate additional space if the
       * vbox is resized larger than its preferred height.
       * If multiple vbox children have the same vertical grow priority, then the
       * extra space will be split evenly between them.
       * If no vertical grow priority is set on a child, the vbox will never
<span class="udiff-line-modified-removed">-      * allocate it additional vertical space, if available.</span>
<span class="udiff-line-modified-added">+      * allocate any additional vertical space for that child.</span>
       * &lt;p&gt;
       * Setting the value to {@code null} will remove the constraint.
       * @param child the child of a vbox
       * @param value the vertical grow priority for the child
       */
</pre>
<center><a href="HBox.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> next &gt;</center>  </body>
</html>