<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../../../../../../../../../../../org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../../core/org.openjdk.jmc.flightrecorder/src/main/java/org/openjdk/jmc/flightrecorder/stacktrace/StacktraceModel.java.sdiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 15  * and the following disclaimer.
 16  * 
 17  * 2. Redistributions in binary form must reproduce the above copyright notice, this list of
 18  * conditions and the following disclaimer in the documentation and/or other materials provided with
 19  * the distribution.
 20  * 
 21  * 3. Neither the name of the copyright holder nor the names of its contributors may be used to
 22  * endorse or promote products derived from this software without specific prior written permission.
 23  * 
 24  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS &quot;AS IS&quot; AND ANY EXPRESS OR
 25  * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 26  * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 27  * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 28  * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 29  * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 30  * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 31  * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 32  */
 33 package org.openjdk.jmc.flightrecorder.ui.views.stacktrace;
 34 


 35 import java.util.Arrays;
 36 import java.util.List;
 37 import java.util.Optional;
 38 import java.util.concurrent.CompletableFuture;
 39 import java.util.logging.Level;
 40 import java.util.stream.Collectors;
 41 import java.util.stream.IntStream;
 42 import java.util.stream.Stream;
 43 
 44 import org.eclipse.core.runtime.IAdapterFactory;
 45 import org.eclipse.core.runtime.Platform;
 46 import org.eclipse.jface.action.Action;
 47 import org.eclipse.jface.action.IAction;
 48 import org.eclipse.jface.action.IMenuManager;
 49 import org.eclipse.jface.action.IToolBarManager;
 50 import org.eclipse.jface.action.MenuManager;
 51 import org.eclipse.jface.action.Separator;
 52 import org.eclipse.jface.viewers.AbstractTreeViewer;
 53 import org.eclipse.jface.viewers.ColumnLabelProvider;
 54 import org.eclipse.jface.viewers.ColumnViewer;
</pre>
<hr />
<pre>
 71 import org.eclipse.swt.events.TraverseEvent;
 72 import org.eclipse.swt.events.TraverseListener;
 73 import org.eclipse.swt.graphics.Color;
 74 import org.eclipse.swt.graphics.Image;
 75 import org.eclipse.swt.graphics.RGB;
 76 import org.eclipse.swt.widgets.Composite;
 77 import org.eclipse.swt.widgets.Display;
 78 import org.eclipse.swt.widgets.Event;
 79 import org.eclipse.swt.widgets.Listener;
 80 import org.eclipse.swt.widgets.TableColumn;
 81 import org.eclipse.swt.widgets.TreeColumn;
 82 import org.eclipse.ui.IEditorPart;
 83 import org.eclipse.ui.IMemento;
 84 import org.eclipse.ui.ISelectionListener;
 85 import org.eclipse.ui.IViewSite;
 86 import org.eclipse.ui.IWorkbenchPart;
 87 import org.eclipse.ui.PartInitException;
 88 import org.eclipse.ui.PlatformUI;
 89 import org.eclipse.ui.forms.widgets.FormText;
 90 import org.eclipse.ui.part.ViewPart;
<span class="line-removed"> 91 </span>
 92 import org.openjdk.jmc.common.IDisplayable;
 93 import org.openjdk.jmc.common.IMCFrame;
 94 import org.openjdk.jmc.common.IState;
 95 import org.openjdk.jmc.common.collection.SimpleArray;
 96 import org.openjdk.jmc.common.item.IItemCollection;
 97 import org.openjdk.jmc.common.unit.UnitLookup;
 98 import org.openjdk.jmc.common.util.StateToolkit;
 99 import org.openjdk.jmc.flightrecorder.stacktrace.FrameSeparator;
100 import org.openjdk.jmc.flightrecorder.stacktrace.FrameSeparator.FrameCategorization;
101 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceFormatToolkit;
102 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceFrame;
103 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel;
104 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.Branch;
105 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.Fork;
106 import org.openjdk.jmc.flightrecorder.ui.FlightRecorderUI;
107 import org.openjdk.jmc.flightrecorder.ui.IPageContainer;
108 import org.openjdk.jmc.flightrecorder.ui.ItemCollectionToolkit;
109 import org.openjdk.jmc.flightrecorder.ui.common.ImageConstants;
110 import org.openjdk.jmc.flightrecorder.ui.messages.internal.Messages;
111 import org.openjdk.jmc.flightrecorder.ui.selection.IFlavoredSelection;
</pre>
<hr />
<pre>
851 	private static void addSelectedBranches(Fork fork, SimpleArray&lt;StacktraceFrame&gt; input, boolean backwards) {
852 		// See JMC-6787
853 		@SuppressWarnings(&quot;deprecation&quot;)
854 		Branch selectedBranch = fork.getSelectedBranch();
855 		if (selectedBranch == null) {
856 			Stream.of(fork.getFirstFrames()).forEach(input::add);
857 		} else if (backwards) {
858 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
859 			StacktraceFrame[] tail = selectedBranch.getTailFrames();
860 			for (int i = tail.length; i &gt; 0; i--) {
861 				input.add(tail[i - 1]);
862 			}
863 			input.add(selectedBranch.getFirstFrame());
864 		} else {
865 			input.add(selectedBranch.getFirstFrame());
866 			input.addAll(selectedBranch.getTailFrames());
867 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
868 		}
869 	}
870 
<span class="line-removed">871 	// See JMC-6787</span>
<span class="line-removed">872 	@SuppressWarnings(&quot;deprecation&quot;)</span>
<span class="line-removed">873 	private static Branch getLastSelectedBranch(Fork fromFork) {</span>
<span class="line-removed">874 		Branch lastSelectedBranch = null;</span>
<span class="line-removed">875 		Branch branch = fromFork.getSelectedBranch();</span>
<span class="line-removed">876 		while (branch != null) {</span>
<span class="line-removed">877 			lastSelectedBranch = branch;</span>
<span class="line-removed">878 			branch = branch.getEndFork().getSelectedBranch();</span>
<span class="line-removed">879 		}</span>
<span class="line-removed">880 		return lastSelectedBranch;</span>
<span class="line-removed">881 	}</span>
<span class="line-removed">882 </span>
883 	private static Fork getRootFork(Fork fork) {
884 		while (fork.getParentBranch() != null) {
885 			fork = fork.getParentBranch().getParentFork();
886 		}
887 		return fork;
888 	}
889 
890 	private static class StacktraceTreeContentProvider extends AbstractStructuredContentProvider
891 			implements ITreeContentProvider {
892 
893 		@Override
894 		public StacktraceFrame[] getElements(Object inputElement) {
895 			return ((Fork) inputElement).getFirstFrames();
896 		}
897 
898 		@Override
899 		public boolean hasChildren(Object element) {
900 			StacktraceFrame frame = (StacktraceFrame) element;
901 			return !isLastFrame(frame);
902 		}
</pre>
</td>
<td>
<hr />
<pre>
 15  * and the following disclaimer.
 16  * 
 17  * 2. Redistributions in binary form must reproduce the above copyright notice, this list of
 18  * conditions and the following disclaimer in the documentation and/or other materials provided with
 19  * the distribution.
 20  * 
 21  * 3. Neither the name of the copyright holder nor the names of its contributors may be used to
 22  * endorse or promote products derived from this software without specific prior written permission.
 23  * 
 24  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS &quot;AS IS&quot; AND ANY EXPRESS OR
 25  * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 26  * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 27  * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 28  * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 29  * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 30  * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 31  * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 32  */
 33 package org.openjdk.jmc.flightrecorder.ui.views.stacktrace;
 34 
<span class="line-added"> 35 import static org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.getLastSelectedBranch;</span>
<span class="line-added"> 36 </span>
 37 import java.util.Arrays;
 38 import java.util.List;
 39 import java.util.Optional;
 40 import java.util.concurrent.CompletableFuture;
 41 import java.util.logging.Level;
 42 import java.util.stream.Collectors;
 43 import java.util.stream.IntStream;
 44 import java.util.stream.Stream;
 45 
 46 import org.eclipse.core.runtime.IAdapterFactory;
 47 import org.eclipse.core.runtime.Platform;
 48 import org.eclipse.jface.action.Action;
 49 import org.eclipse.jface.action.IAction;
 50 import org.eclipse.jface.action.IMenuManager;
 51 import org.eclipse.jface.action.IToolBarManager;
 52 import org.eclipse.jface.action.MenuManager;
 53 import org.eclipse.jface.action.Separator;
 54 import org.eclipse.jface.viewers.AbstractTreeViewer;
 55 import org.eclipse.jface.viewers.ColumnLabelProvider;
 56 import org.eclipse.jface.viewers.ColumnViewer;
</pre>
<hr />
<pre>
 73 import org.eclipse.swt.events.TraverseEvent;
 74 import org.eclipse.swt.events.TraverseListener;
 75 import org.eclipse.swt.graphics.Color;
 76 import org.eclipse.swt.graphics.Image;
 77 import org.eclipse.swt.graphics.RGB;
 78 import org.eclipse.swt.widgets.Composite;
 79 import org.eclipse.swt.widgets.Display;
 80 import org.eclipse.swt.widgets.Event;
 81 import org.eclipse.swt.widgets.Listener;
 82 import org.eclipse.swt.widgets.TableColumn;
 83 import org.eclipse.swt.widgets.TreeColumn;
 84 import org.eclipse.ui.IEditorPart;
 85 import org.eclipse.ui.IMemento;
 86 import org.eclipse.ui.ISelectionListener;
 87 import org.eclipse.ui.IViewSite;
 88 import org.eclipse.ui.IWorkbenchPart;
 89 import org.eclipse.ui.PartInitException;
 90 import org.eclipse.ui.PlatformUI;
 91 import org.eclipse.ui.forms.widgets.FormText;
 92 import org.eclipse.ui.part.ViewPart;

 93 import org.openjdk.jmc.common.IDisplayable;
 94 import org.openjdk.jmc.common.IMCFrame;
 95 import org.openjdk.jmc.common.IState;
 96 import org.openjdk.jmc.common.collection.SimpleArray;
 97 import org.openjdk.jmc.common.item.IItemCollection;
 98 import org.openjdk.jmc.common.unit.UnitLookup;
 99 import org.openjdk.jmc.common.util.StateToolkit;
100 import org.openjdk.jmc.flightrecorder.stacktrace.FrameSeparator;
101 import org.openjdk.jmc.flightrecorder.stacktrace.FrameSeparator.FrameCategorization;
102 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceFormatToolkit;
103 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceFrame;
104 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel;
105 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.Branch;
106 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.Fork;
107 import org.openjdk.jmc.flightrecorder.ui.FlightRecorderUI;
108 import org.openjdk.jmc.flightrecorder.ui.IPageContainer;
109 import org.openjdk.jmc.flightrecorder.ui.ItemCollectionToolkit;
110 import org.openjdk.jmc.flightrecorder.ui.common.ImageConstants;
111 import org.openjdk.jmc.flightrecorder.ui.messages.internal.Messages;
112 import org.openjdk.jmc.flightrecorder.ui.selection.IFlavoredSelection;
</pre>
<hr />
<pre>
852 	private static void addSelectedBranches(Fork fork, SimpleArray&lt;StacktraceFrame&gt; input, boolean backwards) {
853 		// See JMC-6787
854 		@SuppressWarnings(&quot;deprecation&quot;)
855 		Branch selectedBranch = fork.getSelectedBranch();
856 		if (selectedBranch == null) {
857 			Stream.of(fork.getFirstFrames()).forEach(input::add);
858 		} else if (backwards) {
859 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
860 			StacktraceFrame[] tail = selectedBranch.getTailFrames();
861 			for (int i = tail.length; i &gt; 0; i--) {
862 				input.add(tail[i - 1]);
863 			}
864 			input.add(selectedBranch.getFirstFrame());
865 		} else {
866 			input.add(selectedBranch.getFirstFrame());
867 			input.addAll(selectedBranch.getTailFrames());
868 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
869 		}
870 	}
871 












872 	private static Fork getRootFork(Fork fork) {
873 		while (fork.getParentBranch() != null) {
874 			fork = fork.getParentBranch().getParentFork();
875 		}
876 		return fork;
877 	}
878 
879 	private static class StacktraceTreeContentProvider extends AbstractStructuredContentProvider
880 			implements ITreeContentProvider {
881 
882 		@Override
883 		public StacktraceFrame[] getElements(Object inputElement) {
884 			return ((Fork) inputElement).getFirstFrames();
885 		}
886 
887 		@Override
888 		public boolean hasChildren(Object element) {
889 			StacktraceFrame frame = (StacktraceFrame) element;
890 			return !isLastFrame(frame);
891 		}
</pre>
</td>
</tr>
</table>
<center><a href="../../../../../../../../../../../org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../../core/org.openjdk.jmc.flightrecorder/src/main/java/org/openjdk/jmc/flightrecorder/stacktrace/StacktraceModel.java.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>