<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatAvoider.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../displaytree/DisplayBox.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatAvoider.h.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatAvoider.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 26 #include &quot;config.h&quot;
 27 #include &quot;FloatAvoider.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 
 31 #include &quot;LayoutBox.h&quot;
 32 #include &quot;LayoutContainer.h&quot;
 33 #include &quot;LayoutState.h&quot;
 34 #include &lt;wtf/IsoMallocInlines.h&gt;
 35 
 36 namespace WebCore {
 37 namespace Layout {
 38 
 39 WTF_MAKE_ISO_ALLOCATED_IMPL(FloatAvoider);
 40 
 41 FloatAvoider::FloatAvoider(const Box&amp; layoutBox, const FloatingState&amp; floatingState, const LayoutState&amp; layoutState)
 42     : m_layoutBox(makeWeakPtr(layoutBox))
 43     , m_floatingState(floatingState)
 44     , m_absoluteDisplayBox(FormattingContext::mapBoxToAncestor(layoutState, layoutBox, downcast&lt;Container&gt;(floatingState.root())))
 45     , m_containingBlockAbsoluteDisplayBox(layoutBox.containingBlock() == &amp;floatingState.root() ? Display::Box(layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock())) : FormattingContext::mapBoxToAncestor(layoutState, *layoutBox.containingBlock(), downcast&lt;Container&gt;(floatingState.root())))
<span class="line-removed"> 46     , m_initialVerticalPosition({ m_absoluteDisplayBox.top() })</span>
 47 {
 48     ASSERT(m_layoutBox-&gt;establishesBlockFormattingContext());

 49 }
 50 
 51 void FloatAvoider::setHorizontalConstraints(HorizontalConstraints horizontalConstraints)
 52 {
 53     if ((isLeftAligned() &amp;&amp; !horizontalConstraints.left) || (!isLeftAligned() &amp;&amp; !horizontalConstraints.right)) {
 54         // No constraints? Set horizontal position back to the inital value.
 55         m_absoluteDisplayBox.setLeft(initialHorizontalPosition());
 56         return;
 57     }
 58 
 59     auto constrainWithContainingBlock = [&amp;](auto left) -&gt; PositionInContextRoot {
 60         // Horizontal position is constrained by the containing block&#39;s content box.
 61         // Compute the horizontal position for the new floating by taking both the contining block and the current left/right floats into account.
 62         auto containingBlockContentBoxLeft = m_containingBlockAbsoluteDisplayBox.left() + m_containingBlockAbsoluteDisplayBox.contentBoxLeft();
 63         if (isLeftAligned())
 64             return std::max&lt;PositionInContextRoot&gt;({ containingBlockContentBoxLeft + marginStart() }, left);
 65 
 66         // Make sure it does not overflow the containing block on the right.
 67         auto containingBlockContentBoxRight = containingBlockContentBoxLeft + m_containingBlockAbsoluteDisplayBox.contentBoxWidth();
 68         return std::min&lt;PositionInContextRoot&gt;(left, { containingBlockContentBoxRight - marginBoxWidth() + marginStart() });
</pre>
<hr />
<pre>
 70 
 71     auto positionCandidate = horizontalPositionCandidate(horizontalConstraints);
 72     m_absoluteDisplayBox.setLeft(constrainWithContainingBlock(positionCandidate));
 73 }
 74 
 75 void FloatAvoider::setVerticalConstraint(PositionInContextRoot verticalConstraint)
 76 {
 77     m_absoluteDisplayBox.setTop(verticalPositionCandidate(verticalConstraint));
 78 }
 79 
 80 PositionInContextRoot FloatAvoider::horizontalPositionCandidate(HorizontalConstraints horizontalConstraints)
 81 {
 82     return { isLeftAligned() ? *horizontalConstraints.left : *horizontalConstraints.right - rect().width() };
 83 }
 84 
 85 PositionInContextRoot FloatAvoider::verticalPositionCandidate(PositionInContextRoot verticalConstraint)
 86 {
 87     return verticalConstraint;
 88 }
 89 
<span class="line-removed"> 90 void FloatAvoider::resetPosition()</span>
<span class="line-removed"> 91 {</span>
<span class="line-removed"> 92     m_absoluteDisplayBox.setTopLeft({ initialHorizontalPosition(), initialVerticalPosition() });</span>
<span class="line-removed"> 93 }</span>
<span class="line-removed"> 94 </span>
 95 PositionInContextRoot FloatAvoider::initialHorizontalPosition() const
 96 {
 97     // Align the box with the containing block&#39;s content box.
 98     auto containingBlockContentBoxLeft = m_containingBlockAbsoluteDisplayBox.left() + m_containingBlockAbsoluteDisplayBox.contentBoxLeft();
 99     auto containingBlockContentBoxRight = containingBlockContentBoxLeft + m_containingBlockAbsoluteDisplayBox.contentBoxWidth();
100 
101     auto left = isLeftAligned() ? containingBlockContentBoxLeft : containingBlockContentBoxRight - marginBoxWidth();
102     left += marginStart();
103 
104     return { left };
105 }
106 
107 bool FloatAvoider::overflowsContainingBlock() const
108 {
109     auto containingBlockContentBoxLeft = m_containingBlockAbsoluteDisplayBox.left() + m_containingBlockAbsoluteDisplayBox.contentBoxLeft();
110     auto left = displayBox().left() - marginStart();
111 
112     if (containingBlockContentBoxLeft &gt; left)
113         return true;
114 
115     auto containingBlockContentBoxRight = containingBlockContentBoxLeft + m_containingBlockAbsoluteDisplayBox.contentBoxWidth();
116     auto right = displayBox().right() + marginEnd();
117 
118     return containingBlockContentBoxRight &lt; right;
119 }
120 
<span class="line-modified">121 Display::Box::Rect FloatAvoider::rectInContainingBlock() const</span>
122 {
123     // From formatting root coordinate system back to containing block&#39;s.
124     if (layoutBox().containingBlock() == &amp;floatingState().root())
125         return m_absoluteDisplayBox.rect();
126 
127     return {
128         m_absoluteDisplayBox.top() - m_containingBlockAbsoluteDisplayBox.top(),
129         m_absoluteDisplayBox.left() - m_containingBlockAbsoluteDisplayBox.left(),
130         m_absoluteDisplayBox.width(),
131         m_absoluteDisplayBox.height()
132     };
133 }
134 
135 }
136 }
137 #endif
</pre>
</td>
<td>
<hr />
<pre>
 26 #include &quot;config.h&quot;
 27 #include &quot;FloatAvoider.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 
 31 #include &quot;LayoutBox.h&quot;
 32 #include &quot;LayoutContainer.h&quot;
 33 #include &quot;LayoutState.h&quot;
 34 #include &lt;wtf/IsoMallocInlines.h&gt;
 35 
 36 namespace WebCore {
 37 namespace Layout {
 38 
 39 WTF_MAKE_ISO_ALLOCATED_IMPL(FloatAvoider);
 40 
 41 FloatAvoider::FloatAvoider(const Box&amp; layoutBox, const FloatingState&amp; floatingState, const LayoutState&amp; layoutState)
 42     : m_layoutBox(makeWeakPtr(layoutBox))
 43     , m_floatingState(floatingState)
 44     , m_absoluteDisplayBox(FormattingContext::mapBoxToAncestor(layoutState, layoutBox, downcast&lt;Container&gt;(floatingState.root())))
 45     , m_containingBlockAbsoluteDisplayBox(layoutBox.containingBlock() == &amp;floatingState.root() ? Display::Box(layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock())) : FormattingContext::mapBoxToAncestor(layoutState, *layoutBox.containingBlock(), downcast&lt;Container&gt;(floatingState.root())))

 46 {
 47     ASSERT(m_layoutBox-&gt;establishesBlockFormattingContext());
<span class="line-added"> 48     m_absoluteDisplayBox.setLeft({ initialHorizontalPosition() });</span>
 49 }
 50 
 51 void FloatAvoider::setHorizontalConstraints(HorizontalConstraints horizontalConstraints)
 52 {
 53     if ((isLeftAligned() &amp;&amp; !horizontalConstraints.left) || (!isLeftAligned() &amp;&amp; !horizontalConstraints.right)) {
 54         // No constraints? Set horizontal position back to the inital value.
 55         m_absoluteDisplayBox.setLeft(initialHorizontalPosition());
 56         return;
 57     }
 58 
 59     auto constrainWithContainingBlock = [&amp;](auto left) -&gt; PositionInContextRoot {
 60         // Horizontal position is constrained by the containing block&#39;s content box.
 61         // Compute the horizontal position for the new floating by taking both the contining block and the current left/right floats into account.
 62         auto containingBlockContentBoxLeft = m_containingBlockAbsoluteDisplayBox.left() + m_containingBlockAbsoluteDisplayBox.contentBoxLeft();
 63         if (isLeftAligned())
 64             return std::max&lt;PositionInContextRoot&gt;({ containingBlockContentBoxLeft + marginStart() }, left);
 65 
 66         // Make sure it does not overflow the containing block on the right.
 67         auto containingBlockContentBoxRight = containingBlockContentBoxLeft + m_containingBlockAbsoluteDisplayBox.contentBoxWidth();
 68         return std::min&lt;PositionInContextRoot&gt;(left, { containingBlockContentBoxRight - marginBoxWidth() + marginStart() });
</pre>
<hr />
<pre>
 70 
 71     auto positionCandidate = horizontalPositionCandidate(horizontalConstraints);
 72     m_absoluteDisplayBox.setLeft(constrainWithContainingBlock(positionCandidate));
 73 }
 74 
 75 void FloatAvoider::setVerticalConstraint(PositionInContextRoot verticalConstraint)
 76 {
 77     m_absoluteDisplayBox.setTop(verticalPositionCandidate(verticalConstraint));
 78 }
 79 
 80 PositionInContextRoot FloatAvoider::horizontalPositionCandidate(HorizontalConstraints horizontalConstraints)
 81 {
 82     return { isLeftAligned() ? *horizontalConstraints.left : *horizontalConstraints.right - rect().width() };
 83 }
 84 
 85 PositionInContextRoot FloatAvoider::verticalPositionCandidate(PositionInContextRoot verticalConstraint)
 86 {
 87     return verticalConstraint;
 88 }
 89 





 90 PositionInContextRoot FloatAvoider::initialHorizontalPosition() const
 91 {
 92     // Align the box with the containing block&#39;s content box.
 93     auto containingBlockContentBoxLeft = m_containingBlockAbsoluteDisplayBox.left() + m_containingBlockAbsoluteDisplayBox.contentBoxLeft();
 94     auto containingBlockContentBoxRight = containingBlockContentBoxLeft + m_containingBlockAbsoluteDisplayBox.contentBoxWidth();
 95 
 96     auto left = isLeftAligned() ? containingBlockContentBoxLeft : containingBlockContentBoxRight - marginBoxWidth();
 97     left += marginStart();
 98 
 99     return { left };
100 }
101 
102 bool FloatAvoider::overflowsContainingBlock() const
103 {
104     auto containingBlockContentBoxLeft = m_containingBlockAbsoluteDisplayBox.left() + m_containingBlockAbsoluteDisplayBox.contentBoxLeft();
105     auto left = displayBox().left() - marginStart();
106 
107     if (containingBlockContentBoxLeft &gt; left)
108         return true;
109 
110     auto containingBlockContentBoxRight = containingBlockContentBoxLeft + m_containingBlockAbsoluteDisplayBox.contentBoxWidth();
111     auto right = displayBox().right() + marginEnd();
112 
113     return containingBlockContentBoxRight &lt; right;
114 }
115 
<span class="line-modified">116 Display::Rect FloatAvoider::rectInContainingBlock() const</span>
117 {
118     // From formatting root coordinate system back to containing block&#39;s.
119     if (layoutBox().containingBlock() == &amp;floatingState().root())
120         return m_absoluteDisplayBox.rect();
121 
122     return {
123         m_absoluteDisplayBox.top() - m_containingBlockAbsoluteDisplayBox.top(),
124         m_absoluteDisplayBox.left() - m_containingBlockAbsoluteDisplayBox.left(),
125         m_absoluteDisplayBox.width(),
126         m_absoluteDisplayBox.height()
127     };
128 }
129 
130 }
131 }
132 #endif
</pre>
</td>
</tr>
</table>
<center><a href="../displaytree/DisplayBox.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatAvoider.h.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>