<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatBox.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FloatBox.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatingContext.cpp.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatBox.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 41,19 ***</span>
  class FloatBox : public FloatAvoider {
      WTF_MAKE_ISO_ALLOCATED(FloatBox);
  public:
      FloatBox(const Box&amp;, const FloatingState&amp;, const LayoutState&amp;);
  
<span class="line-modified">!     Display::Box::Rect rect() const final;</span>
  
  private:
      bool isLeftAligned() const final { return layoutBox().isLeftFloatingPositioned(); }
  
      PositionInContextRoot horizontalPositionCandidate(HorizontalConstraints) final;
      PositionInContextRoot verticalPositionCandidate(PositionInContextRoot) final;
  
<span class="line-modified">!     PositionInContextRoot initialVerticalPosition() const final;</span>
  };
  
  }
  }
  #endif
<span class="line-new-header">--- 41,19 ---</span>
  class FloatBox : public FloatAvoider {
      WTF_MAKE_ISO_ALLOCATED(FloatBox);
  public:
      FloatBox(const Box&amp;, const FloatingState&amp;, const LayoutState&amp;);
  
<span class="line-modified">!     Display::Rect rect() const final;</span>
  
  private:
      bool isLeftAligned() const final { return layoutBox().isLeftFloatingPositioned(); }
  
      PositionInContextRoot horizontalPositionCandidate(HorizontalConstraints) final;
      PositionInContextRoot verticalPositionCandidate(PositionInContextRoot) final;
  
<span class="line-modified">!     PositionInContextRoot initialVerticalPosition() const;</span>
  };
  
  }
  }
  #endif
</pre>
<center><a href="FloatBox.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatingContext.cpp.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>