<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatAvoider.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../displaytree/DisplayBox.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatAvoider.h.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatAvoider.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -41,13 +41,13 @@</span>
  FloatAvoider::FloatAvoider(const Box&amp; layoutBox, const FloatingState&amp; floatingState, const LayoutState&amp; layoutState)
      : m_layoutBox(makeWeakPtr(layoutBox))
      , m_floatingState(floatingState)
      , m_absoluteDisplayBox(FormattingContext::mapBoxToAncestor(layoutState, layoutBox, downcast&lt;Container&gt;(floatingState.root())))
      , m_containingBlockAbsoluteDisplayBox(layoutBox.containingBlock() == &amp;floatingState.root() ? Display::Box(layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock())) : FormattingContext::mapBoxToAncestor(layoutState, *layoutBox.containingBlock(), downcast&lt;Container&gt;(floatingState.root())))
<span class="udiff-line-removed">-     , m_initialVerticalPosition({ m_absoluteDisplayBox.top() })</span>
  {
      ASSERT(m_layoutBox-&gt;establishesBlockFormattingContext());
<span class="udiff-line-added">+     m_absoluteDisplayBox.setLeft({ initialHorizontalPosition() });</span>
  }
  
  void FloatAvoider::setHorizontalConstraints(HorizontalConstraints horizontalConstraints)
  {
      if ((isLeftAligned() &amp;&amp; !horizontalConstraints.left) || (!isLeftAligned() &amp;&amp; !horizontalConstraints.right)) {
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -85,15 +85,10 @@</span>
  PositionInContextRoot FloatAvoider::verticalPositionCandidate(PositionInContextRoot verticalConstraint)
  {
      return verticalConstraint;
  }
  
<span class="udiff-line-removed">- void FloatAvoider::resetPosition()</span>
<span class="udiff-line-removed">- {</span>
<span class="udiff-line-removed">-     m_absoluteDisplayBox.setTopLeft({ initialHorizontalPosition(), initialVerticalPosition() });</span>
<span class="udiff-line-removed">- }</span>
<span class="udiff-line-removed">- </span>
  PositionInContextRoot FloatAvoider::initialHorizontalPosition() const
  {
      // Align the box with the containing block&#39;s content box.
      auto containingBlockContentBoxLeft = m_containingBlockAbsoluteDisplayBox.left() + m_containingBlockAbsoluteDisplayBox.contentBoxLeft();
      auto containingBlockContentBoxRight = containingBlockContentBoxLeft + m_containingBlockAbsoluteDisplayBox.contentBoxWidth();
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -116,11 +111,11 @@</span>
      auto right = displayBox().right() + marginEnd();
  
      return containingBlockContentBoxRight &lt; right;
  }
  
<span class="udiff-line-modified-removed">- Display::Box::Rect FloatAvoider::rectInContainingBlock() const</span>
<span class="udiff-line-modified-added">+ Display::Rect FloatAvoider::rectInContainingBlock() const</span>
  {
      // From formatting root coordinate system back to containing block&#39;s.
      if (layoutBox().containingBlock() == &amp;floatingState().root())
          return m_absoluteDisplayBox.rect();
  
</pre>
<center><a href="../displaytree/DisplayBox.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatAvoider.h.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>