<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatingState.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FloatingContext.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatingState.h.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatingState.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -117,13 +117,16 @@</span>
      // 1. Convert vertical position if this floating context is inherited.
      // 2. Find the inner left/right floats at verticalPosition.
      // 3. Convert left/right positions back to formattingContextRoot&#39;s cooridnate system.
      auto coordinateMappingIsRequired = &amp;root() != &amp;formattingContextRoot;
      auto adjustedPosition = Point { 0, verticalPosition };
<span class="udiff-line-added">+     LayoutSize adjustingDelta;</span>
  
<span class="udiff-line-modified-removed">-     if (coordinateMappingIsRequired)</span>
<span class="udiff-line-modified-removed">-         adjustedPosition = FormattingContext::mapCoordinateToAncestor(m_layoutState, adjustedPosition, downcast&lt;Container&gt;(formattingContextRoot), downcast&lt;Container&gt;(root()));</span>
<span class="udiff-line-modified-added">+     if (coordinateMappingIsRequired) {</span>
<span class="udiff-line-modified-added">+         adjustedPosition = FormattingContext::mapPointToAncestor(m_layoutState, adjustedPosition, downcast&lt;Container&gt;(formattingContextRoot), downcast&lt;Container&gt;(root()));</span>
<span class="udiff-line-added">+         adjustingDelta = { adjustedPosition.x, adjustedPosition.y - verticalPosition };</span>
<span class="udiff-line-added">+     }</span>
  
      Constraints constraints;
      for (int index = m_floats.size() - 1; index &gt;= 0; --index) {
          auto&amp; floatItem = m_floats[index];
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -136,26 +139,25 @@</span>
          auto rect = floatItem.rectWithMargin();
          if (!(rect.top() &lt;= adjustedPosition.y &amp;&amp; adjustedPosition.y &lt; rect.bottom()))
              continue;
  
          if (floatItem.isLeftPositioned())
<span class="udiff-line-modified-removed">-             constraints.left = PositionInContextRoot { rect.right() };</span>
<span class="udiff-line-modified-added">+             constraints.left = PointInContextRoot { rect.right(), rect.bottom() };</span>
          else
<span class="udiff-line-modified-removed">-             constraints.right = PositionInContextRoot { rect.left() };</span>
<span class="udiff-line-modified-added">+             constraints.right = PointInContextRoot { rect.left(), rect.bottom() };</span>
  
          if (constraints.left &amp;&amp; constraints.right)
              break;
      }
  
      if (coordinateMappingIsRequired) {
          if (constraints.left)
<span class="udiff-line-modified-removed">-             constraints.left = PositionInContextRoot { *constraints.left - adjustedPosition.x };</span>
<span class="udiff-line-modified-added">+             constraints.left-&gt;move(-adjustingDelta);</span>
  
          if (constraints.right)
<span class="udiff-line-modified-removed">-             constraints.right = PositionInContextRoot { *constraints.right - adjustedPosition.x };</span>
<span class="udiff-line-modified-added">+             constraints.right-&gt;move(-adjustingDelta);</span>
      }
<span class="udiff-line-removed">- </span>
      return constraints;
  }
  
  Optional&lt;PositionInContextRoot&gt; FloatingState::bottom(const Box&amp; formattingContextRoot, Clear type) const
  {
</pre>
<center><a href="FloatingContext.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatingState.h.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>