<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../../../../../../../../../pom.xml.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../resources/page.template.cdiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 91,11 ***</span>
  		// from: https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js
  		String jsD3Tip = &quot;jslibs/d3-tip.min.js&quot;;
  		// from: https://cdn.jsdelivr.net/gh/spiermar/d3-flame-graph@2.0.3/dist/d3-flamegraph.min.js
  		String jsD3FlameGraph = &quot;jslibs/d3-flamegraph.min.js&quot;;
  		// jmc flameview coloring functions
<span class="line-modified">! 		String jsFlameviewColoring = &quot;jsjmclibs/flameviewColoring.js&quot;;</span>
  
  		String jsIeLibraries = loadLibraries(jsHtml5shiv, jsRespond);
  		String jsD3Libraries = loadLibraries(jsD3V4, jsD3Tip, jsD3FlameGraph);
  
  		// formatter arguments for the template: %1 - CSSs, %2 - IE9 specific scripts, %3 - 3rd party scripts %4 - 4th Flameview Coloring
<span class="line-new-header">--- 91,11 ---</span>
  		// from: https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js
  		String jsD3Tip = &quot;jslibs/d3-tip.min.js&quot;;
  		// from: https://cdn.jsdelivr.net/gh/spiermar/d3-flame-graph@2.0.3/dist/d3-flamegraph.min.js
  		String jsD3FlameGraph = &quot;jslibs/d3-flamegraph.min.js&quot;;
  		// jmc flameview coloring functions
<span class="line-modified">! 		String jsFlameviewColoring = &quot;flameviewColoring.js&quot;;</span>
  
  		String jsIeLibraries = loadLibraries(jsHtml5shiv, jsRespond);
  		String jsD3Libraries = loadLibraries(jsD3V4, jsD3Tip, jsD3FlameGraph);
  
  		// formatter arguments for the template: %1 - CSSs, %2 - IE9 specific scripts, %3 - 3rd party scripts %4 - 4th Flameview Coloring
</pre>
<center><a href="../../../../../../../../../pom.xml.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../resources/page.template.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>