<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/FormattingContextQuirks.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FormattingContextGeometry.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="FormattingState.cpp.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/FormattingContextQuirks.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 26,44 ***</span>
  #include &quot;config.h&quot;
  #include &quot;FormattingContext.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
  #include &quot;LayoutBox.h&quot;
<span class="line-removed">- #include &quot;LayoutContainer.h&quot;</span>
<span class="line-removed">- #include &quot;LayoutState.h&quot;</span>
  
  namespace WebCore {
  namespace Layout {
  
<span class="line-modified">! LayoutUnit FormattingContext::Quirks::heightValueOfNearestContainingBlockWithFixedHeight(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      // In quirks mode, we go and travers the containing block chain to find a block level box with fixed height value, even if it means leaving
      // the current formatting context. FIXME: surely we need to do some tricks here when block direction support is added.
      auto* containingBlock = layoutBox.containingBlock();
      LayoutUnit bodyAndDocumentVerticalMarginPaddingAndBorder;
      while (containingBlock) {
          auto containingBlockHeight = containingBlock-&gt;style().logicalHeight();
          if (containingBlockHeight.isFixed())
              return LayoutUnit(containingBlockHeight.value() - bodyAndDocumentVerticalMarginPaddingAndBorder);
  
          // If the only fixed value box we find is the ICB, then ignore the body and the document (vertical) margin, padding and border. So much quirkiness.
          // -and it&#39;s totally insane because now we freely travel across formatting context boundaries and computed margins are nonexistent.
          if (containingBlock-&gt;isBodyBox() || containingBlock-&gt;isDocumentBox()) {
<span class="line-modified">!             auto&amp; displayBox = layoutState.displayBoxForLayoutBox(*containingBlock);</span>
  
<span class="line-modified">!             auto usedValues = UsedHorizontalValues { layoutState.displayBoxForLayoutBox(*containingBlock-&gt;containingBlock()).contentBoxWidth() };</span>
<span class="line-modified">!             auto verticalMargin = Geometry::computedVerticalMargin(*containingBlock, usedValues);</span>
<span class="line-modified">!             auto verticalPadding = displayBox.paddingTop().valueOr(0) + displayBox.paddingBottom().valueOr(0);</span>
<span class="line-modified">!             auto verticalBorder = displayBox.borderTop() + displayBox.borderBottom();</span>
              bodyAndDocumentVerticalMarginPaddingAndBorder += verticalMargin.before.valueOr(0) + verticalMargin.after.valueOr(0) + verticalPadding + verticalBorder;
          }
  
          containingBlock = containingBlock-&gt;containingBlock();
      }
      // Initial containing block has to have a height.
<span class="line-modified">!     return layoutState.displayBoxForLayoutBox(layoutBox.initialContainingBlock()).contentBox().height() - bodyAndDocumentVerticalMarginPaddingAndBorder;</span>
  }
  
  }
  }
  
<span class="line-new-header">--- 26,45 ---</span>
  #include &quot;config.h&quot;
  #include &quot;FormattingContext.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
<span class="line-added">+ #include &quot;DisplayBox.h&quot;</span>
  #include &quot;LayoutBox.h&quot;
  
  namespace WebCore {
  namespace Layout {
  
<span class="line-modified">! LayoutUnit FormattingContext::Quirks::heightValueOfNearestContainingBlockWithFixedHeight(const Box&amp; layoutBox)</span>
  {
      // In quirks mode, we go and travers the containing block chain to find a block level box with fixed height value, even if it means leaving
      // the current formatting context. FIXME: surely we need to do some tricks here when block direction support is added.
<span class="line-added">+     auto&amp; formattingContext = this-&gt;formattingContext();</span>
      auto* containingBlock = layoutBox.containingBlock();
      LayoutUnit bodyAndDocumentVerticalMarginPaddingAndBorder;
      while (containingBlock) {
          auto containingBlockHeight = containingBlock-&gt;style().logicalHeight();
          if (containingBlockHeight.isFixed())
              return LayoutUnit(containingBlockHeight.value() - bodyAndDocumentVerticalMarginPaddingAndBorder);
  
          // If the only fixed value box we find is the ICB, then ignore the body and the document (vertical) margin, padding and border. So much quirkiness.
          // -and it&#39;s totally insane because now we freely travel across formatting context boundaries and computed margins are nonexistent.
          if (containingBlock-&gt;isBodyBox() || containingBlock-&gt;isDocumentBox()) {
<span class="line-modified">!             auto&amp; boxGeometry = formattingContext.geometryForBox(*containingBlock, FormattingContext::EscapeReason::FindFixedHeightAncestorQuirk);</span>
  
<span class="line-modified">!             auto&amp; containingBlockDisplayBox = formattingContext.geometryForBox(*containingBlock-&gt;containingBlock(), FormattingContext::EscapeReason::FindFixedHeightAncestorQuirk);</span>
<span class="line-modified">!             auto horizontalConstraints = Geometry::horizontalConstraintsForInFlow(containingBlockDisplayBox);</span>
<span class="line-modified">!             auto verticalMargin = formattingContext.geometry().computedVerticalMargin(*containingBlock, horizontalConstraints);</span>
<span class="line-modified">!             auto verticalPadding = boxGeometry.paddingTop().valueOr(0) + boxGeometry.paddingBottom().valueOr(0);</span>
<span class="line-added">+             auto verticalBorder = boxGeometry.borderTop() + boxGeometry.borderBottom();</span>
              bodyAndDocumentVerticalMarginPaddingAndBorder += verticalMargin.before.valueOr(0) + verticalMargin.after.valueOr(0) + verticalPadding + verticalBorder;
          }
  
          containingBlock = containingBlock-&gt;containingBlock();
      }
      // Initial containing block has to have a height.
<span class="line-modified">!     return formattingContext.geometryForBox(layoutBox.initialContainingBlock(), FormattingContext::EscapeReason::FindFixedHeightAncestorQuirk).contentBox().height() - bodyAndDocumentVerticalMarginPaddingAndBorder;</span>
  }
  
  }
  }
  
</pre>
<center><a href="FormattingContextGeometry.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="FormattingState.cpp.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>