<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutUnits.h</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="LayoutState.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="MarginTypes.h.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutUnits.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
 30 #include &quot;LayoutUnit.h&quot;
 31 #include &quot;LayoutPoint.h&quot;
 32 #include &quot;LayoutRect.h&quot;
 33 #include &quot;MarginTypes.h&quot;
 34 #include &lt;wtf/Optional.h&gt;
 35 
 36 namespace WebCore {















 37 namespace Layout {
 38 
 39 struct Position {
 40     operator LayoutUnit() const { return value; }
 41     LayoutUnit value;
 42 };
 43 
 44 inline bool operator&lt;(const Position&amp; a, const Position&amp; b)
 45 {
 46     return a.value &lt; b.value;
 47 }
 48 
 49 inline bool operator==(const Position&amp; a, const Position&amp; b)
 50 {
 51     return a.value == b.value;
 52 }
 53 
 54 struct Point {
 55     // FIXME: Use Position&lt;Horizontal&gt;, Position&lt;Vertical&gt; to avoid top/left vs. x/y confusion.
 56     LayoutUnit x; // left
</pre>
<hr />
<pre>
 81     , y(y)
 82 {
 83 }
 84 
 85 inline void Point::move(LayoutSize offset)
 86 {
 87     x += offset.width();
 88     y += offset.height();
 89 }
 90 
 91 inline void Point::moveBy(LayoutPoint offset)
 92 {
 93     x += offset.x();
 94     y += offset.y();
 95 }
 96 
 97 // Margin, border, padding
 98 struct HorizontalEdges {
 99     LayoutUnit left;
100     LayoutUnit right;


101 };
102 
103 struct VerticalEdges {
104     LayoutUnit top;
105     LayoutUnit bottom;


106 };
107 
108 struct Edges {
109     HorizontalEdges horizontal;
110     VerticalEdges vertical;
111 };
112 
<span class="line-modified">113 struct WidthAndMargin {</span>
<span class="line-modified">114     LayoutUnit width;</span>
115     UsedHorizontalMargin usedMargin;
116     ComputedHorizontalMargin computedMargin;
117 };
118 
<span class="line-modified">119 struct HeightAndMargin {</span>
<span class="line-modified">120     LayoutUnit height;</span>
121     UsedVerticalMargin::NonCollapsedValues nonCollapsedMargin;
122 };
123 
124 struct HorizontalGeometry {
125     LayoutUnit left;
126     LayoutUnit right;
<span class="line-modified">127     WidthAndMargin widthAndMargin;</span>
128 };
129 
130 struct VerticalGeometry {
131     LayoutUnit top;
132     LayoutUnit bottom;
<span class="line-modified">133     HeightAndMargin heightAndMargin;</span>
134 };
135 
<span class="line-modified">136 struct UsedHorizontalValues {</span>
<span class="line-modified">137     explicit UsedHorizontalValues()</span>
<span class="line-modified">138         {</span>
<span class="line-modified">139         }</span>
<span class="line-removed">140 </span>
<span class="line-removed">141     explicit UsedHorizontalValues(LayoutUnit containingBlockWidth)</span>
<span class="line-removed">142         : containingBlockWidth(containingBlockWidth)</span>
<span class="line-removed">143         {</span>
<span class="line-removed">144         }</span>
145 
<span class="line-modified">146     explicit UsedHorizontalValues(Optional&lt;LayoutUnit&gt; containingBlockWidth, Optional&lt;LayoutUnit&gt; width, Optional&lt;UsedHorizontalMargin&gt; margin)</span>
<span class="line-modified">147         : containingBlockWidth(containingBlockWidth)</span>
<span class="line-modified">148         , width(width)</span>
<span class="line-modified">149         , margin(margin)</span>
<span class="line-removed">150         {</span>
<span class="line-removed">151         }</span>
152 
<span class="line-modified">153     Optional&lt;LayoutUnit&gt; containingBlockWidth;</span>
154     Optional&lt;LayoutUnit&gt; width;
155     Optional&lt;UsedHorizontalMargin&gt; margin;
156 };
157 
<span class="line-modified">158 struct UsedVerticalValues {</span>

159     Optional&lt;LayoutUnit&gt; height;
160 };
161 
























162 }
163 }
164 #endif
</pre>
</td>
<td>
<hr />
<pre>
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
 30 #include &quot;LayoutUnit.h&quot;
 31 #include &quot;LayoutPoint.h&quot;
 32 #include &quot;LayoutRect.h&quot;
 33 #include &quot;MarginTypes.h&quot;
 34 #include &lt;wtf/Optional.h&gt;
 35 
 36 namespace WebCore {
<span class="line-added"> 37 </span>
<span class="line-added"> 38 #define USE_FLOAT_AS_INLINE_LAYOUT_UNIT 1</span>
<span class="line-added"> 39 </span>
<span class="line-added"> 40 #if USE_FLOAT_AS_INLINE_LAYOUT_UNIT</span>
<span class="line-added"> 41 using InlineLayoutUnit = float;</span>
<span class="line-added"> 42 using InlineLayoutPoint = FloatPoint;</span>
<span class="line-added"> 43 using InlineLayoutSize = FloatSize;</span>
<span class="line-added"> 44 using InlineLayoutRect = FloatRect;</span>
<span class="line-added"> 45 #else</span>
<span class="line-added"> 46 using InlineLayoutUnit = LayoutUnit;</span>
<span class="line-added"> 47 using InlineLayoutPoint = LayoutPoint;</span>
<span class="line-added"> 48 using InlineLayoutSize = LayoutSize;</span>
<span class="line-added"> 49 using InlineLayoutRect = LayoutRect;</span>
<span class="line-added"> 50 #endif</span>
<span class="line-added"> 51 </span>
 52 namespace Layout {
 53 
 54 struct Position {
 55     operator LayoutUnit() const { return value; }
 56     LayoutUnit value;
 57 };
 58 
 59 inline bool operator&lt;(const Position&amp; a, const Position&amp; b)
 60 {
 61     return a.value &lt; b.value;
 62 }
 63 
 64 inline bool operator==(const Position&amp; a, const Position&amp; b)
 65 {
 66     return a.value == b.value;
 67 }
 68 
 69 struct Point {
 70     // FIXME: Use Position&lt;Horizontal&gt;, Position&lt;Vertical&gt; to avoid top/left vs. x/y confusion.
 71     LayoutUnit x; // left
</pre>
<hr />
<pre>
 96     , y(y)
 97 {
 98 }
 99 
100 inline void Point::move(LayoutSize offset)
101 {
102     x += offset.width();
103     y += offset.height();
104 }
105 
106 inline void Point::moveBy(LayoutPoint offset)
107 {
108     x += offset.x();
109     y += offset.y();
110 }
111 
112 // Margin, border, padding
113 struct HorizontalEdges {
114     LayoutUnit left;
115     LayoutUnit right;
<span class="line-added">116 </span>
<span class="line-added">117     LayoutUnit width() const { return left + right; }</span>
118 };
119 
120 struct VerticalEdges {
121     LayoutUnit top;
122     LayoutUnit bottom;
<span class="line-added">123 </span>
<span class="line-added">124     LayoutUnit height() const { return top + bottom; }</span>
125 };
126 
127 struct Edges {
128     HorizontalEdges horizontal;
129     VerticalEdges vertical;
130 };
131 
<span class="line-modified">132 struct ContentWidthAndMargin {</span>
<span class="line-modified">133     LayoutUnit contentWidth;</span>
134     UsedHorizontalMargin usedMargin;
135     ComputedHorizontalMargin computedMargin;
136 };
137 
<span class="line-modified">138 struct ContentHeightAndMargin {</span>
<span class="line-modified">139     LayoutUnit contentHeight;</span>
140     UsedVerticalMargin::NonCollapsedValues nonCollapsedMargin;
141 };
142 
143 struct HorizontalGeometry {
144     LayoutUnit left;
145     LayoutUnit right;
<span class="line-modified">146     ContentWidthAndMargin contentWidthAndMargin;</span>
147 };
148 
149 struct VerticalGeometry {
150     LayoutUnit top;
151     LayoutUnit bottom;
<span class="line-modified">152     ContentHeightAndMargin contentHeightAndMargin;</span>
153 };
154 
<span class="line-modified">155 struct HorizontalConstraints {</span>
<span class="line-modified">156     LayoutUnit logicalLeft;</span>
<span class="line-modified">157     LayoutUnit logicalWidth;</span>
<span class="line-modified">158 };</span>





159 
<span class="line-modified">160 struct VerticalConstraints {</span>
<span class="line-modified">161     LayoutUnit logicalTop;</span>
<span class="line-modified">162     Optional&lt;LayoutUnit&gt; logicalHeight;</span>
<span class="line-modified">163 };</span>


164 
<span class="line-modified">165 struct OverrideHorizontalValues {</span>
166     Optional&lt;LayoutUnit&gt; width;
167     Optional&lt;UsedHorizontalMargin&gt; margin;
168 };
169 
<span class="line-modified">170 struct OverrideVerticalValues {</span>
<span class="line-added">171     // Consider collapsing it.</span>
172     Optional&lt;LayoutUnit&gt; height;
173 };
174 
<span class="line-added">175 inline LayoutUnit toLayoutUnit(InlineLayoutUnit value)</span>
<span class="line-added">176 {</span>
<span class="line-added">177     return LayoutUnit { value };</span>
<span class="line-added">178 }</span>
<span class="line-added">179 </span>
<span class="line-added">180 inline LayoutPoint toLayoutPoint(const InlineLayoutPoint&amp; point)</span>
<span class="line-added">181 {</span>
<span class="line-added">182     return LayoutPoint { point };</span>
<span class="line-added">183 }</span>
<span class="line-added">184 </span>
<span class="line-added">185 inline LayoutRect toLayoutRect(const InlineLayoutRect&amp; rect)</span>
<span class="line-added">186 {</span>
<span class="line-added">187     return LayoutRect { rect };</span>
<span class="line-added">188 }</span>
<span class="line-added">189 </span>
<span class="line-added">190 inline InlineLayoutUnit maxInlineLayoutUnit()</span>
<span class="line-added">191 {</span>
<span class="line-added">192 #if USE_FLOAT_AS_INLINE_LAYOUT_UNIT</span>
<span class="line-added">193     return std::numeric_limits&lt;float&gt;::max();</span>
<span class="line-added">194 #else</span>
<span class="line-added">195     return LayoutUnit::max();</span>
<span class="line-added">196 #endif</span>
<span class="line-added">197 }</span>
<span class="line-added">198 </span>
199 }
200 }
201 #endif
</pre>
</td>
</tr>
</table>
<center><a href="LayoutState.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="MarginTypes.h.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>