<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New make/langtools/intellij/template/src/idea/IdeaLoggerWrapper.java</title>
    <link rel="stylesheet" href="../../../../../../style.css" />
  </head>
  <body>
    <pre>
 1 package idea;
 2 
 3 import org.apache.tools.ant.Task;
 4 
 5 /**
 6  * This class implements a custom Ant task which replaces the standard Intellij IDEA Ant logger
 7  * with a custom one which generates tighter output.
 8  */
 9 public class IdeaLoggerWrapper extends Task {
10     public void execute() {
11         new LangtoolsIdeaAntLogger(getProject());
12     }
13 }
    </pre>
  </body>
</html>