<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutBox.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../inlineformatting/text/TextUtil.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutBox.h.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutBox.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #include &quot;config.h&quot;
 27 #include &quot;LayoutBox.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 
 31 #include &quot;LayoutContainer.h&quot;

 32 #include &quot;RenderStyle.h&quot;
 33 #include &lt;wtf/IsoMallocInlines.h&gt;
 34 
 35 namespace WebCore {
 36 namespace Layout {
 37 
 38 WTF_MAKE_ISO_ALLOCATED_IMPL(Box);
 39 
 40 Box::Box(Optional&lt;ElementAttributes&gt; attributes, RenderStyle&amp;&amp; style, BaseTypeFlags baseTypeFlags)
 41     : m_style(WTFMove(style))
 42     , m_elementAttributes(attributes)
 43     , m_baseTypeFlags(baseTypeFlags)


 44 {
 45     if (isReplaced())
<span class="line-modified"> 46         m_replaced = std::make_unique&lt;Replaced&gt;(*this);</span>
 47 }
 48 
 49 Box::Box(Optional&lt;ElementAttributes&gt; attributes, RenderStyle&amp;&amp; style)
 50     : Box(attributes, WTFMove(style), BaseTypeFlag::BoxFlag)
 51 {
 52 }
 53 






 54 Box::~Box()
 55 {

 56 }
 57 
 58 bool Box::establishesFormattingContext() const
 59 {
<span class="line-modified"> 60     return establishesBlockFormattingContext() || establishesInlineFormattingContext();</span>


 61 }
 62 
 63 bool Box::establishesBlockFormattingContext() const
 64 {
 65     // Initial Containing Block always creates a new (inital) block formatting context.
 66     if (!parent())
 67         return true;
 68 
 69     // 9.4.1 Block formatting contexts
 70     // Floats, absolutely positioned elements, block containers (such as inline-blocks, table-cells, and table-captions)
 71     // that are not block boxes, and block boxes with &#39;overflow&#39; other than &#39;visible&#39; (except when that value has been propagated to the viewport)
 72     // establish new block formatting contexts for their contents.
 73     if (isFloatingPositioned() || isAbsolutelyPositioned())
 74         return true;
 75 
 76     if (isBlockContainerBox() &amp;&amp; !isBlockLevelBox())
 77         return true;
 78 
 79     if (isBlockLevelBox() &amp;&amp; !isOverflowVisible())
 80         return true;
 81 
 82     return false;
 83 }
 84 




























 85 bool Box::establishesBlockFormattingContextOnly() const
 86 {
 87     return establishesBlockFormattingContext() &amp;&amp; !establishesInlineFormattingContext();
 88 }
 89 
 90 bool Box::isRelativelyPositioned() const
 91 {
 92     return m_style.position() == PositionType::Relative;
 93 }
 94 
 95 bool Box::isStickyPositioned() const
 96 {
 97     return m_style.position() == PositionType::Sticky;
 98 }
 99 
100 bool Box::isAbsolutelyPositioned() const
101 {
102     return m_style.position() == PositionType::Absolute || isFixedPositioned();
103 }
104 
</pre>
<hr />
<pre>
117 
118 bool Box::isLeftFloatingPositioned() const
119 {
120     if (!isFloatingPositioned())
121         return false;
122     return m_style.floating() == Float::Left;
123 }
124 
125 bool Box::isRightFloatingPositioned() const
126 {
127     if (!isFloatingPositioned())
128         return false;
129     return m_style.floating() == Float::Right;
130 }
131 
132 bool Box::hasFloatClear() const
133 {
134     return m_style.clear() != Clear::None;
135 }
136 





137 const Container* Box::containingBlock() const
138 {


139     // The containing block in which the root element lives is a rectangle called the initial containing block.
140     // For other elements, if the element&#39;s position is &#39;relative&#39; or &#39;static&#39;, the containing block is formed by the
141     // content edge of the nearest block container ancestor box.
142     // If the element has &#39;position: fixed&#39;, the containing block is established by the viewport
143     // If the element has &#39;position: absolute&#39;, the containing block is established by the nearest ancestor with a
144     // &#39;position&#39; of &#39;absolute&#39;, &#39;relative&#39; or &#39;fixed&#39;.
145     if (!parent())
146         return nullptr;
147 
148     if (!isPositioned() || isInFlowPositioned()) {
149         auto* nearestBlockContainer = parent();
150         for (; nearestBlockContainer-&gt;parent() &amp;&amp; !nearestBlockContainer-&gt;isBlockContainerBox(); nearestBlockContainer = nearestBlockContainer-&gt;parent()) { }
151         return nearestBlockContainer;
152     }
153 
154     if (isFixedPositioned()) {
155         auto* ancestor = parent();
156         for (; ancestor-&gt;parent() &amp;&amp; !ancestor-&gt;style().hasTransform(); ancestor = ancestor-&gt;parent()) { }
157         return ancestor;
158     }
159 
160     if (isOutOfFlowPositioned()) {
161         auto* ancestor = parent();
162         for (; ancestor-&gt;parent() &amp;&amp; !ancestor-&gt;isPositioned() &amp;&amp; !ancestor-&gt;style().hasTransform(); ancestor = ancestor-&gt;parent()) { }
163         return ancestor;
164     }
165 
166     ASSERT_NOT_REACHED();
167     return nullptr;
168 }
169 
170 const Container&amp; Box::formattingContextRoot() const
171 {
<span class="line-modified">172     for (auto* ancestor = containingBlock(); ancestor; ancestor = ancestor-&gt;containingBlock()) {</span>
<span class="line-modified">173         if (ancestor-&gt;establishesFormattingContext())</span>
<span class="line-modified">174             return *ancestor;</span>
<span class="line-modified">175     }</span>
<span class="line-modified">176 </span>
<span class="line-modified">177     // Initial containing block always establishes a formatting context.</span>
<span class="line-modified">178     if (isInitialContainingBlock())</span>
<span class="line-modified">179         return downcast&lt;Container&gt;(*this);</span>
<span class="line-modified">180 </span>
<span class="line-modified">181     RELEASE_ASSERT_NOT_REACHED();</span>










182 }
183 
184 const Container&amp; Box::initialContainingBlock() const
185 {
186     if (isInitialContainingBlock())
187         return downcast&lt;Container&gt;(*this);
188 
189     auto* parent = this-&gt;parent();
190     for (; parent-&gt;parent(); parent = parent-&gt;parent()) { }
191 
192     return *parent;
193 }
194 
<span class="line-modified">195 bool Box::isDescendantOf(const Container&amp; container) const</span>









196 {
197     for (auto* ancestor = containingBlock(); ancestor; ancestor = ancestor-&gt;containingBlock()) {
<span class="line-modified">198         if (ancestor == &amp;container)</span>
199             return true;
200     }
201     return false;
202 }
203 
204 bool Box::isInlineBlockBox() const
205 {
206     return m_style.display() == DisplayType::InlineBlock;
207 }
208 
209 bool Box::isBlockLevelBox() const
210 {
211     // Block level elements generate block level boxes.
212     auto display = m_style.display();
<span class="line-modified">213     return display == DisplayType::Block || display == DisplayType::ListItem || display == DisplayType::Table;</span>
214 }
215 
216 bool Box::isInlineLevelBox() const
217 {
218     // Inline level elements generate inline level boxes.
219     auto display = m_style.display();
<span class="line-modified">220     return display == DisplayType::Inline || display == DisplayType::InlineBlock || display == DisplayType::InlineTable;</span>
221 }
222 
223 bool Box::isBlockContainerBox() const
224 {
<span class="line-removed">225     // Inline level elements generate inline level boxes.</span>
226     auto display = m_style.display();
<span class="line-modified">227     return display == DisplayType::Block || display == DisplayType::ListItem || display == DisplayType::InlineBlock || display == DisplayType::TableCell || display == DisplayType::TableCaption; // TODO &amp;&amp; !replaced element</span>
228 }
229 
230 bool Box::isInitialContainingBlock() const
231 {
232     return !parent();
233 }
234 
235 const Box* Box::nextInFlowSibling() const
236 {
237     auto* nextSibling = this-&gt;nextSibling();
238     while (nextSibling &amp;&amp; !nextSibling-&gt;isInFlow())
239         nextSibling = nextSibling-&gt;nextSibling();
240     return nextSibling;
241 }
242 
243 const Box* Box::nextInFlowOrFloatingSibling() const
244 {
245     auto* nextSibling = this-&gt;nextSibling();
246     while (nextSibling &amp;&amp; !(nextSibling-&gt;isInFlow() || nextSibling-&gt;isFloatingPositioned()))
247         nextSibling = nextSibling-&gt;nextSibling();
</pre>
<hr />
<pre>
285         auto* documentBox = downcast&lt;Container&gt;(*this).firstChild();
286         if (!documentBox || !documentBox-&gt;isDocumentBox() || !is&lt;Container&gt;(documentBox))
287             return isOverflowVisible;
288         auto* bodyBox = downcast&lt;Container&gt;(documentBox)-&gt;firstChild();
289         if (!bodyBox || !bodyBox-&gt;isBodyBox())
290             return isOverflowVisible;
291         auto&amp; bodyBoxStyle = bodyBox-&gt;style();
292         return bodyBoxStyle.overflowX() == Overflow::Visible || bodyBoxStyle.overflowY() == Overflow::Visible;
293     }
294     return isOverflowVisible;
295 }
296 
297 bool Box::isPaddingApplicable() const
298 {
299     // 8.4 Padding properties:
300     // Applies to: all elements except table-row-group, table-header-group, table-footer-group, table-row, table-column-group and table-column
301     if (isAnonymous())
302         return false;
303 
304     auto elementType = m_elementAttributes.value().elementType;
<span class="line-modified">305     return elementType != ElementType::TableRowGroup</span>
<span class="line-modified">306         &amp;&amp; elementType != ElementType::TableHeaderGroup</span>
307         &amp;&amp; elementType != ElementType::TableFooterGroup
308         &amp;&amp; elementType != ElementType::TableRow
309         &amp;&amp; elementType != ElementType::TableColumnGroup
310         &amp;&amp; elementType != ElementType::TableColumn;
311 }
312 


















































































313 }
314 }
315 
316 #endif
</pre>
</td>
<td>
<hr />
<pre>
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #include &quot;config.h&quot;
 27 #include &quot;LayoutBox.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 
 31 #include &quot;LayoutContainer.h&quot;
<span class="line-added"> 32 #include &quot;LayoutPhase.h&quot;</span>
 33 #include &quot;RenderStyle.h&quot;
 34 #include &lt;wtf/IsoMallocInlines.h&gt;
 35 
 36 namespace WebCore {
 37 namespace Layout {
 38 
 39 WTF_MAKE_ISO_ALLOCATED_IMPL(Box);
 40 
 41 Box::Box(Optional&lt;ElementAttributes&gt; attributes, RenderStyle&amp;&amp; style, BaseTypeFlags baseTypeFlags)
 42     : m_style(WTFMove(style))
 43     , m_elementAttributes(attributes)
 44     , m_baseTypeFlags(baseTypeFlags)
<span class="line-added"> 45     , m_hasRareData(false)</span>
<span class="line-added"> 46     , m_isAnonymous(false)</span>
 47 {
 48     if (isReplaced())
<span class="line-modified"> 49         ensureRareData().replaced = makeUnique&lt;Replaced&gt;(*this);</span>
 50 }
 51 
 52 Box::Box(Optional&lt;ElementAttributes&gt; attributes, RenderStyle&amp;&amp; style)
 53     : Box(attributes, WTFMove(style), BaseTypeFlag::BoxFlag)
 54 {
 55 }
 56 
<span class="line-added"> 57 Box::Box(String textContent, RenderStyle&amp;&amp; style)</span>
<span class="line-added"> 58     : Box({ }, WTFMove(style), BaseTypeFlag::BoxFlag)</span>
<span class="line-added"> 59 {</span>
<span class="line-added"> 60     setTextContent(textContent);</span>
<span class="line-added"> 61 }</span>
<span class="line-added"> 62 </span>
 63 Box::~Box()
 64 {
<span class="line-added"> 65     removeRareData();</span>
 66 }
 67 
 68 bool Box::establishesFormattingContext() const
 69 {
<span class="line-modified"> 70     // We need the final tree structure to tell whether a box establishes a certain formatting context.</span>
<span class="line-added"> 71     ASSERT(!Phase::isInTreeBuilding());</span>
<span class="line-added"> 72     return establishesBlockFormattingContext() || establishesInlineFormattingContext() || establishesTableFormattingContext();</span>
 73 }
 74 
 75 bool Box::establishesBlockFormattingContext() const
 76 {
 77     // Initial Containing Block always creates a new (inital) block formatting context.
 78     if (!parent())
 79         return true;
 80 
 81     // 9.4.1 Block formatting contexts
 82     // Floats, absolutely positioned elements, block containers (such as inline-blocks, table-cells, and table-captions)
 83     // that are not block boxes, and block boxes with &#39;overflow&#39; other than &#39;visible&#39; (except when that value has been propagated to the viewport)
 84     // establish new block formatting contexts for their contents.
 85     if (isFloatingPositioned() || isAbsolutelyPositioned())
 86         return true;
 87 
 88     if (isBlockContainerBox() &amp;&amp; !isBlockLevelBox())
 89         return true;
 90 
 91     if (isBlockLevelBox() &amp;&amp; !isOverflowVisible())
 92         return true;
 93 
 94     return false;
 95 }
 96 
<span class="line-added"> 97 bool Box::establishesInlineFormattingContext() const</span>
<span class="line-added"> 98 {</span>
<span class="line-added"> 99     // 9.4.2 Inline formatting contexts</span>
<span class="line-added">100     // An inline formatting context is established by a block container box that contains no block-level boxes.</span>
<span class="line-added">101     if (!isBlockContainerBox())</span>
<span class="line-added">102         return false;</span>
<span class="line-added">103 </span>
<span class="line-added">104     if (!isContainer())</span>
<span class="line-added">105         return false;</span>
<span class="line-added">106 </span>
<span class="line-added">107     // FIXME ???</span>
<span class="line-added">108     if (!downcast&lt;Container&gt;(*this).firstInFlowChild())</span>
<span class="line-added">109         return false;</span>
<span class="line-added">110 </span>
<span class="line-added">111     // It&#39;s enough to check the first in-flow child since we can&#39;t have both block and inline level sibling boxes.</span>
<span class="line-added">112     return downcast&lt;Container&gt;(*this).firstInFlowChild()-&gt;isInlineLevelBox();</span>
<span class="line-added">113 }</span>
<span class="line-added">114 </span>
<span class="line-added">115 bool Box::establishesInlineFormattingContextOnly() const</span>
<span class="line-added">116 {</span>
<span class="line-added">117     return establishesInlineFormattingContext() &amp;&amp; !establishesBlockFormattingContext();</span>
<span class="line-added">118 }</span>
<span class="line-added">119 </span>
<span class="line-added">120 bool Box::establishesTableFormattingContext() const</span>
<span class="line-added">121 {</span>
<span class="line-added">122     return isTableBox();</span>
<span class="line-added">123 }</span>
<span class="line-added">124 </span>
125 bool Box::establishesBlockFormattingContextOnly() const
126 {
127     return establishesBlockFormattingContext() &amp;&amp; !establishesInlineFormattingContext();
128 }
129 
130 bool Box::isRelativelyPositioned() const
131 {
132     return m_style.position() == PositionType::Relative;
133 }
134 
135 bool Box::isStickyPositioned() const
136 {
137     return m_style.position() == PositionType::Sticky;
138 }
139 
140 bool Box::isAbsolutelyPositioned() const
141 {
142     return m_style.position() == PositionType::Absolute || isFixedPositioned();
143 }
144 
</pre>
<hr />
<pre>
157 
158 bool Box::isLeftFloatingPositioned() const
159 {
160     if (!isFloatingPositioned())
161         return false;
162     return m_style.floating() == Float::Left;
163 }
164 
165 bool Box::isRightFloatingPositioned() const
166 {
167     if (!isFloatingPositioned())
168         return false;
169     return m_style.floating() == Float::Right;
170 }
171 
172 bool Box::hasFloatClear() const
173 {
174     return m_style.clear() != Clear::None;
175 }
176 
<span class="line-added">177 bool Box::isFloatAvoider() const</span>
<span class="line-added">178 {</span>
<span class="line-added">179     return establishesBlockFormattingContext() || isFloatingPositioned();</span>
<span class="line-added">180 }</span>
<span class="line-added">181 </span>
182 const Container* Box::containingBlock() const
183 {
<span class="line-added">184     // Finding the containing block by traversing the tree during tree construction could provide incorrect result.</span>
<span class="line-added">185     ASSERT(!Phase::isInTreeBuilding());</span>
186     // The containing block in which the root element lives is a rectangle called the initial containing block.
187     // For other elements, if the element&#39;s position is &#39;relative&#39; or &#39;static&#39;, the containing block is formed by the
188     // content edge of the nearest block container ancestor box.
189     // If the element has &#39;position: fixed&#39;, the containing block is established by the viewport
190     // If the element has &#39;position: absolute&#39;, the containing block is established by the nearest ancestor with a
191     // &#39;position&#39; of &#39;absolute&#39;, &#39;relative&#39; or &#39;fixed&#39;.
192     if (!parent())
193         return nullptr;
194 
195     if (!isPositioned() || isInFlowPositioned()) {
196         auto* nearestBlockContainer = parent();
197         for (; nearestBlockContainer-&gt;parent() &amp;&amp; !nearestBlockContainer-&gt;isBlockContainerBox(); nearestBlockContainer = nearestBlockContainer-&gt;parent()) { }
198         return nearestBlockContainer;
199     }
200 
201     if (isFixedPositioned()) {
202         auto* ancestor = parent();
203         for (; ancestor-&gt;parent() &amp;&amp; !ancestor-&gt;style().hasTransform(); ancestor = ancestor-&gt;parent()) { }
204         return ancestor;
205     }
206 
207     if (isOutOfFlowPositioned()) {
208         auto* ancestor = parent();
209         for (; ancestor-&gt;parent() &amp;&amp; !ancestor-&gt;isPositioned() &amp;&amp; !ancestor-&gt;style().hasTransform(); ancestor = ancestor-&gt;parent()) { }
210         return ancestor;
211     }
212 
213     ASSERT_NOT_REACHED();
214     return nullptr;
215 }
216 
217 const Container&amp; Box::formattingContextRoot() const
218 {
<span class="line-modified">219     // Finding the context root by traversing the tree during tree construction could provide incorrect result.</span>
<span class="line-modified">220     ASSERT(!Phase::isInTreeBuilding());</span>
<span class="line-modified">221     // We should never need to ask this question on the ICB.</span>
<span class="line-modified">222     ASSERT(!isInitialContainingBlock());</span>
<span class="line-modified">223     // A box lives in the same formatting context as its containing block unless the containing block establishes a formatting context.</span>
<span class="line-modified">224     // However relatively positioned (inflow) inline container lives in the formatting context where its parent lives unless</span>
<span class="line-modified">225     // the parent establishes a formatting context.</span>
<span class="line-modified">226     //</span>
<span class="line-modified">227     // &lt;div id=outer style=&quot;position: absolute&quot;&gt;&lt;div id=inner&gt;&lt;span style=&quot;position: relative&quot;&gt;content&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;</span>
<span class="line-modified">228     // While the relatively positioned inline container (span) is placed relative to its containing block &quot;outer&quot;, it lives in the inline</span>
<span class="line-added">229     // formatting context established by &quot;inner&quot;.</span>
<span class="line-added">230     const Container* ancestor = nullptr;</span>
<span class="line-added">231     if (isInlineLevelBox() &amp;&amp; isInFlowPositioned())</span>
<span class="line-added">232         ancestor = parent();</span>
<span class="line-added">233     else</span>
<span class="line-added">234         ancestor = containingBlock();</span>
<span class="line-added">235     ASSERT(ancestor);</span>
<span class="line-added">236     if (ancestor-&gt;establishesFormattingContext())</span>
<span class="line-added">237         return *ancestor;</span>
<span class="line-added">238     return ancestor-&gt;formattingContextRoot();</span>
239 }
240 
241 const Container&amp; Box::initialContainingBlock() const
242 {
243     if (isInitialContainingBlock())
244         return downcast&lt;Container&gt;(*this);
245 
246     auto* parent = this-&gt;parent();
247     for (; parent-&gt;parent(); parent = parent-&gt;parent()) { }
248 
249     return *parent;
250 }
251 
<span class="line-modified">252 bool Box::isDescendantOf(const Container&amp; ancestorCandidate) const</span>
<span class="line-added">253 {</span>
<span class="line-added">254     for (auto* ancestor = parent(); ancestor; ancestor = ancestor-&gt;parent()) {</span>
<span class="line-added">255         if (ancestor == &amp;ancestorCandidate)</span>
<span class="line-added">256             return true;</span>
<span class="line-added">257     }</span>
<span class="line-added">258     return false;</span>
<span class="line-added">259 }</span>
<span class="line-added">260 </span>
<span class="line-added">261 bool Box::isContainingBlockDescendantOf(const Container&amp; ancestorCandidate) const</span>
262 {
263     for (auto* ancestor = containingBlock(); ancestor; ancestor = ancestor-&gt;containingBlock()) {
<span class="line-modified">264         if (ancestor == &amp;ancestorCandidate)</span>
265             return true;
266     }
267     return false;
268 }
269 
270 bool Box::isInlineBlockBox() const
271 {
272     return m_style.display() == DisplayType::InlineBlock;
273 }
274 
275 bool Box::isBlockLevelBox() const
276 {
277     // Block level elements generate block level boxes.
278     auto display = m_style.display();
<span class="line-modified">279     return display == DisplayType::Block || display == DisplayType::ListItem || (display == DisplayType::Table &amp;&amp; !isTableWrapperBox());</span>
280 }
281 
282 bool Box::isInlineLevelBox() const
283 {
284     // Inline level elements generate inline level boxes.
285     auto display = m_style.display();
<span class="line-modified">286     return display == DisplayType::Inline || isInlineBlockBox() || display == DisplayType::InlineTable;</span>
287 }
288 
289 bool Box::isBlockContainerBox() const
290 {

291     auto display = m_style.display();
<span class="line-modified">292     return display == DisplayType::Block || display == DisplayType::ListItem || isInlineBlockBox() || isTableWrapperBox() || isTableCell() || isTableCaption(); // TODO &amp;&amp; !replaced element</span>
293 }
294 
295 bool Box::isInitialContainingBlock() const
296 {
297     return !parent();
298 }
299 
300 const Box* Box::nextInFlowSibling() const
301 {
302     auto* nextSibling = this-&gt;nextSibling();
303     while (nextSibling &amp;&amp; !nextSibling-&gt;isInFlow())
304         nextSibling = nextSibling-&gt;nextSibling();
305     return nextSibling;
306 }
307 
308 const Box* Box::nextInFlowOrFloatingSibling() const
309 {
310     auto* nextSibling = this-&gt;nextSibling();
311     while (nextSibling &amp;&amp; !(nextSibling-&gt;isInFlow() || nextSibling-&gt;isFloatingPositioned()))
312         nextSibling = nextSibling-&gt;nextSibling();
</pre>
<hr />
<pre>
350         auto* documentBox = downcast&lt;Container&gt;(*this).firstChild();
351         if (!documentBox || !documentBox-&gt;isDocumentBox() || !is&lt;Container&gt;(documentBox))
352             return isOverflowVisible;
353         auto* bodyBox = downcast&lt;Container&gt;(documentBox)-&gt;firstChild();
354         if (!bodyBox || !bodyBox-&gt;isBodyBox())
355             return isOverflowVisible;
356         auto&amp; bodyBoxStyle = bodyBox-&gt;style();
357         return bodyBoxStyle.overflowX() == Overflow::Visible || bodyBoxStyle.overflowY() == Overflow::Visible;
358     }
359     return isOverflowVisible;
360 }
361 
362 bool Box::isPaddingApplicable() const
363 {
364     // 8.4 Padding properties:
365     // Applies to: all elements except table-row-group, table-header-group, table-footer-group, table-row, table-column-group and table-column
366     if (isAnonymous())
367         return false;
368 
369     auto elementType = m_elementAttributes.value().elementType;
<span class="line-modified">370     return elementType != ElementType::TableHeaderGroup</span>
<span class="line-modified">371         &amp;&amp; elementType != ElementType::TableBodyGroup</span>
372         &amp;&amp; elementType != ElementType::TableFooterGroup
373         &amp;&amp; elementType != ElementType::TableRow
374         &amp;&amp; elementType != ElementType::TableColumnGroup
375         &amp;&amp; elementType != ElementType::TableColumn;
376 }
377 
<span class="line-added">378 void Box::setTextContent(String textContent)</span>
<span class="line-added">379 {</span>
<span class="line-added">380     ASSERT(isInlineLevelBox());</span>
<span class="line-added">381     ensureRareData().textContent = textContent;</span>
<span class="line-added">382 }</span>
<span class="line-added">383 </span>
<span class="line-added">384 bool Box::hasTextContent() const</span>
<span class="line-added">385 {</span>
<span class="line-added">386     ASSERT(isInlineLevelBox());</span>
<span class="line-added">387     return hasRareData() &amp;&amp; !rareData().textContent.isNull();</span>
<span class="line-added">388 }</span>
<span class="line-added">389 </span>
<span class="line-added">390 String Box::textContent() const</span>
<span class="line-added">391 {</span>
<span class="line-added">392     ASSERT(hasRareData());</span>
<span class="line-added">393     ASSERT(isInlineLevelBox());</span>
<span class="line-added">394     return rareData().textContent;</span>
<span class="line-added">395 }</span>
<span class="line-added">396 </span>
<span class="line-added">397 const Replaced* Box::replaced() const</span>
<span class="line-added">398 {</span>
<span class="line-added">399     return const_cast&lt;Box*&gt;(this)-&gt;replaced();</span>
<span class="line-added">400 }</span>
<span class="line-added">401 </span>
<span class="line-added">402 Replaced* Box::replaced()</span>
<span class="line-added">403 {</span>
<span class="line-added">404     if (!isReplaced()) {</span>
<span class="line-added">405         ASSERT(!hasRareData() || !rareData().replaced.get());</span>
<span class="line-added">406         return nullptr;</span>
<span class="line-added">407     }</span>
<span class="line-added">408     ASSERT(hasRareData() &amp;&amp; rareData().replaced.get());</span>
<span class="line-added">409     return rareData().replaced.get();</span>
<span class="line-added">410 }</span>
<span class="line-added">411 </span>
<span class="line-added">412 void Box::setRowSpan(unsigned rowSpan)</span>
<span class="line-added">413 {</span>
<span class="line-added">414     ensureRareData().rowSpan = rowSpan;</span>
<span class="line-added">415 }</span>
<span class="line-added">416 </span>
<span class="line-added">417 void Box::setColumnSpan(unsigned columnSpan)</span>
<span class="line-added">418 {</span>
<span class="line-added">419     ensureRareData().columnSpan = columnSpan;</span>
<span class="line-added">420 }</span>
<span class="line-added">421 </span>
<span class="line-added">422 unsigned Box::rowSpan() const</span>
<span class="line-added">423 {</span>
<span class="line-added">424     if (!hasRareData())</span>
<span class="line-added">425         return 1;</span>
<span class="line-added">426     return rareData().rowSpan;</span>
<span class="line-added">427 }</span>
<span class="line-added">428 </span>
<span class="line-added">429 unsigned Box::columnSpan() const</span>
<span class="line-added">430 {</span>
<span class="line-added">431     if (!hasRareData())</span>
<span class="line-added">432         return 1;</span>
<span class="line-added">433     return rareData().columnSpan;</span>
<span class="line-added">434 }</span>
<span class="line-added">435 </span>
<span class="line-added">436 Box::RareDataMap&amp; Box::rareDataMap()</span>
<span class="line-added">437 {</span>
<span class="line-added">438     static NeverDestroyed&lt;RareDataMap&gt; map;</span>
<span class="line-added">439     return map;</span>
<span class="line-added">440 }</span>
<span class="line-added">441 </span>
<span class="line-added">442 const Box::BoxRareData&amp; Box::rareData() const</span>
<span class="line-added">443 {</span>
<span class="line-added">444     ASSERT(hasRareData());</span>
<span class="line-added">445     return *rareDataMap().get(this);</span>
<span class="line-added">446 }</span>
<span class="line-added">447 </span>
<span class="line-added">448 Box::BoxRareData&amp; Box::ensureRareData()</span>
<span class="line-added">449 {</span>
<span class="line-added">450     setHasRareData(true);</span>
<span class="line-added">451     return *rareDataMap().ensure(this, [] { return makeUnique&lt;BoxRareData&gt;(); }).iterator-&gt;value;</span>
<span class="line-added">452 }</span>
<span class="line-added">453 </span>
<span class="line-added">454 void Box::removeRareData()</span>
<span class="line-added">455 {</span>
<span class="line-added">456     rareDataMap().remove(this);</span>
<span class="line-added">457     setHasRareData(false);</span>
<span class="line-added">458 }</span>
<span class="line-added">459 </span>
460 }
461 }
462 
463 #endif
</pre>
</td>
</tr>
</table>
<center><a href="../inlineformatting/text/TextUtil.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutBox.h.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>