<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockFormattingContext.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="BlockFormattingContext.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="BlockFormattingContextGeometry.cpp.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockFormattingContext.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 53,35 ***</span>
  
  private:
      void layoutFormattingContextRoot(FloatingContext&amp;, const Box&amp;) const;
      void placeInFlowPositionedChildren(const Box&amp;) const;
  
<span class="line-modified">!     void computeWidthAndMargin(const Box&amp;) const;</span>
      void computeHeightAndMargin(const Box&amp;) const;
  
      void computeStaticPosition(const FloatingContext&amp;, const Box&amp;) const;
      void computeFloatingPosition(const FloatingContext&amp;, const Box&amp;) const;
      void computePositionToAvoidFloats(const FloatingContext&amp;, const Box&amp;) const;
  
      void computeEstimatedVerticalPosition(const Box&amp;) const;
      void computeEstimatedVerticalPositionForAncestors(const Box&amp;) const;
      void computeEstimatedVerticalPositionForFormattingRoot(const Box&amp;) const;
      void computeEstimatedVerticalPositionForFloatClear(const FloatingContext&amp;, const Box&amp;) const;
  
<span class="line-modified">!     void computeIntrinsicWidthConstraints() const override;</span>
      LayoutUnit verticalPositionWithMargin(const Box&amp;, const UsedVerticalMargin&amp;) const;
  
      // This class implements positioning and sizing for boxes participating in a block formatting context.
      class Geometry : public FormattingContext::Geometry {
      public:
          static HeightAndMargin inFlowHeightAndMargin(const LayoutState&amp;, const Box&amp;, UsedVerticalValues);
<span class="line-modified">!         static WidthAndMargin inFlowWidthAndMargin(const LayoutState&amp;, const Box&amp;, UsedHorizontalValues);</span>
  
          static Point staticPosition(const LayoutState&amp;, const Box&amp;);
  
<span class="line-modified">!         static bool intrinsicWidthConstraintsNeedChildrenWidth(const Box&amp;);</span>
<span class="line-removed">-         static IntrinsicWidthConstraints intrinsicWidthConstraints(const LayoutState&amp;, const Box&amp;);</span>
  
      private:
          static HeightAndMargin inFlowNonReplacedHeightAndMargin(const LayoutState&amp;, const Box&amp;, UsedVerticalValues);
          static WidthAndMargin inFlowNonReplacedWidthAndMargin(const LayoutState&amp;, const Box&amp;, UsedHorizontalValues);
          static WidthAndMargin inFlowReplacedWidthAndMargin(const LayoutState&amp;, const Box&amp;, UsedHorizontalValues);
<span class="line-new-header">--- 53,38 ---</span>
  
  private:
      void layoutFormattingContextRoot(FloatingContext&amp;, const Box&amp;) const;
      void placeInFlowPositionedChildren(const Box&amp;) const;
  
<span class="line-modified">!     void computeWidthAndMargin(const Box&amp;, Optional&lt;LayoutUnit&gt; usedAvailableWidth = { }) const;</span>
      void computeHeightAndMargin(const Box&amp;) const;
  
<span class="line-added">+     void computeStaticHorizontalPosition(const Box&amp;) const;</span>
<span class="line-added">+     void computeStaticVerticalPosition(const FloatingContext&amp;, const Box&amp;) const;</span>
      void computeStaticPosition(const FloatingContext&amp;, const Box&amp;) const;
      void computeFloatingPosition(const FloatingContext&amp;, const Box&amp;) const;
      void computePositionToAvoidFloats(const FloatingContext&amp;, const Box&amp;) const;
  
      void computeEstimatedVerticalPosition(const Box&amp;) const;
      void computeEstimatedVerticalPositionForAncestors(const Box&amp;) const;
      void computeEstimatedVerticalPositionForFormattingRoot(const Box&amp;) const;
      void computeEstimatedVerticalPositionForFloatClear(const FloatingContext&amp;, const Box&amp;) const;
  
<span class="line-modified">!     IntrinsicWidthConstraints computedIntrinsicWidthConstraints() const override;</span>
      LayoutUnit verticalPositionWithMargin(const Box&amp;, const UsedVerticalMargin&amp;) const;
  
      // This class implements positioning and sizing for boxes participating in a block formatting context.
      class Geometry : public FormattingContext::Geometry {
      public:
          static HeightAndMargin inFlowHeightAndMargin(const LayoutState&amp;, const Box&amp;, UsedVerticalValues);
<span class="line-modified">!         static WidthAndMargin inFlowWidthAndMargin(LayoutState&amp;, const Box&amp;, UsedHorizontalValues);</span>
  
          static Point staticPosition(const LayoutState&amp;, const Box&amp;);
<span class="line-added">+         static LayoutUnit staticVerticalPosition(const LayoutState&amp;, const Box&amp;);</span>
<span class="line-added">+         static LayoutUnit staticHorizontalPosition(const LayoutState&amp;, const Box&amp;);</span>
  
<span class="line-modified">!         static IntrinsicWidthConstraints intrinsicWidthConstraints(LayoutState&amp;, const Box&amp;);</span>
  
      private:
          static HeightAndMargin inFlowNonReplacedHeightAndMargin(const LayoutState&amp;, const Box&amp;, UsedVerticalValues);
          static WidthAndMargin inFlowNonReplacedWidthAndMargin(const LayoutState&amp;, const Box&amp;, UsedHorizontalValues);
          static WidthAndMargin inFlowReplacedWidthAndMargin(const LayoutState&amp;, const Box&amp;, UsedHorizontalValues);
</pre>
<hr />
<pre>
<span class="line-old-header">*** 129,10 ***</span>
<span class="line-new-header">--- 132,11 ---</span>
      };
  
      void setEstimatedMarginBefore(const Box&amp;, const EstimatedMarginBefore&amp;) const;
      void removeEstimatedMarginBefore(const Box&amp; layoutBox) const { m_estimatedMarginBeforeList.remove(&amp;layoutBox); }
      bool hasEstimatedMarginBefore(const Box&amp;) const;
<span class="line-added">+     Optional&lt;LayoutUnit&gt; usedAvailableWidthForFloatAvoider(const FloatingContext&amp;, const Box&amp;) const;</span>
  #ifndef NDEBUG
      EstimatedMarginBefore estimatedMarginBefore(const Box&amp; layoutBox) const { return m_estimatedMarginBeforeList.get(&amp;layoutBox); }
      bool hasPrecomputedMarginBefore(const Box&amp;) const;
  #endif
  
</pre>
<center><a href="BlockFormattingContext.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="BlockFormattingContextGeometry.cpp.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>