<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockFormattingContextGeometry.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="BlockFormattingContext.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="BlockMarginCollapse.cpp.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockFormattingContextGeometry.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 58         // and relatively positioned boxes are considered without their offset). Note that the child box may be an anonymous block box.
 59 
 60         auto&amp; displayBox = layoutState.displayBoxForLayoutBox(layoutBox);
 61         auto containingBlockWidth = layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxWidth();
 62         auto computedVerticalMargin = Geometry::computedVerticalMargin(layoutBox, UsedHorizontalValues { containingBlockWidth });
 63         auto nonCollapsedMargin = UsedVerticalMargin::NonCollapsedValues { computedVerticalMargin.before.valueOr(0), computedVerticalMargin.after.valueOr(0) };
 64         auto borderAndPaddingTop = displayBox.borderTop() + displayBox.paddingTop().valueOr(0);
 65         auto height = usedValues.height ? usedValues.height.value() : computedHeightValue(layoutState, layoutBox, HeightType::Normal);
 66 
 67         if (height) {
 68             auto borderAndPaddingBottom = displayBox.borderBottom() + displayBox.paddingBottom().valueOr(0);
 69             auto contentHeight = layoutBox.style().boxSizing() == BoxSizing::ContentBox ? *height : *height - (borderAndPaddingTop + borderAndPaddingBottom);
 70             return { contentHeight, nonCollapsedMargin };
 71         }
 72 
 73         if (!is&lt;Container&gt;(layoutBox) || !downcast&lt;Container&gt;(layoutBox).hasInFlowChild())
 74             return { 0, nonCollapsedMargin };
 75 
 76         // 1. the bottom edge of the last line box, if the box establishes a inline formatting context with one or more lines
 77         if (layoutBox.establishesInlineFormattingContext()) {
<span class="line-modified"> 78             // This is temp and will be replaced by the correct display box once inline runs move over to the display tree.</span>
<span class="line-modified"> 79             auto&amp; inlineRuns = downcast&lt;InlineFormattingState&gt;(layoutState.establishedFormattingState(layoutBox)).inlineRuns();</span>
<span class="line-modified"> 80             auto bottomEdge = inlineRuns.isEmpty() ? LayoutUnit() : inlineRuns.last().logicalBottom();</span>
<span class="line-modified"> 81             return { bottomEdge - borderAndPaddingTop, nonCollapsedMargin };</span>
 82         }
 83 
 84         // 2. the bottom edge of the bottom (possibly collapsed) margin of its last in-flow child, if the child&#39;s bottom margin...
 85         auto* lastInFlowChild = downcast&lt;Container&gt;(layoutBox).lastInFlowChild();
 86         ASSERT(lastInFlowChild);
 87         if (!MarginCollapse::marginAfterCollapsesWithParentMarginAfter(layoutState, *lastInFlowChild)) {
 88             auto&amp; lastInFlowDisplayBox = layoutState.displayBoxForLayoutBox(*lastInFlowChild);
 89             auto bottomEdgeOfBottomMargin = lastInFlowDisplayBox.bottom() + (lastInFlowDisplayBox.hasCollapsedThroughMargin() ? LayoutUnit() : lastInFlowDisplayBox.marginAfter());
 90             return { bottomEdgeOfBottomMargin - borderAndPaddingTop, nonCollapsedMargin };
 91         }
 92 
 93         // 3. the bottom border edge of the last in-flow child whose top margin doesn&#39;t collapse with the element&#39;s bottom margin
 94         auto* inFlowChild = lastInFlowChild;
 95         while (inFlowChild &amp;&amp; MarginCollapse::marginBeforeCollapsesWithParentMarginAfter(layoutState, *inFlowChild))
 96             inFlowChild = inFlowChild-&gt;previousInFlowSibling();
 97         if (inFlowChild) {
 98             auto&amp; inFlowDisplayBox = layoutState.displayBoxForLayoutBox(*inFlowChild);
 99             return { inFlowDisplayBox.top() + inFlowDisplayBox.borderBox().height() - borderAndPaddingTop, nonCollapsedMargin };
100         }
101 
</pre>
<hr />
<pre>
205 }
206 
207 WidthAndMargin BlockFormattingContext::Geometry::inFlowReplacedWidthAndMargin(const LayoutState&amp; layoutState, const Box&amp; layoutBox, UsedHorizontalValues usedValues)
208 {
209     ASSERT(layoutBox.isInFlow() &amp;&amp; layoutBox.replaced());
210 
211     // 10.3.4 Block-level, replaced elements in normal flow
212     //
213     // 1. The used value of &#39;width&#39; is determined as for inline replaced elements.
214     // 2. Then the rules for non-replaced block-level elements are applied to determine the margins.
215 
216     // #1
217     usedValues.width = inlineReplacedWidthAndMargin(layoutState, layoutBox, usedValues).width;
218     // #2
219     auto nonReplacedWidthAndMargin = inFlowNonReplacedWidthAndMargin(layoutState, layoutBox, usedValues);
220 
221     LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Width][Margin] -&gt; inflow replaced -&gt; width(&quot; &lt;&lt; *usedValues.width &lt;&lt; &quot;px) margin(&quot; &lt;&lt; nonReplacedWidthAndMargin.usedMargin.start &lt;&lt; &quot;px, &quot; &lt;&lt; nonReplacedWidthAndMargin.usedMargin.end &lt;&lt; &quot;px) -&gt; layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
222     return { *usedValues.width, nonReplacedWidthAndMargin.usedMargin, nonReplacedWidthAndMargin.computedMargin };
223 }
224 
<span class="line-modified">225 Point BlockFormattingContext::Geometry::staticPosition(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
226 {
227     // https://www.w3.org/TR/CSS22/visuren.html#block-formatting
228     // In a block formatting context, boxes are laid out one after the other, vertically, beginning at the top of a containing block.
229     // The vertical distance between two sibling boxes is determined by the &#39;margin&#39; properties.
230     // Vertical margins between adjacent block-level boxes in a block formatting context collapse.
<span class="line-removed">231     // In a block formatting context, each box&#39;s left outer edge touches the left edge of the containing block (for right-to-left formatting, right edges touch).</span>
<span class="line-removed">232 </span>
<span class="line-removed">233     LayoutUnit top;</span>
<span class="line-removed">234     auto&amp; containingBlockDisplayBox = layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock());</span>
235     if (auto* previousInFlowSibling = layoutBox.previousInFlowSibling()) {
236         auto&amp; previousInFlowDisplayBox = layoutState.displayBoxForLayoutBox(*previousInFlowSibling);
<span class="line-modified">237         top = previousInFlowDisplayBox.bottom() + previousInFlowDisplayBox.marginAfter();</span>
<span class="line-modified">238     } else</span>
<span class="line-modified">239         top = containingBlockDisplayBox.contentBoxTop();</span>








240 
<span class="line-modified">241     auto left = containingBlockDisplayBox.contentBoxLeft() + layoutState.displayBoxForLayoutBox(layoutBox).marginStart();</span>
<span class="line-modified">242     LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Position] -&gt; static -&gt; top(&quot; &lt;&lt; top &lt;&lt; &quot;px) left(&quot; &lt;&lt; left &lt;&lt; &quot;px) layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);</span>
<span class="line-modified">243     return { left, top };</span>
244 }
245 
246 HeightAndMargin BlockFormattingContext::Geometry::inFlowHeightAndMargin(const LayoutState&amp; layoutState, const Box&amp; layoutBox, UsedVerticalValues usedValues)
247 {
248     ASSERT(layoutBox.isInFlow());
249 
250     // 10.6.2 Inline replaced elements, block-level replaced elements in normal flow, &#39;inline-block&#39;
251     // replaced elements in normal flow and floating replaced elements
252     if (layoutBox.replaced())
253         return inlineReplacedHeightAndMargin(layoutState, layoutBox, usedValues);
254 
255     HeightAndMargin heightAndMargin;
256     // TODO: Figure out the case for the document element. Let&#39;s just complicated-case it for now.
257     if (layoutBox.isOverflowVisible() &amp;&amp; !layoutBox.isDocumentBox())
258         heightAndMargin = inFlowNonReplacedHeightAndMargin(layoutState, layoutBox, usedValues);
259     else {
260         // 10.6.6 Complicated cases
261         // Block-level, non-replaced elements in normal flow when &#39;overflow&#39; does not compute to &#39;visible&#39; (except if the &#39;overflow&#39; property&#39;s value has been propagated to the viewport).
262         auto usedHorizontalValues = UsedHorizontalValues { layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxWidth() };
263         heightAndMargin = complicatedCases(layoutState, layoutBox, usedValues, usedHorizontalValues);
264     }
265 
266     if (!Quirks::needsStretching(layoutState, layoutBox))
267         return heightAndMargin;
268 
269     heightAndMargin = Quirks::stretchedInFlowHeight(layoutState, layoutBox, heightAndMargin);
270 
271     LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Height][Margin] -&gt; inflow non-replaced -&gt; streched to viewport -&gt; height(&quot; &lt;&lt; heightAndMargin.height &lt;&lt; &quot;px) margin(&quot; &lt;&lt; heightAndMargin.nonCollapsedMargin.before &lt;&lt; &quot;px, &quot; &lt;&lt; heightAndMargin.nonCollapsedMargin.after &lt;&lt; &quot;px) -&gt; layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
272     return heightAndMargin;
273 }
274 
<span class="line-modified">275 WidthAndMargin BlockFormattingContext::Geometry::inFlowWidthAndMargin(const LayoutState&amp; layoutState, const Box&amp; layoutBox, UsedHorizontalValues usedValues)</span>
276 {
277     ASSERT(layoutBox.isInFlow());
278 
<span class="line-modified">279     if (!layoutBox.replaced())</span>





280         return inFlowNonReplacedWidthAndMargin(layoutState, layoutBox, usedValues);

281     return inFlowReplacedWidthAndMargin(layoutState, layoutBox, usedValues);
282 }
283 
<span class="line-modified">284 bool BlockFormattingContext::Geometry::intrinsicWidthConstraintsNeedChildrenWidth(const Box&amp; layoutBox)</span>
285 {
<span class="line-modified">286     if (!is&lt;Container&gt;(layoutBox) || !downcast&lt;Container&gt;(layoutBox).hasInFlowOrFloatingChild())</span>
<span class="line-modified">287         return false;</span>
<span class="line-modified">288     return layoutBox.style().width().isAuto();</span>
<span class="line-modified">289 }</span>





290 
<span class="line-removed">291 FormattingContext::IntrinsicWidthConstraints BlockFormattingContext::Geometry::intrinsicWidthConstraints(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
<span class="line-removed">292 {</span>
293     auto computedIntrinsicWidthConstraints = [&amp;]() -&gt; IntrinsicWidthConstraints {
294         auto&amp; style = layoutBox.style();
295         if (auto width = fixedValue(style.logicalWidth()))
296             return { *width, *width };
297 
298         // Minimum/maximum width can&#39;t be depending on the containing block&#39;s width.
299         if (!style.logicalWidth().isAuto())
300             return { };
301 
<span class="line-modified">302         if (!is&lt;Container&gt;(layoutBox))</span>











303             return { };
304 
305         auto intrinsicWidthConstraints = IntrinsicWidthConstraints { };

306         for (auto&amp; child : childrenOfType&lt;Box&gt;(downcast&lt;Container&gt;(layoutBox))) {
307             if (child.isOutOfFlowPositioned())
308                 continue;
<span class="line-modified">309             const auto&amp; formattingState = layoutState.formattingStateForBox(child);</span>
<span class="line-removed">310             ASSERT(formattingState.isBlockFormattingState());</span>
<span class="line-removed">311             auto childIntrinsicWidthConstraints = formattingState.intrinsicWidthConstraints(child);</span>
312             ASSERT(childIntrinsicWidthConstraints);
313 
<span class="line-modified">314             auto&amp; childStyle = child.style();</span>
<span class="line-modified">315             auto marginBorderAndPadding = fixedValue(childStyle.marginStart()).valueOr(0)</span>
<span class="line-removed">316                 + LayoutUnit { childStyle.borderLeftWidth() }</span>
<span class="line-removed">317                 + fixedValue(childStyle.paddingLeft()).valueOr(0)</span>
<span class="line-removed">318                 + fixedValue(childStyle.paddingRight()).valueOr(0)</span>
<span class="line-removed">319                 + LayoutUnit { childStyle.borderRightWidth() }</span>
<span class="line-removed">320                 + fixedValue(childStyle.marginEnd()).valueOr(0);</span>
321             intrinsicWidthConstraints.minimum = std::max(intrinsicWidthConstraints.minimum, childIntrinsicWidthConstraints-&gt;minimum + marginBorderAndPadding);
322             intrinsicWidthConstraints.maximum = std::max(intrinsicWidthConstraints.maximum, childIntrinsicWidthConstraints-&gt;maximum + marginBorderAndPadding);
323         }
324         return intrinsicWidthConstraints;
325     };
<span class="line-modified">326 </span>
<span class="line-modified">327     return constrainByMinMaxWidth(layoutBox, computedIntrinsicWidthConstraints());</span>


328 }
329 
330 }
331 }
332 
333 #endif
</pre>
</td>
<td>
<hr />
<pre>
 58         // and relatively positioned boxes are considered without their offset). Note that the child box may be an anonymous block box.
 59 
 60         auto&amp; displayBox = layoutState.displayBoxForLayoutBox(layoutBox);
 61         auto containingBlockWidth = layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxWidth();
 62         auto computedVerticalMargin = Geometry::computedVerticalMargin(layoutBox, UsedHorizontalValues { containingBlockWidth });
 63         auto nonCollapsedMargin = UsedVerticalMargin::NonCollapsedValues { computedVerticalMargin.before.valueOr(0), computedVerticalMargin.after.valueOr(0) };
 64         auto borderAndPaddingTop = displayBox.borderTop() + displayBox.paddingTop().valueOr(0);
 65         auto height = usedValues.height ? usedValues.height.value() : computedHeightValue(layoutState, layoutBox, HeightType::Normal);
 66 
 67         if (height) {
 68             auto borderAndPaddingBottom = displayBox.borderBottom() + displayBox.paddingBottom().valueOr(0);
 69             auto contentHeight = layoutBox.style().boxSizing() == BoxSizing::ContentBox ? *height : *height - (borderAndPaddingTop + borderAndPaddingBottom);
 70             return { contentHeight, nonCollapsedMargin };
 71         }
 72 
 73         if (!is&lt;Container&gt;(layoutBox) || !downcast&lt;Container&gt;(layoutBox).hasInFlowChild())
 74             return { 0, nonCollapsedMargin };
 75 
 76         // 1. the bottom edge of the last line box, if the box establishes a inline formatting context with one or more lines
 77         if (layoutBox.establishesInlineFormattingContext()) {
<span class="line-modified"> 78             auto&amp; lineBoxes = downcast&lt;InlineFormattingState&gt;(layoutState.establishedFormattingState(layoutBox)).lineBoxes();</span>
<span class="line-modified"> 79             // Even empty containers generate one line.</span>
<span class="line-modified"> 80             ASSERT(!lineBoxes.isEmpty());</span>
<span class="line-modified"> 81             return { lineBoxes.last().logicalBottom() - borderAndPaddingTop, nonCollapsedMargin };</span>
 82         }
 83 
 84         // 2. the bottom edge of the bottom (possibly collapsed) margin of its last in-flow child, if the child&#39;s bottom margin...
 85         auto* lastInFlowChild = downcast&lt;Container&gt;(layoutBox).lastInFlowChild();
 86         ASSERT(lastInFlowChild);
 87         if (!MarginCollapse::marginAfterCollapsesWithParentMarginAfter(layoutState, *lastInFlowChild)) {
 88             auto&amp; lastInFlowDisplayBox = layoutState.displayBoxForLayoutBox(*lastInFlowChild);
 89             auto bottomEdgeOfBottomMargin = lastInFlowDisplayBox.bottom() + (lastInFlowDisplayBox.hasCollapsedThroughMargin() ? LayoutUnit() : lastInFlowDisplayBox.marginAfter());
 90             return { bottomEdgeOfBottomMargin - borderAndPaddingTop, nonCollapsedMargin };
 91         }
 92 
 93         // 3. the bottom border edge of the last in-flow child whose top margin doesn&#39;t collapse with the element&#39;s bottom margin
 94         auto* inFlowChild = lastInFlowChild;
 95         while (inFlowChild &amp;&amp; MarginCollapse::marginBeforeCollapsesWithParentMarginAfter(layoutState, *inFlowChild))
 96             inFlowChild = inFlowChild-&gt;previousInFlowSibling();
 97         if (inFlowChild) {
 98             auto&amp; inFlowDisplayBox = layoutState.displayBoxForLayoutBox(*inFlowChild);
 99             return { inFlowDisplayBox.top() + inFlowDisplayBox.borderBox().height() - borderAndPaddingTop, nonCollapsedMargin };
100         }
101 
</pre>
<hr />
<pre>
205 }
206 
207 WidthAndMargin BlockFormattingContext::Geometry::inFlowReplacedWidthAndMargin(const LayoutState&amp; layoutState, const Box&amp; layoutBox, UsedHorizontalValues usedValues)
208 {
209     ASSERT(layoutBox.isInFlow() &amp;&amp; layoutBox.replaced());
210 
211     // 10.3.4 Block-level, replaced elements in normal flow
212     //
213     // 1. The used value of &#39;width&#39; is determined as for inline replaced elements.
214     // 2. Then the rules for non-replaced block-level elements are applied to determine the margins.
215 
216     // #1
217     usedValues.width = inlineReplacedWidthAndMargin(layoutState, layoutBox, usedValues).width;
218     // #2
219     auto nonReplacedWidthAndMargin = inFlowNonReplacedWidthAndMargin(layoutState, layoutBox, usedValues);
220 
221     LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Width][Margin] -&gt; inflow replaced -&gt; width(&quot; &lt;&lt; *usedValues.width &lt;&lt; &quot;px) margin(&quot; &lt;&lt; nonReplacedWidthAndMargin.usedMargin.start &lt;&lt; &quot;px, &quot; &lt;&lt; nonReplacedWidthAndMargin.usedMargin.end &lt;&lt; &quot;px) -&gt; layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
222     return { *usedValues.width, nonReplacedWidthAndMargin.usedMargin, nonReplacedWidthAndMargin.computedMargin };
223 }
224 
<span class="line-modified">225 LayoutUnit BlockFormattingContext::Geometry::staticVerticalPosition(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
226 {
227     // https://www.w3.org/TR/CSS22/visuren.html#block-formatting
228     // In a block formatting context, boxes are laid out one after the other, vertically, beginning at the top of a containing block.
229     // The vertical distance between two sibling boxes is determined by the &#39;margin&#39; properties.
230     // Vertical margins between adjacent block-level boxes in a block formatting context collapse.




231     if (auto* previousInFlowSibling = layoutBox.previousInFlowSibling()) {
232         auto&amp; previousInFlowDisplayBox = layoutState.displayBoxForLayoutBox(*previousInFlowSibling);
<span class="line-modified">233         return previousInFlowDisplayBox.bottom() + previousInFlowDisplayBox.marginAfter();</span>
<span class="line-modified">234     }</span>
<span class="line-modified">235     return layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxTop();</span>
<span class="line-added">236 }</span>
<span class="line-added">237 </span>
<span class="line-added">238 LayoutUnit BlockFormattingContext::Geometry::staticHorizontalPosition(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
<span class="line-added">239 {</span>
<span class="line-added">240     // https://www.w3.org/TR/CSS22/visuren.html#block-formatting</span>
<span class="line-added">241     // In a block formatting context, each box&#39;s left outer edge touches the left edge of the containing block (for right-to-left formatting, right edges touch).</span>
<span class="line-added">242     return layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxLeft() + layoutState.displayBoxForLayoutBox(layoutBox).marginStart();</span>
<span class="line-added">243 }</span>
244 
<span class="line-modified">245 Point BlockFormattingContext::Geometry::staticPosition(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
<span class="line-modified">246 {</span>
<span class="line-modified">247     return { staticHorizontalPosition(layoutState, layoutBox), staticVerticalPosition(layoutState, layoutBox) };</span>
248 }
249 
250 HeightAndMargin BlockFormattingContext::Geometry::inFlowHeightAndMargin(const LayoutState&amp; layoutState, const Box&amp; layoutBox, UsedVerticalValues usedValues)
251 {
252     ASSERT(layoutBox.isInFlow());
253 
254     // 10.6.2 Inline replaced elements, block-level replaced elements in normal flow, &#39;inline-block&#39;
255     // replaced elements in normal flow and floating replaced elements
256     if (layoutBox.replaced())
257         return inlineReplacedHeightAndMargin(layoutState, layoutBox, usedValues);
258 
259     HeightAndMargin heightAndMargin;
260     // TODO: Figure out the case for the document element. Let&#39;s just complicated-case it for now.
261     if (layoutBox.isOverflowVisible() &amp;&amp; !layoutBox.isDocumentBox())
262         heightAndMargin = inFlowNonReplacedHeightAndMargin(layoutState, layoutBox, usedValues);
263     else {
264         // 10.6.6 Complicated cases
265         // Block-level, non-replaced elements in normal flow when &#39;overflow&#39; does not compute to &#39;visible&#39; (except if the &#39;overflow&#39; property&#39;s value has been propagated to the viewport).
266         auto usedHorizontalValues = UsedHorizontalValues { layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxWidth() };
267         heightAndMargin = complicatedCases(layoutState, layoutBox, usedValues, usedHorizontalValues);
268     }
269 
270     if (!Quirks::needsStretching(layoutState, layoutBox))
271         return heightAndMargin;
272 
273     heightAndMargin = Quirks::stretchedInFlowHeight(layoutState, layoutBox, heightAndMargin);
274 
275     LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Height][Margin] -&gt; inflow non-replaced -&gt; streched to viewport -&gt; height(&quot; &lt;&lt; heightAndMargin.height &lt;&lt; &quot;px) margin(&quot; &lt;&lt; heightAndMargin.nonCollapsedMargin.before &lt;&lt; &quot;px, &quot; &lt;&lt; heightAndMargin.nonCollapsedMargin.after &lt;&lt; &quot;px) -&gt; layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
276     return heightAndMargin;
277 }
278 
<span class="line-modified">279 WidthAndMargin BlockFormattingContext::Geometry::inFlowWidthAndMargin(LayoutState&amp; layoutState, const Box&amp; layoutBox, UsedHorizontalValues usedValues)</span>
280 {
281     ASSERT(layoutBox.isInFlow());
282 
<span class="line-modified">283     if (!layoutBox.replaced()) {</span>
<span class="line-added">284         if (layoutBox.establishesTableFormattingContext()) {</span>
<span class="line-added">285             // This is a special table &quot;fit-content size&quot; behavior handling. Not in the spec though.</span>
<span class="line-added">286             // Table returns its final width as min/max. Use this final width value to computed horizontal margins etc.</span>
<span class="line-added">287             usedValues.width = Geometry::shrinkToFitWidth(layoutState, layoutBox, usedValues);</span>
<span class="line-added">288         }</span>
289         return inFlowNonReplacedWidthAndMargin(layoutState, layoutBox, usedValues);
<span class="line-added">290     }</span>
291     return inFlowReplacedWidthAndMargin(layoutState, layoutBox, usedValues);
292 }
293 
<span class="line-modified">294 FormattingContext::IntrinsicWidthConstraints BlockFormattingContext::Geometry::intrinsicWidthConstraints(LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
295 {
<span class="line-modified">296     auto fixedMarginBorderAndPadding = [&amp;](auto&amp; layoutBox) {</span>
<span class="line-modified">297         auto&amp; style = layoutBox.style();</span>
<span class="line-modified">298         return fixedValue(style.marginStart()).valueOr(0)</span>
<span class="line-modified">299             + LayoutUnit { style.borderLeftWidth() }</span>
<span class="line-added">300             + fixedValue(style.paddingLeft()).valueOr(0)</span>
<span class="line-added">301             + fixedValue(style.paddingRight()).valueOr(0)</span>
<span class="line-added">302             + LayoutUnit { style.borderRightWidth() }</span>
<span class="line-added">303             + fixedValue(style.marginEnd()).valueOr(0);</span>
<span class="line-added">304     };</span>
305 


306     auto computedIntrinsicWidthConstraints = [&amp;]() -&gt; IntrinsicWidthConstraints {
307         auto&amp; style = layoutBox.style();
308         if (auto width = fixedValue(style.logicalWidth()))
309             return { *width, *width };
310 
311         // Minimum/maximum width can&#39;t be depending on the containing block&#39;s width.
312         if (!style.logicalWidth().isAuto())
313             return { };
314 
<span class="line-modified">315         if (auto* replaced = layoutBox.replaced()) {</span>
<span class="line-added">316             if (replaced-&gt;hasIntrinsicWidth()) {</span>
<span class="line-added">317                 auto replacedWidth = replaced-&gt;intrinsicWidth();</span>
<span class="line-added">318                 return { replacedWidth, replacedWidth };</span>
<span class="line-added">319             }</span>
<span class="line-added">320             return { };</span>
<span class="line-added">321         }</span>
<span class="line-added">322 </span>
<span class="line-added">323         if (layoutBox.establishesFormattingContext())</span>
<span class="line-added">324             return layoutState.createFormattingContext(layoutBox)-&gt;computedIntrinsicWidthConstraints();</span>
<span class="line-added">325 </span>
<span class="line-added">326         if (!is&lt;Container&gt;(layoutBox) || !downcast&lt;Container&gt;(layoutBox).hasInFlowOrFloatingChild())</span>
327             return { };
328 
329         auto intrinsicWidthConstraints = IntrinsicWidthConstraints { };
<span class="line-added">330         auto&amp; formattingState = layoutState.formattingStateForBox(layoutBox);</span>
331         for (auto&amp; child : childrenOfType&lt;Box&gt;(downcast&lt;Container&gt;(layoutBox))) {
332             if (child.isOutOfFlowPositioned())
333                 continue;
<span class="line-modified">334             auto childIntrinsicWidthConstraints = formattingState.intrinsicWidthConstraintsForBox(child);</span>


335             ASSERT(childIntrinsicWidthConstraints);
336 
<span class="line-modified">337             // FIXME Check for box-sizing: border-box;</span>
<span class="line-modified">338             auto marginBorderAndPadding = fixedMarginBorderAndPadding(child);</span>





339             intrinsicWidthConstraints.minimum = std::max(intrinsicWidthConstraints.minimum, childIntrinsicWidthConstraints-&gt;minimum + marginBorderAndPadding);
340             intrinsicWidthConstraints.maximum = std::max(intrinsicWidthConstraints.maximum, childIntrinsicWidthConstraints-&gt;maximum + marginBorderAndPadding);
341         }
342         return intrinsicWidthConstraints;
343     };
<span class="line-modified">344     // FIXME Check for box-sizing: border-box;</span>
<span class="line-modified">345     auto intrinsicWidthConstraints = constrainByMinMaxWidth(layoutBox, computedIntrinsicWidthConstraints());</span>
<span class="line-added">346     intrinsicWidthConstraints.expand(fixedMarginBorderAndPadding(layoutBox));</span>
<span class="line-added">347     return intrinsicWidthConstraints;</span>
348 }
349 
350 }
351 }
352 
353 #endif
</pre>
</td>
</tr>
</table>
<center><a href="BlockFormattingContext.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="BlockMarginCollapse.cpp.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>