<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockFormattingContext.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../Verification.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="BlockFormattingContext.h.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockFormattingContext.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -116,34 +116,73 @@</span>
      // Place the inflow positioned children.
      placeInFlowPositionedChildren(formattingRoot);
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[End] -&gt; block formatting context -&gt; formatting root(&quot; &lt;&lt; &amp;root() &lt;&lt; &quot;)&quot;);
  }
  
<span class="udiff-line-added">+ Optional&lt;LayoutUnit&gt; BlockFormattingContext::usedAvailableWidthForFloatAvoider(const FloatingContext&amp; floatingContext, const Box&amp; layoutBox) const</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     // Normally the available width for an in-flow block level box is the width of the containing block&#39;s content box.</span>
<span class="udiff-line-added">+     // However (and can&#39;t find it anywhere in the spec) non-floating positioned float avoider block level boxes are constrained by existing floats.</span>
<span class="udiff-line-added">+     if (!layoutBox.isFloatAvoider() || layoutBox.isFloatingPositioned())</span>
<span class="udiff-line-added">+         return { };</span>
<span class="udiff-line-added">+     auto&amp; floatingState = floatingContext.floatingState();</span>
<span class="udiff-line-added">+     if (floatingState.isEmpty())</span>
<span class="udiff-line-added">+         return { };</span>
<span class="udiff-line-added">+     // Vertical static position is not computed yet, so let&#39;s just estimate it for now.</span>
<span class="udiff-line-added">+     auto&amp; formattingRoot = downcast&lt;Container&gt;(root());</span>
<span class="udiff-line-added">+     auto verticalPosition = FormattingContext::mapTopToAncestor(layoutState(), layoutBox, formattingRoot);</span>
<span class="udiff-line-added">+     auto constraints = floatingState.constraints({ verticalPosition }, formattingRoot);</span>
<span class="udiff-line-added">+     if (!constraints.left &amp;&amp; !constraints.right)</span>
<span class="udiff-line-added">+         return { };</span>
<span class="udiff-line-added">+     auto&amp; containingBlock = downcast&lt;Container&gt;(*layoutBox.containingBlock());</span>
<span class="udiff-line-added">+     auto&amp; containingBlockDisplayBox = layoutState().displayBoxForLayoutBox(containingBlock);</span>
<span class="udiff-line-added">+     auto availableWidth = containingBlockDisplayBox.contentBoxWidth();</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     LayoutUnit containingBlockLeft;</span>
<span class="udiff-line-added">+     LayoutUnit containingBlockRight = containingBlockDisplayBox.right();</span>
<span class="udiff-line-added">+     if (&amp;containingBlock != &amp;formattingRoot) {</span>
<span class="udiff-line-added">+         // Move containing block left/right to the root&#39;s coordinate system.</span>
<span class="udiff-line-added">+         containingBlockLeft = FormattingContext::mapLeftToAncestor(layoutState(), containingBlock, formattingRoot);</span>
<span class="udiff-line-added">+         containingBlockRight = FormattingContext::mapRightToAncestor(layoutState(), containingBlock, formattingRoot);</span>
<span class="udiff-line-added">+     }</span>
<span class="udiff-line-added">+     auto containingBlockContentBoxLeft = containingBlockLeft + containingBlockDisplayBox.borderLeft() + containingBlockDisplayBox.paddingLeft().valueOr(0);</span>
<span class="udiff-line-added">+     auto containingBlockContentBoxRight = containingBlockRight - containingBlockDisplayBox.borderRight() + containingBlockDisplayBox.paddingRight().valueOr(0);</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     // Shrink the available space if the floats are actually intruding at this vertical position.</span>
<span class="udiff-line-added">+     if (constraints.left)</span>
<span class="udiff-line-added">+         availableWidth -= std::max&lt;LayoutUnit&gt;(0, constraints.left-&gt;x - containingBlockContentBoxLeft);</span>
<span class="udiff-line-added">+     if (constraints.right)</span>
<span class="udiff-line-added">+         availableWidth -= std::max&lt;LayoutUnit&gt;(0, containingBlockContentBoxRight - constraints.right-&gt;x);</span>
<span class="udiff-line-added">+     return availableWidth;</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
  void BlockFormattingContext::layoutFormattingContextRoot(FloatingContext&amp; floatingContext, const Box&amp; layoutBox) const
  {
<span class="udiff-line-added">+     ASSERT(layoutBox.establishesFormattingContext());</span>
      // Start laying out this formatting root in the formatting contenxt it lives in.
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Compute] -&gt; [Position][Border][Padding][Width][Margin] -&gt; for layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
      computeBorderAndPadding(layoutBox);
<span class="udiff-line-modified-removed">-     computeWidthAndMargin(layoutBox);</span>
<span class="udiff-line-modified-removed">-     computeStaticPosition(floatingContext, layoutBox);</span>
<span class="udiff-line-modified-added">+     computeStaticVerticalPosition(floatingContext, layoutBox);</span>
<span class="udiff-line-modified-added">+ </span>
<span class="udiff-line-added">+     computeWidthAndMargin(layoutBox, usedAvailableWidthForFloatAvoider(floatingContext, layoutBox));</span>
<span class="udiff-line-added">+     computeStaticHorizontalPosition(layoutBox);</span>
      // Swich over to the new formatting context (the one that the root creates).
      auto formattingContext = layoutState().createFormattingContext(layoutBox);
      formattingContext-&gt;layout();
  
      // Come back and finalize the root&#39;s geometry.
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Compute] -&gt; [Height][Margin] -&gt; for layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
      computeHeightAndMargin(layoutBox);
<span class="udiff-line-added">+     // Now that we computed the root&#39;s height, we can go back and layout the out-of-flow content.</span>
<span class="udiff-line-added">+     formattingContext-&gt;layoutOutOfFlowContent();</span>
  
      // Float related final positioning.
      if (layoutBox.isFloatingPositioned()) {
          computeFloatingPosition(floatingContext, layoutBox);
          floatingContext.floatingState().append(layoutBox);
      } else if (layoutBox.establishesBlockFormattingContext())
          computePositionToAvoidFloats(floatingContext, layoutBox);
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     // Now that we computed the root&#39;s height, we can go back and layout the out-of-flow descedants (if any).</span>
<span class="udiff-line-removed">-     formattingContext-&gt;layoutOutOfFlowDescendants(layoutBox);</span>
  }
  
  void BlockFormattingContext::placeInFlowPositionedChildren(const Box&amp; layoutBox) const
  {
      if (!is&lt;Container&gt;(layoutBox))
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -170,20 +209,31 @@</span>
          computeInFlowPositionedPosition();
      }
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;End: move in-flow positioned children -&gt; parent: &quot; &lt;&lt; &amp;layoutBox);
  }
  
<span class="udiff-line-modified-removed">- void BlockFormattingContext::computeStaticPosition(const FloatingContext&amp; floatingContext, const Box&amp; layoutBox) const</span>
<span class="udiff-line-modified-added">+ void BlockFormattingContext::computeStaticVerticalPosition(const FloatingContext&amp; floatingContext, const Box&amp; layoutBox) const</span>
  {
      auto&amp; layoutState = this-&gt;layoutState();
<span class="udiff-line-modified-removed">-     layoutState.displayBoxForLayoutBox(layoutBox).setTopLeft(Geometry::staticPosition(layoutState, layoutBox));</span>
<span class="udiff-line-modified-added">+     layoutState.displayBoxForLayoutBox(layoutBox).setTop(Geometry::staticVerticalPosition(layoutState, layoutBox));</span>
      if (layoutBox.hasFloatClear())
          computeEstimatedVerticalPositionForFloatClear(floatingContext, layoutBox);
      else if (layoutBox.establishesFormattingContext())
          computeEstimatedVerticalPositionForFormattingRoot(layoutBox);
  }
  
<span class="udiff-line-added">+ void BlockFormattingContext::computeStaticHorizontalPosition(const Box&amp; layoutBox) const</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     layoutState().displayBoxForLayoutBox(layoutBox).setLeft(Geometry::staticHorizontalPosition(layoutState(), layoutBox));</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+ void BlockFormattingContext::computeStaticPosition(const FloatingContext&amp; floatingContext, const Box&amp; layoutBox) const</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     computeStaticVerticalPosition(floatingContext, layoutBox);</span>
<span class="udiff-line-added">+     computeStaticHorizontalPosition(layoutBox);</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
  void BlockFormattingContext::computeEstimatedVerticalPosition(const Box&amp; layoutBox) const
  {
      auto&amp; layoutState = this-&gt;layoutState();
      auto estimatedMarginBefore = MarginCollapse::estimatedMarginBefore(layoutState, layoutBox);
      setEstimatedMarginBefore(layoutBox, estimatedMarginBefore);
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -224,17 +274,21 @@</span>
  void BlockFormattingContext::computeEstimatedVerticalPositionForFormattingRoot(const Box&amp; layoutBox) const
  {
      ASSERT(layoutBox.establishesFormattingContext());
      ASSERT(!layoutBox.hasFloatClear());
  
<span class="udiff-line-modified-removed">-     auto avoidsFloats = layoutBox.isFloatingPositioned() || layoutBox.establishesBlockFormattingContext();</span>
<span class="udiff-line-removed">-     if (avoidsFloats)</span>
<span class="udiff-line-modified-added">+     if (layoutBox.isFloatingPositioned()) {</span>
          computeEstimatedVerticalPositionForAncestors(layoutBox);
<span class="udiff-line-added">+         return;</span>
<span class="udiff-line-added">+     }</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     computeEstimatedVerticalPosition(layoutBox);</span>
<span class="udiff-line-added">+     computeEstimatedVerticalPositionForAncestors(layoutBox);</span>
  
      // If the inline formatting root is also the root for the floats (happens when the root box also establishes a block formatting context)
      // the floats are in the coordinate system of this root. No need to find the final vertical position.
<span class="udiff-line-modified-removed">-     auto inlineContextInheritsFloats = layoutBox.establishesInlineFormattingContext() &amp;&amp; !layoutBox.establishesBlockFormattingContext();</span>
<span class="udiff-line-modified-added">+     auto inlineContextInheritsFloats = layoutBox.establishesInlineFormattingContextOnly();</span>
      if (inlineContextInheritsFloats) {
          computeEstimatedVerticalPosition(layoutBox);
          computeEstimatedVerticalPositionForAncestors(layoutBox);
      }
  }
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -289,21 +343,26 @@</span>
      ASSERT(hasPrecomputedMarginBefore(layoutBox));
  
      if (floatingContext.floatingState().isEmpty())
          return;
  
<span class="udiff-line-modified-removed">-     if (auto adjustedPosition = floatingContext.positionForFloatAvoiding(layoutBox))</span>
<span class="udiff-line-modified-added">+     if (auto adjustedPosition = floatingContext.positionForFormattingContextRoot(layoutBox))</span>
          layoutState.displayBoxForLayoutBox(layoutBox).setTopLeft(*adjustedPosition);
  }
  
<span class="udiff-line-modified-removed">- void BlockFormattingContext::computeWidthAndMargin(const Box&amp; layoutBox) const</span>
<span class="udiff-line-modified-added">+ void BlockFormattingContext::computeWidthAndMargin(const Box&amp; layoutBox, Optional&lt;LayoutUnit&gt; usedAvailableWidth) const</span>
  {
      auto&amp; layoutState = this-&gt;layoutState();
<span class="udiff-line-modified-removed">-     auto containingBlockWidth = layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxWidth();</span>
<span class="udiff-line-modified-added">+ </span>
<span class="udiff-line-added">+     LayoutUnit availableWidth;</span>
<span class="udiff-line-added">+     if (usedAvailableWidth)</span>
<span class="udiff-line-added">+         availableWidth = *usedAvailableWidth;</span>
<span class="udiff-line-added">+     else</span>
<span class="udiff-line-added">+         availableWidth = layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxWidth();</span>
  
      auto compute = [&amp;](Optional&lt;LayoutUnit&gt; usedWidth) -&gt; WidthAndMargin {
<span class="udiff-line-modified-removed">-         auto usedValues = UsedHorizontalValues { containingBlockWidth, usedWidth, { } };</span>
<span class="udiff-line-modified-added">+         auto usedValues = UsedHorizontalValues { availableWidth, usedWidth, { } };</span>
          if (layoutBox.isInFlow())
              return Geometry::inFlowWidthAndMargin(layoutState, layoutBox, usedValues);
  
          if (layoutBox.isFloatingPositioned())
              return Geometry::floatingWidthAndMargin(layoutState, layoutBox, usedValues);
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -312,17 +371,17 @@</span>
          return { };
      };
  
      auto widthAndMargin = compute({ });
  
<span class="udiff-line-modified-removed">-     if (auto maxWidth = Geometry::computedValueIfNotAuto(layoutBox.style().logicalMaxWidth(), containingBlockWidth)) {</span>
<span class="udiff-line-modified-added">+     if (auto maxWidth = Geometry::computedValueIfNotAuto(layoutBox.style().logicalMaxWidth(), availableWidth)) {</span>
          auto maxWidthAndMargin = compute(maxWidth);
          if (widthAndMargin.width &gt; maxWidthAndMargin.width)
              widthAndMargin = maxWidthAndMargin;
      }
  
<span class="udiff-line-modified-removed">-     auto minWidth = Geometry::computedValueIfNotAuto(layoutBox.style().logicalMinWidth(), containingBlockWidth).valueOr(0);</span>
<span class="udiff-line-modified-added">+     auto minWidth = Geometry::computedValueIfNotAuto(layoutBox.style().logicalMinWidth(), availableWidth).valueOr(0);</span>
      auto minWidthAndMargin = compute(minWidth);
      if (widthAndMargin.width &lt; minWidthAndMargin.width)
          widthAndMargin = minWidthAndMargin;
  
      auto&amp; displayBox = layoutState.displayBoxForLayoutBox(layoutBox);
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -390,67 +449,55 @@</span>
      MarginCollapse::updatePositiveNegativeMarginValues(layoutState, layoutBox);
      // Adjust the previous sibling&#39;s margin bottom now that this box&#39;s vertical margin is computed.
      MarginCollapse::updateMarginAfterForPreviousSibling(layoutState, layoutBox);
  }
  
<span class="udiff-line-modified-removed">- void BlockFormattingContext::computeIntrinsicWidthConstraints() const</span>
<span class="udiff-line-modified-added">+ FormattingContext::IntrinsicWidthConstraints BlockFormattingContext::computedIntrinsicWidthConstraints() const</span>
  {
      auto&amp; layoutState = this-&gt;layoutState();
      auto&amp; formattingRoot = root();
<span class="udiff-line-modified-removed">-     auto&amp; formattingStateForRoot = layoutState.formattingStateForBox(formattingRoot);</span>
<span class="udiff-line-modified-removed">-     ASSERT(!formattingStateForRoot.intrinsicWidthConstraints(formattingRoot));</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">-     // Can we just compute them without checking the children?</span>
<span class="udiff-line-removed">-     if (!Geometry::intrinsicWidthConstraintsNeedChildrenWidth(formattingRoot))</span>
<span class="udiff-line-removed">-         return formattingStateForRoot.setIntrinsicWidthConstraints(formattingRoot, Geometry::intrinsicWidthConstraints(layoutState, formattingRoot));</span>
<span class="udiff-line-modified-added">+     auto&amp; formattingState = this-&gt;formattingState();</span>
<span class="udiff-line-modified-added">+     ASSERT(!formattingState.intrinsicWidthConstraints());</span>
  
      // Visit the in-flow descendants and compute their min/max intrinsic width if needed.
      // 1. Go all the way down to the leaf node
      // 2. Check if actually need to visit all the boxes as we traverse down (already computed, container&#39;s min/max does not depend on descendants etc)
      // 3. As we climb back on the tree, compute min/max intrinsic width
      // (Any subtrees with new formatting contexts need to layout synchronously)
      Vector&lt;const Box*&gt; queue;
<span class="udiff-line-modified-removed">-     ASSERT(is&lt;Container&gt;(formattingRoot));</span>
<span class="udiff-line-modified-removed">-     if (auto* firstChild = downcast&lt;Container&gt;(formattingRoot).firstInFlowOrFloatingChild())</span>
<span class="udiff-line-removed">-         queue.append(firstChild);</span>
<span class="udiff-line-modified-added">+     if (is&lt;Container&gt;(formattingRoot) &amp;&amp; downcast&lt;Container&gt;(formattingRoot).hasInFlowOrFloatingChild())</span>
<span class="udiff-line-modified-added">+         queue.append(downcast&lt;Container&gt;(formattingRoot).firstInFlowOrFloatingChild());</span>
  
<span class="udiff-line-modified-removed">-     auto&amp; formattingState = this-&gt;formattingState();</span>
<span class="udiff-line-modified-added">+     IntrinsicWidthConstraints constraints;</span>
      while (!queue.isEmpty()) {
          while (true) {
<span class="udiff-line-modified-removed">-             auto&amp; childBox = *queue.last();</span>
<span class="udiff-line-modified-removed">-             auto childIntrinsicWidthConstraints = formattingState.intrinsicWidthConstraints(childBox);</span>
<span class="udiff-line-modified-removed">-             auto skipDescendants = childIntrinsicWidthConstraints || !Geometry::intrinsicWidthConstraintsNeedChildrenWidth(childBox) || childBox.establishesFormattingContext();</span>
<span class="udiff-line-modified-removed">- </span>
<span class="udiff-line-modified-removed">-             if (skipDescendants) {</span>
<span class="udiff-line-modified-removed">-                 if (!childIntrinsicWidthConstraints) {</span>
<span class="udiff-line-removed">-                     if (!Geometry::intrinsicWidthConstraintsNeedChildrenWidth(childBox))</span>
<span class="udiff-line-removed">-                         formattingState.setIntrinsicWidthConstraints(childBox, Geometry::intrinsicWidthConstraints(layoutState, childBox));</span>
<span class="udiff-line-removed">-                     else if (childBox.establishesFormattingContext())</span>
<span class="udiff-line-removed">-                         layoutState.createFormattingContext(childBox)-&gt;computeIntrinsicWidthConstraints();</span>
<span class="udiff-line-removed">-                     else</span>
<span class="udiff-line-removed">-                         ASSERT_NOT_REACHED();</span>
<span class="udiff-line-removed">-                 }</span>
<span class="udiff-line-removed">-                 queue.removeLast();</span>
<span class="udiff-line-removed">-                 if (!childBox.nextInFlowOrFloatingSibling())</span>
<span class="udiff-line-removed">-                     break;</span>
<span class="udiff-line-removed">-                 queue.append(childBox.nextInFlowOrFloatingSibling());</span>
<span class="udiff-line-removed">-                 // Skip descendants</span>
<span class="udiff-line-removed">-                 continue;</span>
<span class="udiff-line-removed">-             }</span>
<span class="udiff-line-modified-added">+             auto&amp; layoutBox = *queue.last();</span>
<span class="udiff-line-modified-added">+             auto hasInFlowOrFloatingChild = is&lt;Container&gt;(layoutBox) &amp;&amp; downcast&lt;Container&gt;(layoutBox).hasInFlowOrFloatingChild();</span>
<span class="udiff-line-modified-added">+             auto skipDescendants = formattingState.intrinsicWidthConstraintsForBox(layoutBox) || !hasInFlowOrFloatingChild || layoutBox.establishesFormattingContext() || layoutBox.style().width().isFixed();</span>
<span class="udiff-line-modified-added">+             if (skipDescendants)</span>
<span class="udiff-line-modified-added">+                 break;</span>
<span class="udiff-line-modified-added">+             queue.append(downcast&lt;Container&gt;(layoutBox).firstInFlowOrFloatingChild());</span>
          }
<span class="udiff-line-modified-removed">- </span>
<span class="udiff-line-removed">-         // Compute min/max intrinsic width bottom up.</span>
<span class="udiff-line-modified-added">+         // Compute min/max intrinsic width bottom up if needed.</span>
          while (!queue.isEmpty()) {
<span class="udiff-line-modified-removed">-             auto&amp; childBox = *queue.takeLast();</span>
<span class="udiff-line-modified-removed">-             formattingState.setIntrinsicWidthConstraints(childBox, Geometry::intrinsicWidthConstraints(layoutState, childBox));</span>
<span class="udiff-line-modified-added">+             auto&amp; layoutBox = *queue.takeLast();</span>
<span class="udiff-line-modified-added">+             auto desdendantConstraints = formattingState.intrinsicWidthConstraintsForBox(layoutBox);</span>
<span class="udiff-line-added">+             if (!desdendantConstraints) {</span>
<span class="udiff-line-added">+                 desdendantConstraints = Geometry::intrinsicWidthConstraints(layoutState, layoutBox);</span>
<span class="udiff-line-added">+                 formattingState.setIntrinsicWidthConstraintsForBox(layoutBox, *desdendantConstraints);</span>
<span class="udiff-line-added">+             }</span>
<span class="udiff-line-added">+             constraints.minimum = std::max(constraints.minimum, desdendantConstraints-&gt;minimum);</span>
<span class="udiff-line-added">+             constraints.maximum = std::max(constraints.maximum, desdendantConstraints-&gt;maximum);</span>
              // Move over to the next sibling or take the next box in the queue.
<span class="udiff-line-modified-removed">-             if (!is&lt;Container&gt;(childBox) || !downcast&lt;Container&gt;(childBox).nextInFlowOrFloatingSibling())</span>
<span class="udiff-line-modified-removed">-                 continue;</span>
<span class="udiff-line-modified-removed">-             queue.append(downcast&lt;Container&gt;(childBox).nextInFlowOrFloatingSibling());</span>
<span class="udiff-line-modified-added">+             if (auto* nextSibling = layoutBox.nextInFlowOrFloatingSibling()) {</span>
<span class="udiff-line-modified-added">+                 queue.append(nextSibling);</span>
<span class="udiff-line-modified-added">+                 break;</span>
<span class="udiff-line-added">+             }</span>
          }
      }
<span class="udiff-line-modified-removed">-     formattingStateForRoot.setIntrinsicWidthConstraints(formattingRoot, Geometry::intrinsicWidthConstraints(layoutState, formattingRoot));</span>
<span class="udiff-line-modified-added">+     formattingState.setIntrinsicWidthConstraints(constraints);</span>
<span class="udiff-line-added">+     return constraints;</span>
  }
  
  LayoutUnit BlockFormattingContext::verticalPositionWithMargin(const Box&amp; layoutBox, const UsedVerticalMargin&amp; verticalMargin) const
  {
      ASSERT(!layoutBox.isOutOfFlowPositioned());
</pre>
<center><a href="../Verification.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="BlockFormattingContext.h.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>