<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../style.css" />
  </head>
<body>
<center>&lt; prev <a href="../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>    <h2>application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -109,16 +109,15 @@</span>
  
  		String jsIeLibraries = loadLibraries(jsHtml5shiv, jsRespond);
  		String jsD3Libraries = loadLibraries(jsD3V4, jsD3Tip, jsD3FlameGraph);
  		String styleheets = loadLibraries(cssD3Flamegraph, cssFlameview);
  
<span class="udiff-line-modified-removed">- 		Image image = FlightRecorderUI.getDefault().getImage(ImageConstants.ICON_MAGNIFIER);</span>
<span class="udiff-line-removed">- 		String imageBase64 = getBase64Image(image);</span>
<span class="udiff-line-modified-added">+ 		String magnifierIcon = getIconBase64(ImageConstants.ICON_MAGNIFIER);</span>
  
  		// formatter arguments for the template: %1 - CSSs stylesheets, %2 - IE9 specific scripts, %3 - Search Icon Base64, 
  		// %4 - 3rd party scripts, %5 - Flameview Coloring,
<span class="udiff-line-modified-removed">- 		HTML_PAGE = String.format(fileContent(&quot;page.template&quot;), styleheets, jsIeLibraries, imageBase64, jsD3Libraries,</span>
<span class="udiff-line-modified-added">+ 		HTML_PAGE = String.format(fileContent(&quot;page.template&quot;), styleheets, jsIeLibraries, magnifierIcon, jsD3Libraries,</span>
  				fileContent(jsFlameviewColoring));
  	}
  
  	private static final ExecutorService MODEL_EXECUTOR = Executors.newFixedThreadPool(1);
  	private FrameSeparator frameSeparator;
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -321,11 +320,12 @@</span>
  
  	private static String getStacktraceMessage(String key) {
  		return org.openjdk.jmc.flightrecorder.stacktrace.Messages.getString(key);
  	}
  
<span class="udiff-line-modified-removed">- 	private static String getBase64Image(Image image) {</span>
<span class="udiff-line-modified-added">+ 	private static String getIconBase64(String iconName) {</span>
<span class="udiff-line-added">+ 		Image image = FlightRecorderUI.getDefault().getImage(iconName);</span>
  		if (image == null) {
  			return &quot;&quot;;
  		} else {
  			ByteArrayOutputStream baos = new ByteArrayOutputStream();
  			ImageLoader loader = new ImageLoader();
</pre>
<center>&lt; prev <a href="../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>  </body>
</html>