<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineTextItem.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="InlineTextItem.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="text/TextUtil.cpp.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineTextItem.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
 30 #include &quot;InlineFormattingState.h&quot;
 31 #include &quot;InlineItem.h&quot;
 32 
 33 namespace WebCore {
 34 namespace Layout {
 35 
 36 class InlineTextItem : public InlineItem {
 37 public:
 38     static void createAndAppendTextItems(InlineItems&amp;, const Box&amp;);
 39 
<span class="line-modified"> 40     InlineTextItem(const Box&amp;, unsigned start, unsigned length, bool isWhitespace, bool isCollapsed);</span>
<span class="line-removed"> 41 </span>
<span class="line-removed"> 42     unsigned start() const { return m_start; }</span>
 43     unsigned end() const { return start() + length(); }
 44     unsigned length() const { return m_length; }
 45 
<span class="line-modified"> 46     bool isWhitespace() const { return m_isWhitespace; }</span>
<span class="line-modified"> 47     bool isCollapsed() const { return m_isCollapsed; }</span>


 48 
<span class="line-modified"> 49     std::unique_ptr&lt;InlineTextItem&gt; split(unsigned splitPosition, unsigned length) const;</span>

 50 
 51 private:
<span class="line-modified"> 52     unsigned m_start { 0 };</span>
<span class="line-modified"> 53     unsigned m_length { 0 };</span>
<span class="line-modified"> 54     bool m_isWhitespace { false };</span>
<span class="line-modified"> 55     bool m_isCollapsed { false };</span>




 56 };
 57 















































 58 }
 59 }
 60 
 61 SPECIALIZE_TYPE_TRAITS_INLINE_ITEM(InlineTextItem, isText())
 62 
 63 #endif
</pre>
</td>
<td>
<hr />
<pre>
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
 30 #include &quot;InlineFormattingState.h&quot;
 31 #include &quot;InlineItem.h&quot;
 32 
 33 namespace WebCore {
 34 namespace Layout {
 35 
 36 class InlineTextItem : public InlineItem {
 37 public:
 38     static void createAndAppendTextItems(InlineItems&amp;, const Box&amp;);
 39 
<span class="line-modified"> 40     unsigned start() const { return m_startOrPosition; }</span>


 41     unsigned end() const { return start() + length(); }
 42     unsigned length() const { return m_length; }
 43 
<span class="line-modified"> 44     bool isWhitespace() const { return m_textItemType == TextItemType::Whitespace; }</span>
<span class="line-modified"> 45     bool isCollapsible() const { return m_isCollapsible; }</span>
<span class="line-added"> 46     Optional&lt;InlineLayoutUnit&gt; width() const { return m_hasWidth ? makeOptional(m_width) : Optional&lt;InlineLayoutUnit&gt; { }; }</span>
<span class="line-added"> 47     bool isEmptyContent() const;</span>
 48 
<span class="line-modified"> 49     InlineTextItem left(unsigned length) const;</span>
<span class="line-added"> 50     InlineTextItem right(unsigned length) const;</span>
 51 
 52 private:
<span class="line-modified"> 53     using InlineItem::TextItemType;</span>
<span class="line-modified"> 54 </span>
<span class="line-modified"> 55     InlineTextItem(const Box&amp;, unsigned start, unsigned length, Optional&lt;InlineLayoutUnit&gt; width, TextItemType);</span>
<span class="line-modified"> 56     InlineTextItem(const Box&amp;);</span>
<span class="line-added"> 57 </span>
<span class="line-added"> 58     static InlineTextItem createWhitespaceItem(const Box&amp;, unsigned start, unsigned length, Optional&lt;InlineLayoutUnit&gt; width);</span>
<span class="line-added"> 59     static InlineTextItem createNonWhitespaceItem(const Box&amp;, unsigned start, unsigned length, Optional&lt;InlineLayoutUnit&gt; width);</span>
<span class="line-added"> 60     static InlineTextItem createEmptyItem(const Box&amp;);</span>
 61 };
 62 
<span class="line-added"> 63 inline InlineTextItem InlineTextItem::createWhitespaceItem(const Box&amp; inlineBox, unsigned start, unsigned length, Optional&lt;InlineLayoutUnit&gt; width)</span>
<span class="line-added"> 64 {</span>
<span class="line-added"> 65     return { inlineBox, start, length, width, TextItemType::Whitespace };</span>
<span class="line-added"> 66 }</span>
<span class="line-added"> 67 </span>
<span class="line-added"> 68 inline InlineTextItem InlineTextItem::createNonWhitespaceItem(const Box&amp; inlineBox, unsigned start, unsigned length, Optional&lt;InlineLayoutUnit&gt; width)</span>
<span class="line-added"> 69 {</span>
<span class="line-added"> 70     return { inlineBox, start, length, width, TextItemType::NonWhitespace };</span>
<span class="line-added"> 71 }</span>
<span class="line-added"> 72 </span>
<span class="line-added"> 73 inline InlineTextItem InlineTextItem::createEmptyItem(const Box&amp; inlineBox)</span>
<span class="line-added"> 74 {</span>
<span class="line-added"> 75     return { inlineBox };</span>
<span class="line-added"> 76 }</span>
<span class="line-added"> 77 </span>
<span class="line-added"> 78 inline InlineTextItem::InlineTextItem(const Box&amp; inlineBox, unsigned start, unsigned length, Optional&lt;InlineLayoutUnit&gt; width, TextItemType textItemType)</span>
<span class="line-added"> 79     : InlineItem(inlineBox, Type::Text)</span>
<span class="line-added"> 80 {</span>
<span class="line-added"> 81     m_startOrPosition = start;</span>
<span class="line-added"> 82     m_length = length;</span>
<span class="line-added"> 83     m_hasWidth = !!width;</span>
<span class="line-added"> 84     m_isCollapsible = textItemType == TextItemType::Whitespace &amp;&amp; inlineBox.style().collapseWhiteSpace();</span>
<span class="line-added"> 85     m_width = width.valueOr(0);</span>
<span class="line-added"> 86     m_textItemType = textItemType;</span>
<span class="line-added"> 87 }</span>
<span class="line-added"> 88 </span>
<span class="line-added"> 89 inline InlineTextItem::InlineTextItem(const Box&amp; inlineBox)</span>
<span class="line-added"> 90     : InlineItem(inlineBox, Type::Text)</span>
<span class="line-added"> 91 {</span>
<span class="line-added"> 92 }</span>
<span class="line-added"> 93 </span>
<span class="line-added"> 94 inline InlineTextItem InlineTextItem::left(unsigned length) const</span>
<span class="line-added"> 95 {</span>
<span class="line-added"> 96     RELEASE_ASSERT(length &lt;= this-&gt;length());</span>
<span class="line-added"> 97     ASSERT(m_textItemType != TextItemType::Undefined);</span>
<span class="line-added"> 98     ASSERT(length);</span>
<span class="line-added"> 99     return { layoutBox(), start(), length, WTF::nullopt, m_textItemType };</span>
<span class="line-added">100 }</span>
<span class="line-added">101 </span>
<span class="line-added">102 inline InlineTextItem InlineTextItem::right(unsigned length) const</span>
<span class="line-added">103 {</span>
<span class="line-added">104     RELEASE_ASSERT(length &lt;= this-&gt;length());</span>
<span class="line-added">105     ASSERT(m_textItemType != TextItemType::Undefined);</span>
<span class="line-added">106     ASSERT(length);</span>
<span class="line-added">107     return { layoutBox(), end() - length, length, WTF::nullopt, m_textItemType };</span>
<span class="line-added">108 }</span>
<span class="line-added">109 </span>
110 }
111 }
112 
113 SPECIALIZE_TYPE_TRAITS_INLINE_ITEM(InlineTextItem, isText())
114 
115 #endif
</pre>
</td>
</tr>
</table>
<center><a href="InlineTextItem.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="text/TextUtil.cpp.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>