<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineFormattingContextQuirks.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="InlineFormattingContextGeometry.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineFormattingState.h.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineFormattingContextQuirks.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 26,81 ***</span>
  #include &quot;config.h&quot;
  #include &quot;InlineFormattingContext.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
<span class="line-modified">! #include &quot;InlineItem.h&quot;</span>
<span class="line-removed">- #include &quot;InlineLine.h&quot;</span>
<span class="line-removed">- #include &quot;InlineTextItem.h&quot;</span>
  #include &quot;LayoutState.h&quot;
  
  namespace WebCore {
  namespace Layout {
  
<span class="line-modified">! bool InlineFormattingContext::Quirks::lineDescentNeedsCollapsing(const LayoutState&amp; layoutState, const Line::Content&amp; lineContent)</span>
  {
      // Collapse line descent in limited and full quirk mode when there&#39;s no baseline aligned content or
      // the baseline aligned content has no descent.
      if (!layoutState.inQuirksMode() &amp;&amp; !layoutState.inLimitedQuirksMode())
          return false;
  
<span class="line-modified">!     for (auto&amp; run : lineContent.runs()) {</span>
<span class="line-modified">!         auto&amp; layoutBox = run-&gt;layoutBox();</span>
<span class="line-modified">!         if (layoutBox.style().verticalAlign() != VerticalAlign::Baseline)</span>
              continue;
  
<span class="line-modified">!         switch (run-&gt;type()) {</span>
<span class="line-modified">!         case InlineItem::Type::Text:</span>
<span class="line-modified">!             if (!run-&gt;textContext() || !run-&gt;textContext()-&gt;isCollapsed)</span>
<span class="line-removed">-                 return false;</span>
<span class="line-removed">-             break;</span>
<span class="line-removed">-         case InlineItem::Type::HardLineBreak:</span>
              return false;
<span class="line-modified">!         case InlineItem::Type::ContainerStart: {</span>
<span class="line-modified">!             auto&amp; displayBox = layoutState.displayBoxForLayoutBox(layoutBox);</span>
<span class="line-modified">!             if (displayBox.horizontalBorder() || (displayBox.horizontalPadding() &amp;&amp; displayBox.horizontalPadding().value()))</span>
                  return false;
<span class="line-modified">!             break;</span>
          }
<span class="line-modified">!         case InlineItem::Type::ContainerEnd:</span>
<span class="line-removed">-             break;</span>
<span class="line-removed">-         case InlineItem::Type::Box: {</span>
              if (layoutBox.isInlineBlockBox() &amp;&amp; layoutBox.establishesInlineFormattingContext()) {
<span class="line-modified">!                 auto&amp; formattingState = downcast&lt;InlineFormattingState&gt;(layoutState.establishedFormattingState(layoutBox));</span>
<span class="line-modified">!                 ASSERT(!formattingState.lineBoxes().isEmpty());</span>
<span class="line-modified">!                 auto inlineBlockBaseline = formattingState.lineBoxes().last().baseline();</span>
<span class="line-removed">-                 if (inlineBlockBaseline.descent)</span>
                      return false;
              }
<span class="line-modified">!             break;</span>
<span class="line-removed">-         }</span>
<span class="line-removed">-         default:</span>
<span class="line-removed">-             ASSERT_NOT_REACHED();</span>
<span class="line-removed">-             break;</span>
          }
      }
      return true;
  }
  
<span class="line-modified">! Line::InitialConstraints::HeightAndBaseline InlineFormattingContext::Quirks::lineHeightConstraints(const LayoutState&amp; layoutState, const Box&amp; formattingRoot)</span>
  {
      // computedLineHeight takes font-size into account when line-height is not set.
      // Strut is the imaginary box that we put on every line. It sets the initial vertical constraints for each new line.
<span class="line-modified">!     auto strutHeight = formattingRoot.style().computedLineHeight();</span>
<span class="line-modified">!     auto strutBaselineOffset = Line::halfLeadingMetrics(formattingRoot.style().fontMetrics(), strutHeight).ascent;</span>
<span class="line-modified">!     if (layoutState.inNoQuirksMode())</span>
          return { strutHeight, strutBaselineOffset, { } };
  
      auto lineHeight = formattingRoot.style().lineHeight();
      if (lineHeight.isPercentOrCalculated()) {
<span class="line-modified">!         auto initialBaselineOffset = Line::halfLeadingMetrics(formattingRoot.style().fontMetrics(), { }).ascent;</span>
<span class="line-modified">!         return { initialBaselineOffset, initialBaselineOffset, LineBox::Baseline { strutBaselineOffset, strutHeight - strutBaselineOffset } };</span>
      }
      // FIXME: The only reason why we use intValue() here is to match current inline tree (integral)behavior.
<span class="line-modified">!     auto initialLineHeight = LayoutUnit { lineHeight.intValue() };</span>
<span class="line-modified">!     auto initialBaselineOffset = Line::halfLeadingMetrics(formattingRoot.style().fontMetrics(), initialLineHeight).ascent;</span>
<span class="line-modified">!     return { initialLineHeight, initialBaselineOffset, LineBox::Baseline { strutBaselineOffset, strutHeight - strutBaselineOffset } };</span>
  }
  
  }
  }
  
<span class="line-new-header">--- 26,71 ---</span>
  #include &quot;config.h&quot;
  #include &quot;InlineFormattingContext.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
<span class="line-modified">! #include &quot;InlineLineBuilder.h&quot;</span>
  #include &quot;LayoutState.h&quot;
  
  namespace WebCore {
  namespace Layout {
  
<span class="line-modified">! bool InlineFormattingContext::Quirks::lineDescentNeedsCollapsing(const LineBuilder::RunList&amp; runList) const</span>
  {
      // Collapse line descent in limited and full quirk mode when there&#39;s no baseline aligned content or
      // the baseline aligned content has no descent.
<span class="line-added">+     auto&amp; layoutState = this-&gt;layoutState();</span>
      if (!layoutState.inQuirksMode() &amp;&amp; !layoutState.inLimitedQuirksMode())
          return false;
  
<span class="line-modified">!     for (auto&amp; run : runList) {</span>
<span class="line-modified">!         auto&amp; layoutBox = run.layoutBox();</span>
<span class="line-modified">!         if (run.isContainerEnd() || layoutBox.style().verticalAlign() != VerticalAlign::Baseline)</span>
              continue;
  
<span class="line-modified">!         if (run.isLineBreak())</span>
<span class="line-modified">!             return false;</span>
<span class="line-modified">!         if (run.isText())</span>
              return false;
<span class="line-modified">!         if (run.isContainerStart()) {</span>
<span class="line-modified">!             auto&amp; boxGeometry = formattingContext().geometryForBox(layoutBox);</span>
<span class="line-modified">!             if (boxGeometry.horizontalBorder() || (boxGeometry.horizontalPadding() &amp;&amp; boxGeometry.horizontalPadding().value()))</span>
                  return false;
<span class="line-modified">!             continue;</span>
          }
<span class="line-modified">!         if (run.isBox()) {</span>
              if (layoutBox.isInlineBlockBox() &amp;&amp; layoutBox.establishesInlineFormattingContext()) {
<span class="line-modified">!                 auto&amp; formattingState = layoutState.establishedInlineFormattingState(downcast&lt;Container&gt;(layoutBox));</span>
<span class="line-modified">!                 auto inlineBlockBaseline = formattingState.displayInlineContent()-&gt;lineBoxes.last().baseline();</span>
<span class="line-modified">!                 if (inlineBlockBaseline.descent())</span>
                      return false;
              }
<span class="line-modified">!             continue;</span>
          }
<span class="line-added">+         ASSERT_NOT_REACHED();</span>
      }
      return true;
  }
  
<span class="line-modified">! LineBuilder::Constraints::HeightAndBaseline InlineFormattingContext::Quirks::lineHeightConstraints(const Container&amp; formattingRoot) const</span>
  {
      // computedLineHeight takes font-size into account when line-height is not set.
      // Strut is the imaginary box that we put on every line. It sets the initial vertical constraints for each new line.
<span class="line-modified">!     InlineLayoutUnit strutHeight = formattingRoot.style().computedLineHeight();</span>
<span class="line-modified">!     auto strutBaselineOffset = LineBuilder::halfLeadingMetrics(formattingRoot.style().fontMetrics(), strutHeight).ascent();</span>
<span class="line-modified">!     if (layoutState().inNoQuirksMode())</span>
          return { strutHeight, strutBaselineOffset, { } };
  
      auto lineHeight = formattingRoot.style().lineHeight();
      if (lineHeight.isPercentOrCalculated()) {
<span class="line-modified">!         auto initialBaselineOffset = LineBuilder::halfLeadingMetrics(formattingRoot.style().fontMetrics(), 0_lu).ascent();</span>
<span class="line-modified">!         return { initialBaselineOffset, initialBaselineOffset, LineBoxBuilder::Baseline { strutBaselineOffset, strutHeight - strutBaselineOffset } };</span>
      }
      // FIXME: The only reason why we use intValue() here is to match current inline tree (integral)behavior.
<span class="line-modified">!     InlineLayoutUnit initialLineHeight = lineHeight.intValue();</span>
<span class="line-modified">!     auto initialBaselineOffset = LineBuilder::halfLeadingMetrics(formattingRoot.style().fontMetrics(), initialLineHeight).ascent();</span>
<span class="line-modified">!     return { initialLineHeight, initialBaselineOffset, LineBoxBuilder::Baseline { strutBaselineOffset, strutHeight - strutBaselineOffset } };</span>
  }
  
  }
  }
  
</pre>
<center><a href="InlineFormattingContextGeometry.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineFormattingState.h.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>