<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Old make/langtools/intellij/template/runConfigurations/sjavac.xml</title>
    <link rel="stylesheet" href="../../../../../style.css" />
  </head>
  <body>
    <pre>
 1 &lt;component name=&quot;ProjectRunConfigurationManager&quot;&gt;
 2   &lt;configuration default=&quot;false&quot; name=&quot;sjavac&quot; type=&quot;Application&quot; factoryName=&quot;Application&quot;&gt;
 3     &lt;extension name=&quot;coverage&quot; enabled=&quot;false&quot; merge=&quot;false&quot; sample_coverage=&quot;true&quot; runner=&quot;idea&quot; /&gt;
 4     &lt;option name=&quot;MAIN_CLASS_NAME&quot; value=&quot;com.sun.tools.sjavac.Main&quot; /&gt;
 5     &lt;option name=&quot;VM_PARAMETERS&quot; value=&#39;@XPATCH@ --add-exports=jdk.compiler/com.sun.tools.sjavac=ALL-UNNAMED&#39; /&gt;
 6     &lt;option name=&quot;PROGRAM_PARAMETERS&quot; value=&quot;&quot; /&gt;
 7     &lt;option name=&quot;WORKING_DIRECTORY&quot; value=&quot;file://$PROJECT_DIR$&quot; /&gt;
 8     &lt;option name=&quot;ALTERNATIVE_JRE_PATH_ENABLED&quot; value=&quot;true&quot; /&gt;
 9     &lt;option name=&quot;ALTERNATIVE_JRE_PATH&quot; value=&quot;@IDEA_TARGET_JDK@&quot; /&gt;
10     &lt;option name=&quot;ENABLE_SWING_INSPECTOR&quot; value=&quot;false&quot; /&gt;
11     &lt;option name=&quot;ENV_VARIABLES&quot; /&gt;
12     &lt;option name=&quot;PASS_PARENT_ENVS&quot; value=&quot;true&quot; /&gt;
13     &lt;module name=&quot;langtools&quot; /&gt;
14     &lt;envs /&gt;
15     &lt;RunnerSettings RunnerId=&quot;Run&quot; /&gt;
16     &lt;ConfigurationWrapper RunnerId=&quot;Run&quot; /&gt;
17     &lt;method&gt;
18       &lt;option name=&quot;Make&quot; enabled=&quot;false&quot; /&gt;
19       &lt;option name=&quot;AntTarget&quot; enabled=&quot;true&quot; antfile=&quot;file://$PROJECT_DIR$/make/langtools/intellij/build.xml&quot; target=&quot;build-all-classes&quot; /&gt;
20     &lt;/method&gt;
21   &lt;/configuration&gt;
22 &lt;/component&gt;
    </pre>
  </body>
</html>