<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../../pages/itemhandler/ItemListAndChart.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../org.openjdk.jmc.ide.launch/src/main/java/org/openjdk/jmc/ide/launch/JfrLaunchDelegateHelper.java.udiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -281,10 +281,12 @@</span>
  					}
  				});
  			}
  		}
  
<span class="udiff-line-added">+ 		// See JMC-6787</span>
<span class="udiff-line-added">+ 		@SuppressWarnings(&quot;deprecation&quot;)</span>
  		@Override
  		public void run() {
  			StacktraceFrame frame = (StacktraceFrame) getStructuredSelection().getFirstElement();
  			// FIXME: Would like to move the table cursor after changing sibling state, not just the selection.
  			if (isInOpenFork(frame)) {
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -332,10 +334,12 @@</span>
  		}
  
  		@Override
  		public void run() {
  			Branch branch = ((StacktraceFrame) getStructuredSelection().getFirstElement()).getBranch();
<span class="udiff-line-added">+ 			// See JMC-6787</span>
<span class="udiff-line-added">+ 			@SuppressWarnings(&quot;deprecation&quot;)</span>
  			Branch selectedSibling = branch.selectSibling(offset);
  			provider.refresh();
  			provider.setSelection(new StructuredSelection(selectedSibling.getFirstFrame()));
  		}
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -434,10 +438,12 @@</span>
  		if (viewer instanceof TreeViewer) {
  			viewer.setContentProvider(createTreeContentProvider());
  		}
  	}
  
<span class="udiff-line-added">+ 	// See JMC-6787</span>
<span class="udiff-line-added">+ 	@SuppressWarnings(&quot;deprecation&quot;)</span>
  	private void rebuildViewer() {
  		boolean hasFocus = viewer.getControl().isFocusControl();
  		ISelection oldSelection = viewer.getSelection();
  		Fork oldInput = (Fork) viewer.getInput();
  		Composite parent = viewer.getControl().getParent();
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -821,10 +827,12 @@</span>
  
  	private static boolean isNavigationFrame(StacktraceFrame frame) {
  		return isFirstInBranchWithSiblings(frame) &amp;&amp; !isInOpenFork(frame);
  	}
  
<span class="udiff-line-added">+ 	// See JMC-6787</span>
<span class="udiff-line-added">+ 	@SuppressWarnings(&quot;deprecation&quot;)</span>
  	private static boolean isInOpenFork(StacktraceFrame frame) {
  		return frame.getBranch().getParentFork().getSelectedBranch() == null;
  	}
  
  	private static boolean isFirstInBranchWithSiblings(StacktraceFrame frame) {
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -839,10 +847,12 @@</span>
  	 * FIXME: &#39;backwards&#39; argument was used for displaying trace groups built from thread roots with
  	 * the thread roots at the bottom. If we don&#39;t want to support that scenario then we can remove
  	 * this argument.
  	 */
  	private static void addSelectedBranches(Fork fork, SimpleArray&lt;StacktraceFrame&gt; input, boolean backwards) {
<span class="udiff-line-added">+ 		// See JMC-6787</span>
<span class="udiff-line-added">+ 		@SuppressWarnings(&quot;deprecation&quot;)</span>
  		Branch selectedBranch = fork.getSelectedBranch();
  		if (selectedBranch == null) {
  			Stream.of(fork.getFirstFrames()).forEach(input::add);
  		} else if (backwards) {
  			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -856,10 +866,12 @@</span>
  			input.addAll(selectedBranch.getTailFrames());
  			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
  		}
  	}
  
<span class="udiff-line-added">+ 	// See JMC-6787</span>
<span class="udiff-line-added">+ 	@SuppressWarnings(&quot;deprecation&quot;)</span>
  	private static Branch getLastSelectedBranch(Fork fromFork) {
  		Branch lastSelectedBranch = null;
  		Branch branch = fromFork.getSelectedBranch();
  		while (branch != null) {
  			lastSelectedBranch = branch;
</pre>
<center><a href="../../pages/itemhandler/ItemListAndChart.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../org.openjdk.jmc.ide.launch/src/main/java/org/openjdk/jmc/ide/launch/JfrLaunchDelegateHelper.java.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>