<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../../pages/itemhandler/ItemListAndChart.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../org.openjdk.jmc.ide.launch/src/main/java/org/openjdk/jmc/ide/launch/JfrLaunchDelegateHelper.java.sdiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
266 
267 		SelectFrameGroupAction() {
268 			super(Messages.STACKTRACE_VIEW_FRAME_GROUP_CHOOSE);
269 			setImageDescriptor(
270 					FlightRecorderUI.getDefault().getMCImageDescriptor(ImageConstants.ICON_ARROW_FORK3_STAR));
271 			setAccelerator(SWT.CR);
272 		}
273 
274 		@Override
275 		public void setViewer(StructuredViewer provider) {
276 			super.setViewer(provider);
277 			if (provider != null) {
278 				provider.addDoubleClickListener(e -&gt; {
279 					if (isEnabled()) {
280 						run();
281 					}
282 				});
283 			}
284 		}
285 


286 		@Override
287 		public void run() {
288 			StacktraceFrame frame = (StacktraceFrame) getStructuredSelection().getFirstElement();
289 			// FIXME: Would like to move the table cursor after changing sibling state, not just the selection.
290 			if (isInOpenFork(frame)) {
291 				frame.getBranch().selectSibling(0);
292 			} else {
293 				frame.getBranch().selectSibling(null);
294 			}
295 			provider.getControl().setRedraw(false);
296 			try {
297 				provider.refresh();
298 			} finally {
299 				provider.getControl().setRedraw(true);
300 			}
301 			provider.setSelection(new StructuredSelection(frame));
302 
303 		}
304 
305 		@Override
</pre>
<hr />
<pre>
317 		NavigateAction(boolean forward) {
318 			super(forward ? Messages.STACKTRACE_VIEW_FRAME_GROUP_NEXT : Messages.STACKTRACE_VIEW_FRAME_GROUP_PREVIOUS);
319 			setImageDescriptor(
320 					forward ? FlightRecorderUI.getDefault().getMCImageDescriptor(ImageConstants.ICON_ARROW_FORK3_RIGHT)
321 							: FlightRecorderUI.getDefault().getMCImageDescriptor(ImageConstants.ICON_ARROW_FORK3_LEFT));
322 			offset = forward ? 1 : -1;
323 			setAccelerator(forward ? SWT.ARROW_RIGHT : SWT.ARROW_LEFT);
324 		}
325 
326 		@Override
327 		public void setViewer(StructuredViewer provider) {
328 			super.setViewer(provider);
329 			if (provider != null) {
330 				provider.getControl().addTraverseListener(this);
331 			}
332 		}
333 
334 		@Override
335 		public void run() {
336 			Branch branch = ((StacktraceFrame) getStructuredSelection().getFirstElement()).getBranch();


337 			Branch selectedSibling = branch.selectSibling(offset);
338 			provider.refresh();
339 			provider.setSelection(new StructuredSelection(selectedSibling.getFirstFrame()));
340 		}
341 
342 		@Override
343 		protected void selectionChanged(IStructuredSelection selection) {
344 			setEnabled(selection.size() == 1 &amp;&amp; isNavigationFrame((StacktraceFrame) selection.getFirstElement()));
345 		}
346 
347 		@Override
348 		public void keyTraversed(TraverseEvent e) {
349 			if (isEnabled()) {
350 				if (e.keyCode == getAccelerator()) {
351 					run();
352 					e.detail = SWT.TRAVERSE_NONE;
353 					e.doit = true;
354 				}
355 			}
356 		}
</pre>
<hr />
<pre>
419 		super.dispose();
420 	}
421 
422 	@Override
423 	public void createPartControl(Composite parent) {
424 		buildViewer(parent);
425 	}
426 
427 	private void setTreeLayout(boolean treeLayout) {
428 		this.treeLayout = treeLayout;
429 		rebuildViewer();
430 	}
431 
432 	private void setReducedTree(boolean reducedTree) {
433 		this.reducedTree = reducedTree;
434 		if (viewer instanceof TreeViewer) {
435 			viewer.setContentProvider(createTreeContentProvider());
436 		}
437 	}
438 


439 	private void rebuildViewer() {
440 		boolean hasFocus = viewer.getControl().isFocusControl();
441 		ISelection oldSelection = viewer.getSelection();
442 		Fork oldInput = (Fork) viewer.getInput();
443 		Composite parent = viewer.getControl().getParent();
444 		viewer.getControl().dispose();
445 		buildViewer(parent);
446 		if (hasFocus) {
447 			viewer.getControl().setFocus();
448 		}
449 		parent.layout();
450 		if (viewer instanceof TreeViewer) {
451 			// Async set input to avoid drawing issue with tree
452 			Display.getCurrent().asyncExec(() -&gt; {
453 				if (!viewer.getControl().isDisposed()) {
454 					setViewerInput(oldInput);
455 					if (reducedTree &amp;&amp; oldInput != null) {
456 						Branch selectedBranch = getLastSelectedBranch(oldInput);
457 						if (selectedBranch != null) {
458 							viewer.getControl().setRedraw(false);
</pre>
<hr />
<pre>
806 		@Override
807 		public Color getBackground(Object element) {
808 			if (treeLayout) {
809 				return null;
810 			} else {
811 				int parentCount = 0;
812 				Branch e = ((StacktraceFrame) element).getBranch();
813 				while (e != null) {
814 					e = e.getParentFork().getParentBranch();
815 					parentCount++;
816 				}
817 				return parentCount % 2 == 0 ? null : ALTERNATE_COLOR;
818 			}
819 		}
820 	};
821 
822 	private static boolean isNavigationFrame(StacktraceFrame frame) {
823 		return isFirstInBranchWithSiblings(frame) &amp;&amp; !isInOpenFork(frame);
824 	}
825 


826 	private static boolean isInOpenFork(StacktraceFrame frame) {
827 		return frame.getBranch().getParentFork().getSelectedBranch() == null;
828 	}
829 
830 	private static boolean isFirstInBranchWithSiblings(StacktraceFrame frame) {
831 		return frame.getBranch().getFirstFrame() == frame &amp;&amp; frame.getBranch().getParentFork().getBranchCount() &gt; 1;
832 	}
833 
834 	private static boolean isLastFrame(StacktraceFrame frame) {
835 		return frame.getBranch().getLastFrame() == frame &amp;&amp; frame.getBranch().getEndFork().getBranchCount() == 0;
836 	}
837 
838 	/*
839 	 * FIXME: &#39;backwards&#39; argument was used for displaying trace groups built from thread roots with
840 	 * the thread roots at the bottom. If we don&#39;t want to support that scenario then we can remove
841 	 * this argument.
842 	 */
843 	private static void addSelectedBranches(Fork fork, SimpleArray&lt;StacktraceFrame&gt; input, boolean backwards) {


844 		Branch selectedBranch = fork.getSelectedBranch();
845 		if (selectedBranch == null) {
846 			Stream.of(fork.getFirstFrames()).forEach(input::add);
847 		} else if (backwards) {
848 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
849 			StacktraceFrame[] tail = selectedBranch.getTailFrames();
850 			for (int i = tail.length; i &gt; 0; i--) {
851 				input.add(tail[i - 1]);
852 			}
853 			input.add(selectedBranch.getFirstFrame());
854 		} else {
855 			input.add(selectedBranch.getFirstFrame());
856 			input.addAll(selectedBranch.getTailFrames());
857 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
858 		}
859 	}
860 


861 	private static Branch getLastSelectedBranch(Fork fromFork) {
862 		Branch lastSelectedBranch = null;
863 		Branch branch = fromFork.getSelectedBranch();
864 		while (branch != null) {
865 			lastSelectedBranch = branch;
866 			branch = branch.getEndFork().getSelectedBranch();
867 		}
868 		return lastSelectedBranch;
869 	}
870 
871 	private static Fork getRootFork(Fork fork) {
872 		while (fork.getParentBranch() != null) {
873 			fork = fork.getParentBranch().getParentFork();
874 		}
875 		return fork;
876 	}
877 
878 	private static class StacktraceTreeContentProvider extends AbstractStructuredContentProvider
879 			implements ITreeContentProvider {
880 
</pre>
</td>
<td>
<hr />
<pre>
266 
267 		SelectFrameGroupAction() {
268 			super(Messages.STACKTRACE_VIEW_FRAME_GROUP_CHOOSE);
269 			setImageDescriptor(
270 					FlightRecorderUI.getDefault().getMCImageDescriptor(ImageConstants.ICON_ARROW_FORK3_STAR));
271 			setAccelerator(SWT.CR);
272 		}
273 
274 		@Override
275 		public void setViewer(StructuredViewer provider) {
276 			super.setViewer(provider);
277 			if (provider != null) {
278 				provider.addDoubleClickListener(e -&gt; {
279 					if (isEnabled()) {
280 						run();
281 					}
282 				});
283 			}
284 		}
285 
<span class="line-added">286 		// See JMC-6787</span>
<span class="line-added">287 		@SuppressWarnings(&quot;deprecation&quot;)</span>
288 		@Override
289 		public void run() {
290 			StacktraceFrame frame = (StacktraceFrame) getStructuredSelection().getFirstElement();
291 			// FIXME: Would like to move the table cursor after changing sibling state, not just the selection.
292 			if (isInOpenFork(frame)) {
293 				frame.getBranch().selectSibling(0);
294 			} else {
295 				frame.getBranch().selectSibling(null);
296 			}
297 			provider.getControl().setRedraw(false);
298 			try {
299 				provider.refresh();
300 			} finally {
301 				provider.getControl().setRedraw(true);
302 			}
303 			provider.setSelection(new StructuredSelection(frame));
304 
305 		}
306 
307 		@Override
</pre>
<hr />
<pre>
319 		NavigateAction(boolean forward) {
320 			super(forward ? Messages.STACKTRACE_VIEW_FRAME_GROUP_NEXT : Messages.STACKTRACE_VIEW_FRAME_GROUP_PREVIOUS);
321 			setImageDescriptor(
322 					forward ? FlightRecorderUI.getDefault().getMCImageDescriptor(ImageConstants.ICON_ARROW_FORK3_RIGHT)
323 							: FlightRecorderUI.getDefault().getMCImageDescriptor(ImageConstants.ICON_ARROW_FORK3_LEFT));
324 			offset = forward ? 1 : -1;
325 			setAccelerator(forward ? SWT.ARROW_RIGHT : SWT.ARROW_LEFT);
326 		}
327 
328 		@Override
329 		public void setViewer(StructuredViewer provider) {
330 			super.setViewer(provider);
331 			if (provider != null) {
332 				provider.getControl().addTraverseListener(this);
333 			}
334 		}
335 
336 		@Override
337 		public void run() {
338 			Branch branch = ((StacktraceFrame) getStructuredSelection().getFirstElement()).getBranch();
<span class="line-added">339 			// See JMC-6787</span>
<span class="line-added">340 			@SuppressWarnings(&quot;deprecation&quot;)</span>
341 			Branch selectedSibling = branch.selectSibling(offset);
342 			provider.refresh();
343 			provider.setSelection(new StructuredSelection(selectedSibling.getFirstFrame()));
344 		}
345 
346 		@Override
347 		protected void selectionChanged(IStructuredSelection selection) {
348 			setEnabled(selection.size() == 1 &amp;&amp; isNavigationFrame((StacktraceFrame) selection.getFirstElement()));
349 		}
350 
351 		@Override
352 		public void keyTraversed(TraverseEvent e) {
353 			if (isEnabled()) {
354 				if (e.keyCode == getAccelerator()) {
355 					run();
356 					e.detail = SWT.TRAVERSE_NONE;
357 					e.doit = true;
358 				}
359 			}
360 		}
</pre>
<hr />
<pre>
423 		super.dispose();
424 	}
425 
426 	@Override
427 	public void createPartControl(Composite parent) {
428 		buildViewer(parent);
429 	}
430 
431 	private void setTreeLayout(boolean treeLayout) {
432 		this.treeLayout = treeLayout;
433 		rebuildViewer();
434 	}
435 
436 	private void setReducedTree(boolean reducedTree) {
437 		this.reducedTree = reducedTree;
438 		if (viewer instanceof TreeViewer) {
439 			viewer.setContentProvider(createTreeContentProvider());
440 		}
441 	}
442 
<span class="line-added">443 	// See JMC-6787</span>
<span class="line-added">444 	@SuppressWarnings(&quot;deprecation&quot;)</span>
445 	private void rebuildViewer() {
446 		boolean hasFocus = viewer.getControl().isFocusControl();
447 		ISelection oldSelection = viewer.getSelection();
448 		Fork oldInput = (Fork) viewer.getInput();
449 		Composite parent = viewer.getControl().getParent();
450 		viewer.getControl().dispose();
451 		buildViewer(parent);
452 		if (hasFocus) {
453 			viewer.getControl().setFocus();
454 		}
455 		parent.layout();
456 		if (viewer instanceof TreeViewer) {
457 			// Async set input to avoid drawing issue with tree
458 			Display.getCurrent().asyncExec(() -&gt; {
459 				if (!viewer.getControl().isDisposed()) {
460 					setViewerInput(oldInput);
461 					if (reducedTree &amp;&amp; oldInput != null) {
462 						Branch selectedBranch = getLastSelectedBranch(oldInput);
463 						if (selectedBranch != null) {
464 							viewer.getControl().setRedraw(false);
</pre>
<hr />
<pre>
812 		@Override
813 		public Color getBackground(Object element) {
814 			if (treeLayout) {
815 				return null;
816 			} else {
817 				int parentCount = 0;
818 				Branch e = ((StacktraceFrame) element).getBranch();
819 				while (e != null) {
820 					e = e.getParentFork().getParentBranch();
821 					parentCount++;
822 				}
823 				return parentCount % 2 == 0 ? null : ALTERNATE_COLOR;
824 			}
825 		}
826 	};
827 
828 	private static boolean isNavigationFrame(StacktraceFrame frame) {
829 		return isFirstInBranchWithSiblings(frame) &amp;&amp; !isInOpenFork(frame);
830 	}
831 
<span class="line-added">832 	// See JMC-6787</span>
<span class="line-added">833 	@SuppressWarnings(&quot;deprecation&quot;)</span>
834 	private static boolean isInOpenFork(StacktraceFrame frame) {
835 		return frame.getBranch().getParentFork().getSelectedBranch() == null;
836 	}
837 
838 	private static boolean isFirstInBranchWithSiblings(StacktraceFrame frame) {
839 		return frame.getBranch().getFirstFrame() == frame &amp;&amp; frame.getBranch().getParentFork().getBranchCount() &gt; 1;
840 	}
841 
842 	private static boolean isLastFrame(StacktraceFrame frame) {
843 		return frame.getBranch().getLastFrame() == frame &amp;&amp; frame.getBranch().getEndFork().getBranchCount() == 0;
844 	}
845 
846 	/*
847 	 * FIXME: &#39;backwards&#39; argument was used for displaying trace groups built from thread roots with
848 	 * the thread roots at the bottom. If we don&#39;t want to support that scenario then we can remove
849 	 * this argument.
850 	 */
851 	private static void addSelectedBranches(Fork fork, SimpleArray&lt;StacktraceFrame&gt; input, boolean backwards) {
<span class="line-added">852 		// See JMC-6787</span>
<span class="line-added">853 		@SuppressWarnings(&quot;deprecation&quot;)</span>
854 		Branch selectedBranch = fork.getSelectedBranch();
855 		if (selectedBranch == null) {
856 			Stream.of(fork.getFirstFrames()).forEach(input::add);
857 		} else if (backwards) {
858 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
859 			StacktraceFrame[] tail = selectedBranch.getTailFrames();
860 			for (int i = tail.length; i &gt; 0; i--) {
861 				input.add(tail[i - 1]);
862 			}
863 			input.add(selectedBranch.getFirstFrame());
864 		} else {
865 			input.add(selectedBranch.getFirstFrame());
866 			input.addAll(selectedBranch.getTailFrames());
867 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
868 		}
869 	}
870 
<span class="line-added">871 	// See JMC-6787</span>
<span class="line-added">872 	@SuppressWarnings(&quot;deprecation&quot;)</span>
873 	private static Branch getLastSelectedBranch(Fork fromFork) {
874 		Branch lastSelectedBranch = null;
875 		Branch branch = fromFork.getSelectedBranch();
876 		while (branch != null) {
877 			lastSelectedBranch = branch;
878 			branch = branch.getEndFork().getSelectedBranch();
879 		}
880 		return lastSelectedBranch;
881 	}
882 
883 	private static Fork getRootFork(Fork fork) {
884 		while (fork.getParentBranch() != null) {
885 			fork = fork.getParentBranch().getParentFork();
886 		}
887 		return fork;
888 	}
889 
890 	private static class StacktraceTreeContentProvider extends AbstractStructuredContentProvider
891 			implements ITreeContentProvider {
892 
</pre>
</td>
</tr>
</table>
<center><a href="../../pages/itemhandler/ItemListAndChart.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../org.openjdk.jmc.ide.launch/src/main/java/org/openjdk/jmc/ide/launch/JfrLaunchDelegateHelper.java.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>