<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../tree/TraceNode.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java.sdiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 45 import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_SELECT_HTML_TOOLTIP_DESCRIPTION;
 46 import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_SELECT_HTML_TOOLTIP_PACKAGE;
 47 import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_SELECT_HTML_TOOLTIP_SAMPLES;
 48 import static org.openjdk.jmc.flightrecorder.flameview.MessagesUtils.getFlameviewMessage;
 49 import static org.openjdk.jmc.flightrecorder.flameview.MessagesUtils.getStacktraceMessage;
 50 import static org.openjdk.jmc.flightrecorder.stacktrace.Messages.STACKTRACE_UNCLASSIFIABLE_FRAME;
 51 import static org.openjdk.jmc.flightrecorder.stacktrace.Messages.STACKTRACE_UNCLASSIFIABLE_FRAME_DESC;
 52 import static org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.getLastSelectedBranch;
 53 
 54 import java.io.ByteArrayOutputStream;
 55 import java.io.File;
 56 import java.io.FileOutputStream;
 57 import java.io.IOException;
 58 import java.text.MessageFormat;
 59 import java.util.Base64;
 60 import java.util.concurrent.CancellationException;
 61 import java.util.concurrent.CompletableFuture;
 62 import java.util.concurrent.ExecutionException;
 63 import java.util.concurrent.ExecutorService;
 64 import java.util.concurrent.Executors;

 65 import java.util.logging.Level;
 66 import java.util.stream.Collectors;
 67 import java.util.stream.Stream;
 68 
 69 import org.eclipse.jface.action.Action;
 70 import org.eclipse.jface.action.IAction;
 71 import org.eclipse.jface.action.IMenuManager;
 72 import org.eclipse.jface.action.IToolBarManager;
 73 import org.eclipse.jface.action.Separator;
 74 import org.eclipse.jface.resource.ImageDescriptor;
 75 import org.eclipse.jface.resource.ResourceLocator;
 76 import org.eclipse.jface.viewers.ISelection;
 77 import org.eclipse.jface.viewers.IStructuredSelection;
 78 import org.eclipse.swt.SWT;
 79 import org.eclipse.swt.browser.Browser;
 80 import org.eclipse.swt.browser.BrowserFunction;
 81 import org.eclipse.swt.browser.ProgressAdapter;
 82 import org.eclipse.swt.browser.ProgressEvent;
 83 import org.eclipse.swt.custom.SashForm;
 84 import org.eclipse.swt.events.MenuDetectEvent;
</pre>
<hr />
<pre>
147 
148 		String jsIeLibraries = loadLibraries(jsHtml5shiv, jsRespond);
149 		String jsD3Libraries = loadLibraries(jsD3V4, jsD3Tip, jsD3FlameGraph);
150 		String styleheets = loadLibraries(cssD3Flamegraph, cssFlameview);
151 		String jsFlameviewColoring = fileContent(jsFlameviewName);
152 
153 		String magnifierIcon = getIconBase64(ImageConstants.ICON_MAGNIFIER);
154 
155 		// formatter arguments for the template: %1 - CSSs stylesheets, %2 - IE9
156 		// specific scripts,
157 		// %3 - Search Icon Base64, %4 - 3rd party scripts, %5 - Flameview Coloring,
158 		HTML_PAGE = String.format(fileContent(&quot;page.template&quot;), styleheets, jsIeLibraries, magnifierIcon, jsD3Libraries,
159 				jsFlameviewColoring);
160 	}
161 
162 	private static final ExecutorService MODEL_EXECUTOR = Executors.newFixedThreadPool(1);
163 	private FrameSeparator frameSeparator;
164 
165 	private Browser browser;
166 	private SashForm container;
<span class="line-removed">167 	private volatile CompletableFuture&lt;ModelsContainer&gt; currentModelCalculator;</span>
168 	private boolean threadRootAtTop = true;
169 	private boolean icicleViewActive = true;
170 	private IItemCollection currentItems = ItemCollectionToolkit.build(Stream.empty());

171 	private GroupByAction[] groupByActions;
172 	private GroupByFlameviewAction[] groupByFlameviewActions;
173 	private ExportAction[] exportActions;
174 
175 	private enum GroupActionType {
176 		THREAD_ROOT(Messages.STACKTRACE_VIEW_THREAD_ROOT, IAction.AS_RADIO_BUTTON, CoreImages.THREAD),
177 		LAST_FRAME(Messages.STACKTRACE_VIEW_LAST_FRAME, IAction.AS_RADIO_BUTTON, CoreImages.METHOD_NON_OPTIMIZED),
178 		ICICLE_GRAPH(getFlameviewMessage(FLAMEVIEW_ICICLE_GRAPH), IAction.AS_RADIO_BUTTON, flameviewImageDescriptor(
179 				FlameviewImages.ICON_ICICLE_FLIP)),
180 		FLAME_GRAPH(getFlameviewMessage(FLAMEVIEW_FLAME_GRAPH), IAction.AS_RADIO_BUTTON, flameviewImageDescriptor(
181 				FlameviewImages.ICON_FLAME_FLIP));
182 
183 		private final String message;
184 		private final int action;
185 		private final ImageDescriptor imageDescriptor;
186 
187 		private GroupActionType(String message, int action, ImageDescriptor imageDescriptor) {
188 			this.message = message;
189 			this.action = action;
190 			this.imageDescriptor = imageDescriptor;
</pre>
<hr />
<pre>
265 			setDisabledImageDescriptor(actionType.disabledImageDescriptor);
266 		}
267 
268 		@Override
269 		public void run() {
270 			switch (actionType) {
271 			case SAVE_AS:
272 				Executors.newSingleThreadExecutor().execute(FlameGraphView.this::saveFlameGraph);
273 				break;
274 			case PRINT:
275 				browser.execute(&quot;window.print()&quot;); //$NON-NLS-1$
276 				break;
277 			}
278 		}
279 	}
280 
281 	/**
282 	 * Container for created {@link TraceNode} and {@link StacktraceModel}
283 	 */
284 	private static final class ModelsContainer {

285 		private final TraceNode root;
286 		private final StacktraceModel model;
287 
<span class="line-modified">288 		public ModelsContainer(TraceNode root, StacktraceModel model) {</span>
289 			super();
290 			this.root = root;
291 			this.model = model;
292 		}
293 
294 		private TraceNode root() {
295 			return root;
296 		}
297 
298 		private boolean isEqualStacktraceModel(StacktraceModel m) {
299 			return model.equals(m);
300 		}
301 
302 		private boolean isReady() {
303 			return root != null &amp;&amp; model != null;
304 		}
305 	}
306 



































307 	@Override
308 	public void init(IViewSite site, IMemento memento) throws PartInitException {
309 		super.init(site, memento);
310 		frameSeparator = new FrameSeparator(FrameCategorization.METHOD, false);
311 		groupByActions = new GroupByAction[] {new GroupByAction(GroupActionType.LAST_FRAME),
312 				new GroupByAction(GroupActionType.THREAD_ROOT)};
313 		groupByFlameviewActions = new GroupByFlameviewAction[] {new GroupByFlameviewAction(GroupActionType.FLAME_GRAPH),
314 				new GroupByFlameviewAction(GroupActionType.ICICLE_GRAPH)};
315 		exportActions = new ExportAction[] {new ExportAction(ExportActionType.SAVE_AS),
316 				new ExportAction(ExportActionType.PRINT)};
317 		Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(false));
318 
319 		// methodFormatter = new MethodFormatter(null, () -&gt; viewer.refresh());
320 		IMenuManager siteMenu = site.getActionBars().getMenuManager();
321 		siteMenu.add(new Separator(MCContextMenuManager.GROUP_TOP));
322 		siteMenu.add(new Separator(MCContextMenuManager.GROUP_VIEWER_SETUP));
323 		// addOptions(siteMenu);
324 		IToolBarManager toolBar = site.getActionBars().getToolBarManager();
325 
326 		Stream.of(groupByFlameviewActions).forEach(toolBar::add);
</pre>
<hr />
<pre>
356 	}
357 
358 	@Override
359 	public void saveState(IMemento memento) {
360 	}
361 
362 	@Override
363 	public void selectionChanged(IWorkbenchPart part, ISelection selection) {
364 		if (selection instanceof IStructuredSelection) {
365 			Object first = ((IStructuredSelection) selection).getFirstElement();
366 			IItemCollection items = AdapterUtil.getAdapter(first, IItemCollection.class);
367 			if (items != null &amp;&amp; !items.equals(currentItems)) {
368 				setItems(items);
369 			}
370 		}
371 	}
372 
373 	private void setItems(IItemCollection items) {
374 		currentItems = items;
375 		rebuildModel();

376 	}
377 
378 	private void rebuildModel() {
<span class="line-modified">379 		// try to cancel downstream calculation</span>
<span class="line-modified">380 		if (currentModelCalculator != null) {</span>
<span class="line-removed">381 			currentModelCalculator.cancel(true);</span>
382 		}
<span class="line-modified">383 </span>
<span class="line-modified">384 		currentModelCalculator = getModelPreparer(frameSeparator, true);</span>
385 		currentModelCalculator.thenAcceptAsync(this::setModel, DisplayToolkit.inDisplayThread())
386 				.exceptionally(FlameGraphView::handleModelBuildException);
387 	}
388 
389 	private StacktraceModel createStacktraceModel() {
390 		return new StacktraceModel(threadRootAtTop, frameSeparator, currentItems);
391 	}
392 
393 	private CompletableFuture&lt;ModelsContainer&gt; getModelPreparer(
<span class="line-modified">394 		final FrameSeparator separator, final boolean materializeSelectedBranches) {</span>
395 		return CompletableFuture.supplyAsync(() -&gt; {
<span class="line-modified">396 			StacktraceModel model = createStacktraceModel();</span>
397 			Fork rootFork = model.getRootFork();
398 			if (materializeSelectedBranches) {
399 				Branch selectedBranch = getLastSelectedBranch(rootFork);
400 				if (selectedBranch != null) {
401 					selectedBranch.getEndFork();
402 				}
403 			}
404 
<span class="line-modified">405 			TraceNode root = TraceTreeUtils.createRootWithDescription(currentItems, rootFork.getBranchCount());</span>
<span class="line-modified">406 			return new ModelsContainer(TraceTreeUtils.createTree(root, model), model);</span>
<span class="line-modified">407 </span>




408 		}, MODEL_EXECUTOR);
409 	}
410 
411 	private void setModel(ModelsContainer container) {
412 		// Check that the models are prepared and up to date 
413 		if (container.isReady() &amp;&amp; container.isEqualStacktraceModel(createStacktraceModel()) &amp;&amp; !browser.isDisposed()) {
414 			setViewerInput(container.root());


415 		}
416 	}
417 
418 	private void setViewerInput(TraceNode root) {
419 		Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(false));
420 		browser.setText(HTML_PAGE);
421 		browser.addListener(SWT.Resize, event -&gt; {
422 			browser.execute(&quot;resizeFlameGraph();&quot;);
423 		});
424 
425 		browser.addProgressListener(new ProgressAdapter() {
426 			@Override
427 			public void completed(ProgressEvent event) {
428 				browser.removeProgressListener(this);
429 				browser.execute(String.format(&quot;configureTooltipText(&#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;);&quot;, TABLE_COLUMN_COUNT,
430 						TABLE_COLUMN_EVENT_TYPE, TOOLTIP_PACKAGE, TOOLTIP_SAMPLES, TOOLTIP_DESCRIPTION));
<span class="line-modified">431 </span>
<span class="line-modified">432 				browser.execute(String.format(&quot;processGraph(%s, %s);&quot;, toJSon(root), icicleViewActive));</span>
<span class="line-modified">433 				Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(true));</span>




434 			}
435 		});
436 
437 	}
438 
439 	private void saveFlameGraph() {
440 		CompletableFuture&lt;String&gt; future = new CompletableFuture&lt;&gt;();
441 		String[] destination = new String[2];
442 
443 		DisplayToolkit.inDisplayThread().execute(() -&gt; {
444 			FileDialog fd = new FileDialog(browser.getShell(), SWT.SAVE);
445 			fd.setText(getFlameviewMessage(FLAMEVIEW_SAVE_FLAME_GRAPH_AS));
446 			fd.setFilterNames(
447 					new String[] {getFlameviewMessage(FLAMEVIEW_JPEG_IMAGE), getFlameviewMessage(FLAMEVIEW_PNG_IMAGE)});
448 			fd.setFilterExtensions(new String[] {&quot;*.jpg&quot;, &quot;*.png&quot;}); //$NON-NLS-1$ //$NON-NLS-2$
449 			fd.setFileName(&quot;flame_graph&quot;); //$NON-NLS-1$
450 			fd.setOverwrite(true);
451 			if (fd.open() == null) {
452 				future.cancel(true);
453 				return;
</pre>
<hr />
<pre>
489 		try {
490 			String b64 = future.get();
491 			byte[] bytes = Base64.getDecoder().decode(b64);
492 			FileOutputStream fos = new FileOutputStream(new File(destination[0], destination[1]));
493 			fos.write(bytes);
494 			fos.close();
495 		} catch (CancellationException e) {
496 			// noop
497 		} catch (InterruptedException | ExecutionException | IOException e) {
498 			FlightRecorderUI.getDefault().getLogger().log(Level.SEVERE, &quot;Failed to save flame graph&quot;, e); //$NON-NLS-1$
499 		}
500 	}
501 
502 	private static Void handleModelBuildException(Throwable ex) {
503 		if (!(ex.getCause() instanceof CancellationException)) {
504 			FlightRecorderUI.getDefault().getLogger().log(Level.SEVERE, &quot;Failed to build stacktrace view model&quot;, ex); //$NON-NLS-1$
505 		}
506 		return null;
507 	}
508 
<span class="line-modified">509 	private static String toJSon(TraceNode root) {</span>
510 		if (root == null) {
<span class="line-modified">511 			return &quot;\&quot;\&quot;&quot;;</span>
512 		}
513 		return render(root);
514 	}
515 
<span class="line-modified">516 	private static String render(TraceNode root) {</span>
<span class="line-modified">517 		StringBuilder builder = new StringBuilder();</span>
518 		String rootNodeStart = createJsonRootTraceNode(root);
519 		builder.append(rootNodeStart);
<span class="line-modified">520 		renderChildren(builder, root);</span>

521 		builder.append(&quot;]}&quot;);
<span class="line-modified">522 		return builder.toString();</span>



523 	}
524 
<span class="line-modified">525 	private static void render(StringBuilder builder, TraceNode node) {</span>
526 		String start = UNCLASSIFIABLE_FRAME.equals(node.getName()) ? createJsonDescTraceNode(node)
527 				: createJsonTraceNode(node);
528 		builder.append(start);
<span class="line-modified">529 		renderChildren(builder, node);</span>
530 		builder.append(&quot;]}&quot;);
531 	}
532 
<span class="line-modified">533 	private static void renderChildren(StringBuilder builder, TraceNode node) {</span>
<span class="line-modified">534 		for (int i = 0; i &lt; node.getChildren().size(); i++) {</span>
<span class="line-modified">535 			render(builder, node.getChildren().get(i));</span>
<span class="line-modified">536 			if (i &lt; node.getChildren().size() - 1) {</span>
<span class="line-modified">537 				builder.append(&quot;,&quot;);</span>






538 			}

539 		}







540 	}
541 
542 	private static String createJsonRootTraceNode(TraceNode rootNode) {
543 		return String.format(&quot;{%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, rootNode.getName()), toJSonKeyValue(&quot;p&quot;, &quot;&quot;),
544 				toJSonKeyValue(&quot;d&quot;, rootNode.getPackageName()));
545 	}
546 
547 	private static String createJsonTraceNode(TraceNode node) {
548 		return String.format(&quot;{%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, node.getName()),
549 				toJSonKeyValue(&quot;p&quot;, node.getPackageName()), toJSonKeyValue(&quot;v&quot;, String.valueOf(node.getValue())));
550 	}
551 
552 	private static String createJsonDescTraceNode(TraceNode node) {
553 		return String.format(&quot;{%s,%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, node.getName()),
554 				toJSonKeyValue(&quot;p&quot;, node.getPackageName()), toJSonKeyValue(&quot;d&quot;, UNCLASSIFIABLE_FRAME_DESC),
555 				toJSonKeyValue(&quot;v&quot;, String.valueOf(node.getValue())));
556 	}
557 
558 	private static String toJSonKeyValue(String key, String value) {
559 		return &quot;\&quot;&quot; + key + &quot;\&quot;: &quot; + &quot;\&quot;&quot; + value + &quot;\&quot;&quot;;
</pre>
</td>
<td>
<hr />
<pre>
 45 import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_SELECT_HTML_TOOLTIP_DESCRIPTION;
 46 import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_SELECT_HTML_TOOLTIP_PACKAGE;
 47 import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_SELECT_HTML_TOOLTIP_SAMPLES;
 48 import static org.openjdk.jmc.flightrecorder.flameview.MessagesUtils.getFlameviewMessage;
 49 import static org.openjdk.jmc.flightrecorder.flameview.MessagesUtils.getStacktraceMessage;
 50 import static org.openjdk.jmc.flightrecorder.stacktrace.Messages.STACKTRACE_UNCLASSIFIABLE_FRAME;
 51 import static org.openjdk.jmc.flightrecorder.stacktrace.Messages.STACKTRACE_UNCLASSIFIABLE_FRAME_DESC;
 52 import static org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.getLastSelectedBranch;
 53 
 54 import java.io.ByteArrayOutputStream;
 55 import java.io.File;
 56 import java.io.FileOutputStream;
 57 import java.io.IOException;
 58 import java.text.MessageFormat;
 59 import java.util.Base64;
 60 import java.util.concurrent.CancellationException;
 61 import java.util.concurrent.CompletableFuture;
 62 import java.util.concurrent.ExecutionException;
 63 import java.util.concurrent.ExecutorService;
 64 import java.util.concurrent.Executors;
<span class="line-added"> 65 import java.util.concurrent.atomic.AtomicBoolean;</span>
 66 import java.util.logging.Level;
 67 import java.util.stream.Collectors;
 68 import java.util.stream.Stream;
 69 
 70 import org.eclipse.jface.action.Action;
 71 import org.eclipse.jface.action.IAction;
 72 import org.eclipse.jface.action.IMenuManager;
 73 import org.eclipse.jface.action.IToolBarManager;
 74 import org.eclipse.jface.action.Separator;
 75 import org.eclipse.jface.resource.ImageDescriptor;
 76 import org.eclipse.jface.resource.ResourceLocator;
 77 import org.eclipse.jface.viewers.ISelection;
 78 import org.eclipse.jface.viewers.IStructuredSelection;
 79 import org.eclipse.swt.SWT;
 80 import org.eclipse.swt.browser.Browser;
 81 import org.eclipse.swt.browser.BrowserFunction;
 82 import org.eclipse.swt.browser.ProgressAdapter;
 83 import org.eclipse.swt.browser.ProgressEvent;
 84 import org.eclipse.swt.custom.SashForm;
 85 import org.eclipse.swt.events.MenuDetectEvent;
</pre>
<hr />
<pre>
148 
149 		String jsIeLibraries = loadLibraries(jsHtml5shiv, jsRespond);
150 		String jsD3Libraries = loadLibraries(jsD3V4, jsD3Tip, jsD3FlameGraph);
151 		String styleheets = loadLibraries(cssD3Flamegraph, cssFlameview);
152 		String jsFlameviewColoring = fileContent(jsFlameviewName);
153 
154 		String magnifierIcon = getIconBase64(ImageConstants.ICON_MAGNIFIER);
155 
156 		// formatter arguments for the template: %1 - CSSs stylesheets, %2 - IE9
157 		// specific scripts,
158 		// %3 - Search Icon Base64, %4 - 3rd party scripts, %5 - Flameview Coloring,
159 		HTML_PAGE = String.format(fileContent(&quot;page.template&quot;), styleheets, jsIeLibraries, magnifierIcon, jsD3Libraries,
160 				jsFlameviewColoring);
161 	}
162 
163 	private static final ExecutorService MODEL_EXECUTOR = Executors.newFixedThreadPool(1);
164 	private FrameSeparator frameSeparator;
165 
166 	private Browser browser;
167 	private SashForm container;

168 	private boolean threadRootAtTop = true;
169 	private boolean icicleViewActive = true;
170 	private IItemCollection currentItems = ItemCollectionToolkit.build(Stream.empty());
<span class="line-added">171 	private volatile AtomicBoolean modelCalculationActive = new AtomicBoolean();</span>
172 	private GroupByAction[] groupByActions;
173 	private GroupByFlameviewAction[] groupByFlameviewActions;
174 	private ExportAction[] exportActions;
175 
176 	private enum GroupActionType {
177 		THREAD_ROOT(Messages.STACKTRACE_VIEW_THREAD_ROOT, IAction.AS_RADIO_BUTTON, CoreImages.THREAD),
178 		LAST_FRAME(Messages.STACKTRACE_VIEW_LAST_FRAME, IAction.AS_RADIO_BUTTON, CoreImages.METHOD_NON_OPTIMIZED),
179 		ICICLE_GRAPH(getFlameviewMessage(FLAMEVIEW_ICICLE_GRAPH), IAction.AS_RADIO_BUTTON, flameviewImageDescriptor(
180 				FlameviewImages.ICON_ICICLE_FLIP)),
181 		FLAME_GRAPH(getFlameviewMessage(FLAMEVIEW_FLAME_GRAPH), IAction.AS_RADIO_BUTTON, flameviewImageDescriptor(
182 				FlameviewImages.ICON_FLAME_FLIP));
183 
184 		private final String message;
185 		private final int action;
186 		private final ImageDescriptor imageDescriptor;
187 
188 		private GroupActionType(String message, int action, ImageDescriptor imageDescriptor) {
189 			this.message = message;
190 			this.action = action;
191 			this.imageDescriptor = imageDescriptor;
</pre>
<hr />
<pre>
266 			setDisabledImageDescriptor(actionType.disabledImageDescriptor);
267 		}
268 
269 		@Override
270 		public void run() {
271 			switch (actionType) {
272 			case SAVE_AS:
273 				Executors.newSingleThreadExecutor().execute(FlameGraphView.this::saveFlameGraph);
274 				break;
275 			case PRINT:
276 				browser.execute(&quot;window.print()&quot;); //$NON-NLS-1$
277 				break;
278 			}
279 		}
280 	}
281 
282 	/**
283 	 * Container for created {@link TraceNode} and {@link StacktraceModel}
284 	 */
285 	private static final class ModelsContainer {
<span class="line-added">286 		private static final ModelsContainer EMPTY = new ModelsContainer(null, null);</span>
287 		private final TraceNode root;
288 		private final StacktraceModel model;
289 
<span class="line-modified">290 		private ModelsContainer(TraceNode root, StacktraceModel model) {</span>
291 			super();
292 			this.root = root;
293 			this.model = model;
294 		}
295 
296 		private TraceNode root() {
297 			return root;
298 		}
299 
300 		private boolean isEqualStacktraceModel(StacktraceModel m) {
301 			return model.equals(m);
302 		}
303 
304 		private boolean isReady() {
305 			return root != null &amp;&amp; model != null;
306 		}
307 	}
308 
<span class="line-added">309 	/**</span>
<span class="line-added">310 	 * JsonModel hold the calculated json string and has state that can not be finished due to the</span>
<span class="line-added">311 	 * usage inside the {@link CompletableFuture} future, can be only set to ready</span>
<span class="line-added">312 	 */</span>
<span class="line-added">313 	private static class JSonModelBuilder {</span>
<span class="line-added">314 		private static final JSonModelBuilder EMPTY = new JSonModelBuilder(&quot;\&quot;\&quot;&quot;, true);</span>
<span class="line-added">315 		private final StringBuilder builder = new StringBuilder();</span>
<span class="line-added">316 		private boolean ready;</span>
<span class="line-added">317 </span>
<span class="line-added">318 		private JSonModelBuilder() {</span>
<span class="line-added">319 			this.ready = false;</span>
<span class="line-added">320 		}</span>
<span class="line-added">321 </span>
<span class="line-added">322 		private JSonModelBuilder(String json, boolean ready) {</span>
<span class="line-added">323 			this.builder.append(json);</span>
<span class="line-added">324 			this.ready = ready;</span>
<span class="line-added">325 		}</span>
<span class="line-added">326 </span>
<span class="line-added">327 		private void append(String s) {</span>
<span class="line-added">328 			this.builder.append(s);</span>
<span class="line-added">329 		}</span>
<span class="line-added">330 </span>
<span class="line-added">331 		private String build() {</span>
<span class="line-added">332 			return builder.toString();</span>
<span class="line-added">333 		}</span>
<span class="line-added">334 </span>
<span class="line-added">335 		private boolean isReady() {</span>
<span class="line-added">336 			return ready;</span>
<span class="line-added">337 		}</span>
<span class="line-added">338 </span>
<span class="line-added">339 		private void setReady() {</span>
<span class="line-added">340 			this.ready = true;</span>
<span class="line-added">341 		}</span>
<span class="line-added">342 	}</span>
<span class="line-added">343 </span>
344 	@Override
345 	public void init(IViewSite site, IMemento memento) throws PartInitException {
346 		super.init(site, memento);
347 		frameSeparator = new FrameSeparator(FrameCategorization.METHOD, false);
348 		groupByActions = new GroupByAction[] {new GroupByAction(GroupActionType.LAST_FRAME),
349 				new GroupByAction(GroupActionType.THREAD_ROOT)};
350 		groupByFlameviewActions = new GroupByFlameviewAction[] {new GroupByFlameviewAction(GroupActionType.FLAME_GRAPH),
351 				new GroupByFlameviewAction(GroupActionType.ICICLE_GRAPH)};
352 		exportActions = new ExportAction[] {new ExportAction(ExportActionType.SAVE_AS),
353 				new ExportAction(ExportActionType.PRINT)};
354 		Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(false));
355 
356 		// methodFormatter = new MethodFormatter(null, () -&gt; viewer.refresh());
357 		IMenuManager siteMenu = site.getActionBars().getMenuManager();
358 		siteMenu.add(new Separator(MCContextMenuManager.GROUP_TOP));
359 		siteMenu.add(new Separator(MCContextMenuManager.GROUP_VIEWER_SETUP));
360 		// addOptions(siteMenu);
361 		IToolBarManager toolBar = site.getActionBars().getToolBarManager();
362 
363 		Stream.of(groupByFlameviewActions).forEach(toolBar::add);
</pre>
<hr />
<pre>
393 	}
394 
395 	@Override
396 	public void saveState(IMemento memento) {
397 	}
398 
399 	@Override
400 	public void selectionChanged(IWorkbenchPart part, ISelection selection) {
401 		if (selection instanceof IStructuredSelection) {
402 			Object first = ((IStructuredSelection) selection).getFirstElement();
403 			IItemCollection items = AdapterUtil.getAdapter(first, IItemCollection.class);
404 			if (items != null &amp;&amp; !items.equals(currentItems)) {
405 				setItems(items);
406 			}
407 		}
408 	}
409 
410 	private void setItems(IItemCollection items) {
411 		currentItems = items;
412 		rebuildModel();
<span class="line-added">413 </span>
414 	}
415 
416 	private void rebuildModel() {
<span class="line-modified">417 		if (modelCalculationActive.get()) {</span>
<span class="line-modified">418 			modelCalculationActive.set(false);</span>

419 		}
<span class="line-modified">420 		final CompletableFuture&lt;ModelsContainer&gt; currentModelCalculator = getModelPreparer(createStacktraceModel(),</span>
<span class="line-modified">421 				true);</span>
422 		currentModelCalculator.thenAcceptAsync(this::setModel, DisplayToolkit.inDisplayThread())
423 				.exceptionally(FlameGraphView::handleModelBuildException);
424 	}
425 
426 	private StacktraceModel createStacktraceModel() {
427 		return new StacktraceModel(threadRootAtTop, frameSeparator, currentItems);
428 	}
429 
430 	private CompletableFuture&lt;ModelsContainer&gt; getModelPreparer(
<span class="line-modified">431 		final StacktraceModel model, final boolean materializeSelectedBranches) {</span>
432 		return CompletableFuture.supplyAsync(() -&gt; {
<span class="line-modified">433 			modelCalculationActive.set(true);</span>
434 			Fork rootFork = model.getRootFork();
435 			if (materializeSelectedBranches) {
436 				Branch selectedBranch = getLastSelectedBranch(rootFork);
437 				if (selectedBranch != null) {
438 					selectedBranch.getEndFork();
439 				}
440 			}
441 
<span class="line-modified">442 			if (modelCalculationActive.get()) {</span>
<span class="line-modified">443 				TraceNode root = TraceTreeUtils.createRootWithDescription(currentItems, rootFork.getBranchCount());</span>
<span class="line-modified">444 				return new ModelsContainer(TraceTreeUtils.createTree(root, model), model);</span>
<span class="line-added">445 			} else {</span>
<span class="line-added">446 				System.out.println(&quot;FLAME, getModelPreparer CANCEL&quot;);</span>
<span class="line-added">447 				return ModelsContainer.EMPTY;</span>
<span class="line-added">448 			}</span>
449 		}, MODEL_EXECUTOR);
450 	}
451 
452 	private void setModel(ModelsContainer container) {
453 		// Check that the models are prepared and up to date 
454 		if (container.isReady() &amp;&amp; container.isEqualStacktraceModel(createStacktraceModel()) &amp;&amp; !browser.isDisposed()) {
455 			setViewerInput(container.root());
<span class="line-added">456 		} else {</span>
<span class="line-added">457 			System.out.println(&quot;FLAME, setModel CANCEL&quot;);</span>
458 		}
459 	}
460 
461 	private void setViewerInput(TraceNode root) {
462 		Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(false));
463 		browser.setText(HTML_PAGE);
464 		browser.addListener(SWT.Resize, event -&gt; {
465 			browser.execute(&quot;resizeFlameGraph();&quot;);
466 		});
467 
468 		browser.addProgressListener(new ProgressAdapter() {
469 			@Override
470 			public void completed(ProgressEvent event) {
471 				browser.removeProgressListener(this);
472 				browser.execute(String.format(&quot;configureTooltipText(&#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;);&quot;, TABLE_COLUMN_COUNT,
473 						TABLE_COLUMN_EVENT_TYPE, TOOLTIP_PACKAGE, TOOLTIP_SAMPLES, TOOLTIP_DESCRIPTION));
<span class="line-modified">474 				JSonModelBuilder jsonModel = toJSonModel(root);</span>
<span class="line-modified">475 				if (jsonModel.isReady()) {</span>
<span class="line-modified">476 					browser.execute(String.format(&quot;processGraph(%s, %s);&quot;, jsonModel.build(), icicleViewActive));</span>
<span class="line-added">477 					Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(true));</span>
<span class="line-added">478 				} else {</span>
<span class="line-added">479 					System.out.println(&quot;FLAME, setViewerInput CANCEL&quot;);</span>
<span class="line-added">480 				}</span>
481 			}
482 		});
483 
484 	}
485 
486 	private void saveFlameGraph() {
487 		CompletableFuture&lt;String&gt; future = new CompletableFuture&lt;&gt;();
488 		String[] destination = new String[2];
489 
490 		DisplayToolkit.inDisplayThread().execute(() -&gt; {
491 			FileDialog fd = new FileDialog(browser.getShell(), SWT.SAVE);
492 			fd.setText(getFlameviewMessage(FLAMEVIEW_SAVE_FLAME_GRAPH_AS));
493 			fd.setFilterNames(
494 					new String[] {getFlameviewMessage(FLAMEVIEW_JPEG_IMAGE), getFlameviewMessage(FLAMEVIEW_PNG_IMAGE)});
495 			fd.setFilterExtensions(new String[] {&quot;*.jpg&quot;, &quot;*.png&quot;}); //$NON-NLS-1$ //$NON-NLS-2$
496 			fd.setFileName(&quot;flame_graph&quot;); //$NON-NLS-1$
497 			fd.setOverwrite(true);
498 			if (fd.open() == null) {
499 				future.cancel(true);
500 				return;
</pre>
<hr />
<pre>
536 		try {
537 			String b64 = future.get();
538 			byte[] bytes = Base64.getDecoder().decode(b64);
539 			FileOutputStream fos = new FileOutputStream(new File(destination[0], destination[1]));
540 			fos.write(bytes);
541 			fos.close();
542 		} catch (CancellationException e) {
543 			// noop
544 		} catch (InterruptedException | ExecutionException | IOException e) {
545 			FlightRecorderUI.getDefault().getLogger().log(Level.SEVERE, &quot;Failed to save flame graph&quot;, e); //$NON-NLS-1$
546 		}
547 	}
548 
549 	private static Void handleModelBuildException(Throwable ex) {
550 		if (!(ex.getCause() instanceof CancellationException)) {
551 			FlightRecorderUI.getDefault().getLogger().log(Level.SEVERE, &quot;Failed to build stacktrace view model&quot;, ex); //$NON-NLS-1$
552 		}
553 		return null;
554 	}
555 
<span class="line-modified">556 	private JSonModelBuilder toJSonModel(TraceNode root) {</span>
557 		if (root == null) {
<span class="line-modified">558 			return JSonModelBuilder.EMPTY;</span>
559 		}
560 		return render(root);
561 	}
562 
<span class="line-modified">563 	private JSonModelBuilder render(TraceNode root) {</span>
<span class="line-modified">564 		JSonModelBuilder builder = new JSonModelBuilder();</span>
565 		String rootNodeStart = createJsonRootTraceNode(root);
566 		builder.append(rootNodeStart);
<span class="line-modified">567 		AtomicBoolean renderActive = new AtomicBoolean(true);</span>
<span class="line-added">568 		renderChildren(renderActive, builder, root);</span>
569 		builder.append(&quot;]}&quot;);
<span class="line-modified">570 		if (renderActive.get()) {</span>
<span class="line-added">571 			builder.setReady();</span>
<span class="line-added">572 		}</span>
<span class="line-added">573 		return builder;</span>
574 	}
575 
<span class="line-modified">576 	private void render(AtomicBoolean renderActive, JSonModelBuilder builder, TraceNode node) {</span>
577 		String start = UNCLASSIFIABLE_FRAME.equals(node.getName()) ? createJsonDescTraceNode(node)
578 				: createJsonTraceNode(node);
579 		builder.append(start);
<span class="line-modified">580 		renderChildren(renderActive, builder, node);</span>
581 		builder.append(&quot;]}&quot;);
582 	}
583 
<span class="line-modified">584 	private void renderChildren(AtomicBoolean renderActive, JSonModelBuilder builder, TraceNode node) {</span>
<span class="line-modified">585 </span>
<span class="line-modified">586 		int i = 0;</span>
<span class="line-modified">587 		while (i &lt; node.getChildren().size()) {</span>
<span class="line-modified">588 			if (modelCalculationActive.get()) {</span>
<span class="line-added">589 				render(renderActive, builder, node.getChildren().get(i));</span>
<span class="line-added">590 				if (i &lt; node.getChildren().size() - 1) {</span>
<span class="line-added">591 					builder.append(&quot;,&quot;);</span>
<span class="line-added">592 				}</span>
<span class="line-added">593 			} else {</span>
<span class="line-added">594 				modelCalculationActive.set(false);</span>
595 			}
<span class="line-added">596 			i++;</span>
597 		}
<span class="line-added">598 </span>
<span class="line-added">599 //		for (int i = 0; i &lt; node.getChildren().size(); i++) {</span>
<span class="line-added">600 //			render(builder, node.getChildren().get(i));</span>
<span class="line-added">601 //			if (i &lt; node.getChildren().size() - 1) {</span>
<span class="line-added">602 //				builder.append(&quot;,&quot;);</span>
<span class="line-added">603 //			}</span>
<span class="line-added">604 //		}</span>
605 	}
606 
607 	private static String createJsonRootTraceNode(TraceNode rootNode) {
608 		return String.format(&quot;{%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, rootNode.getName()), toJSonKeyValue(&quot;p&quot;, &quot;&quot;),
609 				toJSonKeyValue(&quot;d&quot;, rootNode.getPackageName()));
610 	}
611 
612 	private static String createJsonTraceNode(TraceNode node) {
613 		return String.format(&quot;{%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, node.getName()),
614 				toJSonKeyValue(&quot;p&quot;, node.getPackageName()), toJSonKeyValue(&quot;v&quot;, String.valueOf(node.getValue())));
615 	}
616 
617 	private static String createJsonDescTraceNode(TraceNode node) {
618 		return String.format(&quot;{%s,%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, node.getName()),
619 				toJSonKeyValue(&quot;p&quot;, node.getPackageName()), toJSonKeyValue(&quot;d&quot;, UNCLASSIFIABLE_FRAME_DESC),
620 				toJSonKeyValue(&quot;v&quot;, String.valueOf(node.getValue())));
621 	}
622 
623 	private static String toJSonKeyValue(String key, String value) {
624 		return &quot;\&quot;&quot; + key + &quot;\&quot;: &quot; + &quot;\&quot;&quot; + value + &quot;\&quot;&quot;;
</pre>
</td>
</tr>
</table>
<center><a href="../tree/TraceNode.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>