<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../tree/TraceTreeUtils.java.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>    <h2>application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 305,41 ***</span>
  			return root != null &amp;&amp; model != null;
  		}
  	}
  
  	/**
<span class="line-modified">! 	 * JsonModel hold the calculated json string and has state that can not be finished due to the</span>
<span class="line-removed">- 	 * usage inside the {@link CompletableFuture} future, can be only set to ready</span>
  	 */
  	private static class JSonModelBuilder {
<span class="line-modified">! 		private static final JSonModelBuilder EMPTY = new JSonModelBuilder(&quot;\&quot;\&quot;&quot;, true);</span>
  		private final StringBuilder builder = new StringBuilder();
<span class="line-modified">! 		private boolean ready;</span>
  
  		private JSonModelBuilder() {
<span class="line-removed">- 			this.ready = false;</span>
  		}
  
<span class="line-modified">! 		private JSonModelBuilder(String json, boolean ready) {</span>
  			this.builder.append(json);
<span class="line-removed">- 			this.ready = ready;</span>
  		}
  
  		private void append(String s) {
  			this.builder.append(s);
  		}
  
  		private String build() {
  			return builder.toString();
  		}
  
<span class="line-modified">! 		private boolean isReady() {</span>
<span class="line-modified">! 			return ready;</span>
  		}
  
<span class="line-modified">! 		private void setReady() {</span>
<span class="line-modified">! 			this.ready = true;</span>
  		}
  	}
  
  	@Override
  	public void init(IViewSite site, IMemento memento) throws PartInitException {
<span class="line-new-header">--- 305,38 ---</span>
  			return root != null &amp;&amp; model != null;
  		}
  	}
  
  	/**
<span class="line-modified">! 	 * JSonModelBuilder holds the calculated json string, can be canceled</span>
  	 */
  	private static class JSonModelBuilder {
<span class="line-modified">! 		private static final JSonModelBuilder EMPTY = new JSonModelBuilder(&quot;\&quot;\&quot;&quot;);</span>
  		private final StringBuilder builder = new StringBuilder();
<span class="line-modified">! 		private boolean canceled = false;</span>
  
  		private JSonModelBuilder() {
  		}
  
<span class="line-modified">! 		private JSonModelBuilder(String json) {</span>
  			this.builder.append(json);
  		}
  
  		private void append(String s) {
  			this.builder.append(s);
  		}
  
  		private String build() {
  			return builder.toString();
  		}
  
<span class="line-modified">! 		private boolean isCanceled() {</span>
<span class="line-modified">! 			return canceled;</span>
  		}
  
<span class="line-modified">! 		private void setCanceled() {</span>
<span class="line-modified">! 			this.canceled = true;</span>
  		}
  	}
  
  	@Override
  	public void init(IViewSite site, IMemento memento) throws PartInitException {
</pre>
<hr />
<pre>
<span class="line-old-header">*** 427,36 ***</span>
  		return new StacktraceModel(threadRootAtTop, frameSeparator, currentItems);
  	}
  
  	private CompletableFuture&lt;ModelsContainer&gt; getModelPreparer(
  		final StacktraceModel model, final boolean materializeSelectedBranches) {
  		return CompletableFuture.supplyAsync(() -&gt; {
<span class="line-removed">- 			modelCalculationActive.set(true);</span>
  			Fork rootFork = model.getRootFork();
  			if (materializeSelectedBranches) {
  				Branch selectedBranch = getLastSelectedBranch(rootFork);
  				if (selectedBranch != null) {
  					selectedBranch.getEndFork();
  				}
  			}
  
  			if (modelCalculationActive.get()) {
  				TraceNode root = TraceTreeUtils.createRootWithDescription(currentItems, rootFork.getBranchCount());
<span class="line-modified">! 				return new ModelsContainer(TraceTreeUtils.createTree(root, model), model);</span>
  			} else {
<span class="line-removed">- 				System.out.println(&quot;FLAME, getModelPreparer CANCEL&quot;);</span>
  				return ModelsContainer.EMPTY;
  			}
  		}, MODEL_EXECUTOR);
  	}
  
  	private void setModel(ModelsContainer container) {
  		// Check that the models are prepared and up to date 
  		if (container.isReady() &amp;&amp; container.isEqualStacktraceModel(createStacktraceModel()) &amp;&amp; !browser.isDisposed()) {
  			setViewerInput(container.root());
<span class="line-removed">- 		} else {</span>
<span class="line-removed">- 			System.out.println(&quot;FLAME, setModel CANCEL&quot;);</span>
  		}
  	}
  
  	private void setViewerInput(TraceNode root) {
  		Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(false));
<span class="line-new-header">--- 424,34 ---</span>
  		return new StacktraceModel(threadRootAtTop, frameSeparator, currentItems);
  	}
  
  	private CompletableFuture&lt;ModelsContainer&gt; getModelPreparer(
  		final StacktraceModel model, final boolean materializeSelectedBranches) {
<span class="line-added">+ 		modelCalculationActive.set(true);</span>
  		return CompletableFuture.supplyAsync(() -&gt; {
  			Fork rootFork = model.getRootFork();
  			if (materializeSelectedBranches) {
  				Branch selectedBranch = getLastSelectedBranch(rootFork);
  				if (selectedBranch != null) {
  					selectedBranch.getEndFork();
  				}
  			}
  
  			if (modelCalculationActive.get()) {
  				TraceNode root = TraceTreeUtils.createRootWithDescription(currentItems, rootFork.getBranchCount());
<span class="line-modified">! 				TraceNode traceNode = TraceTreeUtils.createTree(modelCalculationActive, root, model);</span>
<span class="line-added">+ 				return traceNode.isCanceled() ? ModelsContainer.EMPTY : new ModelsContainer(traceNode, model);</span>
  			} else {
  				return ModelsContainer.EMPTY;
  			}
  		}, MODEL_EXECUTOR);
  	}
  
  	private void setModel(ModelsContainer container) {
  		// Check that the models are prepared and up to date 
  		if (container.isReady() &amp;&amp; container.isEqualStacktraceModel(createStacktraceModel()) &amp;&amp; !browser.isDisposed()) {
  			setViewerInput(container.root());
  		}
  	}
  
  	private void setViewerInput(TraceNode root) {
  		Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(false));
</pre>
<hr />
<pre>
<span class="line-old-header">*** 467,19 ***</span>
  
  		browser.addProgressListener(new ProgressAdapter() {
  			@Override
  			public void completed(ProgressEvent event) {
  				browser.removeProgressListener(this);
<span class="line-modified">! 				browser.execute(String.format(&quot;configureTooltipText(&#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;);&quot;, TABLE_COLUMN_COUNT,</span>
<span class="line-modified">! 						TABLE_COLUMN_EVENT_TYPE, TOOLTIP_PACKAGE, TOOLTIP_SAMPLES, TOOLTIP_DESCRIPTION));</span>
<span class="line-modified">! 				JSonModelBuilder jsonModel = toJSonModel(root);</span>
<span class="line-modified">! 				if (jsonModel.isReady()) {</span>
<span class="line-modified">! 					browser.execute(String.format(&quot;processGraph(%s, %s);&quot;, jsonModel.build(), icicleViewActive));</span>
  					Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(true));
<span class="line-removed">- 				} else {</span>
<span class="line-removed">- 					System.out.println(&quot;FLAME, setViewerInput CANCEL&quot;);</span>
  				}
  			}
  		});
  
  	}
  
<span class="line-new-header">--- 462,19 ---</span>
  
  		browser.addProgressListener(new ProgressAdapter() {
  			@Override
  			public void completed(ProgressEvent event) {
  				browser.removeProgressListener(this);
<span class="line-modified">! 				JSonModelBuilder jsonModelBuilder = toJSonModel(root);</span>
<span class="line-modified">! 				if (!jsonModelBuilder.isCanceled()) {</span>
<span class="line-modified">! 					browser.execute(</span>
<span class="line-modified">! 							String.format(&quot;configureTooltipText(&#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;, &#39;%s&#39;);&quot;, TABLE_COLUMN_COUNT,</span>
<span class="line-modified">! 									TABLE_COLUMN_EVENT_TYPE, TOOLTIP_PACKAGE, TOOLTIP_SAMPLES, TOOLTIP_DESCRIPTION));</span>
<span class="line-added">+ 					browser.execute(String.format(&quot;processGraph(%s, %s);&quot;, jsonModelBuilder.build(), icicleViewActive));</span>
  					Stream.of(exportActions).forEach((action) -&gt; action.setEnabled(true));
  				}
<span class="line-added">+ </span>
  			}
  		});
  
  	}
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 565,13 ***</span>
  		String rootNodeStart = createJsonRootTraceNode(root);
  		builder.append(rootNodeStart);
  		AtomicBoolean renderActive = new AtomicBoolean(true);
  		renderChildren(renderActive, builder, root);
  		builder.append(&quot;]}&quot;);
<span class="line-removed">- 		if (renderActive.get()) {</span>
<span class="line-removed">- 			builder.setReady();</span>
<span class="line-removed">- 		}</span>
  		return builder;
  	}
  
  	private void render(AtomicBoolean renderActive, JSonModelBuilder builder, TraceNode node) {
  		String start = UNCLASSIFIABLE_FRAME.equals(node.getName()) ? createJsonDescTraceNode(node)
<span class="line-new-header">--- 560,10 ---</span>
</pre>
<hr />
<pre>
<span class="line-old-header">*** 582,28 ***</span>
  	}
  
  	private void renderChildren(AtomicBoolean renderActive, JSonModelBuilder builder, TraceNode node) {
  
  		int i = 0;
<span class="line-modified">! 		while (i &lt; node.getChildren().size()) {</span>
<span class="line-modified">! 			if (modelCalculationActive.get()) {</span>
<span class="line-modified">! 				render(renderActive, builder, node.getChildren().get(i));</span>
<span class="line-modified">! 				if (i &lt; node.getChildren().size() - 1) {</span>
<span class="line-modified">! 					builder.append(&quot;,&quot;);</span>
<span class="line-modified">! 				}</span>
<span class="line-modified">! 			} else {</span>
<span class="line-modified">! 				modelCalculationActive.set(false);</span>
  			}
  			i++;
  		}
<span class="line-removed">- </span>
<span class="line-removed">- //		for (int i = 0; i &lt; node.getChildren().size(); i++) {</span>
<span class="line-removed">- //			render(builder, node.getChildren().get(i));</span>
<span class="line-removed">- //			if (i &lt; node.getChildren().size() - 1) {</span>
<span class="line-removed">- //				builder.append(&quot;,&quot;);</span>
<span class="line-removed">- //			}</span>
<span class="line-removed">- //		}</span>
  	}
  
  	private static String createJsonRootTraceNode(TraceNode rootNode) {
  		return String.format(&quot;{%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, rootNode.getName()), toJSonKeyValue(&quot;p&quot;, &quot;&quot;),
  				toJSonKeyValue(&quot;d&quot;, rootNode.getPackageName()));
<span class="line-new-header">--- 574,22 ---</span>
  	}
  
  	private void renderChildren(AtomicBoolean renderActive, JSonModelBuilder builder, TraceNode node) {
  
  		int i = 0;
<span class="line-modified">! 		while (renderActive.get() &amp;&amp; i &lt; node.getChildren().size()) {</span>
<span class="line-modified">! 			if (!modelCalculationActive.get()) {</span>
<span class="line-modified">! 				renderActive.set(false);</span>
<span class="line-modified">! 				builder.setCanceled();</span>
<span class="line-modified">! 			}</span>
<span class="line-modified">! </span>
<span class="line-modified">! 			render(renderActive, builder, node.getChildren().get(i));</span>
<span class="line-modified">! 			if (i &lt; node.getChildren().size() - 1) {</span>
<span class="line-added">+ 				builder.append(&quot;,&quot;);</span>
  			}
  			i++;
  		}
  	}
  
  	private static String createJsonRootTraceNode(TraceNode rootNode) {
  		return String.format(&quot;{%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, rootNode.getName()), toJSonKeyValue(&quot;p&quot;, &quot;&quot;),
  				toJSonKeyValue(&quot;d&quot;, rootNode.getPackageName()));
</pre>
<center><a href="../tree/TraceTreeUtils.java.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>  </body>
</html>