<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.graphics/src/main/java/javafx/scene/layout/AnchorPane.java</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../input/MouseEvent.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="BorderPane.java.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.graphics/src/main/java/javafx/scene/layout/AnchorPane.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 25 
 26 package javafx.scene.layout;
 27 
 28 import java.util.List;
 29 import javafx.geometry.Bounds;
 30 import javafx.geometry.Insets;
 31 import javafx.geometry.Orientation;
 32 import javafx.scene.Node;
 33 
 34 /**
 35  * AnchorPane allows the edges of child nodes to be anchored to an offset from
 36  * the anchor pane&#39;s edges.  If the anchor pane has a border and/or padding set, the
 37  * offsets will be measured from the inside edge of those insets.
 38  * &lt;p&gt;
 39  * AnchorPane lays out each managed child regardless of the child&#39;s visible property value;
 40  * unmanaged children are ignored for all layout calculations.&lt;/p&gt;
 41  * &lt;p&gt;
 42  * AnchorPanes may be styled with backgrounds and borders using CSS.  See
 43  * {@link javafx.scene.layout.Region Region} superclass for details.&lt;/p&gt;
 44  *
<span class="line-modified"> 45  * &lt;h3&gt;Anchor Constraints&lt;/h3&gt;</span>
 46  * &lt;p&gt;
 47  * The application sets anchor constraints on each child to configure the anchors
 48  * on one or more sides.  If a child is anchored on opposite sides (and is resizable), the
 49  * anchor pane will resize it to maintain both offsets, otherwise the anchor pane
 50  * will resize it to its preferred size.  If in the former case (anchored on opposite
 51  * sides) and the child is not resizable, then only the top/left anchor will be honored.
 52  * AnchorPane provides a static method for setting each anchor constraint.
 53  * &lt;/p&gt;
 54  *
 55  * &lt;table border=&quot;1&quot;&gt;
 56  * &lt;caption&gt;AnchorPane Constraint Table&lt;/caption&gt;
 57  * &lt;tr&gt;&lt;th scope=&quot;col&quot;&gt;Constraint&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Type&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Description&lt;/th&gt;&lt;/tr&gt;
 58  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;topAnchor&lt;/th&gt;&lt;td&gt;double&lt;/td&gt;&lt;td&gt;distance from the anchor pane&#39;s top insets to the child&#39;s top edge.&lt;/td&gt;&lt;/tr&gt;
 59  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;leftAnchor&lt;/th&gt;&lt;td&gt;double&lt;/td&gt;&lt;td&gt;distance from the anchor pane&#39;s left insets to the child&#39;s left edge.&lt;/td&gt;&lt;/tr&gt;
 60  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;bottomAnchor&lt;/th&gt;&lt;td&gt;double&lt;/td&gt;&lt;td&gt;distance from the anchor pane&#39;s bottom insets to the child&#39;s bottom edge.&lt;/td&gt;&lt;/tr&gt;
 61  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;rightAnchor&lt;/th&gt;&lt;td&gt;double&lt;/td&gt;&lt;td&gt;distance from the anchor pane&#39;s right insets to the child&#39;s right edge.&lt;/td&gt;&lt;/tr&gt;
 62  * &lt;/table&gt;
 63  * &lt;p&gt;
 64  * AnchorPane Example:
 65  * &lt;pre&gt;&lt;code&gt;     AnchorPane anchorPane = new AnchorPane();
 66  *     // List should stretch as anchorPane is resized
 67  *     ListView list = new ListView();
 68  *    &lt;b&gt; AnchorPane.setTopAnchor(list, 10.0);
 69  *     AnchorPane.setLeftAnchor(list, 10.0);
 70  *     AnchorPane.setRightAnchor(list, 65.0);&lt;/b&gt;
 71  *     // Button will float on right edge
 72  *     Button button = new Button(&quot;Add&quot;);
 73  *     &lt;b&gt;AnchorPane.setTopAnchor(button, 10.0);
 74  *     AnchorPane.setRightAnchor(button, 10.0);&lt;/b&gt;
 75  *     anchorPane.getChildren().addAll(list, button);
 76  * &lt;/code&gt;&lt;/pre&gt;
 77  *
<span class="line-modified"> 78  * &lt;h3&gt;Resizable Range&lt;/h3&gt;</span>
 79  * &lt;p&gt;
 80  * An anchor pane&#39;s parent will resize the anchor pane within the anchor pane&#39;s resizable range
 81  * during layout.   By default the anchor pane computes this range based on its content
 82  * as outlined in the table below.
 83  * &lt;/p&gt;
 84  *
 85  * &lt;table border=&quot;1&quot;&gt;
 86  * &lt;caption&gt;AnchorPane Resize Table&lt;/caption&gt;
 87  * &lt;tr&gt;&lt;td&gt;&lt;/td&gt;&lt;th scope=&quot;col&quot;&gt;width&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;height&lt;/th&gt;&lt;/tr&gt;
 88  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;minimum&lt;/th&gt;
 89  * &lt;td&gt;left/right insets plus width required to display children anchored at left/right with at least their min widths&lt;/td&gt;
 90  * &lt;td&gt;top/bottom insets plus height required to display children anchored at top/bottom with at least their min heights&lt;/td&gt;&lt;/tr&gt;
 91  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;preferred&lt;/th&gt;
 92  * &lt;td&gt;left/right insets plus width required to display children anchored at left/right with at least their pref widths&lt;/td&gt;
 93  * &lt;td&gt;top/bottom insets plus height required to display children anchored at top/bottom with at least their pref heights&lt;/td&gt;&lt;/tr&gt;
 94  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;maximum&lt;/th&gt;
 95  * &lt;td&gt;Double.MAX_VALUE&lt;/td&gt;&lt;td&gt;Double.MAX_VALUE&lt;/td&gt;&lt;/tr&gt;
 96  * &lt;/table&gt;
 97  * &lt;p&gt;
 98  * An anchor pane&#39;s unbounded maximum width and height are an indication to the parent that
</pre>
</td>
<td>
<hr />
<pre>
 25 
 26 package javafx.scene.layout;
 27 
 28 import java.util.List;
 29 import javafx.geometry.Bounds;
 30 import javafx.geometry.Insets;
 31 import javafx.geometry.Orientation;
 32 import javafx.scene.Node;
 33 
 34 /**
 35  * AnchorPane allows the edges of child nodes to be anchored to an offset from
 36  * the anchor pane&#39;s edges.  If the anchor pane has a border and/or padding set, the
 37  * offsets will be measured from the inside edge of those insets.
 38  * &lt;p&gt;
 39  * AnchorPane lays out each managed child regardless of the child&#39;s visible property value;
 40  * unmanaged children are ignored for all layout calculations.&lt;/p&gt;
 41  * &lt;p&gt;
 42  * AnchorPanes may be styled with backgrounds and borders using CSS.  See
 43  * {@link javafx.scene.layout.Region Region} superclass for details.&lt;/p&gt;
 44  *
<span class="line-modified"> 45  * &lt;h2&gt;Anchor Constraints&lt;/h2&gt;</span>
 46  * &lt;p&gt;
 47  * The application sets anchor constraints on each child to configure the anchors
 48  * on one or more sides.  If a child is anchored on opposite sides (and is resizable), the
 49  * anchor pane will resize it to maintain both offsets, otherwise the anchor pane
 50  * will resize it to its preferred size.  If in the former case (anchored on opposite
 51  * sides) and the child is not resizable, then only the top/left anchor will be honored.
 52  * AnchorPane provides a static method for setting each anchor constraint.
 53  * &lt;/p&gt;
 54  *
 55  * &lt;table border=&quot;1&quot;&gt;
 56  * &lt;caption&gt;AnchorPane Constraint Table&lt;/caption&gt;
 57  * &lt;tr&gt;&lt;th scope=&quot;col&quot;&gt;Constraint&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Type&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Description&lt;/th&gt;&lt;/tr&gt;
 58  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;topAnchor&lt;/th&gt;&lt;td&gt;double&lt;/td&gt;&lt;td&gt;distance from the anchor pane&#39;s top insets to the child&#39;s top edge.&lt;/td&gt;&lt;/tr&gt;
 59  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;leftAnchor&lt;/th&gt;&lt;td&gt;double&lt;/td&gt;&lt;td&gt;distance from the anchor pane&#39;s left insets to the child&#39;s left edge.&lt;/td&gt;&lt;/tr&gt;
 60  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;bottomAnchor&lt;/th&gt;&lt;td&gt;double&lt;/td&gt;&lt;td&gt;distance from the anchor pane&#39;s bottom insets to the child&#39;s bottom edge.&lt;/td&gt;&lt;/tr&gt;
 61  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;rightAnchor&lt;/th&gt;&lt;td&gt;double&lt;/td&gt;&lt;td&gt;distance from the anchor pane&#39;s right insets to the child&#39;s right edge.&lt;/td&gt;&lt;/tr&gt;
 62  * &lt;/table&gt;
 63  * &lt;p&gt;
 64  * AnchorPane Example:
 65  * &lt;pre&gt;&lt;code&gt;     AnchorPane anchorPane = new AnchorPane();
 66  *     // List should stretch as anchorPane is resized
 67  *     ListView list = new ListView();
 68  *    &lt;b&gt; AnchorPane.setTopAnchor(list, 10.0);
 69  *     AnchorPane.setLeftAnchor(list, 10.0);
 70  *     AnchorPane.setRightAnchor(list, 65.0);&lt;/b&gt;
 71  *     // Button will float on right edge
 72  *     Button button = new Button(&quot;Add&quot;);
 73  *     &lt;b&gt;AnchorPane.setTopAnchor(button, 10.0);
 74  *     AnchorPane.setRightAnchor(button, 10.0);&lt;/b&gt;
 75  *     anchorPane.getChildren().addAll(list, button);
 76  * &lt;/code&gt;&lt;/pre&gt;
 77  *
<span class="line-modified"> 78  * &lt;h2&gt;Resizable Range&lt;/h2&gt;</span>
 79  * &lt;p&gt;
 80  * An anchor pane&#39;s parent will resize the anchor pane within the anchor pane&#39;s resizable range
 81  * during layout.   By default the anchor pane computes this range based on its content
 82  * as outlined in the table below.
 83  * &lt;/p&gt;
 84  *
 85  * &lt;table border=&quot;1&quot;&gt;
 86  * &lt;caption&gt;AnchorPane Resize Table&lt;/caption&gt;
 87  * &lt;tr&gt;&lt;td&gt;&lt;/td&gt;&lt;th scope=&quot;col&quot;&gt;width&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;height&lt;/th&gt;&lt;/tr&gt;
 88  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;minimum&lt;/th&gt;
 89  * &lt;td&gt;left/right insets plus width required to display children anchored at left/right with at least their min widths&lt;/td&gt;
 90  * &lt;td&gt;top/bottom insets plus height required to display children anchored at top/bottom with at least their min heights&lt;/td&gt;&lt;/tr&gt;
 91  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;preferred&lt;/th&gt;
 92  * &lt;td&gt;left/right insets plus width required to display children anchored at left/right with at least their pref widths&lt;/td&gt;
 93  * &lt;td&gt;top/bottom insets plus height required to display children anchored at top/bottom with at least their pref heights&lt;/td&gt;&lt;/tr&gt;
 94  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;maximum&lt;/th&gt;
 95  * &lt;td&gt;Double.MAX_VALUE&lt;/td&gt;&lt;td&gt;Double.MAX_VALUE&lt;/td&gt;&lt;/tr&gt;
 96  * &lt;/table&gt;
 97  * &lt;p&gt;
 98  * An anchor pane&#39;s unbounded maximum width and height are an indication to the parent that
</pre>
</td>
</tr>
</table>
<center><a href="../input/MouseEvent.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="BorderPane.java.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>