<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.graphics/src/main/java/javafx/scene/layout/AnchorPane.java</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../input/MouseEvent.java.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="BorderPane.java.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.graphics/src/main/java/javafx/scene/layout/AnchorPane.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 40,11 ***</span>
   * unmanaged children are ignored for all layout calculations.&lt;/p&gt;
   * &lt;p&gt;
   * AnchorPanes may be styled with backgrounds and borders using CSS.  See
   * {@link javafx.scene.layout.Region Region} superclass for details.&lt;/p&gt;
   *
<span class="line-modified">!  * &lt;h3&gt;Anchor Constraints&lt;/h3&gt;</span>
   * &lt;p&gt;
   * The application sets anchor constraints on each child to configure the anchors
   * on one or more sides.  If a child is anchored on opposite sides (and is resizable), the
   * anchor pane will resize it to maintain both offsets, otherwise the anchor pane
   * will resize it to its preferred size.  If in the former case (anchored on opposite
<span class="line-new-header">--- 40,11 ---</span>
   * unmanaged children are ignored for all layout calculations.&lt;/p&gt;
   * &lt;p&gt;
   * AnchorPanes may be styled with backgrounds and borders using CSS.  See
   * {@link javafx.scene.layout.Region Region} superclass for details.&lt;/p&gt;
   *
<span class="line-modified">!  * &lt;h2&gt;Anchor Constraints&lt;/h2&gt;</span>
   * &lt;p&gt;
   * The application sets anchor constraints on each child to configure the anchors
   * on one or more sides.  If a child is anchored on opposite sides (and is resizable), the
   * anchor pane will resize it to maintain both offsets, otherwise the anchor pane
   * will resize it to its preferred size.  If in the former case (anchored on opposite
</pre>
<hr />
<pre>
<span class="line-old-header">*** 73,11 ***</span>
   *     &lt;b&gt;AnchorPane.setTopAnchor(button, 10.0);
   *     AnchorPane.setRightAnchor(button, 10.0);&lt;/b&gt;
   *     anchorPane.getChildren().addAll(list, button);
   * &lt;/code&gt;&lt;/pre&gt;
   *
<span class="line-modified">!  * &lt;h3&gt;Resizable Range&lt;/h3&gt;</span>
   * &lt;p&gt;
   * An anchor pane&#39;s parent will resize the anchor pane within the anchor pane&#39;s resizable range
   * during layout.   By default the anchor pane computes this range based on its content
   * as outlined in the table below.
   * &lt;/p&gt;
<span class="line-new-header">--- 73,11 ---</span>
   *     &lt;b&gt;AnchorPane.setTopAnchor(button, 10.0);
   *     AnchorPane.setRightAnchor(button, 10.0);&lt;/b&gt;
   *     anchorPane.getChildren().addAll(list, button);
   * &lt;/code&gt;&lt;/pre&gt;
   *
<span class="line-modified">!  * &lt;h2&gt;Resizable Range&lt;/h2&gt;</span>
   * &lt;p&gt;
   * An anchor pane&#39;s parent will resize the anchor pane within the anchor pane&#39;s resizable range
   * during layout.   By default the anchor pane computes this range based on its content
   * as outlined in the table below.
   * &lt;/p&gt;
</pre>
<center><a href="../input/MouseEvent.java.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="BorderPane.java.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>