<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.graphics/src/main/java/javafx/scene/layout/Pane.java</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="HBox.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="StackPane.java.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.graphics/src/main/java/javafx/scene/layout/Pane.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -56,11 +56,11 @@</span>
   *
   * &lt;p&gt;
   * Pane resizes each managed child regardless of the child&#39;s visible property value;
   * unmanaged children are ignored for all layout calculations.&lt;/p&gt;
   *
<span class="udiff-line-modified-removed">-  * &lt;h3&gt;Resizable Range&lt;/h3&gt;</span>
<span class="udiff-line-modified-added">+  * &lt;h2&gt;Resizable Range&lt;/h2&gt;</span>
   *
   * &lt;p&gt;
   * A pane&#39;s parent will resize the pane within the pane&#39;s resizable range
   * during layout.   By default the pane computes this range based on its content
   * as outlined in the table below:
</pre>
<center><a href="HBox.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="StackPane.java.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>