<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.graphics/src/main/java/javafx/scene/layout/VBox.java</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="TilePane.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="package.html.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.graphics/src/main/java/javafx/scene/layout/VBox.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 57  * &lt;pre&gt;{@code
 58  *     VBox vbox = new VBox(8); // spacing = 8
 59  *     vbox.getChildren().addAll(new Button(&quot;Cut&quot;), new Button(&quot;Copy&quot;), new Button(&quot;Paste&quot;));
 60  * }&lt;/pre&gt;
 61  *
 62  * VBox will resize children (if resizable) to their preferred heights and uses its
 63  * {@link #fillWidthProperty() fillWidth} property to determine whether to resize their widths to
 64  * fill its own width or keep their widths to their preferred (fillWidth defaults to true).
 65  * The alignment of the content is controlled by the {@link #alignmentProperty() alignment} property,
 66  * which defaults to Pos.TOP_LEFT.
 67  * &lt;p&gt;
 68  * If a vbox is resized larger than its preferred height, by default it will keep
 69  * children to their preferred heights, leaving the extra space unused.  If an
 70  * application wishes to have one or more children be allocated that extra space
 71  * it may optionally set a vgrow constraint on the child.  See &quot;Optional Layout
 72  * Constraints&quot; for details.
 73  * &lt;p&gt;
 74  * VBox lays out each managed child regardless of the child&#39;s
 75  * visible property value; unmanaged children are ignored.&lt;/p&gt;
 76  *
<span class="line-modified"> 77  * &lt;h3&gt;Resizable Range&lt;/h3&gt;</span>
 78  *
 79  * &lt;p&gt;
 80  * A vbox&#39;s parent will resize the vbox within the vbox&#39;s resizable range
 81  * during layout.   By default the vbox computes this range based on its content
 82  * as outlined in the table below.
 83  * &lt;/p&gt;
 84  * &lt;table border=&quot;1&quot;&gt;
 85  * &lt;caption&gt;VBox Resize Table&lt;/caption&gt;
 86  * &lt;tr&gt;&lt;td&gt;&lt;/td&gt;&lt;th scope=&quot;col&quot;&gt;width&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;height&lt;/th&gt;&lt;/tr&gt;
 87  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;minimum&lt;/th&gt;
 88  * &lt;td&gt;left/right insets plus the largest of the children&#39;s min widths.&lt;/td&gt;
 89  * &lt;td&gt;top/bottom insets plus the sum of each child&#39;s min height plus spacing between each child.&lt;/td&gt;
 90  * &lt;/tr&gt;
 91  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;preferred&lt;/th&gt;
 92  * &lt;td&gt;left/right insets plus the largest of the children&#39;s pref widths.&lt;/td&gt;
 93  * &lt;td&gt;top/bottom insets plus the sum of each child&#39;s pref height plus spacing between each child.&lt;/td&gt;
 94  * &lt;/tr&gt;
 95  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;maximum&lt;/th&gt;
 96  * &lt;td&gt;Double.MAX_VALUE&lt;/td&gt;&lt;td&gt;Double.MAX_VALUE&lt;/td&gt;&lt;/tr&gt;
 97  * &lt;/table&gt;
 98  * &lt;p&gt;
 99  * A vbox&#39;s unbounded maximum width and height are an indication to the parent that
100  * it may be resized beyond its preferred size to fill whatever space is assigned
101  * to it.
102  * &lt;p&gt;
103  * VBox provides properties for setting the size range directly.  These
104  * properties default to the sentinel value USE_COMPUTED_SIZE, however the
105  * application may set them to other values as needed:
106  * &lt;pre&gt;&lt;code&gt;
107  *     &lt;b&gt;vbox.setPrefWidth(400);&lt;/b&gt;
108  * &lt;/code&gt;&lt;/pre&gt;
109  * Applications may restore the computed values by setting these properties back
110  * to USE_COMPUTED_SIZE.
111  * &lt;p&gt;
112  * VBox does not clip its content by default, so it is possible that children&#39;s
113  * bounds may extend outside its own bounds if a child&#39;s min size prevents it from
114  * being fit within the vbox.&lt;/p&gt;
115  *
<span class="line-modified">116  * &lt;h3&gt;Optional Layout Constraints&lt;/h3&gt;</span>
117  *
118  * &lt;p&gt;
119  * An application may set constraints on individual children to customize VBox&#39;s layout.
120  * For each constraint, VBox provides a static method for setting it on the child.
121  * &lt;/p&gt;
122  *
123  * &lt;table border=&quot;1&quot;&gt;
124  * &lt;caption&gt;VBox Constraint Table&lt;/caption&gt;
125  * &lt;tr&gt;&lt;th scope=&quot;col&quot;&gt;Constraint&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Type&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Description&lt;/th&gt;&lt;/tr&gt;
126  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;vgrow&lt;/th&gt;&lt;td&gt;javafx.scene.layout.Priority&lt;/td&gt;&lt;td&gt;The vertical grow priority for the child.&lt;/td&gt;&lt;/tr&gt;
127  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;margin&lt;/th&gt;&lt;td&gt;javafx.geometry.Insets&lt;/td&gt;&lt;td&gt;Margin space around the outside of the child.&lt;/td&gt;&lt;/tr&gt;
128  * &lt;/table&gt;
129  * &lt;p&gt;
130  * For example, if a vbox needs the ListView to be allocated all extra space:
131  * &lt;pre&gt;&lt;code&gt;
132  *     VBox vbox = new VBox();
133  *     ListView list = new ListView();
134  *     &lt;b&gt;VBox.setVgrow(list, Priority.ALWAYS);&lt;/b&gt;
135  *     vbox.getChildren().addAll(new Label(&quot;Names:&quot;), list);
136  * &lt;/code&gt;&lt;/pre&gt;
</pre>
</td>
<td>
<hr />
<pre>
 57  * &lt;pre&gt;{@code
 58  *     VBox vbox = new VBox(8); // spacing = 8
 59  *     vbox.getChildren().addAll(new Button(&quot;Cut&quot;), new Button(&quot;Copy&quot;), new Button(&quot;Paste&quot;));
 60  * }&lt;/pre&gt;
 61  *
 62  * VBox will resize children (if resizable) to their preferred heights and uses its
 63  * {@link #fillWidthProperty() fillWidth} property to determine whether to resize their widths to
 64  * fill its own width or keep their widths to their preferred (fillWidth defaults to true).
 65  * The alignment of the content is controlled by the {@link #alignmentProperty() alignment} property,
 66  * which defaults to Pos.TOP_LEFT.
 67  * &lt;p&gt;
 68  * If a vbox is resized larger than its preferred height, by default it will keep
 69  * children to their preferred heights, leaving the extra space unused.  If an
 70  * application wishes to have one or more children be allocated that extra space
 71  * it may optionally set a vgrow constraint on the child.  See &quot;Optional Layout
 72  * Constraints&quot; for details.
 73  * &lt;p&gt;
 74  * VBox lays out each managed child regardless of the child&#39;s
 75  * visible property value; unmanaged children are ignored.&lt;/p&gt;
 76  *
<span class="line-modified"> 77  * &lt;h2&gt;Resizable Range&lt;/h2&gt;</span>
 78  *
 79  * &lt;p&gt;
 80  * A vbox&#39;s parent will resize the vbox within the vbox&#39;s resizable range
 81  * during layout.   By default the vbox computes this range based on its content
 82  * as outlined in the table below.
 83  * &lt;/p&gt;
 84  * &lt;table border=&quot;1&quot;&gt;
 85  * &lt;caption&gt;VBox Resize Table&lt;/caption&gt;
 86  * &lt;tr&gt;&lt;td&gt;&lt;/td&gt;&lt;th scope=&quot;col&quot;&gt;width&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;height&lt;/th&gt;&lt;/tr&gt;
 87  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;minimum&lt;/th&gt;
 88  * &lt;td&gt;left/right insets plus the largest of the children&#39;s min widths.&lt;/td&gt;
 89  * &lt;td&gt;top/bottom insets plus the sum of each child&#39;s min height plus spacing between each child.&lt;/td&gt;
 90  * &lt;/tr&gt;
 91  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;preferred&lt;/th&gt;
 92  * &lt;td&gt;left/right insets plus the largest of the children&#39;s pref widths.&lt;/td&gt;
 93  * &lt;td&gt;top/bottom insets plus the sum of each child&#39;s pref height plus spacing between each child.&lt;/td&gt;
 94  * &lt;/tr&gt;
 95  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;maximum&lt;/th&gt;
 96  * &lt;td&gt;Double.MAX_VALUE&lt;/td&gt;&lt;td&gt;Double.MAX_VALUE&lt;/td&gt;&lt;/tr&gt;
 97  * &lt;/table&gt;
 98  * &lt;p&gt;
 99  * A vbox&#39;s unbounded maximum width and height are an indication to the parent that
100  * it may be resized beyond its preferred size to fill whatever space is assigned
101  * to it.
102  * &lt;p&gt;
103  * VBox provides properties for setting the size range directly.  These
104  * properties default to the sentinel value USE_COMPUTED_SIZE, however the
105  * application may set them to other values as needed:
106  * &lt;pre&gt;&lt;code&gt;
107  *     &lt;b&gt;vbox.setPrefWidth(400);&lt;/b&gt;
108  * &lt;/code&gt;&lt;/pre&gt;
109  * Applications may restore the computed values by setting these properties back
110  * to USE_COMPUTED_SIZE.
111  * &lt;p&gt;
112  * VBox does not clip its content by default, so it is possible that children&#39;s
113  * bounds may extend outside its own bounds if a child&#39;s min size prevents it from
114  * being fit within the vbox.&lt;/p&gt;
115  *
<span class="line-modified">116  * &lt;h2&gt;Optional Layout Constraints&lt;/h2&gt;</span>
117  *
118  * &lt;p&gt;
119  * An application may set constraints on individual children to customize VBox&#39;s layout.
120  * For each constraint, VBox provides a static method for setting it on the child.
121  * &lt;/p&gt;
122  *
123  * &lt;table border=&quot;1&quot;&gt;
124  * &lt;caption&gt;VBox Constraint Table&lt;/caption&gt;
125  * &lt;tr&gt;&lt;th scope=&quot;col&quot;&gt;Constraint&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Type&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Description&lt;/th&gt;&lt;/tr&gt;
126  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;vgrow&lt;/th&gt;&lt;td&gt;javafx.scene.layout.Priority&lt;/td&gt;&lt;td&gt;The vertical grow priority for the child.&lt;/td&gt;&lt;/tr&gt;
127  * &lt;tr&gt;&lt;th scope=&quot;row&quot;&gt;margin&lt;/th&gt;&lt;td&gt;javafx.geometry.Insets&lt;/td&gt;&lt;td&gt;Margin space around the outside of the child.&lt;/td&gt;&lt;/tr&gt;
128  * &lt;/table&gt;
129  * &lt;p&gt;
130  * For example, if a vbox needs the ListView to be allocated all extra space:
131  * &lt;pre&gt;&lt;code&gt;
132  *     VBox vbox = new VBox();
133  *     ListView list = new ListView();
134  *     &lt;b&gt;VBox.setVgrow(list, Priority.ALWAYS);&lt;/b&gt;
135  *     vbox.getChildren().addAll(new Label(&quot;Names:&quot;), list);
136  * &lt;/code&gt;&lt;/pre&gt;
</pre>
</td>
</tr>
</table>
<center><a href="TilePane.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="package.html.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>