<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.graphics/src/main/java/javafx/scene/layout/VBox.java</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="TilePane.java.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="package.html.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.graphics/src/main/java/javafx/scene/layout/VBox.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 72,11 ***</span>
   * Constraints&quot; for details.
   * &lt;p&gt;
   * VBox lays out each managed child regardless of the child&#39;s
   * visible property value; unmanaged children are ignored.&lt;/p&gt;
   *
<span class="line-modified">!  * &lt;h3&gt;Resizable Range&lt;/h3&gt;</span>
   *
   * &lt;p&gt;
   * A vbox&#39;s parent will resize the vbox within the vbox&#39;s resizable range
   * during layout.   By default the vbox computes this range based on its content
   * as outlined in the table below.
<span class="line-new-header">--- 72,11 ---</span>
   * Constraints&quot; for details.
   * &lt;p&gt;
   * VBox lays out each managed child regardless of the child&#39;s
   * visible property value; unmanaged children are ignored.&lt;/p&gt;
   *
<span class="line-modified">!  * &lt;h2&gt;Resizable Range&lt;/h2&gt;</span>
   *
   * &lt;p&gt;
   * A vbox&#39;s parent will resize the vbox within the vbox&#39;s resizable range
   * during layout.   By default the vbox computes this range based on its content
   * as outlined in the table below.
</pre>
<hr />
<pre>
<span class="line-old-header">*** 111,11 ***</span>
   * &lt;p&gt;
   * VBox does not clip its content by default, so it is possible that children&#39;s
   * bounds may extend outside its own bounds if a child&#39;s min size prevents it from
   * being fit within the vbox.&lt;/p&gt;
   *
<span class="line-modified">!  * &lt;h3&gt;Optional Layout Constraints&lt;/h3&gt;</span>
   *
   * &lt;p&gt;
   * An application may set constraints on individual children to customize VBox&#39;s layout.
   * For each constraint, VBox provides a static method for setting it on the child.
   * &lt;/p&gt;
<span class="line-new-header">--- 111,11 ---</span>
   * &lt;p&gt;
   * VBox does not clip its content by default, so it is possible that children&#39;s
   * bounds may extend outside its own bounds if a child&#39;s min size prevents it from
   * being fit within the vbox.&lt;/p&gt;
   *
<span class="line-modified">!  * &lt;h2&gt;Optional Layout Constraints&lt;/h2&gt;</span>
   *
   * &lt;p&gt;
   * An application may set constraints on individual children to customize VBox&#39;s layout.
   * For each constraint, VBox provides a static method for setting it on the child.
   * &lt;/p&gt;
</pre>
<center><a href="TilePane.java.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="package.html.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>