<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutState.h</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="LayoutState.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="LayoutUnits.h.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutState.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
 30 #include &quot;LayoutContainer.h&quot;
 31 #include &lt;wtf/HashMap.h&gt;
 32 #include &lt;wtf/HashSet.h&gt;
 33 #include &lt;wtf/IsoMalloc.h&gt;
<span class="line-removed"> 34 #include &lt;wtf/OptionSet.h&gt;</span>
 35 #include &lt;wtf/WeakPtr.h&gt;
 36 
 37 namespace WebCore {
 38 
<span class="line-removed"> 39 class RenderView;</span>
<span class="line-removed"> 40 </span>
 41 namespace Display {
 42 class Box;
 43 }
 44 
 45 namespace Layout {
 46 
<span class="line-removed"> 47 enum class StyleDiff;</span>
<span class="line-removed"> 48 class Box;</span>
 49 class FormattingContext;
 50 class FormattingState;



 51 
<span class="line-modified"> 52 // LayoutState is the entry point for layout. It takes the initial containing block which acts as the root of the layout context.</span>
<span class="line-removed"> 53 // LayoutState::layout() generates the display tree for the root container&#39;s subtree (it does not run layout on the root though).</span>
<span class="line-removed"> 54 // Note, while the initial containing block is entry point for the initial layout, it does not necessarily need to be the entry point of any</span>
<span class="line-removed"> 55 // subsequent layouts (subtree layout). A non-initial, subtree layout could be initiated on multiple formatting contexts.</span>
<span class="line-removed"> 56 // Each formatting context has an entry point for layout, which potenitally means multiple entry points per layout frame.</span>
<span class="line-removed"> 57 // LayoutState also holds the formatting states. They cache formatting context specific data to enable performant incremental layouts.</span>
<span class="line-removed"> 58 class LayoutState {</span>
 59     WTF_MAKE_ISO_ALLOCATED(LayoutState);
 60 public:
<span class="line-modified"> 61     LayoutState(const Container&amp; initialContainingBlock);</span>

 62 
<span class="line-modified"> 63     // FIXME: This is a temporary entry point for LFC layout.</span>
<span class="line-modified"> 64     static void run(const RenderView&amp;);</span>
<span class="line-modified"> 65 </span>
<span class="line-modified"> 66     void updateLayout();</span>
<span class="line-removed"> 67     void styleChanged(const Box&amp;, StyleDiff);</span>
<span class="line-removed"> 68     enum class QuirksMode { No, Limited, Yes };</span>
<span class="line-removed"> 69     void setQuirksMode(QuirksMode quirksMode) { m_quirksMode = quirksMode; }</span>
 70 
<span class="line-modified"> 71     enum class UpdateType {</span>
<span class="line-modified"> 72         Overflow = 1 &lt;&lt; 0,</span>
<span class="line-modified"> 73         Position = 1 &lt;&lt; 1,</span>
<span class="line-modified"> 74         Size     = 1 &lt;&lt; 2,</span>
<span class="line-removed"> 75         All      = Overflow | Position | Size</span>
<span class="line-removed"> 76     };</span>
<span class="line-removed"> 77     void markNeedsUpdate(const Box&amp;, OptionSet&lt;UpdateType&gt;);</span>
<span class="line-removed"> 78     bool needsUpdate(const Box&amp;) const;</span>
 79 
 80     FormattingState&amp; formattingStateForBox(const Box&amp;) const;
<span class="line-modified"> 81     FormattingState&amp; establishedFormattingState(const Box&amp; formattingRoot) const;</span>
<span class="line-removed"> 82     bool hasFormattingState(const Box&amp; formattingRoot) const { return m_formattingStates.contains(&amp;formattingRoot); }</span>
<span class="line-removed"> 83     FormattingState&amp; createFormattingStateForFormattingRootIfNeeded(const Box&amp; formattingRoot);</span>
 84 
<span class="line-removed"> 85     std::unique_ptr&lt;FormattingContext&gt; createFormattingContext(const Box&amp; formattingContextRoot);</span>
 86 #ifndef NDEBUG
 87     void registerFormattingContext(const FormattingContext&amp;);
 88     void deregisterFormattingContext(const FormattingContext&amp; formattingContext) { m_formattingContextList.remove(&amp;formattingContext); }
 89 #endif
 90 
<span class="line-modified"> 91     Display::Box&amp; displayBoxForLayoutBox(const Box&amp; layoutBox) const;</span>
<span class="line-modified"> 92     bool hasDisplayBox(const Box&amp; layoutBox) const { return m_layoutToDisplayBox.contains(&amp;layoutBox); }</span>



 93 

 94     bool inQuirksMode() const { return m_quirksMode == QuirksMode::Yes; }
 95     bool inLimitedQuirksMode() const { return m_quirksMode == QuirksMode::Limited; }
 96     bool inNoQuirksMode() const { return m_quirksMode == QuirksMode::No; }
<span class="line-modified"> 97     // For testing purposes only</span>
<span class="line-modified"> 98     void verifyAndOutputMismatchingLayoutTree(const RenderView&amp;) const;</span>






 99 
100 private:
<span class="line-modified">101     const Container&amp; initialContainingBlock() const { return *m_initialContainingBlock; }</span>
<span class="line-modified">102     void layoutFormattingContextSubtree(const Box&amp;);</span>






103 
<span class="line-removed">104     WeakPtr&lt;const Container&gt; m_initialContainingBlock;</span>
<span class="line-removed">105     HashSet&lt;const Container*&gt; m_formattingContextRootListForLayout;</span>
<span class="line-removed">106     HashMap&lt;const Box*, std::unique_ptr&lt;FormattingState&gt;&gt; m_formattingStates;</span>
107 #ifndef NDEBUG
108     HashSet&lt;const FormattingContext*&gt; m_formattingContextList;
109 #endif
<span class="line-modified">110     mutable HashMap&lt;const Box*, std::unique_ptr&lt;Display::Box&gt;&gt; m_layoutToDisplayBox;</span>
111     QuirksMode m_quirksMode { QuirksMode::No };






112 };
113 






















114 #ifndef NDEBUG
115 inline void LayoutState::registerFormattingContext(const FormattingContext&amp; formattingContext)
116 {
117     // Multiple formatting contexts of the same root within a layout frame indicates defective layout logic.
118     ASSERT(!m_formattingContextList.contains(&amp;formattingContext));
119     m_formattingContextList.add(&amp;formattingContext);
120 }
121 #endif
122 













123 }
124 }
125 #endif
</pre>
</td>
<td>
<hr />
<pre>
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
 30 #include &quot;LayoutContainer.h&quot;
 31 #include &lt;wtf/HashMap.h&gt;
 32 #include &lt;wtf/HashSet.h&gt;
 33 #include &lt;wtf/IsoMalloc.h&gt;

 34 #include &lt;wtf/WeakPtr.h&gt;
 35 
 36 namespace WebCore {
 37 


 38 namespace Display {
 39 class Box;
 40 }
 41 
 42 namespace Layout {
 43 


 44 class FormattingContext;
 45 class FormattingState;
<span class="line-added"> 46 class BlockFormattingState;</span>
<span class="line-added"> 47 class InlineFormattingState;</span>
<span class="line-added"> 48 class TableFormattingState;</span>
 49 
<span class="line-modified"> 50 class LayoutState : public CanMakeWeakPtr&lt;LayoutState&gt; {</span>






 51     WTF_MAKE_ISO_ALLOCATED(LayoutState);
 52 public:
<span class="line-modified"> 53     LayoutState(const Document&amp;, const Container&amp; rootContainer);</span>
<span class="line-added"> 54     ~LayoutState();</span>
 55 
<span class="line-modified"> 56     FormattingState&amp; ensureFormattingState(const Container&amp; formattingContextRoot);</span>
<span class="line-modified"> 57     InlineFormattingState&amp; ensureInlineFormattingState(const Container&amp; formattingContextRoot);</span>
<span class="line-modified"> 58     BlockFormattingState&amp; ensureBlockFormattingState(const Container&amp; formattingContextRoot);</span>
<span class="line-modified"> 59     TableFormattingState&amp; ensureTableFormattingState(const Container&amp; formattingContextRoot);</span>



 60 
<span class="line-modified"> 61     FormattingState&amp; establishedFormattingState(const Container&amp; formattingRoot) const;</span>
<span class="line-modified"> 62     InlineFormattingState&amp; establishedInlineFormattingState(const Container&amp; formattingContextRoot) const;</span>
<span class="line-modified"> 63     BlockFormattingState&amp; establishedBlockFormattingState(const Container&amp; formattingContextRoot) const;</span>
<span class="line-modified"> 64     TableFormattingState&amp; establishedTableFormattingState(const Container&amp; formattingContextRoot) const;</span>




 65 
 66     FormattingState&amp; formattingStateForBox(const Box&amp;) const;
<span class="line-modified"> 67     bool hasInlineFormattingState(const Container&amp; formattingRoot) const { return m_inlineFormattingStates.contains(&amp;formattingRoot); }</span>


 68 

 69 #ifndef NDEBUG
 70     void registerFormattingContext(const FormattingContext&amp;);
 71     void deregisterFormattingContext(const FormattingContext&amp; formattingContext) { m_formattingContextList.remove(&amp;formattingContext); }
 72 #endif
 73 
<span class="line-modified"> 74     Display::Box&amp; displayBoxForRootLayoutBox();</span>
<span class="line-modified"> 75     Display::Box&amp; ensureDisplayBoxForLayoutBox(const Box&amp;);</span>
<span class="line-added"> 76     const Display::Box&amp; displayBoxForLayoutBox(const Box&amp;) const;</span>
<span class="line-added"> 77 </span>
<span class="line-added"> 78     bool hasDisplayBox(const Box&amp;) const;</span>
 79 
<span class="line-added"> 80     enum class QuirksMode { No, Limited, Yes };</span>
 81     bool inQuirksMode() const { return m_quirksMode == QuirksMode::Yes; }
 82     bool inLimitedQuirksMode() const { return m_quirksMode == QuirksMode::Limited; }
 83     bool inNoQuirksMode() const { return m_quirksMode == QuirksMode::No; }
<span class="line-modified"> 84 </span>
<span class="line-modified"> 85     const Container&amp; root() const { return *m_rootContainer; }</span>
<span class="line-added"> 86 </span>
<span class="line-added"> 87     // LFC integration only. Full LFC has proper ICB access.</span>
<span class="line-added"> 88     void setViewportSize(const LayoutSize&amp;);</span>
<span class="line-added"> 89     LayoutSize viewportSize() const;</span>
<span class="line-added"> 90     bool isIntegratedRootBoxFirstChild() const { return m_isIntegratedRootBoxFirstChild; }</span>
<span class="line-added"> 91     void setIsIntegratedRootBoxFirstChild(bool);</span>
 92 
 93 private:
<span class="line-modified"> 94     void setQuirksMode(QuirksMode quirksMode) { m_quirksMode = quirksMode; }</span>
<span class="line-modified"> 95     Display::Box&amp; ensureDisplayBoxForLayoutBoxSlow(const Box&amp;);</span>
<span class="line-added"> 96 </span>
<span class="line-added"> 97     HashMap&lt;const Container*, std::unique_ptr&lt;InlineFormattingState&gt;&gt; m_inlineFormattingStates;</span>
<span class="line-added"> 98     HashMap&lt;const Container*, std::unique_ptr&lt;BlockFormattingState&gt;&gt; m_blockFormattingStates;</span>
<span class="line-added"> 99     HashMap&lt;const Container*, std::unique_ptr&lt;TableFormattingState&gt;&gt; m_tableFormattingStates;</span>
<span class="line-added">100 </span>
<span class="line-added">101     std::unique_ptr&lt;InlineFormattingState&gt; m_rootInlineFormattingStateForIntegration;</span>
102 



103 #ifndef NDEBUG
104     HashSet&lt;const FormattingContext*&gt; m_formattingContextList;
105 #endif
<span class="line-modified">106     HashMap&lt;const Box*, std::unique_ptr&lt;Display::Box&gt;&gt; m_layoutToDisplayBox;</span>
107     QuirksMode m_quirksMode { QuirksMode::No };
<span class="line-added">108 </span>
<span class="line-added">109     WeakPtr&lt;const Container&gt; m_rootContainer;</span>
<span class="line-added">110 </span>
<span class="line-added">111     // LFC integration only.</span>
<span class="line-added">112     LayoutSize m_viewportSize;</span>
<span class="line-added">113     bool m_isIntegratedRootBoxFirstChild { false };</span>
114 };
115 
<span class="line-added">116 inline bool LayoutState::hasDisplayBox(const Box&amp; layoutBox) const</span>
<span class="line-added">117 {</span>
<span class="line-added">118     if (layoutBox.cachedDisplayBoxForLayoutState(*this))</span>
<span class="line-added">119         return true;</span>
<span class="line-added">120     return m_layoutToDisplayBox.contains(&amp;layoutBox);</span>
<span class="line-added">121 }</span>
<span class="line-added">122 </span>
<span class="line-added">123 inline Display::Box&amp; LayoutState::ensureDisplayBoxForLayoutBox(const Box&amp; layoutBox)</span>
<span class="line-added">124 {</span>
<span class="line-added">125     if (auto* displayBox = layoutBox.cachedDisplayBoxForLayoutState(*this))</span>
<span class="line-added">126         return *displayBox;</span>
<span class="line-added">127     return ensureDisplayBoxForLayoutBoxSlow(layoutBox);</span>
<span class="line-added">128 }</span>
<span class="line-added">129 </span>
<span class="line-added">130 inline const Display::Box&amp; LayoutState::displayBoxForLayoutBox(const Box&amp; layoutBox) const</span>
<span class="line-added">131 {</span>
<span class="line-added">132     if (auto* displayBox = layoutBox.cachedDisplayBoxForLayoutState(*this))</span>
<span class="line-added">133         return *displayBox;</span>
<span class="line-added">134     ASSERT(m_layoutToDisplayBox.contains(&amp;layoutBox));</span>
<span class="line-added">135     return *m_layoutToDisplayBox.get(&amp;layoutBox);</span>
<span class="line-added">136 }</span>
<span class="line-added">137 </span>
138 #ifndef NDEBUG
139 inline void LayoutState::registerFormattingContext(const FormattingContext&amp; formattingContext)
140 {
141     // Multiple formatting contexts of the same root within a layout frame indicates defective layout logic.
142     ASSERT(!m_formattingContextList.contains(&amp;formattingContext));
143     m_formattingContextList.add(&amp;formattingContext);
144 }
145 #endif
146 
<span class="line-added">147 // These Layout::Box function are here to allow inlining.</span>
<span class="line-added">148 inline bool Box::canCacheForLayoutState(const LayoutState&amp; layoutState) const</span>
<span class="line-added">149 {</span>
<span class="line-added">150     return !m_cachedLayoutState || m_cachedLayoutState.get() == &amp;layoutState;</span>
<span class="line-added">151 }</span>
<span class="line-added">152 </span>
<span class="line-added">153 inline Display::Box* Box::cachedDisplayBoxForLayoutState(const LayoutState&amp; layoutState) const</span>
<span class="line-added">154 {</span>
<span class="line-added">155     if (m_cachedLayoutState.get() != &amp;layoutState)</span>
<span class="line-added">156         return nullptr;</span>
<span class="line-added">157     return m_cachedDisplayBoxForLayoutState.get();</span>
<span class="line-added">158 }</span>
<span class="line-added">159 </span>
160 }
161 }
162 #endif
</pre>
</td>
</tr>
</table>
<center><a href="LayoutState.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="LayoutUnits.h.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>