<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatBox.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FloatAvoider.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatBox.h.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatBox.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -33,14 +33,14 @@</span>
  namespace WebCore {
  namespace Layout {
  
  WTF_MAKE_ISO_ALLOCATED_IMPL(FloatBox);
  
<span class="udiff-line-modified-removed">- FloatBox::FloatBox(const Box&amp; layoutBox, const FloatingState&amp; floatingState, const LayoutState&amp; layoutState)</span>
<span class="udiff-line-modified-removed">-     : FloatAvoider(layoutBox, floatingState, layoutState)</span>
<span class="udiff-line-modified-added">+ FloatBox::FloatBox(const Box&amp; layoutBox, Display::Box absoluteDisplayBox, LayoutPoint containingBlockAbsoluteTopLeft, HorizontalEdges containingBlockAbsoluteContentBox, Optional&lt;LayoutUnit&gt; previousFloatAbsoluteTop)</span>
<span class="udiff-line-modified-added">+     : FloatAvoider(layoutBox, absoluteDisplayBox, containingBlockAbsoluteTopLeft, containingBlockAbsoluteContentBox)</span>
  {
<span class="udiff-line-modified-removed">-     displayBox().setTopLeft({ initialHorizontalPosition(), initialVerticalPosition() });</span>
<span class="udiff-line-modified-added">+     displayBox().setTopLeft({ initialHorizontalPosition(), initialVerticalPosition(previousFloatAbsoluteTop) });</span>
  }
  
  Display::Rect FloatBox::rect() const
  {
      auto rect = displayBox().rect();
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -58,17 +58,17 @@</span>
  PositionInContextRoot FloatBox::verticalPositionCandidate(PositionInContextRoot verticalConstraint)
  {
      return { verticalConstraint + marginBefore() };
  }
  
<span class="udiff-line-modified-removed">- PositionInContextRoot FloatBox::initialVerticalPosition() const</span>
<span class="udiff-line-modified-added">+ PositionInContextRoot FloatBox::initialVerticalPosition(Optional&lt;LayoutUnit&gt; previousFloatAbsoluteTop) const</span>
  {
      // Incoming float cannot be placed higher than existing floats (margin box of the last float).
      // Take the static position (where the box would go if it wasn&#39;t floating) and adjust it with the last float.
      auto top = displayBox().top() - marginBefore();
<span class="udiff-line-modified-removed">-     if (auto lastFloat = floatingState().last())</span>
<span class="udiff-line-modified-removed">-         top = std::max(top, lastFloat-&gt;rectWithMargin().top());</span>
<span class="udiff-line-modified-added">+     if (previousFloatAbsoluteTop)</span>
<span class="udiff-line-modified-added">+         top = std::max(top, *previousFloatAbsoluteTop);</span>
      top += marginBefore();
  
      return { top };
  }
  
</pre>
<center><a href="FloatAvoider.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatBox.h.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>