<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New make/langtools/intellij/template/inspectionProfiles/langtools.xml</title>
    <link rel="stylesheet" href="../../../../../style.css" />
  </head>
  <body>
    <pre>
 1 &lt;component name=&quot;InspectionProjectProfileManager&quot;&gt;
 2   &lt;profile version=&quot;1.0&quot; is_locked=&quot;false&quot;&gt;
 3     &lt;option name=&quot;myName&quot; value=&quot;langtools&quot; /&gt;
 4     &lt;option name=&quot;myLocal&quot; value=&quot;false&quot; /&gt;
 5     &lt;inspection_tool class=&quot;LoggerInitializedWithForeignClass&quot; enabled=&quot;false&quot; level=&quot;WARNING&quot; enabled_by_default=&quot;false&quot;&gt;
 6       &lt;option name=&quot;loggerClassName&quot; value=&quot;org.apache.log4j.Logger,org.slf4j.LoggerFactory,org.apache.commons.logging.LogFactory,java.util.logging.Logger&quot; /&gt;
 7       &lt;option name=&quot;loggerFactoryMethodName&quot; value=&quot;getLogger,getLogger,getLog,getLogger&quot; /&gt;
 8     &lt;/inspection_tool&gt;
 9     &lt;inspection_tool class=&quot;MismatchedCollectionQueryUpdate&quot; enabled=&quot;false&quot; level=&quot;WARNING&quot; enabled_by_default=&quot;false&quot;&gt;
10       &lt;option name=&quot;queryNames&quot;&gt;
11         &lt;value /&gt;
12       &lt;/option&gt;
13       &lt;option name=&quot;updateNames&quot;&gt;
14         &lt;value /&gt;
15       &lt;/option&gt;
16     &lt;/inspection_tool&gt;
17     &lt;inspection_tool class=&quot;RawUseOfParameterizedType&quot; enabled=&quot;true&quot; level=&quot;WARNING&quot; enabled_by_default=&quot;true&quot;&gt;
18       &lt;option name=&quot;ignoreObjectConstruction&quot; value=&quot;false&quot; /&gt;
19       &lt;option name=&quot;ignoreUncompilable&quot; value=&quot;true&quot; /&gt;
20     &lt;/inspection_tool&gt;
21     &lt;inspection_tool class=&quot;SpellCheckingInspection&quot; enabled=&quot;true&quot; level=&quot;TYPO&quot; enabled_by_default=&quot;true&quot;&gt;
22       &lt;option name=&quot;processCode&quot; value=&quot;false&quot; /&gt;
23       &lt;option name=&quot;processLiterals&quot; value=&quot;false&quot; /&gt;
24       &lt;option name=&quot;processComments&quot; value=&quot;false&quot; /&gt;
25     &lt;/inspection_tool&gt;
26     &lt;inspection_tool class=&quot;SuspiciousMethodCalls&quot; enabled=&quot;true&quot; level=&quot;WARNING&quot; enabled_by_default=&quot;true&quot;&gt;
27       &lt;option name=&quot;REPORT_CONVERTIBLE_METHOD_CALLS&quot; value=&quot;false&quot; /&gt;
28     &lt;/inspection_tool&gt;
29   &lt;/profile&gt;
30 &lt;/component&gt;
    </pre>
  </body>
</html>