<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.graphics/src/test/java/test/javafx/scene/layout/ResizabilityTest.java</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="RegionCSSTest.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../../stage/PopupTest.java.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.graphics/src/test/java/test/javafx/scene/layout/ResizabilityTest.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 23  * questions.
 24  */
 25 
 26 package test.javafx.scene.layout;
 27 
 28 import test.javafx.scene.layout.MockNode;
 29 import static org.junit.Assert.assertEquals;
 30 import static org.junit.Assert.assertFalse;
 31 import static org.junit.Assert.assertTrue;
 32 import javafx.geometry.Insets;
 33 import javafx.scene.Group;
 34 import javafx.scene.Node;
 35 import javafx.scene.Parent;
 36 import javafx.scene.ParentShim;
 37 import javafx.scene.layout.Pane;
 38 import javafx.scene.layout.Region;
 39 import javafx.scene.shape.Rectangle;
 40 import javafx.scene.text.Text;
 41 
 42 import org.junit.Test;
<span class="line-removed"> 43 import org.junit.Ignore;</span>
 44 /**
 45  * Tests resizability apis of Node and key subclasses.
 46  *
 47  */
 48 public class ResizabilityTest {
 49 
 50     // test isResizable on key base classes
 51 
 52     @Test public void testNodeNotResizable() {
 53         Node node = new MockNode();
 54         assertFalse(node.isResizable());
 55     }
 56 
 57     @Test public void testShapeNotResizable() {
 58         Rectangle rect = new Rectangle();
 59         assertFalse(rect.isResizable());
 60     }
 61 
 62     @Test public void testTextNotResizable() {
 63         Text text = new Text();
</pre>
</td>
<td>
<hr />
<pre>
 23  * questions.
 24  */
 25 
 26 package test.javafx.scene.layout;
 27 
 28 import test.javafx.scene.layout.MockNode;
 29 import static org.junit.Assert.assertEquals;
 30 import static org.junit.Assert.assertFalse;
 31 import static org.junit.Assert.assertTrue;
 32 import javafx.geometry.Insets;
 33 import javafx.scene.Group;
 34 import javafx.scene.Node;
 35 import javafx.scene.Parent;
 36 import javafx.scene.ParentShim;
 37 import javafx.scene.layout.Pane;
 38 import javafx.scene.layout.Region;
 39 import javafx.scene.shape.Rectangle;
 40 import javafx.scene.text.Text;
 41 
 42 import org.junit.Test;

 43 /**
 44  * Tests resizability apis of Node and key subclasses.
 45  *
 46  */
 47 public class ResizabilityTest {
 48 
 49     // test isResizable on key base classes
 50 
 51     @Test public void testNodeNotResizable() {
 52         Node node = new MockNode();
 53         assertFalse(node.isResizable());
 54     }
 55 
 56     @Test public void testShapeNotResizable() {
 57         Rectangle rect = new Rectangle();
 58         assertFalse(rect.isResizable());
 59     }
 60 
 61     @Test public void testTextNotResizable() {
 62         Text text = new Text();
</pre>
</td>
</tr>
</table>
<center><a href="RegionCSSTest.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../../stage/PopupTest.java.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>