<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New make/langtools/intellij/template/codeStyleSettings.xml</title>
    <link rel="stylesheet" href="../../../../style.css" />
  </head>
  <body>
    <pre>
 1 &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
 2 &lt;project version=&quot;4&quot;&gt;
 3   &lt;component name=&quot;ProjectCodeStyleSettingsManager&quot;&gt;
 4     &lt;option name=&quot;PER_PROJECT_SETTINGS&quot;&gt;
 5       &lt;value&gt;
 6         &lt;option name=&quot;INSERT_INNER_CLASS_IMPORTS&quot; value=&quot;true&quot; /&gt;
 7         &lt;option name=&quot;CLASS_COUNT_TO_USE_IMPORT_ON_DEMAND&quot; value=&quot;999&quot; /&gt;
 8         &lt;option name=&quot;NAMES_COUNT_TO_USE_IMPORT_ON_DEMAND&quot; value=&quot;999&quot; /&gt;
 9         &lt;option name=&quot;RIGHT_MARGIN&quot; value=&quot;100&quot; /&gt;
10         &lt;option name=&quot;JD_DO_NOT_WRAP_ONE_LINE_COMMENTS&quot; value=&quot;true&quot; /&gt;
11         &lt;XML&gt;
12           &lt;option name=&quot;XML_LEGACY_SETTINGS_IMPORTED&quot; value=&quot;true&quot; /&gt;
13         &lt;/XML&gt;
14         &lt;codeStyleSettings language=&quot;JAVA&quot;&gt;
15           &lt;option name=&quot;SPACE_AFTER_TYPE_CAST&quot; value=&quot;false&quot; /&gt;
16         &lt;/codeStyleSettings&gt;
17       &lt;/value&gt;
18     &lt;/option&gt;
19     &lt;option name=&quot;USE_PER_PROJECT_SETTINGS&quot; value=&quot;true&quot; /&gt;
20   &lt;/component&gt;
21 &lt;/project&gt;
22 
    </pre>
  </body>
</html>