<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Old make/langtools/intellij/template/misc.xml</title>
    <link rel="stylesheet" href="../../../../style.css" />
  </head>
  <body>
    <pre>
 1 &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
 2 &lt;project version=&quot;4&quot;&gt;
 3   &lt;component name=&quot;EntryPointsManager&quot;&gt;
 4     &lt;entry_points version=&quot;2.0&quot; /&gt;
 5   &lt;/component&gt;
 6   &lt;component name=&quot;JTRegService&quot;&gt;
 7     &lt;path&gt;@IDEA_JTREG_HOME@&lt;/path&gt;
 8     &lt;workDir&gt;build&lt;/workDir&gt;
 9     &lt;jre alt=&quot;true&quot; value=&quot;@IDEA_TARGET_JDK@&quot; /&gt;
10     &lt;options&gt;@XPATCH@&lt;/options&gt;
11     &lt;ant&gt;
12       &lt;target file=&quot;file://$PROJECT_DIR$/make/langtools/intellij/build.xml&quot; name=&quot;build-all-classes&quot; /&gt;
13     &lt;/ant&gt;
14   &lt;/component&gt;
15   &lt;component name=&quot;ProjectRootManager&quot; version=&quot;2&quot; languageLevel=&quot;JDK_1_8&quot; assert-keyword=&quot;true&quot; jdk-15=&quot;true&quot; project-jdk-name=&quot;1.8&quot; project-jdk-type=&quot;JavaSDK&quot;&gt;
16     &lt;output url=&quot;file://$PROJECT_DIR$/build&quot; /&gt;
17   &lt;/component&gt;
18 &lt;/project&gt;
    </pre>
  </body>
</html>