<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../tree/TraceTreeUtils.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../resources/jsjmclibs/flameviewColoring.js.sdiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
236 		if (!(ex.getCause() instanceof CancellationException)) {
237 			FlightRecorderUI.getDefault().getLogger().log(Level.SEVERE, &quot;Failed to build stacktrace view model&quot;, ex); //$NON-NLS-1$
238 		}
239 		return null;
240 	}
241 
242 	private static String toJSon(TraceNode root) {
243 		if (root == null) {
244 			return &quot;\&quot;\&quot;&quot;;
245 		}
246 		return render(root);
247 	}
248 
249 	private static String render(TraceNode root) {
250 		StringBuilder builder = new StringBuilder();
251 		render(builder, root);
252 		return builder.toString();
253 	}
254 
255 	private static void render(StringBuilder builder, TraceNode node) {
<span class="line-modified">256 		String start = String.format(&quot;{%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, node.getName()),</span>
<span class="line-removed">257 				toJSonKeyValue(&quot;p&quot;, node.getPackageName()), toJSonKeyValue(&quot;v&quot;, String.valueOf(node.getValue())));</span>
258 		builder.append(start);
259 		for (int i = 0; i &lt; node.getChildren().size(); i++) {
260 			render(builder, node.getChildren().get(i));
261 			if (i &lt; node.getChildren().size() - 1) {
262 				builder.append(&quot;,&quot;);
263 			}
264 		}
265 		builder.append(&quot;]}&quot;);
266 	}
267 











268 	private static String toJSonKeyValue(String key, String value) {
269 		return &quot;\&quot;&quot; + key + &quot;\&quot;: &quot; + &quot;\&quot;&quot; + value + &quot;\&quot;&quot;;
270 	}
271 
272 	private static String loadLibraries(String ... libs) {
273 		if (libs == null || libs.length == 0) {
274 			return &quot;&quot;;
275 		} else {
276 			return Stream.of(libs).map(FlameGraphView::fileContent).collect(Collectors.joining(&quot;\n&quot;));
277 		}
278 	}
279 
280 	private static String fileContent(String fileName) {
281 		try {
282 			return StringToolkit.readString(FlameGraphView.class.getClassLoader().getResourceAsStream(fileName));
283 		} catch (IOException e) {
284 			FlightRecorderUI.getDefault().getLogger().log(Level.WARNING,
285 					MessageFormat.format(&quot;Could not load script \&quot;{0}\&quot;,\&quot;{1}\&quot;&quot;, fileName, e.getMessage())); //$NON-NLS-1$
286 			return &quot;&quot;;
287 		}
</pre>
</td>
<td>
<hr />
<pre>
236 		if (!(ex.getCause() instanceof CancellationException)) {
237 			FlightRecorderUI.getDefault().getLogger().log(Level.SEVERE, &quot;Failed to build stacktrace view model&quot;, ex); //$NON-NLS-1$
238 		}
239 		return null;
240 	}
241 
242 	private static String toJSon(TraceNode root) {
243 		if (root == null) {
244 			return &quot;\&quot;\&quot;&quot;;
245 		}
246 		return render(root);
247 	}
248 
249 	private static String render(TraceNode root) {
250 		StringBuilder builder = new StringBuilder();
251 		render(builder, root);
252 		return builder.toString();
253 	}
254 
255 	private static void render(StringBuilder builder, TraceNode node) {
<span class="line-modified">256 		String start = node.getDesc().isEmpty() ? createJsonTraceNode(node) : createJsonDescTraceNode(node);</span>

257 		builder.append(start);
258 		for (int i = 0; i &lt; node.getChildren().size(); i++) {
259 			render(builder, node.getChildren().get(i));
260 			if (i &lt; node.getChildren().size() - 1) {
261 				builder.append(&quot;,&quot;);
262 			}
263 		}
264 		builder.append(&quot;]}&quot;);
265 	}
266 
<span class="line-added">267 	private static String createJsonTraceNode(TraceNode node) {</span>
<span class="line-added">268 		return String.format(&quot;{%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, node.getName()),</span>
<span class="line-added">269 				toJSonKeyValue(&quot;p&quot;, node.getPackageName()), toJSonKeyValue(&quot;v&quot;, String.valueOf(node.getValue())));</span>
<span class="line-added">270 	}</span>
<span class="line-added">271 </span>
<span class="line-added">272 	private static String createJsonDescTraceNode(TraceNode node) {</span>
<span class="line-added">273 		return String.format(&quot;{%s,%s,%s,%s, \&quot;c\&quot;: [ &quot;, toJSonKeyValue(&quot;n&quot;, node.getName()),</span>
<span class="line-added">274 				toJSonKeyValue(&quot;p&quot;, node.getPackageName()), toJSonKeyValue(&quot;d&quot;, node.getDesc()),</span>
<span class="line-added">275 				toJSonKeyValue(&quot;v&quot;, String.valueOf(node.getValue())));</span>
<span class="line-added">276 	}</span>
<span class="line-added">277 </span>
278 	private static String toJSonKeyValue(String key, String value) {
279 		return &quot;\&quot;&quot; + key + &quot;\&quot;: &quot; + &quot;\&quot;&quot; + value + &quot;\&quot;&quot;;
280 	}
281 
282 	private static String loadLibraries(String ... libs) {
283 		if (libs == null || libs.length == 0) {
284 			return &quot;&quot;;
285 		} else {
286 			return Stream.of(libs).map(FlameGraphView::fileContent).collect(Collectors.joining(&quot;\n&quot;));
287 		}
288 	}
289 
290 	private static String fileContent(String fileName) {
291 		try {
292 			return StringToolkit.readString(FlameGraphView.class.getClassLoader().getResourceAsStream(fileName));
293 		} catch (IOException e) {
294 			FlightRecorderUI.getDefault().getLogger().log(Level.WARNING,
295 					MessageFormat.format(&quot;Could not load script \&quot;{0}\&quot;,\&quot;{1}\&quot;&quot;, fileName, e.getMessage())); //$NON-NLS-1$
296 			return &quot;&quot;;
297 		}
</pre>
</td>
</tr>
</table>
<center><a href="../tree/TraceTreeUtils.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../resources/jsjmclibs/flameviewColoring.js.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>