<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatingState.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FloatingState.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../inlineformatting/InlineFormattingContext.cpp.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatingState.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 26,103 ***</span>
  #pragma once
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
  #include &quot;DisplayBox.h&quot;
<span class="line-removed">- #include &quot;LayoutBox.h&quot;</span>
  #include &quot;LayoutContainer.h&quot;
  #include &lt;wtf/IsoMalloc.h&gt;
  #include &lt;wtf/Ref.h&gt;
  #include &lt;wtf/WeakPtr.h&gt;
  
  namespace WebCore {
  
  namespace Layout {
  
<span class="line-modified">! class FormattingState;</span>
  class LayoutState;
  
  // FloatingState holds the floating boxes per formatting context.
  class FloatingState : public RefCounted&lt;FloatingState&gt; {
      WTF_MAKE_ISO_ALLOCATED(FloatingState);
  public:
<span class="line-modified">!     static Ref&lt;FloatingState&gt; create(LayoutState&amp; layoutState, const Box&amp; formattingContextRoot) { return adoptRef(*new FloatingState(layoutState, formattingContextRoot)); }</span>
<span class="line-removed">- </span>
<span class="line-removed">-     void append(const Box&amp; layoutBox);</span>
<span class="line-removed">-     void remove(const Box&amp; layoutBox);</span>
<span class="line-removed">- </span>
<span class="line-removed">-     bool isEmpty() const { return m_floats.isEmpty(); }</span>
  
<span class="line-modified">!     const Box&amp; root() const { return *m_formattingContextRoot; }</span>
  
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; top(const Box&amp; formattingContextRoot) const;</span>
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; leftBottom(const Box&amp; formattingContextRoot) const;</span>
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; rightBottom(const Box&amp; formattingContextRoot) const;</span>
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; bottom(const Box&amp; formattingContextRoot) const;</span>
<span class="line-removed">- </span>
<span class="line-removed">-     struct Constraints {</span>
<span class="line-removed">-         Optional&lt;PointInContextRoot&gt; left;</span>
<span class="line-removed">-         Optional&lt;PointInContextRoot&gt; right;</span>
<span class="line-removed">-     };</span>
<span class="line-removed">-     Constraints constraints(PositionInContextRoot verticalPosition, const Box&amp; formattingContextRoot) const;</span>
  
      class FloatItem {
      public:
<span class="line-modified">!         FloatItem(const Box&amp;, const FloatingState&amp;);</span>
  
<span class="line-modified">!         bool operator==(const Box&amp; layoutBox) const { return m_layoutBox.get() == &amp;layoutBox; }</span>
  
<span class="line-modified">!         bool isLeftPositioned() const { return m_layoutBox-&gt;isLeftFloatingPositioned(); }</span>
<span class="line-modified">!         bool isDescendantOfFormattingRoot(const Box&amp;) const;</span>
  
          Display::Rect rectWithMargin() const { return m_absoluteDisplayBox.rectWithMargin(); }
          PositionInContextRoot bottom() const { return { m_absoluteDisplayBox.bottom() }; }
  
      private:
          WeakPtr&lt;const Box&gt; m_layoutBox;
          Display::Box m_absoluteDisplayBox;
      };
      using FloatList = Vector&lt;FloatItem&gt;;
      const FloatList&amp; floats() const { return m_floats; }
<span class="line-modified">!     const FloatItem* last() const { return isEmpty() ? nullptr : &amp;m_floats.last(); }</span>
  
  private:
      friend class FloatingContext;
<span class="line-modified">!     FloatingState(LayoutState&amp;, const Box&amp; formattingContextRoot);</span>
  
      LayoutState&amp; layoutState() const { return m_layoutState; }
  
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; bottom(const Box&amp; formattingContextRoot, Clear) const;</span>
  
      LayoutState&amp; m_layoutState;
<span class="line-modified">!     WeakPtr&lt;const Box&gt; m_formattingContextRoot;</span>
      FloatList m_floats;
  };
  
<span class="line-modified">! inline Optional&lt;PositionInContextRoot&gt; FloatingState::leftBottom(const Box&amp; formattingContextRoot) const</span>
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      return bottom(formattingContextRoot, Clear::Left);
  }
  
<span class="line-modified">! inline Optional&lt;PositionInContextRoot&gt; FloatingState::rightBottom(const Box&amp; formattingContextRoot) const</span>
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      return bottom(formattingContextRoot, Clear::Right);
  }
  
<span class="line-modified">! inline Optional&lt;PositionInContextRoot&gt; FloatingState::bottom(const Box&amp; formattingContextRoot) const</span>
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      return bottom(formattingContextRoot, Clear::Both);
  }
  
<span class="line-modified">! inline bool FloatingState::FloatItem::isDescendantOfFormattingRoot(const Box&amp; formattingContextRoot) const</span>
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
<span class="line-removed">-     if (!is&lt;Container&gt;(formattingContextRoot))</span>
<span class="line-removed">-         return false;</span>
      return m_layoutBox-&gt;isContainingBlockDescendantOf(downcast&lt;Container&gt;(formattingContextRoot));
  }
  
  }
  }
<span class="line-new-header">--- 26,100 ---</span>
  #pragma once
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
  #include &quot;DisplayBox.h&quot;
  #include &quot;LayoutContainer.h&quot;
  #include &lt;wtf/IsoMalloc.h&gt;
  #include &lt;wtf/Ref.h&gt;
  #include &lt;wtf/WeakPtr.h&gt;
  
  namespace WebCore {
  
<span class="line-added">+ namespace Display {</span>
<span class="line-added">+ class Box;</span>
<span class="line-added">+ }</span>
<span class="line-added">+ </span>
  namespace Layout {
  
<span class="line-modified">! class Box;</span>
<span class="line-added">+ class FloatingContext;</span>
  class LayoutState;
  
  // FloatingState holds the floating boxes per formatting context.
  class FloatingState : public RefCounted&lt;FloatingState&gt; {
      WTF_MAKE_ISO_ALLOCATED(FloatingState);
  public:
<span class="line-modified">!     static Ref&lt;FloatingState&gt; create(LayoutState&amp; layoutState, const Container&amp; formattingContextRoot) { return adoptRef(*new FloatingState(layoutState, formattingContextRoot)); }</span>
  
<span class="line-modified">!     const Container&amp; root() const { return *m_formattingContextRoot; }</span>
  
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; top(const Container&amp; formattingContextRoot) const;</span>
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; leftBottom(const Container&amp; formattingContextRoot) const;</span>
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; rightBottom(const Container&amp; formattingContextRoot) const;</span>
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; bottom(const Container&amp; formattingContextRoot) const;</span>
  
      class FloatItem {
      public:
<span class="line-modified">!         FloatItem(const Box&amp;, Display::Box absoluteDisplayBox);</span>
  
<span class="line-modified">!         enum class Position { Left, Right };</span>
<span class="line-added">+         FloatItem(Position, Display::Box absoluteDisplayBox);</span>
  
<span class="line-modified">!         bool isLeftPositioned() const { return m_position == Position::Left; }</span>
<span class="line-modified">!         bool isDescendantOfFormattingRoot(const Container&amp;) const;</span>
  
          Display::Rect rectWithMargin() const { return m_absoluteDisplayBox.rectWithMargin(); }
<span class="line-added">+         UsedHorizontalMargin horizontalMargin() const { return m_absoluteDisplayBox.horizontalMargin(); }</span>
          PositionInContextRoot bottom() const { return { m_absoluteDisplayBox.bottom() }; }
  
      private:
          WeakPtr&lt;const Box&gt; m_layoutBox;
<span class="line-added">+         Position m_position;</span>
          Display::Box m_absoluteDisplayBox;
      };
      using FloatList = Vector&lt;FloatItem&gt;;
      const FloatList&amp; floats() const { return m_floats; }
<span class="line-modified">!     const FloatItem* last() const { return floats().isEmpty() ? nullptr : &amp;m_floats.last(); }</span>
<span class="line-added">+ </span>
<span class="line-added">+     void append(FloatItem);</span>
<span class="line-added">+     void clear() { m_floats.clear(); }</span>
  
  private:
      friend class FloatingContext;
<span class="line-modified">!     FloatingState(LayoutState&amp;, const Container&amp; formattingContextRoot);</span>
  
      LayoutState&amp; layoutState() const { return m_layoutState; }
  
<span class="line-modified">!     Optional&lt;PositionInContextRoot&gt; bottom(const Container&amp; formattingContextRoot, Clear) const;</span>
  
      LayoutState&amp; m_layoutState;
<span class="line-modified">!     WeakPtr&lt;const Container&gt; m_formattingContextRoot;</span>
      FloatList m_floats;
  };
  
<span class="line-modified">! inline Optional&lt;PositionInContextRoot&gt; FloatingState::leftBottom(const Container&amp; formattingContextRoot) const</span>
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      return bottom(formattingContextRoot, Clear::Left);
  }
  
<span class="line-modified">! inline Optional&lt;PositionInContextRoot&gt; FloatingState::rightBottom(const Container&amp; formattingContextRoot) const</span>
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      return bottom(formattingContextRoot, Clear::Right);
  }
  
<span class="line-modified">! inline Optional&lt;PositionInContextRoot&gt; FloatingState::bottom(const Container&amp; formattingContextRoot) const</span>
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      return bottom(formattingContextRoot, Clear::Both);
  }
  
<span class="line-modified">! inline bool FloatingState::FloatItem::isDescendantOfFormattingRoot(const Container&amp; formattingContextRoot) const</span>
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      return m_layoutBox-&gt;isContainingBlockDescendantOf(downcast&lt;Container&gt;(formattingContextRoot));
  }
  
  }
  }
</pre>
<center><a href="FloatingState.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../inlineformatting/InlineFormattingContext.cpp.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>