<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutBox.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="LayoutBox.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutContainer.cpp.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutBox.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -43,43 +43,44 @@</span>
      WTF_MAKE_ISO_ALLOCATED(Box);
  public:
      enum class ElementType {
          Document,
          Body,
<span class="udiff-line-modified-removed">-         TableCell,</span>
<span class="udiff-line-modified-added">+         TableWrapperBox, // The table generates a principal block container box called the table wrapper box that contains the table box and any caption boxes.</span>
<span class="udiff-line-added">+         TableBox, // The table box is a block-level box that contains the table&#39;s internal table boxes.</span>
          TableColumn,
          TableRow,
          TableColumnGroup,
<span class="udiff-line-removed">-         TableRowGroup,</span>
          TableHeaderGroup,
<span class="udiff-line-added">+         TableBodyGroup,</span>
          TableFooterGroup,
          Image,
          IFrame,
<span class="udiff-line-added">+         HardLineBreak,</span>
          GenericElement
      };
  
      struct ElementAttributes {
          ElementType elementType;
      };
  
      enum BaseTypeFlag {
          BoxFlag               = 1 &lt;&lt; 0,
<span class="udiff-line-modified-removed">-         ContainerFlag         = 1 &lt;&lt; 1,</span>
<span class="udiff-line-removed">-         BlockContainerFlag    = 1 &lt;&lt; 2,</span>
<span class="udiff-line-removed">-         InlineBoxFlag         = 1 &lt;&lt; 3,</span>
<span class="udiff-line-removed">-         InlineContainerFlag   = 1 &lt;&lt; 4,</span>
<span class="udiff-line-removed">-         LineBreakBoxFlag      = 1 &lt;&lt; 5</span>
<span class="udiff-line-modified-added">+         ContainerFlag         = 1 &lt;&lt; 1</span>
      };
      typedef unsigned BaseTypeFlags;
  
      Box(Optional&lt;ElementAttributes&gt;, RenderStyle&amp;&amp;);
<span class="udiff-line-added">+     Box(String textContent, RenderStyle&amp;&amp;);</span>
      virtual ~Box();
  
      bool establishesFormattingContext() const;
      bool establishesBlockFormattingContext() const;
<span class="udiff-line-added">+     bool establishesTableFormattingContext() const;</span>
      bool establishesBlockFormattingContextOnly() const;
<span class="udiff-line-modified-removed">-     virtual bool establishesInlineFormattingContext() const { return false; }</span>
<span class="udiff-line-modified-added">+     bool establishesInlineFormattingContext() const;</span>
<span class="udiff-line-added">+     bool establishesInlineFormattingContextOnly() const;</span>
  
      bool isInFlow() const { return !isFloatingOrOutOfFlowPositioned(); }
      bool isPositioned() const { return isInFlowPositioned() || isOutOfFlowPositioned(); }
      bool isInFlowPositioned() const { return isRelativelyPositioned() || isStickyPositioned(); }
      bool isOutOfFlowPositioned() const { return isAbsolutelyPositioned(); }
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -89,18 +90,20 @@</span>
      bool isFixedPositioned() const;
      bool isFloatingPositioned() const;
      bool isLeftFloatingPositioned() const;
      bool isRightFloatingPositioned() const;
      bool hasFloatClear() const;
<span class="udiff-line-added">+     bool isFloatAvoider() const;</span>
  
      bool isFloatingOrOutOfFlowPositioned() const { return isFloatingPositioned() || isOutOfFlowPositioned(); }
  
      const Container* containingBlock() const;
      const Container&amp; formattingContextRoot() const;
      const Container&amp; initialContainingBlock() const;
  
      bool isDescendantOf(const Container&amp;) const;
<span class="udiff-line-added">+     bool isContainingBlockDescendantOf(const Container&amp;) const;</span>
  
      bool isAnonymous() const { return !m_elementAttributes; }
  
      bool isBlockLevelBox() const;
      bool isInlineLevelBox() const;
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -108,56 +111,95 @@</span>
      bool isBlockContainerBox() const;
      bool isInitialContainingBlock() const;
  
      bool isDocumentBox() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::Document; }
      bool isBodyBox() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::Body; }
<span class="udiff-line-modified-removed">-     bool isTableCell() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::TableCell; }</span>
<span class="udiff-line-modified-added">+     bool isTableWrapperBox() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::TableWrapperBox; }</span>
<span class="udiff-line-added">+     bool isTableBox() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::TableBox; }</span>
<span class="udiff-line-added">+     bool isTableCaption() const { return style().display() == DisplayType::TableCaption; }</span>
<span class="udiff-line-added">+     bool isTableHeader() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::TableHeaderGroup; }</span>
<span class="udiff-line-added">+     bool isTableBody() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::TableBodyGroup; }</span>
<span class="udiff-line-added">+     bool isTableFooter() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::TableFooterGroup; }</span>
<span class="udiff-line-added">+     bool isTableRow() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::TableRow; }</span>
<span class="udiff-line-added">+     bool isTableCell() const { return style().display() == DisplayType::TableCell;; }</span>
      bool isReplaced() const { return isImage() || isIFrame(); }
      bool isIFrame() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::IFrame; }
      bool isImage() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::Image; }
<span class="udiff-line-added">+     bool isLineBreakBox() const { return m_elementAttributes &amp;&amp; m_elementAttributes.value().elementType == ElementType::HardLineBreak; }</span>
  
      const Container* parent() const { return m_parent; }
      const Box* nextSibling() const { return m_nextSibling; }
      const Box* nextInFlowSibling() const;
      const Box* nextInFlowOrFloatingSibling() const;
      const Box* previousSibling() const { return m_previousSibling; }
      const Box* previousInFlowSibling() const;
      const Box* previousInFlowOrFloatingSibling() const;
  
      bool isContainer() const { return m_baseTypeFlags &amp; ContainerFlag; }
<span class="udiff-line-modified-removed">-     bool isBlockContainer() const { return m_baseTypeFlags &amp; BlockContainerFlag; }</span>
<span class="udiff-line-modified-removed">-     bool isInlineBox() const { return m_baseTypeFlags &amp; InlineBoxFlag; }</span>
<span class="udiff-line-removed">-     bool isInlineContainer() const { return m_baseTypeFlags &amp; InlineContainerFlag; }</span>
<span class="udiff-line-removed">-     bool isLineBreakBox() const { return m_baseTypeFlags &amp; LineBreakBoxFlag; }</span>
<span class="udiff-line-modified-added">+     bool isBlockContainer() const { return isBlockLevelBox() &amp;&amp; isContainer(); }</span>
<span class="udiff-line-modified-added">+     bool isInlineContainer() const { return isInlineLevelBox() &amp;&amp; isContainer(); }</span>
  
      bool isPaddingApplicable() const;
      bool isOverflowVisible() const;
  
      const RenderStyle&amp; style() const { return m_style; }
  
<span class="udiff-line-modified-removed">-     const Replaced* replaced() const { return m_replaced.get(); }</span>
<span class="udiff-line-modified-added">+     const Replaced* replaced() const;</span>
      // FIXME: Temporary until after intrinsic size change is tracked by Replaced.
<span class="udiff-line-modified-removed">-     Replaced* replaced() { return m_replaced.get(); }</span>
<span class="udiff-line-modified-added">+     Replaced* replaced();</span>
<span class="udiff-line-added">+     bool hasTextContent() const;</span>
<span class="udiff-line-added">+     String textContent() const;</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     // FIXME: Find a better place for random DOM things.</span>
<span class="udiff-line-added">+     void setRowSpan(unsigned);</span>
<span class="udiff-line-added">+     void setColumnSpan(unsigned);</span>
<span class="udiff-line-added">+     unsigned rowSpan() const;</span>
<span class="udiff-line-added">+     unsigned columnSpan() const;</span>
  
      void setParent(Container&amp; parent) { m_parent = &amp;parent; }
      void setNextSibling(Box&amp; nextSibling) { m_nextSibling = &amp;nextSibling; }
      void setPreviousSibling(Box&amp; previousSibling) { m_previousSibling = &amp;previousSibling; }
  
<span class="udiff-line-added">+     void setIsAnonymous() { m_isAnonymous = true; }</span>
<span class="udiff-line-added">+ </span>
  protected:
      Box(Optional&lt;ElementAttributes&gt;, RenderStyle&amp;&amp;, BaseTypeFlags);
  
  private:
<span class="udiff-line-added">+     void setTextContent(String);</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     class BoxRareData {</span>
<span class="udiff-line-added">+         WTF_MAKE_FAST_ALLOCATED;</span>
<span class="udiff-line-added">+     public:</span>
<span class="udiff-line-added">+         BoxRareData() = default;</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+         String textContent;</span>
<span class="udiff-line-added">+         std::unique_ptr&lt;Replaced&gt; replaced;</span>
<span class="udiff-line-added">+         unsigned rowSpan { 1 };</span>
<span class="udiff-line-added">+         unsigned columnSpan { 1 };</span>
<span class="udiff-line-added">+     };</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     bool hasRareData() const { return m_hasRareData; }</span>
<span class="udiff-line-added">+     void setHasRareData(bool hasRareData) { m_hasRareData = hasRareData; }</span>
<span class="udiff-line-added">+     const BoxRareData&amp; rareData() const;</span>
<span class="udiff-line-added">+     BoxRareData&amp; ensureRareData();</span>
<span class="udiff-line-added">+     void removeRareData();</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     typedef HashMap&lt;const Box*, std::unique_ptr&lt;BoxRareData&gt;&gt; RareDataMap;</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     static RareDataMap&amp; rareDataMap();</span>
<span class="udiff-line-added">+ </span>
      RenderStyle m_style;
      Optional&lt;ElementAttributes&gt; m_elementAttributes;
  
      Container* m_parent { nullptr };
      Box* m_previousSibling { nullptr };
      Box* m_nextSibling { nullptr };
  
<span class="udiff-line-modified-removed">-     std::unique_ptr&lt;Replaced&gt; m_replaced;</span>
<span class="udiff-line-modified-removed">- </span>
<span class="udiff-line-modified-removed">-     unsigned m_baseTypeFlags : 5;</span>
<span class="udiff-line-modified-added">+     unsigned m_baseTypeFlags : 6;</span>
<span class="udiff-line-modified-added">+     bool m_hasRareData : 1;</span>
<span class="udiff-line-modified-added">+     bool m_isAnonymous : 1;</span>
  };
  
  }
  }
  
</pre>
<center><a href="LayoutBox.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutContainer.cpp.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>