<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutReplaced.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="LayoutIterator.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutTreeBuilder.cpp.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutReplaced.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
47     return m_intrinsicSize || m_layoutBox-&gt;style().logicalWidth().isIntrinsic();
48 }
49 
50 bool Replaced::hasIntrinsicHeight() const
51 {
52     return m_intrinsicSize || m_layoutBox-&gt;style().logicalHeight().isIntrinsic();
53 }
54 
55 bool Replaced::hasIntrinsicRatio() const
56 {
57     if (!hasAspectRatio())
58         return false;
59     return m_intrinsicSize || m_intrinsicRatio;
60 }
61 
62 LayoutUnit Replaced::intrinsicWidth() const
63 {
64     ASSERT(hasIntrinsicWidth());
65     if (m_intrinsicSize)
66         return m_intrinsicSize-&gt;width();
<span class="line-modified">67     return m_layoutBox-&gt;style().logicalWidth().value();</span>
68 }
69 
70 LayoutUnit Replaced::intrinsicHeight() const
71 {
72     ASSERT(hasIntrinsicHeight());
73     if (m_intrinsicSize)
74         return m_intrinsicSize-&gt;height();
<span class="line-modified">75     return m_layoutBox-&gt;style().logicalHeight().value();</span>
76 }
77 
78 LayoutUnit Replaced::intrinsicRatio() const
79 {
80     ASSERT(hasIntrinsicRatio() || (hasIntrinsicWidth() &amp;&amp; hasIntrinsicHeight()));
81     if (m_intrinsicRatio)
82         return *m_intrinsicRatio;
<span class="line-modified">83     if (m_intrinsicSize)</span>
84         return m_intrinsicSize-&gt;width() / m_intrinsicSize-&gt;height();
85     return 1;
86 }
87 
88 bool Replaced::hasAspectRatio() const
89 {
90     return m_layoutBox-&gt;isImage() || m_layoutBox-&gt;style().aspectRatioType() == AspectRatioType::FromIntrinsic;
91 }
92 
93 }
94 }
95 #endif
</pre>
</td>
<td>
<hr />
<pre>
47     return m_intrinsicSize || m_layoutBox-&gt;style().logicalWidth().isIntrinsic();
48 }
49 
50 bool Replaced::hasIntrinsicHeight() const
51 {
52     return m_intrinsicSize || m_layoutBox-&gt;style().logicalHeight().isIntrinsic();
53 }
54 
55 bool Replaced::hasIntrinsicRatio() const
56 {
57     if (!hasAspectRatio())
58         return false;
59     return m_intrinsicSize || m_intrinsicRatio;
60 }
61 
62 LayoutUnit Replaced::intrinsicWidth() const
63 {
64     ASSERT(hasIntrinsicWidth());
65     if (m_intrinsicSize)
66         return m_intrinsicSize-&gt;width();
<span class="line-modified">67     return LayoutUnit(m_layoutBox-&gt;style().logicalWidth().value());</span>
68 }
69 
70 LayoutUnit Replaced::intrinsicHeight() const
71 {
72     ASSERT(hasIntrinsicHeight());
73     if (m_intrinsicSize)
74         return m_intrinsicSize-&gt;height();
<span class="line-modified">75     return LayoutUnit(m_layoutBox-&gt;style().logicalHeight().value());</span>
76 }
77 
78 LayoutUnit Replaced::intrinsicRatio() const
79 {
80     ASSERT(hasIntrinsicRatio() || (hasIntrinsicWidth() &amp;&amp; hasIntrinsicHeight()));
81     if (m_intrinsicRatio)
82         return *m_intrinsicRatio;
<span class="line-modified">83     if (m_intrinsicSize &amp;&amp; m_intrinsicSize-&gt;height())</span>
84         return m_intrinsicSize-&gt;width() / m_intrinsicSize-&gt;height();
85     return 1;
86 }
87 
88 bool Replaced::hasAspectRatio() const
89 {
90     return m_layoutBox-&gt;isImage() || m_layoutBox-&gt;style().aspectRatioType() == AspectRatioType::FromIntrinsic;
91 }
92 
93 }
94 }
95 #endif
</pre>
</td>
</tr>
</table>
<center><a href="LayoutIterator.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutTreeBuilder.cpp.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>