<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Old make/ide/idea/jdk/template/jdk.iml</title>
    <link rel="stylesheet" href="../../../../../style.css" />
  </head>
  <body>
    <pre>
 1 &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
 2 &lt;module type=&quot;JAVA_MODULE&quot; version=&quot;4&quot;&gt;
 3   &lt;component name=&quot;NewModuleRootManager&quot; inherit-compiler-output=&quot;true&quot;&gt;
 4     &lt;exclude-output /&gt;
 5     &lt;content url=&quot;file://###ROOT_DIR###&quot;&gt;
 6       ###SOURCE_ROOTS###
 7       &lt;excludeFolder url=&quot;file://###ROOT_DIR###/build&quot; /&gt;
 8       &lt;excludeFolder url=&quot;file://###ROOT_DIR###/make&quot; /&gt;
 9     &lt;/content&gt;
10     &lt;orderEntry type=&quot;sourceFolder&quot; forTests=&quot;false&quot; /&gt;
11     &lt;orderEntry type=&quot;inheritedJdk&quot; /&gt;
12   &lt;/component&gt;
13 &lt;/module&gt;
    </pre>
  </body>
</html>