<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Frames make/ide/idea/jdk/template/modules.xml</title>
    <link rel="stylesheet" href="../../../../../style.css" />
    <script type="text/javascript" src="../../../../../navigation.js"></script>
  </head>
<body onkeypress="keypress(event);">
<a name="0"></a>
<hr />
<pre>1 &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
2 &lt;project version=&quot;4&quot;&gt;
3   &lt;component name=&quot;ProjectModuleManager&quot;&gt;
4     &lt;modules&gt;
5       &lt;module fileurl=&quot;file://$PROJECT_DIR$/.idea/jdk.iml&quot; filepath=&quot;$PROJECT_DIR$/.idea/jdk.iml&quot; /&gt;
6     &lt;/modules&gt;
7   &lt;/component&gt;
8 &lt;/project&gt;
9 
<a name="1" id="anc1"></a><b style="font-size: large; color: red">--- EOF ---</b>
















































































</pre>
<input id="eof" value="1" type="hidden" />
</body>
</html>