<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Old make/ide/idea/jdk/template/vcs.xml</title>
    <link rel="stylesheet" href="../../../../../style.css" />
  </head>
  <body>
    <pre>
1 &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
2 &lt;project version=&quot;4&quot;&gt;
3   &lt;component name=&quot;VcsDirectoryMappings&quot;&gt;
4     &lt;mapping directory=&quot;###ROOT_DIR###&quot; vcs=&quot;###VCS_TYPE###&quot; /&gt;
5   &lt;/component&gt;
6 &lt;/project&gt;
    </pre>
  </body>
</html>