<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockFormattingContextQuirks.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="BlockFormattingContextGeometry.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="BlockFormattingState.cpp.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockFormattingContextQuirks.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #include &quot;config.h&quot;
 27 #include &quot;BlockFormattingContext.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 


 31 #include &quot;LayoutBox.h&quot;
 32 #include &quot;LayoutContainer.h&quot;
 33 #include &quot;LayoutState.h&quot;
 34 
 35 namespace WebCore {
 36 namespace Layout {
 37 
 38 static const Container&amp; initialContainingBlock(const Box&amp; layoutBox)
 39 {
 40     auto* containingBlock = layoutBox.containingBlock();
 41     while (containingBlock-&gt;containingBlock())
 42         containingBlock = containingBlock-&gt;containingBlock();
 43     return *containingBlock;
 44 }
 45 
 46 static bool isQuirkContainer(const Box&amp; layoutBox)
 47 {
 48     return layoutBox.isBodyBox() || layoutBox.isDocumentBox() || layoutBox.isTableCell();
 49 }
 50 
<span class="line-modified"> 51 bool BlockFormattingContext::Quirks::needsStretching(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
 52 {
 53     // In quirks mode, body stretches to html and html to the initial containing block (height: auto only).
<span class="line-modified"> 54     if (!layoutState.inQuirksMode())</span>
 55         return false;
 56 
 57     if (!layoutBox.isDocumentBox() &amp;&amp; !layoutBox.isBodyBox())
 58         return false;
 59 
 60     return layoutBox.style().logicalHeight().isAuto();
 61 }
 62 
<span class="line-modified"> 63 HeightAndMargin BlockFormattingContext::Quirks::stretchedInFlowHeight(const LayoutState&amp; layoutState, const Box&amp; layoutBox, HeightAndMargin heightAndMargin)</span>
 64 {
 65     ASSERT(layoutBox.isInFlow());
 66     ASSERT(layoutBox.isDocumentBox() || layoutBox.isBodyBox());
 67 

 68     auto&amp; documentBox = layoutBox.isDocumentBox() ? layoutBox : *layoutBox.parent();
<span class="line-modified"> 69     auto&amp; documentBoxDisplayBox = layoutState.displayBoxForLayoutBox(documentBox);</span>
 70 
<span class="line-modified"> 71     auto&amp; initialContainingBlockDisplayBox = layoutState.displayBoxForLayoutBox(initialContainingBlock(layoutBox));</span>
<span class="line-modified"> 72     auto strechedHeight = initialContainingBlockDisplayBox.contentBoxHeight();</span>
<span class="line-modified"> 73     strechedHeight -= documentBoxDisplayBox.verticalBorder() + documentBoxDisplayBox.verticalPadding().valueOr(0);</span>
 74 
 75     LayoutUnit totalVerticalMargin;
 76     if (layoutBox.isDocumentBox()) {
 77         // Document box&#39;s margins do not collapse.
<span class="line-modified"> 78         auto verticalMargin = heightAndMargin.nonCollapsedMargin;</span>
 79         totalVerticalMargin = verticalMargin.before + verticalMargin.after;
 80     } else if (layoutBox.isBodyBox()) {
 81         // Here is the quirky part for body box:
 82         // Stretch the body using the initial containing block&#39;s height and shrink it with document box&#39;s margin/border/padding.
 83         // This looks extremely odd when html has non-auto height.
<span class="line-modified"> 84         auto documentBoxVerticalMargin = Geometry::computedVerticalMargin(documentBox, UsedHorizontalValues { initialContainingBlockDisplayBox.contentBoxWidth() });</span>
 85         strechedHeight -= (documentBoxVerticalMargin.before.valueOr(0) + documentBoxVerticalMargin.after.valueOr(0));
 86 
<span class="line-modified"> 87         auto&amp; bodyBoxDisplayBox = layoutState.displayBoxForLayoutBox(layoutBox);</span>
<span class="line-modified"> 88         strechedHeight -= bodyBoxDisplayBox.verticalBorder() + bodyBoxDisplayBox.verticalPadding().valueOr(0);</span>
 89 
<span class="line-modified"> 90         auto nonCollapsedMargin = heightAndMargin.nonCollapsedMargin;</span>
<span class="line-modified"> 91         auto collapsedMargin = MarginCollapse::collapsedVerticalValues(layoutState, layoutBox, nonCollapsedMargin);</span>
 92         totalVerticalMargin = collapsedMargin.before.valueOr(nonCollapsedMargin.before);
 93         totalVerticalMargin += collapsedMargin.isCollapsedThrough ? nonCollapsedMargin.after : collapsedMargin.after.valueOr(nonCollapsedMargin.after);
 94     }
 95 
 96     // Stretch but never overstretch with the margins.
<span class="line-modified"> 97     if (heightAndMargin.height + totalVerticalMargin &lt; strechedHeight)</span>
<span class="line-modified"> 98         heightAndMargin.height = strechedHeight - totalVerticalMargin;</span>
 99 
<span class="line-modified">100     return heightAndMargin;</span>
101 }
102 
<span class="line-modified">103 bool BlockFormattingContext::Quirks::shouldIgnoreCollapsedQuirkMargin(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
104 {
<span class="line-modified">105     return layoutState.inQuirksMode() &amp;&amp; isQuirkContainer(layoutBox);</span>
106 }
107 
108 }
109 }
110 
111 #endif
</pre>
</td>
<td>
<hr />
<pre>
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #include &quot;config.h&quot;
 27 #include &quot;BlockFormattingContext.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 
<span class="line-added"> 31 #include &quot;BlockFormattingState.h&quot;</span>
<span class="line-added"> 32 #include &quot;DisplayBox.h&quot;</span>
 33 #include &quot;LayoutBox.h&quot;
 34 #include &quot;LayoutContainer.h&quot;
 35 #include &quot;LayoutState.h&quot;
 36 
 37 namespace WebCore {
 38 namespace Layout {
 39 
 40 static const Container&amp; initialContainingBlock(const Box&amp; layoutBox)
 41 {
 42     auto* containingBlock = layoutBox.containingBlock();
 43     while (containingBlock-&gt;containingBlock())
 44         containingBlock = containingBlock-&gt;containingBlock();
 45     return *containingBlock;
 46 }
 47 
 48 static bool isQuirkContainer(const Box&amp; layoutBox)
 49 {
 50     return layoutBox.isBodyBox() || layoutBox.isDocumentBox() || layoutBox.isTableCell();
 51 }
 52 
<span class="line-modified"> 53 bool BlockFormattingContext::Quirks::needsStretching(const Box&amp; layoutBox) const</span>
 54 {
 55     // In quirks mode, body stretches to html and html to the initial containing block (height: auto only).
<span class="line-modified"> 56     if (!layoutState().inQuirksMode())</span>
 57         return false;
 58 
 59     if (!layoutBox.isDocumentBox() &amp;&amp; !layoutBox.isBodyBox())
 60         return false;
 61 
 62     return layoutBox.style().logicalHeight().isAuto();
 63 }
 64 
<span class="line-modified"> 65 ContentHeightAndMargin BlockFormattingContext::Quirks::stretchedInFlowHeight(const Box&amp; layoutBox, ContentHeightAndMargin contentHeightAndMargin)</span>
 66 {
 67     ASSERT(layoutBox.isInFlow());
 68     ASSERT(layoutBox.isDocumentBox() || layoutBox.isBodyBox());
 69 
<span class="line-added"> 70     auto&amp; formattingContext = this-&gt;formattingContext();</span>
 71     auto&amp; documentBox = layoutBox.isDocumentBox() ? layoutBox : *layoutBox.parent();
<span class="line-modified"> 72     auto&amp; documentBoxGeometry = formattingContext.geometryForBox(documentBox, EscapeReason::BodyStrechesToViewportQuirk);</span>
 73 
<span class="line-modified"> 74     auto&amp; initialContainingBlockGeometry = formattingContext.geometryForBox(initialContainingBlock(layoutBox), EscapeReason::BodyStrechesToViewportQuirk);</span>
<span class="line-modified"> 75     auto strechedHeight = initialContainingBlockGeometry.contentBoxHeight();</span>
<span class="line-modified"> 76     strechedHeight -= documentBoxGeometry.verticalBorder() + documentBoxGeometry.verticalPadding().valueOr(0);</span>
 77 
 78     LayoutUnit totalVerticalMargin;
 79     if (layoutBox.isDocumentBox()) {
 80         // Document box&#39;s margins do not collapse.
<span class="line-modified"> 81         auto verticalMargin = contentHeightAndMargin.nonCollapsedMargin;</span>
 82         totalVerticalMargin = verticalMargin.before + verticalMargin.after;
 83     } else if (layoutBox.isBodyBox()) {
 84         // Here is the quirky part for body box:
 85         // Stretch the body using the initial containing block&#39;s height and shrink it with document box&#39;s margin/border/padding.
 86         // This looks extremely odd when html has non-auto height.
<span class="line-modified"> 87         auto documentBoxVerticalMargin = formattingContext.geometry().computedVerticalMargin(documentBox, Geometry::horizontalConstraintsForInFlow(initialContainingBlockGeometry));</span>
 88         strechedHeight -= (documentBoxVerticalMargin.before.valueOr(0) + documentBoxVerticalMargin.after.valueOr(0));
 89 
<span class="line-modified"> 90         auto&amp; bodyBoxGeometry = formattingContext.geometryForBox(layoutBox);</span>
<span class="line-modified"> 91         strechedHeight -= bodyBoxGeometry.verticalBorder() + bodyBoxGeometry.verticalPadding().valueOr(0);</span>
 92 
<span class="line-modified"> 93         auto nonCollapsedMargin = contentHeightAndMargin.nonCollapsedMargin;</span>
<span class="line-modified"> 94         auto collapsedMargin = formattingContext.marginCollapse().collapsedVerticalValues(layoutBox, nonCollapsedMargin);</span>
 95         totalVerticalMargin = collapsedMargin.before.valueOr(nonCollapsedMargin.before);
 96         totalVerticalMargin += collapsedMargin.isCollapsedThrough ? nonCollapsedMargin.after : collapsedMargin.after.valueOr(nonCollapsedMargin.after);
 97     }
 98 
 99     // Stretch but never overstretch with the margins.
<span class="line-modified">100     if (contentHeightAndMargin.contentHeight + totalVerticalMargin &lt; strechedHeight)</span>
<span class="line-modified">101         contentHeightAndMargin.contentHeight = strechedHeight - totalVerticalMargin;</span>
102 
<span class="line-modified">103     return contentHeightAndMargin;</span>
104 }
105 
<span class="line-modified">106 bool BlockFormattingContext::Quirks::shouldIgnoreCollapsedQuirkMargin(const Box&amp; layoutBox) const</span>
107 {
<span class="line-modified">108     return layoutState().inQuirksMode() &amp;&amp; isQuirkContainer(layoutBox);</span>
109 }
110 
111 }
112 }
113 
114 #endif
</pre>
</td>
</tr>
</table>
<center><a href="BlockFormattingContextGeometry.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="BlockFormattingState.cpp.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>