<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/tableformatting/TableGrid.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="TableGrid.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../../loader/ContentFilter.cpp.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/tableformatting/TableGrid.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 10  *    notice, this list of conditions and the following disclaimer in the
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 

 30 #include &quot;IntPointHash.h&quot;
<span class="line-removed"> 31 #include &quot;LayoutBox.h&quot;</span>
 32 #include &lt;wtf/HashMap.h&gt;
 33 #include &lt;wtf/IsoMalloc.h&gt;
 34 #include &lt;wtf/ListHashSet.h&gt;
 35 #include &lt;wtf/WeakPtr.h&gt;
 36 
 37 namespace WebCore {
 38 namespace Layout {

 39 
 40 class TableGrid {
 41     WTF_MAKE_ISO_ALLOCATED(TableGrid);
 42 public:
 43     TableGrid();
 44 
 45     void appendCell(const Box&amp;);
 46     void insertCell(const Box&amp;, const Box&amp; before);
 47     void removeCell(const Box&amp;);
 48 







 49     using SlotPosition = IntPoint;
 50 
 51     // Cell represents a &lt;td&gt; or &lt;th&gt;. It can span multiple slots in the grid.
 52     using CellSize = IntSize;
 53     struct CellInfo : public CanMakeWeakPtr&lt;CellInfo&gt; {
 54         WTF_MAKE_STRUCT_FAST_ALLOCATED;
 55         CellInfo(const Box&amp; tableCellBox, SlotPosition, CellSize);
 56 
 57         const Box&amp; tableCellBox;
 58         SlotPosition position;
 59         CellSize size;
 60     };
 61     using CellList = WTF::ListHashSet&lt;std::unique_ptr&lt;CellInfo&gt;&gt;;
 62     CellList&amp; cells() { return m_cellList; }
 63 
 64     // Column represents a vertical set of slots in the grid. A column has min/max and final width.
 65     class ColumnsContext;
 66     class Column {
 67     public:
 68         void setWidthConstraints(FormattingContext::IntrinsicWidthConstraints);
 69         FormattingContext::IntrinsicWidthConstraints widthConstraints() const;
 70 



 71         void setLogicalWidth(LayoutUnit);
 72         LayoutUnit logicalWidth() const;
 73 
<span class="line-modified"> 74         void setLogicalLeft(LayoutUnit);</span>
<span class="line-removed"> 75         LayoutUnit logicalLeft() const;</span>
 76 
<span class="line-modified"> 77         LayoutUnit logicalRight() const { return logicalLeft() + logicalWidth(); }</span>
 78 
 79     private:
 80         friend class ColumnsContext;
<span class="line-modified"> 81         Column() = default;</span>
 82 
 83         FormattingContext::IntrinsicWidthConstraints m_widthConstraints;
 84         LayoutUnit m_computedLogicalWidth;
 85         LayoutUnit m_computedLogicalLeft;
<span class="line-modified"> 86 #ifndef NDEBUG</span>


 87         bool m_hasWidthConstraints { false };
 88         bool m_hasComputedWidth { false };
 89         bool m_hasComputedLeft { false };
 90 #endif
 91     };
 92 
 93     class ColumnsContext {
 94     public:
 95         using ColumnList = Vector&lt;Column&gt;;
 96         ColumnList&amp; columns() { return m_columns; }
 97         const ColumnList&amp; columns() const { return m_columns; }

 98 
<span class="line-modified"> 99         enum class WidthConstraintsType { Minimum, Maximum };</span>
<span class="line-removed">100         void useAsLogicalWidth(WidthConstraintsType);</span>
101 
102     private:
103         friend class TableGrid;
<span class="line-removed">104         void addColumn();</span>
105 
106         ColumnList m_columns;
107     };

108     ColumnsContext&amp; columnsContext() { return m_columnsContext; }
109 
110     struct Row {
111     public:




112         void setLogicalTop(LayoutUnit logicalTop) { m_logicalTop = logicalTop; }
113         LayoutUnit logicalTop() const { return m_logicalTop; }
114 
115         void setLogicalHeight(LayoutUnit logicalHeight) { m_logicalHeight = logicalHeight; }
116         LayoutUnit logicalHeight() const { return m_logicalHeight; }
117 
118         LayoutUnit logicalBottom() const { return logicalTop() + logicalHeight(); }
119 
120     private:
121         LayoutUnit m_logicalTop;
122         LayoutUnit m_logicalHeight;

123     };
124     using RowList = WTF::Vector&lt;Row&gt;;
125     RowList&amp; rows() { return m_rows; }
126 
127     struct SlotInfo {
128         WTF_MAKE_STRUCT_FAST_ALLOCATED;
129         SlotInfo() = default;
130         SlotInfo(CellInfo&amp;);
131 
132         WeakPtr&lt;CellInfo&gt; cell;
133         FormattingContext::IntrinsicWidthConstraints widthConstraints;
134     };
135     SlotInfo* slot(SlotPosition);
136 
<span class="line-modified">137     FormattingContext::IntrinsicWidthConstraints widthConstraints() const;</span>

138 
139 private:
140     using SlotMap = WTF::HashMap&lt;SlotPosition, std::unique_ptr&lt;SlotInfo&gt;&gt;;
141 
142     SlotMap m_slotMap;
143     CellList m_cellList;
144     ColumnsContext m_columnsContext;
145     RowList m_rows;



146 };
147 
148 }
149 }
150 #endif
</pre>
</td>
<td>
<hr />
<pre>
 10  *    notice, this list of conditions and the following disclaimer in the
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
<span class="line-added"> 30 #include &quot;FormattingContext.h&quot;</span>
 31 #include &quot;IntPointHash.h&quot;

 32 #include &lt;wtf/HashMap.h&gt;
 33 #include &lt;wtf/IsoMalloc.h&gt;
 34 #include &lt;wtf/ListHashSet.h&gt;
 35 #include &lt;wtf/WeakPtr.h&gt;
 36 
 37 namespace WebCore {
 38 namespace Layout {
<span class="line-added"> 39 class Box;</span>
 40 
 41 class TableGrid {
 42     WTF_MAKE_ISO_ALLOCATED(TableGrid);
 43 public:
 44     TableGrid();
 45 
 46     void appendCell(const Box&amp;);
 47     void insertCell(const Box&amp;, const Box&amp; before);
 48     void removeCell(const Box&amp;);
 49 
<span class="line-added"> 50     void setHorizontalSpacing(LayoutUnit horizontalSpacing) { m_horizontalSpacing = horizontalSpacing; }</span>
<span class="line-added"> 51     LayoutUnit horizontalSpacing() const { return m_horizontalSpacing; }</span>
<span class="line-added"> 52     LayoutUnit totalHorizontalSpacing() const { return (columnsContext().columns().size() + 1) * horizontalSpacing(); }</span>
<span class="line-added"> 53 </span>
<span class="line-added"> 54     void setVerticalSpacing(LayoutUnit verticalSpacing) { m_verticalSpacing = verticalSpacing; }</span>
<span class="line-added"> 55     LayoutUnit verticalSpacing() const { return m_verticalSpacing; }</span>
<span class="line-added"> 56 </span>
 57     using SlotPosition = IntPoint;
 58 
 59     // Cell represents a &lt;td&gt; or &lt;th&gt;. It can span multiple slots in the grid.
 60     using CellSize = IntSize;
 61     struct CellInfo : public CanMakeWeakPtr&lt;CellInfo&gt; {
 62         WTF_MAKE_STRUCT_FAST_ALLOCATED;
 63         CellInfo(const Box&amp; tableCellBox, SlotPosition, CellSize);
 64 
 65         const Box&amp; tableCellBox;
 66         SlotPosition position;
 67         CellSize size;
 68     };
 69     using CellList = WTF::ListHashSet&lt;std::unique_ptr&lt;CellInfo&gt;&gt;;
 70     CellList&amp; cells() { return m_cellList; }
 71 
 72     // Column represents a vertical set of slots in the grid. A column has min/max and final width.
 73     class ColumnsContext;
 74     class Column {
 75     public:
 76         void setWidthConstraints(FormattingContext::IntrinsicWidthConstraints);
 77         FormattingContext::IntrinsicWidthConstraints widthConstraints() const;
 78 
<span class="line-added"> 79         void setLogicalLeft(LayoutUnit);</span>
<span class="line-added"> 80         LayoutUnit logicalLeft() const;</span>
<span class="line-added"> 81         LayoutUnit logicalRight() const { return logicalLeft() + logicalWidth(); }</span>
 82         void setLogicalWidth(LayoutUnit);
 83         LayoutUnit logicalWidth() const;
 84 
<span class="line-modified"> 85         bool hasFixedWidth() const;</span>

 86 
<span class="line-modified"> 87         const Box* columnBox() const { return m_columnBox.get(); }</span>
 88 
 89     private:
 90         friend class ColumnsContext;
<span class="line-modified"> 91         Column(const Box* columnBox);</span>
 92 
 93         FormattingContext::IntrinsicWidthConstraints m_widthConstraints;
 94         LayoutUnit m_computedLogicalWidth;
 95         LayoutUnit m_computedLogicalLeft;
<span class="line-modified"> 96         WeakPtr&lt;const Box&gt; m_columnBox;</span>
<span class="line-added"> 97 </span>
<span class="line-added"> 98 #if ASSERT_ENABLED</span>
 99         bool m_hasWidthConstraints { false };
100         bool m_hasComputedWidth { false };
101         bool m_hasComputedLeft { false };
102 #endif
103     };
104 
105     class ColumnsContext {
106     public:
107         using ColumnList = Vector&lt;Column&gt;;
108         ColumnList&amp; columns() { return m_columns; }
109         const ColumnList&amp; columns() const { return m_columns; }
<span class="line-added">110         void addColumn(const Box* columnBox = nullptr);</span>
111 
<span class="line-modified">112         LayoutUnit logicalWidth() const { return columns().last().logicalRight() - columns().first().logicalLeft(); }</span>

113 
114     private:
115         friend class TableGrid;

116 
117         ColumnList m_columns;
118     };
<span class="line-added">119     const ColumnsContext&amp; columnsContext() const { return m_columnsContext; }</span>
120     ColumnsContext&amp; columnsContext() { return m_columnsContext; }
121 
122     struct Row {
123     public:
<span class="line-added">124         Row(const Box&amp;);</span>
<span class="line-added">125 </span>
<span class="line-added">126         const Box&amp; box() const { return m_layoutBox; }</span>
<span class="line-added">127 </span>
128         void setLogicalTop(LayoutUnit logicalTop) { m_logicalTop = logicalTop; }
129         LayoutUnit logicalTop() const { return m_logicalTop; }
130 
131         void setLogicalHeight(LayoutUnit logicalHeight) { m_logicalHeight = logicalHeight; }
132         LayoutUnit logicalHeight() const { return m_logicalHeight; }
133 
134         LayoutUnit logicalBottom() const { return logicalTop() + logicalHeight(); }
135 
136     private:
137         LayoutUnit m_logicalTop;
138         LayoutUnit m_logicalHeight;
<span class="line-added">139         const Box&amp; m_layoutBox;</span>
140     };
141     using RowList = WTF::Vector&lt;Row&gt;;
142     RowList&amp; rows() { return m_rows; }
143 
144     struct SlotInfo {
145         WTF_MAKE_STRUCT_FAST_ALLOCATED;
146         SlotInfo() = default;
147         SlotInfo(CellInfo&amp;);
148 
149         WeakPtr&lt;CellInfo&gt; cell;
150         FormattingContext::IntrinsicWidthConstraints widthConstraints;
151     };
152     SlotInfo* slot(SlotPosition);
153 
<span class="line-modified">154     bool hasComputedWidthConstraints() const { return m_intrinsicWidthConstraints.hasValue(); }</span>
<span class="line-added">155     FormattingContext::IntrinsicWidthConstraints widthConstraints();</span>
156 
157 private:
158     using SlotMap = WTF::HashMap&lt;SlotPosition, std::unique_ptr&lt;SlotInfo&gt;&gt;;
159 
160     SlotMap m_slotMap;
161     CellList m_cellList;
162     ColumnsContext m_columnsContext;
163     RowList m_rows;
<span class="line-added">164     LayoutUnit m_horizontalSpacing;</span>
<span class="line-added">165     LayoutUnit m_verticalSpacing;</span>
<span class="line-added">166     Optional&lt;FormattingContext::IntrinsicWidthConstraints&gt; m_intrinsicWidthConstraints;</span>
167 };
168 
169 }
170 }
171 #endif
</pre>
</td>
</tr>
</table>
<center><a href="TableGrid.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../../loader/ContentFilter.cpp.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>