<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/tableformatting/TableGrid.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="TableFormattingState.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="TableGrid.h.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/tableformatting/TableGrid.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -33,13 +33,18 @@</span>
  namespace WebCore {
  namespace Layout {
  
  WTF_MAKE_ISO_ALLOCATED_IMPL(TableGrid);
  
<span class="udiff-line-added">+ TableGrid::Column::Column(const Box* columnBox)</span>
<span class="udiff-line-added">+     : m_columnBox(makeWeakPtr(columnBox))</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
  void TableGrid::Column::setWidthConstraints(FormattingContext::IntrinsicWidthConstraints widthConstraints)
  {
<span class="udiff-line-modified-removed">- #ifndef NDEBUG</span>
<span class="udiff-line-modified-added">+ #if ASSERT_ENABLED</span>
      m_hasWidthConstraints = true;
  #endif
      m_widthConstraints = widthConstraints;
  }
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -49,11 +54,11 @@</span>
      return m_widthConstraints;
  }
  
  void TableGrid::Column::setLogicalWidth(LayoutUnit computedLogicalWidth)
  {
<span class="udiff-line-modified-removed">- #ifndef NDEBUG</span>
<span class="udiff-line-modified-added">+ #if ASSERT_ENABLED</span>
      m_hasComputedWidth = true;
  #endif
      m_computedLogicalWidth = computedLogicalWidth;
  }
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -63,11 +68,11 @@</span>
      return m_computedLogicalWidth;
  }
  
  void TableGrid::Column::setLogicalLeft(LayoutUnit computedLogicalLeft)
  {
<span class="udiff-line-modified-removed">- #ifndef NDEBUG</span>
<span class="udiff-line-modified-added">+ #if ASSERT_ENABLED</span>
      m_hasComputedLeft = true;
  #endif
      m_computedLogicalLeft = computedLogicalLeft;
  }
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -75,19 +80,24 @@</span>
  {
      ASSERT(m_hasComputedLeft);
      return m_computedLogicalLeft;
  }
  
<span class="udiff-line-modified-removed">- void TableGrid::ColumnsContext::addColumn()</span>
<span class="udiff-line-modified-added">+ bool TableGrid::Column::hasFixedWidth() const</span>
  {
<span class="udiff-line-modified-removed">-     m_columns.append({ });</span>
<span class="udiff-line-modified-added">+     // FIXME: This only covers the &lt;col&gt; attribute case.</span>
<span class="udiff-line-added">+     return columnBox() &amp;&amp; columnBox()-&gt;columnWidth();</span>
  }
  
<span class="udiff-line-modified-removed">- void TableGrid::ColumnsContext::useAsLogicalWidth(WidthConstraintsType type)</span>
<span class="udiff-line-modified-added">+ void TableGrid::ColumnsContext::addColumn(const Box* columnBox)</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     m_columns.append({ columnBox });</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+ TableGrid::Row::Row(const Box&amp; rowBox)</span>
<span class="udiff-line-added">+     : m_layoutBox(rowBox)</span>
  {
<span class="udiff-line-removed">-     for (auto&amp; column : m_columns)</span>
<span class="udiff-line-removed">-         column.setLogicalWidth(type == WidthConstraintsType::Minimum ? column.widthConstraints().minimum : column.widthConstraints().maximum);</span>
  }
  
  TableGrid::CellInfo::CellInfo(const Box&amp; tableCellBox, SlotPosition position, CellSize size)
      : tableCellBox(tableCellBox)
      , position(position)
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -140,16 +150,16 @@</span>
              ASSERT(!m_slotMap.contains(position));
              m_slotMap.add(position, makeUnique&lt;SlotInfo&gt;(*cellInfo));
          }
      }
      // Initialize columns/rows if needed.
<span class="udiff-line-modified-removed">-     auto missingNumberOfColumns = std::max&lt;unsigned&gt;(0, (initialSlotPosition.x() + columnSpan) - m_columnsContext.columns().size());</span>
<span class="udiff-line-modified-removed">-     for (unsigned column = 0; column &lt; missingNumberOfColumns; ++column)</span>
<span class="udiff-line-modified-added">+     auto missingNumberOfColumns = std::max&lt;int&gt;(0, initialSlotPosition.x() + columnSpan - m_columnsContext.columns().size());</span>
<span class="udiff-line-modified-added">+     for (auto column = 0; column &lt; missingNumberOfColumns; ++column)</span>
          m_columnsContext.addColumn();
  
      if (isInNewRow)
<span class="udiff-line-modified-removed">-         m_rows.append({ });</span>
<span class="udiff-line-modified-added">+         m_rows.append({ *tableCellBox.parent() });</span>
  
      m_cellList.add(WTFMove(cellInfo));
  }
  
  void TableGrid::insertCell(const Box&amp; tableCellBox, const Box&amp; before)
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -161,17 +171,21 @@</span>
  void TableGrid::removeCell(const Box&amp; tableCellBox)
  {
      UNUSED_PARAM(tableCellBox);
  }
  
<span class="udiff-line-modified-removed">- FormattingContext::IntrinsicWidthConstraints TableGrid::widthConstraints() const</span>
<span class="udiff-line-modified-added">+ FormattingContext::IntrinsicWidthConstraints TableGrid::widthConstraints()</span>
  {
<span class="udiff-line-modified-removed">-     // FIXME: We should probably cache this value.</span>
<span class="udiff-line-modified-removed">-     auto widthConstraints = FormattingContext::IntrinsicWidthConstraints { };</span>
<span class="udiff-line-modified-added">+     // FIXME: Add constraint invalidation for incremental layouts.</span>
<span class="udiff-line-modified-added">+     if (m_intrinsicWidthConstraints)</span>
<span class="udiff-line-added">+         return *m_intrinsicWidthConstraints;</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     m_intrinsicWidthConstraints = FormattingContext::IntrinsicWidthConstraints { };</span>
      for (auto&amp; column : m_columnsContext.columns())
<span class="udiff-line-modified-removed">-         widthConstraints += column.widthConstraints();</span>
<span class="udiff-line-modified-removed">-     return widthConstraints;</span>
<span class="udiff-line-modified-added">+         *m_intrinsicWidthConstraints += column.widthConstraints();</span>
<span class="udiff-line-modified-added">+     m_intrinsicWidthConstraints-&gt;expand(totalHorizontalSpacing());</span>
<span class="udiff-line-added">+     return *m_intrinsicWidthConstraints;</span>
  }
  
  }
  }
  #endif
</pre>
<center><a href="TableFormattingState.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="TableGrid.h.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>