<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/tableformatting/TableGrid.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="TableFormattingState.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="TableGrid.h.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/tableformatting/TableGrid.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 33,13 ***</span>
  namespace WebCore {
  namespace Layout {
  
  WTF_MAKE_ISO_ALLOCATED_IMPL(TableGrid);
  
  void TableGrid::Column::setWidthConstraints(FormattingContext::IntrinsicWidthConstraints widthConstraints)
  {
<span class="line-modified">! #ifndef NDEBUG</span>
      m_hasWidthConstraints = true;
  #endif
      m_widthConstraints = widthConstraints;
  }
  
<span class="line-new-header">--- 33,18 ---</span>
  namespace WebCore {
  namespace Layout {
  
  WTF_MAKE_ISO_ALLOCATED_IMPL(TableGrid);
  
<span class="line-added">+ TableGrid::Column::Column(const Box* columnBox)</span>
<span class="line-added">+     : m_columnBox(makeWeakPtr(columnBox))</span>
<span class="line-added">+ {</span>
<span class="line-added">+ }</span>
<span class="line-added">+ </span>
  void TableGrid::Column::setWidthConstraints(FormattingContext::IntrinsicWidthConstraints widthConstraints)
  {
<span class="line-modified">! #if ASSERT_ENABLED</span>
      m_hasWidthConstraints = true;
  #endif
      m_widthConstraints = widthConstraints;
  }
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 49,11 ***</span>
      return m_widthConstraints;
  }
  
  void TableGrid::Column::setLogicalWidth(LayoutUnit computedLogicalWidth)
  {
<span class="line-modified">! #ifndef NDEBUG</span>
      m_hasComputedWidth = true;
  #endif
      m_computedLogicalWidth = computedLogicalWidth;
  }
  
<span class="line-new-header">--- 54,11 ---</span>
      return m_widthConstraints;
  }
  
  void TableGrid::Column::setLogicalWidth(LayoutUnit computedLogicalWidth)
  {
<span class="line-modified">! #if ASSERT_ENABLED</span>
      m_hasComputedWidth = true;
  #endif
      m_computedLogicalWidth = computedLogicalWidth;
  }
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 63,11 ***</span>
      return m_computedLogicalWidth;
  }
  
  void TableGrid::Column::setLogicalLeft(LayoutUnit computedLogicalLeft)
  {
<span class="line-modified">! #ifndef NDEBUG</span>
      m_hasComputedLeft = true;
  #endif
      m_computedLogicalLeft = computedLogicalLeft;
  }
  
<span class="line-new-header">--- 68,11 ---</span>
      return m_computedLogicalWidth;
  }
  
  void TableGrid::Column::setLogicalLeft(LayoutUnit computedLogicalLeft)
  {
<span class="line-modified">! #if ASSERT_ENABLED</span>
      m_hasComputedLeft = true;
  #endif
      m_computedLogicalLeft = computedLogicalLeft;
  }
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 75,19 ***</span>
  {
      ASSERT(m_hasComputedLeft);
      return m_computedLogicalLeft;
  }
  
<span class="line-modified">! void TableGrid::ColumnsContext::addColumn()</span>
  {
<span class="line-modified">!     m_columns.append({ });</span>
  }
  
<span class="line-modified">! void TableGrid::ColumnsContext::useAsLogicalWidth(WidthConstraintsType type)</span>
  {
<span class="line-removed">-     for (auto&amp; column : m_columns)</span>
<span class="line-removed">-         column.setLogicalWidth(type == WidthConstraintsType::Minimum ? column.widthConstraints().minimum : column.widthConstraints().maximum);</span>
  }
  
  TableGrid::CellInfo::CellInfo(const Box&amp; tableCellBox, SlotPosition position, CellSize size)
      : tableCellBox(tableCellBox)
      , position(position)
<span class="line-new-header">--- 80,24 ---</span>
  {
      ASSERT(m_hasComputedLeft);
      return m_computedLogicalLeft;
  }
  
<span class="line-modified">! bool TableGrid::Column::hasFixedWidth() const</span>
  {
<span class="line-modified">!     // FIXME: This only covers the &lt;col&gt; attribute case.</span>
<span class="line-added">+     return columnBox() &amp;&amp; columnBox()-&gt;columnWidth();</span>
  }
  
<span class="line-modified">! void TableGrid::ColumnsContext::addColumn(const Box* columnBox)</span>
<span class="line-added">+ {</span>
<span class="line-added">+     m_columns.append({ columnBox });</span>
<span class="line-added">+ }</span>
<span class="line-added">+ </span>
<span class="line-added">+ TableGrid::Row::Row(const Box&amp; rowBox)</span>
<span class="line-added">+     : m_layoutBox(rowBox)</span>
  {
  }
  
  TableGrid::CellInfo::CellInfo(const Box&amp; tableCellBox, SlotPosition position, CellSize size)
      : tableCellBox(tableCellBox)
      , position(position)
</pre>
<hr />
<pre>
<span class="line-old-header">*** 140,16 ***</span>
              ASSERT(!m_slotMap.contains(position));
              m_slotMap.add(position, makeUnique&lt;SlotInfo&gt;(*cellInfo));
          }
      }
      // Initialize columns/rows if needed.
<span class="line-modified">!     auto missingNumberOfColumns = std::max&lt;unsigned&gt;(0, (initialSlotPosition.x() + columnSpan) - m_columnsContext.columns().size());</span>
<span class="line-modified">!     for (unsigned column = 0; column &lt; missingNumberOfColumns; ++column)</span>
          m_columnsContext.addColumn();
  
      if (isInNewRow)
<span class="line-modified">!         m_rows.append({ });</span>
  
      m_cellList.add(WTFMove(cellInfo));
  }
  
  void TableGrid::insertCell(const Box&amp; tableCellBox, const Box&amp; before)
<span class="line-new-header">--- 150,16 ---</span>
              ASSERT(!m_slotMap.contains(position));
              m_slotMap.add(position, makeUnique&lt;SlotInfo&gt;(*cellInfo));
          }
      }
      // Initialize columns/rows if needed.
<span class="line-modified">!     auto missingNumberOfColumns = std::max&lt;int&gt;(0, initialSlotPosition.x() + columnSpan - m_columnsContext.columns().size());</span>
<span class="line-modified">!     for (auto column = 0; column &lt; missingNumberOfColumns; ++column)</span>
          m_columnsContext.addColumn();
  
      if (isInNewRow)
<span class="line-modified">!         m_rows.append({ *tableCellBox.parent() });</span>
  
      m_cellList.add(WTFMove(cellInfo));
  }
  
  void TableGrid::insertCell(const Box&amp; tableCellBox, const Box&amp; before)
</pre>
<hr />
<pre>
<span class="line-old-header">*** 161,17 ***</span>
  void TableGrid::removeCell(const Box&amp; tableCellBox)
  {
      UNUSED_PARAM(tableCellBox);
  }
  
<span class="line-modified">! FormattingContext::IntrinsicWidthConstraints TableGrid::widthConstraints() const</span>
  {
<span class="line-modified">!     // FIXME: We should probably cache this value.</span>
<span class="line-modified">!     auto widthConstraints = FormattingContext::IntrinsicWidthConstraints { };</span>
      for (auto&amp; column : m_columnsContext.columns())
<span class="line-modified">!         widthConstraints += column.widthConstraints();</span>
<span class="line-modified">!     return widthConstraints;</span>
  }
  
  }
  }
  #endif
<span class="line-new-header">--- 171,21 ---</span>
  void TableGrid::removeCell(const Box&amp; tableCellBox)
  {
      UNUSED_PARAM(tableCellBox);
  }
  
<span class="line-modified">! FormattingContext::IntrinsicWidthConstraints TableGrid::widthConstraints()</span>
  {
<span class="line-modified">!     // FIXME: Add constraint invalidation for incremental layouts.</span>
<span class="line-modified">!     if (m_intrinsicWidthConstraints)</span>
<span class="line-added">+         return *m_intrinsicWidthConstraints;</span>
<span class="line-added">+ </span>
<span class="line-added">+     m_intrinsicWidthConstraints = FormattingContext::IntrinsicWidthConstraints { };</span>
      for (auto&amp; column : m_columnsContext.columns())
<span class="line-modified">!         *m_intrinsicWidthConstraints += column.widthConstraints();</span>
<span class="line-modified">!     m_intrinsicWidthConstraints-&gt;expand(totalHorizontalSpacing());</span>
<span class="line-added">+     return *m_intrinsicWidthConstraints;</span>
  }
  
  }
  }
  #endif
</pre>
<center><a href="TableFormattingState.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="TableGrid.h.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>