<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../../pages/itemhandler/AttributeComponentConfiguration.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../org.openjdk.jmc.greychart.ui/pom.xml.udiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -639,14 +639,13 @@</span>
  	@Override
  	public void selectionChanged(IWorkbenchPart part, ISelection selection) {
  		if (selection instanceof IStructuredSelection) {
  			Object first = ((IStructuredSelection) selection).getFirstElement();
  			IItemCollection items = AdapterUtil.getAdapter(first, IItemCollection.class);
<span class="udiff-line-modified-removed">- 			if(items == null) {</span>
<span class="udiff-line-modified-added">+ 			if (items == null) {</span>
  				setItems(ItemCollectionToolkit.build(Stream.empty()));
<span class="udiff-line-modified-removed">- 			}</span>
<span class="udiff-line-removed">- 			else if (!items.equals(itemsToShow)) {</span>
<span class="udiff-line-modified-added">+ 			} else if (!items.equals(itemsToShow)) {</span>
  				setItems(items);
  			}
  		}
  	}
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -783,11 +782,12 @@</span>
  						threadRootAtTop ? ImageConstants.ICON_ARROW_CURVED_DOWN : ImageConstants.ICON_ARROW_CURVED_UP);
  			} else if (isFirstInBranchWithSiblings(frame)) {
  				return plugin.getImage(
  						threadRootAtTop ? ImageConstants.ICON_ARROW_FORK3_DOWN : ImageConstants.ICON_ARROW_FORK3_UP);
  			} else if (isLastFrame(frame)) {
<span class="udiff-line-modified-removed">- 				return plugin.getImage(threadRootAtTop ? ImageConstants.ICON_ARROW_DOWN_END : ImageConstants.ICON_ARROW_UP_END);</span>
<span class="udiff-line-modified-added">+ 				return plugin.getImage(</span>
<span class="udiff-line-added">+ 						threadRootAtTop ? ImageConstants.ICON_ARROW_DOWN_END : ImageConstants.ICON_ARROW_UP_END);</span>
  			} else {
  				return plugin.getImage(threadRootAtTop ? ImageConstants.ICON_ARROW_DOWN : ImageConstants.ICON_ARROW_UP);
  			}
  		}
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -816,11 +816,11 @@</span>
  	}
  
  	private static boolean isFirstInBranchWithSiblings(StacktraceFrame frame) {
  		return frame.getBranch().getFirstFrame() == frame &amp;&amp; frame.getBranch().getParentFork().getBranchCount() &gt; 1;
  	}
<span class="udiff-line-modified-removed">- 	</span>
<span class="udiff-line-modified-added">+ </span>
  	private static boolean isLastFrame(StacktraceFrame frame) {
  		return frame.getBranch().getLastFrame() == frame &amp;&amp; frame.getBranch().getEndFork().getBranchCount() == 0;
  	}
  
  	/*
</pre>
<center><a href="../../pages/itemhandler/AttributeComponentConfiguration.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../org.openjdk.jmc.greychart.ui/pom.xml.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>