<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../../../../../../../../../../../org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../../core/org.openjdk.jmc.flightrecorder/src/main/java/org/openjdk/jmc/flightrecorder/stacktrace/StacktraceModel.java.sdiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 15  * and the following disclaimer.
 16  * 
 17  * 2. Redistributions in binary form must reproduce the above copyright notice, this list of
 18  * conditions and the following disclaimer in the documentation and/or other materials provided with
 19  * the distribution.
 20  * 
 21  * 3. Neither the name of the copyright holder nor the names of its contributors may be used to
 22  * endorse or promote products derived from this software without specific prior written permission.
 23  * 
 24  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS &quot;AS IS&quot; AND ANY EXPRESS OR
 25  * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 26  * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 27  * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 28  * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 29  * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 30  * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 31  * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 32  */
 33 package org.openjdk.jmc.flightrecorder.ui.views.stacktrace;
 34 


 35 import java.util.Arrays;
 36 import java.util.List;
 37 import java.util.Optional;
 38 import java.util.concurrent.CompletableFuture;


 39 import java.util.logging.Level;
 40 import java.util.stream.Collectors;
 41 import java.util.stream.IntStream;
 42 import java.util.stream.Stream;
 43 
 44 import org.eclipse.core.runtime.IAdapterFactory;
 45 import org.eclipse.core.runtime.Platform;
 46 import org.eclipse.jface.action.Action;
 47 import org.eclipse.jface.action.IAction;
 48 import org.eclipse.jface.action.IMenuManager;
 49 import org.eclipse.jface.action.IToolBarManager;
 50 import org.eclipse.jface.action.MenuManager;
 51 import org.eclipse.jface.action.Separator;
 52 import org.eclipse.jface.viewers.AbstractTreeViewer;
 53 import org.eclipse.jface.viewers.ColumnLabelProvider;
 54 import org.eclipse.jface.viewers.ColumnViewer;
 55 import org.eclipse.jface.viewers.ColumnViewerToolTipSupport;
 56 import org.eclipse.jface.viewers.ISelection;
 57 import org.eclipse.jface.viewers.ISelectionChangedListener;
 58 import org.eclipse.jface.viewers.IStructuredSelection;
</pre>
<hr />
<pre>
 71 import org.eclipse.swt.events.TraverseEvent;
 72 import org.eclipse.swt.events.TraverseListener;
 73 import org.eclipse.swt.graphics.Color;
 74 import org.eclipse.swt.graphics.Image;
 75 import org.eclipse.swt.graphics.RGB;
 76 import org.eclipse.swt.widgets.Composite;
 77 import org.eclipse.swt.widgets.Display;
 78 import org.eclipse.swt.widgets.Event;
 79 import org.eclipse.swt.widgets.Listener;
 80 import org.eclipse.swt.widgets.TableColumn;
 81 import org.eclipse.swt.widgets.TreeColumn;
 82 import org.eclipse.ui.IEditorPart;
 83 import org.eclipse.ui.IMemento;
 84 import org.eclipse.ui.ISelectionListener;
 85 import org.eclipse.ui.IViewSite;
 86 import org.eclipse.ui.IWorkbenchPart;
 87 import org.eclipse.ui.PartInitException;
 88 import org.eclipse.ui.PlatformUI;
 89 import org.eclipse.ui.forms.widgets.FormText;
 90 import org.eclipse.ui.part.ViewPart;
<span class="line-removed"> 91 </span>
 92 import org.openjdk.jmc.common.IDisplayable;
 93 import org.openjdk.jmc.common.IMCFrame;
 94 import org.openjdk.jmc.common.IState;
 95 import org.openjdk.jmc.common.collection.SimpleArray;
 96 import org.openjdk.jmc.common.item.IItemCollection;
 97 import org.openjdk.jmc.common.unit.UnitLookup;
 98 import org.openjdk.jmc.common.util.StateToolkit;
 99 import org.openjdk.jmc.flightrecorder.stacktrace.FrameSeparator;
100 import org.openjdk.jmc.flightrecorder.stacktrace.FrameSeparator.FrameCategorization;
101 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceFormatToolkit;
102 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceFrame;
103 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel;
104 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.Branch;
105 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.Fork;
106 import org.openjdk.jmc.flightrecorder.ui.FlightRecorderUI;
107 import org.openjdk.jmc.flightrecorder.ui.IPageContainer;
108 import org.openjdk.jmc.flightrecorder.ui.ItemCollectionToolkit;
109 import org.openjdk.jmc.flightrecorder.ui.common.ImageConstants;
110 import org.openjdk.jmc.flightrecorder.ui.messages.internal.Messages;
111 import org.openjdk.jmc.flightrecorder.ui.selection.IFlavoredSelection;
</pre>
<hr />
<pre>
157 		GroupByAction(boolean fromRoot) {
158 			super(fromRoot ? Messages.STACKTRACE_VIEW_THREAD_ROOT : Messages.STACKTRACE_VIEW_LAST_FRAME,
159 					IAction.AS_RADIO_BUTTON);
160 			fromThreadRootAction = fromRoot;
161 			setToolTipText(fromRoot ? Messages.STACKTRACE_VIEW_GROUP_TRACES_FROM_ROOT
162 					: Messages.STACKTRACE_VIEW_GROUP_TRACES_FROM_LAST_FRAME);
163 			setImageDescriptor(fromRoot ? CoreImages.THREAD : CoreImages.METHOD_NON_OPTIMIZED);
164 			setChecked(fromRoot == threadRootAtTop);
165 		}
166 
167 		@Override
168 		public void run() {
169 			boolean newValue = isChecked() == fromThreadRootAction;
170 			if (newValue != threadRootAtTop) {
171 				threadRootAtTop = newValue;
172 				rebuildModel();
173 			}
174 		}
175 	}
176 

177 	private static final String HELP_CONTEXT_ID = FlightRecorderUI.PLUGIN_ID + &quot;.StacktraceView&quot;; //$NON-NLS-1$
178 	// FIXME: Define dynamic color (editable in preferences, to handle dark themes etc.)
179 	private static final Color ALTERNATE_COLOR = SWTColorToolkit.getColor(new RGB(255, 255, 240));
180 	private static final String COUNT_IMG_KEY = &quot;countColor&quot;; //$NON-NLS-1$
181 	private static final Color COUNT_COLOR = SWTColorToolkit.getColor(new RGB(100, 200, 100));
182 	private static final String SIBLINGS_IMG_KEY = &quot;siblingsColor&quot;; //$NON-NLS-1$
183 	private static final Color SIBLINGS_COUNT_COLOR = SWTColorToolkit.getColor(new RGB(170, 250, 170));
184 	private static final int[] DEFAULT_COLUMN_WIDTHS = {650, 80, 120};
185 	private static final String THREAD_ROOT_KEY = &quot;threadRootAtTop&quot;; //$NON-NLS-1$
186 	private static final String FRAME_OPTIMIZATION_KEY = &quot;distinguishFramesByOptimization&quot;; //$NON-NLS-1$
187 	private static final String FRAME_CATEGORIZATION_KEY = &quot;distinguishFramesCategorization&quot;; //$NON-NLS-1$
188 	private static final String TREE_LAYOUT_KEY = &quot;treeLayout&quot;; //$NON-NLS-1$
189 	private static final String REDUCED_TREE_KEY = &quot;reducedTreeLayout&quot;; //$NON-NLS-1$
190 	private static final String METHOD_FORMAT_KEY = &quot;metodFormat&quot;; //$NON-NLS-1$
191 	private static final String COLUMNS_KEY = &quot;columns&quot;; //$NON-NLS-1$
192 	private static final String COLUMNS_SEPARATOR = &quot; &quot;; //$NON-NLS-1$
193 	private ColumnViewer viewer;
194 	private boolean treeLayout;
195 	private boolean reducedTree;
196 	private boolean threadRootAtTop;
</pre>
<hr />
<pre>
668 
669 	private void rebuildModel() {
670 		// Release old model before building the new
671 		setViewerInput(null);
672 		CompletableFuture&lt;StacktraceModel&gt; modelPreparer = getModelPreparer(createStacktraceModel(), !treeLayout);
673 		modelPreparer.thenAcceptAsync(this::setModel, DisplayToolkit.inDisplayThread())
674 				.exceptionally(StacktraceView::handleModelBuildException);
675 	}
676 
677 	private static CompletableFuture&lt;StacktraceModel&gt; getModelPreparer(
678 		StacktraceModel model, boolean materializeSelectedBranches) {
679 		return CompletableFuture.supplyAsync(() -&gt; {
680 			Fork root = model.getRootFork();
681 			if (materializeSelectedBranches) {
682 				Branch selectedBranch = getLastSelectedBranch(root);
683 				if (selectedBranch != null) {
684 					selectedBranch.getEndFork();
685 				}
686 			}
687 			return model;
<span class="line-modified">688 		});</span>
689 	}
690 
691 	private static Void handleModelBuildException(Throwable ex) {
692 		FlightRecorderUI.getDefault().getLogger().log(Level.SEVERE, &quot;Failed to build stacktrace view model&quot;, ex); //$NON-NLS-1$
693 		return null;
694 	}
695 
696 	private void setModel(StacktraceModel model) {
697 		// Check that the model is up to date
698 		if (model.equals(createStacktraceModel()) &amp;&amp; !viewer.getControl().isDisposed()) {
699 			setViewerInput(model.getRootFork());
700 		}
701 	}
702 
703 	private void setViewerInput(Fork rootFork) {
704 		// NOTE: will be slow for TreeViewer if number of roots or children of a node are more than ~1000
705 		viewer.setInput(rootFork);
706 	}
707 
708 	private ITreeContentProvider createTreeContentProvider() {
</pre>
<hr />
<pre>
851 	private static void addSelectedBranches(Fork fork, SimpleArray&lt;StacktraceFrame&gt; input, boolean backwards) {
852 		// See JMC-6787
853 		@SuppressWarnings(&quot;deprecation&quot;)
854 		Branch selectedBranch = fork.getSelectedBranch();
855 		if (selectedBranch == null) {
856 			Stream.of(fork.getFirstFrames()).forEach(input::add);
857 		} else if (backwards) {
858 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
859 			StacktraceFrame[] tail = selectedBranch.getTailFrames();
860 			for (int i = tail.length; i &gt; 0; i--) {
861 				input.add(tail[i - 1]);
862 			}
863 			input.add(selectedBranch.getFirstFrame());
864 		} else {
865 			input.add(selectedBranch.getFirstFrame());
866 			input.addAll(selectedBranch.getTailFrames());
867 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
868 		}
869 	}
870 
<span class="line-removed">871 	// See JMC-6787</span>
<span class="line-removed">872 	@SuppressWarnings(&quot;deprecation&quot;)</span>
<span class="line-removed">873 	private static Branch getLastSelectedBranch(Fork fromFork) {</span>
<span class="line-removed">874 		Branch lastSelectedBranch = null;</span>
<span class="line-removed">875 		Branch branch = fromFork.getSelectedBranch();</span>
<span class="line-removed">876 		while (branch != null) {</span>
<span class="line-removed">877 			lastSelectedBranch = branch;</span>
<span class="line-removed">878 			branch = branch.getEndFork().getSelectedBranch();</span>
<span class="line-removed">879 		}</span>
<span class="line-removed">880 		return lastSelectedBranch;</span>
<span class="line-removed">881 	}</span>
<span class="line-removed">882 </span>
883 	private static Fork getRootFork(Fork fork) {
884 		while (fork.getParentBranch() != null) {
885 			fork = fork.getParentBranch().getParentFork();
886 		}
887 		return fork;
888 	}
889 
890 	private static class StacktraceTreeContentProvider extends AbstractStructuredContentProvider
891 			implements ITreeContentProvider {
892 
893 		@Override
894 		public StacktraceFrame[] getElements(Object inputElement) {
895 			return ((Fork) inputElement).getFirstFrames();
896 		}
897 
898 		@Override
899 		public boolean hasChildren(Object element) {
900 			StacktraceFrame frame = (StacktraceFrame) element;
901 			return !isLastFrame(frame);
902 		}
</pre>
</td>
<td>
<hr />
<pre>
 15  * and the following disclaimer.
 16  * 
 17  * 2. Redistributions in binary form must reproduce the above copyright notice, this list of
 18  * conditions and the following disclaimer in the documentation and/or other materials provided with
 19  * the distribution.
 20  * 
 21  * 3. Neither the name of the copyright holder nor the names of its contributors may be used to
 22  * endorse or promote products derived from this software without specific prior written permission.
 23  * 
 24  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS &quot;AS IS&quot; AND ANY EXPRESS OR
 25  * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 26  * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 27  * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 28  * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 29  * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 30  * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 31  * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 32  */
 33 package org.openjdk.jmc.flightrecorder.ui.views.stacktrace;
 34 
<span class="line-added"> 35 import static org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.getLastSelectedBranch;</span>
<span class="line-added"> 36 </span>
 37 import java.util.Arrays;
 38 import java.util.List;
 39 import java.util.Optional;
 40 import java.util.concurrent.CompletableFuture;
<span class="line-added"> 41 import java.util.concurrent.ExecutorService;</span>
<span class="line-added"> 42 import java.util.concurrent.Executors;</span>
 43 import java.util.logging.Level;
 44 import java.util.stream.Collectors;
 45 import java.util.stream.IntStream;
 46 import java.util.stream.Stream;
 47 
 48 import org.eclipse.core.runtime.IAdapterFactory;
 49 import org.eclipse.core.runtime.Platform;
 50 import org.eclipse.jface.action.Action;
 51 import org.eclipse.jface.action.IAction;
 52 import org.eclipse.jface.action.IMenuManager;
 53 import org.eclipse.jface.action.IToolBarManager;
 54 import org.eclipse.jface.action.MenuManager;
 55 import org.eclipse.jface.action.Separator;
 56 import org.eclipse.jface.viewers.AbstractTreeViewer;
 57 import org.eclipse.jface.viewers.ColumnLabelProvider;
 58 import org.eclipse.jface.viewers.ColumnViewer;
 59 import org.eclipse.jface.viewers.ColumnViewerToolTipSupport;
 60 import org.eclipse.jface.viewers.ISelection;
 61 import org.eclipse.jface.viewers.ISelectionChangedListener;
 62 import org.eclipse.jface.viewers.IStructuredSelection;
</pre>
<hr />
<pre>
 75 import org.eclipse.swt.events.TraverseEvent;
 76 import org.eclipse.swt.events.TraverseListener;
 77 import org.eclipse.swt.graphics.Color;
 78 import org.eclipse.swt.graphics.Image;
 79 import org.eclipse.swt.graphics.RGB;
 80 import org.eclipse.swt.widgets.Composite;
 81 import org.eclipse.swt.widgets.Display;
 82 import org.eclipse.swt.widgets.Event;
 83 import org.eclipse.swt.widgets.Listener;
 84 import org.eclipse.swt.widgets.TableColumn;
 85 import org.eclipse.swt.widgets.TreeColumn;
 86 import org.eclipse.ui.IEditorPart;
 87 import org.eclipse.ui.IMemento;
 88 import org.eclipse.ui.ISelectionListener;
 89 import org.eclipse.ui.IViewSite;
 90 import org.eclipse.ui.IWorkbenchPart;
 91 import org.eclipse.ui.PartInitException;
 92 import org.eclipse.ui.PlatformUI;
 93 import org.eclipse.ui.forms.widgets.FormText;
 94 import org.eclipse.ui.part.ViewPart;

 95 import org.openjdk.jmc.common.IDisplayable;
 96 import org.openjdk.jmc.common.IMCFrame;
 97 import org.openjdk.jmc.common.IState;
 98 import org.openjdk.jmc.common.collection.SimpleArray;
 99 import org.openjdk.jmc.common.item.IItemCollection;
100 import org.openjdk.jmc.common.unit.UnitLookup;
101 import org.openjdk.jmc.common.util.StateToolkit;
102 import org.openjdk.jmc.flightrecorder.stacktrace.FrameSeparator;
103 import org.openjdk.jmc.flightrecorder.stacktrace.FrameSeparator.FrameCategorization;
104 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceFormatToolkit;
105 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceFrame;
106 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel;
107 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.Branch;
108 import org.openjdk.jmc.flightrecorder.stacktrace.StacktraceModel.Fork;
109 import org.openjdk.jmc.flightrecorder.ui.FlightRecorderUI;
110 import org.openjdk.jmc.flightrecorder.ui.IPageContainer;
111 import org.openjdk.jmc.flightrecorder.ui.ItemCollectionToolkit;
112 import org.openjdk.jmc.flightrecorder.ui.common.ImageConstants;
113 import org.openjdk.jmc.flightrecorder.ui.messages.internal.Messages;
114 import org.openjdk.jmc.flightrecorder.ui.selection.IFlavoredSelection;
</pre>
<hr />
<pre>
160 		GroupByAction(boolean fromRoot) {
161 			super(fromRoot ? Messages.STACKTRACE_VIEW_THREAD_ROOT : Messages.STACKTRACE_VIEW_LAST_FRAME,
162 					IAction.AS_RADIO_BUTTON);
163 			fromThreadRootAction = fromRoot;
164 			setToolTipText(fromRoot ? Messages.STACKTRACE_VIEW_GROUP_TRACES_FROM_ROOT
165 					: Messages.STACKTRACE_VIEW_GROUP_TRACES_FROM_LAST_FRAME);
166 			setImageDescriptor(fromRoot ? CoreImages.THREAD : CoreImages.METHOD_NON_OPTIMIZED);
167 			setChecked(fromRoot == threadRootAtTop);
168 		}
169 
170 		@Override
171 		public void run() {
172 			boolean newValue = isChecked() == fromThreadRootAction;
173 			if (newValue != threadRootAtTop) {
174 				threadRootAtTop = newValue;
175 				rebuildModel();
176 			}
177 		}
178 	}
179 
<span class="line-added">180 	private static final ExecutorService MODEL_EXECUTOR = Executors.newFixedThreadPool(1);</span>
181 	private static final String HELP_CONTEXT_ID = FlightRecorderUI.PLUGIN_ID + &quot;.StacktraceView&quot;; //$NON-NLS-1$
182 	// FIXME: Define dynamic color (editable in preferences, to handle dark themes etc.)
183 	private static final Color ALTERNATE_COLOR = SWTColorToolkit.getColor(new RGB(255, 255, 240));
184 	private static final String COUNT_IMG_KEY = &quot;countColor&quot;; //$NON-NLS-1$
185 	private static final Color COUNT_COLOR = SWTColorToolkit.getColor(new RGB(100, 200, 100));
186 	private static final String SIBLINGS_IMG_KEY = &quot;siblingsColor&quot;; //$NON-NLS-1$
187 	private static final Color SIBLINGS_COUNT_COLOR = SWTColorToolkit.getColor(new RGB(170, 250, 170));
188 	private static final int[] DEFAULT_COLUMN_WIDTHS = {650, 80, 120};
189 	private static final String THREAD_ROOT_KEY = &quot;threadRootAtTop&quot;; //$NON-NLS-1$
190 	private static final String FRAME_OPTIMIZATION_KEY = &quot;distinguishFramesByOptimization&quot;; //$NON-NLS-1$
191 	private static final String FRAME_CATEGORIZATION_KEY = &quot;distinguishFramesCategorization&quot;; //$NON-NLS-1$
192 	private static final String TREE_LAYOUT_KEY = &quot;treeLayout&quot;; //$NON-NLS-1$
193 	private static final String REDUCED_TREE_KEY = &quot;reducedTreeLayout&quot;; //$NON-NLS-1$
194 	private static final String METHOD_FORMAT_KEY = &quot;metodFormat&quot;; //$NON-NLS-1$
195 	private static final String COLUMNS_KEY = &quot;columns&quot;; //$NON-NLS-1$
196 	private static final String COLUMNS_SEPARATOR = &quot; &quot;; //$NON-NLS-1$
197 	private ColumnViewer viewer;
198 	private boolean treeLayout;
199 	private boolean reducedTree;
200 	private boolean threadRootAtTop;
</pre>
<hr />
<pre>
672 
673 	private void rebuildModel() {
674 		// Release old model before building the new
675 		setViewerInput(null);
676 		CompletableFuture&lt;StacktraceModel&gt; modelPreparer = getModelPreparer(createStacktraceModel(), !treeLayout);
677 		modelPreparer.thenAcceptAsync(this::setModel, DisplayToolkit.inDisplayThread())
678 				.exceptionally(StacktraceView::handleModelBuildException);
679 	}
680 
681 	private static CompletableFuture&lt;StacktraceModel&gt; getModelPreparer(
682 		StacktraceModel model, boolean materializeSelectedBranches) {
683 		return CompletableFuture.supplyAsync(() -&gt; {
684 			Fork root = model.getRootFork();
685 			if (materializeSelectedBranches) {
686 				Branch selectedBranch = getLastSelectedBranch(root);
687 				if (selectedBranch != null) {
688 					selectedBranch.getEndFork();
689 				}
690 			}
691 			return model;
<span class="line-modified">692 		}, MODEL_EXECUTOR);</span>
693 	}
694 
695 	private static Void handleModelBuildException(Throwable ex) {
696 		FlightRecorderUI.getDefault().getLogger().log(Level.SEVERE, &quot;Failed to build stacktrace view model&quot;, ex); //$NON-NLS-1$
697 		return null;
698 	}
699 
700 	private void setModel(StacktraceModel model) {
701 		// Check that the model is up to date
702 		if (model.equals(createStacktraceModel()) &amp;&amp; !viewer.getControl().isDisposed()) {
703 			setViewerInput(model.getRootFork());
704 		}
705 	}
706 
707 	private void setViewerInput(Fork rootFork) {
708 		// NOTE: will be slow for TreeViewer if number of roots or children of a node are more than ~1000
709 		viewer.setInput(rootFork);
710 	}
711 
712 	private ITreeContentProvider createTreeContentProvider() {
</pre>
<hr />
<pre>
855 	private static void addSelectedBranches(Fork fork, SimpleArray&lt;StacktraceFrame&gt; input, boolean backwards) {
856 		// See JMC-6787
857 		@SuppressWarnings(&quot;deprecation&quot;)
858 		Branch selectedBranch = fork.getSelectedBranch();
859 		if (selectedBranch == null) {
860 			Stream.of(fork.getFirstFrames()).forEach(input::add);
861 		} else if (backwards) {
862 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
863 			StacktraceFrame[] tail = selectedBranch.getTailFrames();
864 			for (int i = tail.length; i &gt; 0; i--) {
865 				input.add(tail[i - 1]);
866 			}
867 			input.add(selectedBranch.getFirstFrame());
868 		} else {
869 			input.add(selectedBranch.getFirstFrame());
870 			input.addAll(selectedBranch.getTailFrames());
871 			addSelectedBranches(selectedBranch.getEndFork(), input, backwards);
872 		}
873 	}
874 












875 	private static Fork getRootFork(Fork fork) {
876 		while (fork.getParentBranch() != null) {
877 			fork = fork.getParentBranch().getParentFork();
878 		}
879 		return fork;
880 	}
881 
882 	private static class StacktraceTreeContentProvider extends AbstractStructuredContentProvider
883 			implements ITreeContentProvider {
884 
885 		@Override
886 		public StacktraceFrame[] getElements(Object inputElement) {
887 			return ((Fork) inputElement).getFirstFrames();
888 		}
889 
890 		@Override
891 		public boolean hasChildren(Object element) {
892 			StacktraceFrame frame = (StacktraceFrame) element;
893 			return !isLastFrame(frame);
894 		}
</pre>
</td>
</tr>
</table>
<center><a href="../../../../../../../../../../../org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../../../../../../core/org.openjdk.jmc.flightrecorder/src/main/java/org/openjdk/jmc/flightrecorder/stacktrace/StacktraceModel.java.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>