<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatAvoider.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FloatAvoider.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatBox.cpp.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/floats/FloatAvoider.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -27,25 +27,27 @@</span>
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
  #include &quot;DisplayBox.h&quot;
  #include &quot;LayoutBox.h&quot;
<span class="udiff-line-modified-removed">- #include &quot;LayoutUnit.h&quot;</span>
<span class="udiff-line-modified-added">+ #include &quot;LayoutPoint.h&quot;</span>
<span class="udiff-line-added">+ #include &quot;LayoutUnits.h&quot;</span>
  #include &lt;wtf/IsoMalloc.h&gt;
  #include &lt;wtf/WeakPtr.h&gt;
  
  namespace WebCore {
  
<span class="udiff-line-modified-removed">- namespace Layout {</span>
<span class="udiff-line-modified-added">+ namespace Display {</span>
<span class="udiff-line-added">+ class Rect;</span>
<span class="udiff-line-added">+ }</span>
  
<span class="udiff-line-modified-removed">- class FloatingState;</span>
<span class="udiff-line-removed">- class LayoutState;</span>
<span class="udiff-line-modified-added">+ namespace Layout {</span>
  
  class FloatAvoider {
      WTF_MAKE_ISO_ALLOCATED(FloatAvoider);
  public:
<span class="udiff-line-modified-removed">-     FloatAvoider(const Box&amp;, const FloatingState&amp;, const LayoutState&amp;);</span>
<span class="udiff-line-modified-added">+     FloatAvoider(const Box&amp;, Display::Box absoluteDisplayBox, LayoutPoint containingBlockAbsoluteTopLeft, HorizontalEdges containingBlockAbsoluteContentBox);</span>
      virtual ~FloatAvoider() = default;
  
      virtual Display::Rect rect() const { return m_absoluteDisplayBox.rect(); }
      Display::Rect rectInContainingBlock() const;
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -73,20 +75,20 @@</span>
      LayoutUnit marginStart() const { return displayBox().computedMarginStart().valueOr(0); }
      LayoutUnit marginEnd() const { return displayBox().computedMarginEnd().valueOr(0); }
  
      LayoutUnit marginBoxWidth() const { return marginStart() + displayBox().width() + marginEnd(); }
  
<span class="udiff-line-removed">-     const FloatingState&amp; floatingState() const { return m_floatingState; }</span>
      const Box&amp; layoutBox() const { return *m_layoutBox; }
      const Display::Box&amp; displayBox() const { return m_absoluteDisplayBox; }
      Display::Box&amp; displayBox() { return m_absoluteDisplayBox; }
  
  private:
      WeakPtr&lt;const Box&gt; m_layoutBox;
<span class="udiff-line-modified-removed">-     const FloatingState&amp; m_floatingState;</span>
<span class="udiff-line-modified-added">+     // These coordinate values are relative to the formatting root&#39;s border box.</span>
      Display::Box m_absoluteDisplayBox;
<span class="udiff-line-modified-removed">-     Display::Box m_containingBlockAbsoluteDisplayBox;</span>
<span class="udiff-line-modified-added">+     LayoutPoint m_containingBlockAbsoluteTopLeft;</span>
<span class="udiff-line-added">+     HorizontalEdges m_containingBlockAbsoluteContentBox;</span>
  };
  
  }
  }
  #endif
</pre>
<center><a href="FloatAvoider.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="FloatBox.cpp.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>