<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutState.h</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="LayoutState.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="LayoutUnits.h.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutState.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -29,97 +29,134 @@</span>
  
  #include &quot;LayoutContainer.h&quot;
  #include &lt;wtf/HashMap.h&gt;
  #include &lt;wtf/HashSet.h&gt;
  #include &lt;wtf/IsoMalloc.h&gt;
<span class="udiff-line-removed">- #include &lt;wtf/OptionSet.h&gt;</span>
  #include &lt;wtf/WeakPtr.h&gt;
  
  namespace WebCore {
  
<span class="udiff-line-removed">- class RenderView;</span>
<span class="udiff-line-removed">- </span>
  namespace Display {
  class Box;
  }
  
  namespace Layout {
  
<span class="udiff-line-removed">- enum class StyleDiff;</span>
<span class="udiff-line-removed">- class Box;</span>
  class FormattingContext;
  class FormattingState;
<span class="udiff-line-added">+ class BlockFormattingState;</span>
<span class="udiff-line-added">+ class InlineFormattingState;</span>
<span class="udiff-line-added">+ class TableFormattingState;</span>
  
<span class="udiff-line-modified-removed">- // LayoutState is the entry point for layout. It takes the initial containing block which acts as the root of the layout context.</span>
<span class="udiff-line-removed">- // LayoutState::layout() generates the display tree for the root container&#39;s subtree (it does not run layout on the root though).</span>
<span class="udiff-line-removed">- // Note, while the initial containing block is entry point for the initial layout, it does not necessarily need to be the entry point of any</span>
<span class="udiff-line-removed">- // subsequent layouts (subtree layout). A non-initial, subtree layout could be initiated on multiple formatting contexts.</span>
<span class="udiff-line-removed">- // Each formatting context has an entry point for layout, which potenitally means multiple entry points per layout frame.</span>
<span class="udiff-line-removed">- // LayoutState also holds the formatting states. They cache formatting context specific data to enable performant incremental layouts.</span>
<span class="udiff-line-removed">- class LayoutState {</span>
<span class="udiff-line-modified-added">+ class LayoutState : public CanMakeWeakPtr&lt;LayoutState&gt; {</span>
      WTF_MAKE_ISO_ALLOCATED(LayoutState);
  public:
<span class="udiff-line-modified-removed">-     LayoutState(const Container&amp; initialContainingBlock);</span>
<span class="udiff-line-modified-added">+     LayoutState(const Document&amp;, const Container&amp; rootContainer);</span>
<span class="udiff-line-added">+     ~LayoutState();</span>
  
<span class="udiff-line-modified-removed">-     // FIXME: This is a temporary entry point for LFC layout.</span>
<span class="udiff-line-modified-removed">-     static void run(const RenderView&amp;);</span>
<span class="udiff-line-modified-removed">- </span>
<span class="udiff-line-modified-removed">-     void updateLayout();</span>
<span class="udiff-line-removed">-     void styleChanged(const Box&amp;, StyleDiff);</span>
<span class="udiff-line-removed">-     enum class QuirksMode { No, Limited, Yes };</span>
<span class="udiff-line-removed">-     void setQuirksMode(QuirksMode quirksMode) { m_quirksMode = quirksMode; }</span>
<span class="udiff-line-modified-added">+     FormattingState&amp; ensureFormattingState(const Container&amp; formattingContextRoot);</span>
<span class="udiff-line-modified-added">+     InlineFormattingState&amp; ensureInlineFormattingState(const Container&amp; formattingContextRoot);</span>
<span class="udiff-line-modified-added">+     BlockFormattingState&amp; ensureBlockFormattingState(const Container&amp; formattingContextRoot);</span>
<span class="udiff-line-modified-added">+     TableFormattingState&amp; ensureTableFormattingState(const Container&amp; formattingContextRoot);</span>
  
<span class="udiff-line-modified-removed">-     enum class UpdateType {</span>
<span class="udiff-line-modified-removed">-         Overflow = 1 &lt;&lt; 0,</span>
<span class="udiff-line-modified-removed">-         Position = 1 &lt;&lt; 1,</span>
<span class="udiff-line-modified-removed">-         Size     = 1 &lt;&lt; 2,</span>
<span class="udiff-line-removed">-         All      = Overflow | Position | Size</span>
<span class="udiff-line-removed">-     };</span>
<span class="udiff-line-removed">-     void markNeedsUpdate(const Box&amp;, OptionSet&lt;UpdateType&gt;);</span>
<span class="udiff-line-removed">-     bool needsUpdate(const Box&amp;) const;</span>
<span class="udiff-line-modified-added">+     FormattingState&amp; establishedFormattingState(const Container&amp; formattingRoot) const;</span>
<span class="udiff-line-modified-added">+     InlineFormattingState&amp; establishedInlineFormattingState(const Container&amp; formattingContextRoot) const;</span>
<span class="udiff-line-modified-added">+     BlockFormattingState&amp; establishedBlockFormattingState(const Container&amp; formattingContextRoot) const;</span>
<span class="udiff-line-modified-added">+     TableFormattingState&amp; establishedTableFormattingState(const Container&amp; formattingContextRoot) const;</span>
  
      FormattingState&amp; formattingStateForBox(const Box&amp;) const;
<span class="udiff-line-modified-removed">-     FormattingState&amp; establishedFormattingState(const Box&amp; formattingRoot) const;</span>
<span class="udiff-line-removed">-     bool hasFormattingState(const Box&amp; formattingRoot) const { return m_formattingStates.contains(&amp;formattingRoot); }</span>
<span class="udiff-line-removed">-     FormattingState&amp; createFormattingStateForFormattingRootIfNeeded(const Box&amp; formattingRoot);</span>
<span class="udiff-line-modified-added">+     bool hasInlineFormattingState(const Container&amp; formattingRoot) const { return m_inlineFormattingStates.contains(&amp;formattingRoot); }</span>
  
<span class="udiff-line-removed">-     std::unique_ptr&lt;FormattingContext&gt; createFormattingContext(const Box&amp; formattingContextRoot);</span>
  #ifndef NDEBUG
      void registerFormattingContext(const FormattingContext&amp;);
      void deregisterFormattingContext(const FormattingContext&amp; formattingContext) { m_formattingContextList.remove(&amp;formattingContext); }
  #endif
  
<span class="udiff-line-modified-removed">-     Display::Box&amp; displayBoxForLayoutBox(const Box&amp; layoutBox) const;</span>
<span class="udiff-line-modified-removed">-     bool hasDisplayBox(const Box&amp; layoutBox) const { return m_layoutToDisplayBox.contains(&amp;layoutBox); }</span>
<span class="udiff-line-modified-added">+     Display::Box&amp; displayBoxForRootLayoutBox();</span>
<span class="udiff-line-modified-added">+     Display::Box&amp; ensureDisplayBoxForLayoutBox(const Box&amp;);</span>
<span class="udiff-line-added">+     const Display::Box&amp; displayBoxForLayoutBox(const Box&amp;) const;</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     bool hasDisplayBox(const Box&amp;) const;</span>
  
<span class="udiff-line-added">+     enum class QuirksMode { No, Limited, Yes };</span>
      bool inQuirksMode() const { return m_quirksMode == QuirksMode::Yes; }
      bool inLimitedQuirksMode() const { return m_quirksMode == QuirksMode::Limited; }
      bool inNoQuirksMode() const { return m_quirksMode == QuirksMode::No; }
<span class="udiff-line-modified-removed">-     // For testing purposes only</span>
<span class="udiff-line-modified-removed">-     void verifyAndOutputMismatchingLayoutTree(const RenderView&amp;) const;</span>
<span class="udiff-line-modified-added">+ </span>
<span class="udiff-line-modified-added">+     const Container&amp; root() const { return *m_rootContainer; }</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     // LFC integration only. Full LFC has proper ICB access.</span>
<span class="udiff-line-added">+     void setViewportSize(const LayoutSize&amp;);</span>
<span class="udiff-line-added">+     LayoutSize viewportSize() const;</span>
<span class="udiff-line-added">+     bool isIntegratedRootBoxFirstChild() const { return m_isIntegratedRootBoxFirstChild; }</span>
<span class="udiff-line-added">+     void setIsIntegratedRootBoxFirstChild(bool);</span>
  
  private:
<span class="udiff-line-modified-removed">-     const Container&amp; initialContainingBlock() const { return *m_initialContainingBlock; }</span>
<span class="udiff-line-modified-removed">-     void layoutFormattingContextSubtree(const Box&amp;);</span>
<span class="udiff-line-modified-added">+     void setQuirksMode(QuirksMode quirksMode) { m_quirksMode = quirksMode; }</span>
<span class="udiff-line-modified-added">+     Display::Box&amp; ensureDisplayBoxForLayoutBoxSlow(const Box&amp;);</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     HashMap&lt;const Container*, std::unique_ptr&lt;InlineFormattingState&gt;&gt; m_inlineFormattingStates;</span>
<span class="udiff-line-added">+     HashMap&lt;const Container*, std::unique_ptr&lt;BlockFormattingState&gt;&gt; m_blockFormattingStates;</span>
<span class="udiff-line-added">+     HashMap&lt;const Container*, std::unique_ptr&lt;TableFormattingState&gt;&gt; m_tableFormattingStates;</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     std::unique_ptr&lt;InlineFormattingState&gt; m_rootInlineFormattingStateForIntegration;</span>
  
<span class="udiff-line-removed">-     WeakPtr&lt;const Container&gt; m_initialContainingBlock;</span>
<span class="udiff-line-removed">-     HashSet&lt;const Container*&gt; m_formattingContextRootListForLayout;</span>
<span class="udiff-line-removed">-     HashMap&lt;const Box*, std::unique_ptr&lt;FormattingState&gt;&gt; m_formattingStates;</span>
  #ifndef NDEBUG
      HashSet&lt;const FormattingContext*&gt; m_formattingContextList;
  #endif
<span class="udiff-line-modified-removed">-     mutable HashMap&lt;const Box*, std::unique_ptr&lt;Display::Box&gt;&gt; m_layoutToDisplayBox;</span>
<span class="udiff-line-modified-added">+     HashMap&lt;const Box*, std::unique_ptr&lt;Display::Box&gt;&gt; m_layoutToDisplayBox;</span>
      QuirksMode m_quirksMode { QuirksMode::No };
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     WeakPtr&lt;const Container&gt; m_rootContainer;</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     // LFC integration only.</span>
<span class="udiff-line-added">+     LayoutSize m_viewportSize;</span>
<span class="udiff-line-added">+     bool m_isIntegratedRootBoxFirstChild { false };</span>
  };
  
<span class="udiff-line-added">+ inline bool LayoutState::hasDisplayBox(const Box&amp; layoutBox) const</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     if (layoutBox.cachedDisplayBoxForLayoutState(*this))</span>
<span class="udiff-line-added">+         return true;</span>
<span class="udiff-line-added">+     return m_layoutToDisplayBox.contains(&amp;layoutBox);</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+ inline Display::Box&amp; LayoutState::ensureDisplayBoxForLayoutBox(const Box&amp; layoutBox)</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     if (auto* displayBox = layoutBox.cachedDisplayBoxForLayoutState(*this))</span>
<span class="udiff-line-added">+         return *displayBox;</span>
<span class="udiff-line-added">+     return ensureDisplayBoxForLayoutBoxSlow(layoutBox);</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+ inline const Display::Box&amp; LayoutState::displayBoxForLayoutBox(const Box&amp; layoutBox) const</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     if (auto* displayBox = layoutBox.cachedDisplayBoxForLayoutState(*this))</span>
<span class="udiff-line-added">+         return *displayBox;</span>
<span class="udiff-line-added">+     ASSERT(m_layoutToDisplayBox.contains(&amp;layoutBox));</span>
<span class="udiff-line-added">+     return *m_layoutToDisplayBox.get(&amp;layoutBox);</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
  #ifndef NDEBUG
  inline void LayoutState::registerFormattingContext(const FormattingContext&amp; formattingContext)
  {
      // Multiple formatting contexts of the same root within a layout frame indicates defective layout logic.
      ASSERT(!m_formattingContextList.contains(&amp;formattingContext));
      m_formattingContextList.add(&amp;formattingContext);
  }
  #endif
  
<span class="udiff-line-added">+ // These Layout::Box function are here to allow inlining.</span>
<span class="udiff-line-added">+ inline bool Box::canCacheForLayoutState(const LayoutState&amp; layoutState) const</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     return !m_cachedLayoutState || m_cachedLayoutState.get() == &amp;layoutState;</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+ inline Display::Box* Box::cachedDisplayBoxForLayoutState(const LayoutState&amp; layoutState) const</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     if (m_cachedLayoutState.get() != &amp;layoutState)</span>
<span class="udiff-line-added">+         return nullptr;</span>
<span class="udiff-line-added">+     return m_cachedDisplayBoxForLayoutState.get();</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
  }
  }
  #endif
</pre>
<center><a href="LayoutState.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="LayoutUnits.h.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>