<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/Verification.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="MarginTypes.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="blockformatting/BlockFormattingContext.cpp.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/Verification.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 26,14 ***</span>
<span class="line-new-header">--- 26,17 ---</span>
  #include &quot;config.h&quot;
  #include &quot;LayoutState.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
<span class="line-added">+ #ifndef NDEBUG</span>
  #include &quot;DisplayBox.h&quot;
<span class="line-added">+ #include &quot;InlineFormattingState.h&quot;</span>
  #include &quot;InlineTextBox.h&quot;
  #include &quot;LayoutBox.h&quot;
  #include &quot;LayoutContainer.h&quot;
<span class="line-added">+ #include &quot;LayoutContext.h&quot;</span>
  #include &quot;LayoutTreeBuilder.h&quot;
  #include &quot;RenderBox.h&quot;
  #include &quot;RenderInline.h&quot;
  #include &quot;RenderLineBreak.h&quot;
  #include &quot;RenderView.h&quot;
</pre>
<hr />
<pre>
<span class="line-old-header">*** 49,13 ***</span>
      // 1/4th CSS pixel.
      constexpr float epsilon = kFixedPointDenominator / 4;
      return abs(a.rawValue() - b.rawValue()) &lt;= epsilon;
  }
  
<span class="line-modified">! static bool areEssentiallyEqual(float a, LayoutUnit b)</span>
  {
<span class="line-modified">!     return areEssentiallyEqual(LayoutUnit { a }, b);</span>
  }
  
  static bool areEssentiallyEqual(LayoutRect a, LayoutRect b)
  {
      return areEssentiallyEqual(a.x(), b.x())
<span class="line-new-header">--- 52,13 ---</span>
      // 1/4th CSS pixel.
      constexpr float epsilon = kFixedPointDenominator / 4;
      return abs(a.rawValue() - b.rawValue()) &lt;= epsilon;
  }
  
<span class="line-modified">! static bool areEssentiallyEqual(float a, InlineLayoutUnit b)</span>
  {
<span class="line-modified">!     return areEssentiallyEqual(LayoutUnit { a }, LayoutUnit { b });</span>
  }
  
  static bool areEssentiallyEqual(LayoutRect a, LayoutRect b)
  {
      return areEssentiallyEqual(a.x(), b.x())
</pre>
<hr />
<pre>
<span class="line-old-header">*** 71,69 ***</span>
          ASSERT_NOT_REACHED();
          return true;
      }
  
      auto&amp; inlineFormattingState = layoutState.establishedFormattingState(inlineFormattingRoot);
<span class="line-modified">!     ASSERT(is&lt;InlineFormattingState&gt;(inlineFormattingState));</span>
<span class="line-modified">!     auto&amp; inlineRunList = downcast&lt;InlineFormattingState&gt;(inlineFormattingState).inlineRuns();</span>
  
<span class="line-modified">!     if (inlineRunList.size() != lineLayoutData-&gt;runCount()) {</span>
<span class="line-modified">!         stream &lt;&lt; &quot;Mismatching number of runs: simple runs(&quot; &lt;&lt; lineLayoutData-&gt;runCount() &lt;&lt; &quot;) inline runs(&quot; &lt;&lt; inlineRunList.size() &lt;&lt; &quot;)&quot;;</span>
          stream.nextLine();
          return true;
      }
  
      auto mismatched = false;
      for (unsigned i = 0; i &lt; lineLayoutData-&gt;runCount(); ++i) {
          auto&amp; simpleRun = lineLayoutData-&gt;runAt(i);
<span class="line-modified">!         auto&amp; inlineRun = inlineRunList[i];</span>
  
<span class="line-modified">!         auto matchingRuns = areEssentiallyEqual(simpleRun.logicalLeft, inlineRun-&gt;logicalLeft()) &amp;&amp; areEssentiallyEqual(simpleRun.logicalRight, inlineRun-&gt;logicalRight());</span>
<span class="line-modified">!         if (matchingRuns &amp;&amp; inlineRun-&gt;textContext()) {</span>
<span class="line-modified">!             matchingRuns = simpleRun.start == inlineRun-&gt;textContext()-&gt;start() &amp;&amp; simpleRun.end == inlineRun-&gt;textContext()-&gt;end();</span>
              // SLL handles strings in a more concatenated format &lt;div&gt;foo&lt;br&gt;bar&lt;/div&gt; -&gt; foo -&gt; 0,3 bar -&gt; 3,6 vs. 0,3 and 0,3
              if (!matchingRuns)
<span class="line-modified">!                 matchingRuns = (simpleRun.end - simpleRun.start) == (inlineRun-&gt;textContext()-&gt;end() - inlineRun-&gt;textContext()-&gt;start());</span>
          }
          if (matchingRuns)
              continue;
  
<span class="line-modified">!         stream &lt;&lt; &quot;Mismatching: simple run(&quot; &lt;&lt; simpleRun.start &lt;&lt; &quot;, &quot; &lt;&lt; simpleRun.end &lt;&lt; &quot;) (&quot; &lt;&lt; simpleRun.logicalLeft &lt;&lt; &quot;, &quot; &lt;&lt; simpleRun.logicalRight &lt;&lt; &quot;) layout run(&quot; &lt;&lt; inlineRun-&gt;textContext()-&gt;start() &lt;&lt; &quot;, &quot; &lt;&lt; inlineRun-&gt;textContext()-&gt;end() &lt;&lt; &quot;) (&quot; &lt;&lt; inlineRun-&gt;logicalLeft() &lt;&lt; &quot;, &quot; &lt;&lt; inlineRun-&gt;logicalRight() &lt;&lt; &quot;)&quot;;</span>
          stream.nextLine();
          mismatched = true;
      }
      return mismatched;
  }
  
  static bool checkForMatchingNonTextRuns(const Display::Run&amp; inlineRun, const WebCore::InlineBox&amp; inlineBox)
  {
<span class="line-modified">!     return areEssentiallyEqual(inlineBox.logicalLeft(), inlineRun.logicalLeft())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineBox.logicalRight(), inlineRun.logicalRight())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineBox.logicalTop(), inlineRun.logicalTop())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineBox.logicalBottom(), inlineRun.logicalBottom());</span>
  }
  
  
  static bool checkForMatchingTextRuns(const Display::Run&amp; inlineRun, const InlineTextBox&amp; inlineTextBox)
  {
<span class="line-modified">!     return areEssentiallyEqual(inlineTextBox.logicalLeft(), inlineRun.logicalLeft())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineTextBox.logicalRight(), inlineRun.logicalRight())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineTextBox.logicalTop(), inlineRun.logicalTop())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineTextBox.logicalBottom(), inlineRun.logicalBottom())</span>
<span class="line-modified">!         &amp;&amp; inlineTextBox.start() == inlineRun.textContext()-&gt;start()</span>
<span class="line-removed">-         &amp;&amp; (inlineTextBox.end() + 1) == inlineRun.textContext()-&gt;end();</span>
  }
  
  static void collectFlowBoxSubtree(const InlineFlowBox&amp; flowbox, Vector&lt;WebCore::InlineBox*&gt;&amp; inlineBoxes)
  {
<span class="line-modified">!     auto* inlineBox = flowbox.firstLeafChild();</span>
<span class="line-modified">!     auto* lastLeafChild = flowbox.lastLeafChild();</span>
      while (inlineBox) {
          inlineBoxes.append(inlineBox);
<span class="line-modified">!         if (inlineBox == lastLeafChild)</span>
              break;
<span class="line-modified">!         inlineBox = inlineBox-&gt;nextLeafChild();</span>
      }
  }
  
  static void collectInlineBoxes(const RenderBlockFlow&amp; root, Vector&lt;WebCore::InlineBox*&gt;&amp; inlineBoxes)
  {
<span class="line-new-header">--- 74,77 ---</span>
          ASSERT_NOT_REACHED();
          return true;
      }
  
      auto&amp; inlineFormattingState = layoutState.establishedFormattingState(inlineFormattingRoot);
<span class="line-modified">!     auto* displayInlineContent = downcast&lt;InlineFormattingState&gt;(inlineFormattingState).displayInlineContent();</span>
<span class="line-modified">!     if (!displayInlineContent) {</span>
<span class="line-added">+         ASSERT_NOT_REACHED();</span>
<span class="line-added">+         return true;</span>
<span class="line-added">+     }</span>
  
<span class="line-modified">!     auto&amp; displayRuns = displayInlineContent-&gt;runs;</span>
<span class="line-modified">! </span>
<span class="line-added">+     if (displayRuns.size() != lineLayoutData-&gt;runCount()) {</span>
<span class="line-added">+         stream &lt;&lt; &quot;Mismatching number of runs: simple runs(&quot; &lt;&lt; lineLayoutData-&gt;runCount() &lt;&lt; &quot;) inline runs(&quot; &lt;&lt; displayRuns.size() &lt;&lt; &quot;)&quot;;</span>
          stream.nextLine();
          return true;
      }
  
      auto mismatched = false;
      for (unsigned i = 0; i &lt; lineLayoutData-&gt;runCount(); ++i) {
          auto&amp; simpleRun = lineLayoutData-&gt;runAt(i);
<span class="line-modified">!         auto&amp; displayRun = displayRuns[i];</span>
  
<span class="line-modified">!         auto matchingRuns = areEssentiallyEqual(simpleRun.logicalLeft, displayRun.left()) &amp;&amp; areEssentiallyEqual(simpleRun.logicalRight, displayRun.right());</span>
<span class="line-modified">!         if (matchingRuns &amp;&amp; displayRun.textContext()) {</span>
<span class="line-modified">!             matchingRuns = simpleRun.start == displayRun.textContext()-&gt;start() &amp;&amp; simpleRun.end == displayRun.textContext()-&gt;end();</span>
              // SLL handles strings in a more concatenated format &lt;div&gt;foo&lt;br&gt;bar&lt;/div&gt; -&gt; foo -&gt; 0,3 bar -&gt; 3,6 vs. 0,3 and 0,3
              if (!matchingRuns)
<span class="line-modified">!                 matchingRuns = (simpleRun.end - simpleRun.start) == (displayRun.textContext()-&gt;end() - displayRun.textContext()-&gt;start());</span>
          }
          if (matchingRuns)
              continue;
  
<span class="line-modified">!         stream &lt;&lt; &quot;Mismatching: simple run(&quot; &lt;&lt; simpleRun.start &lt;&lt; &quot;, &quot; &lt;&lt; simpleRun.end &lt;&lt; &quot;) (&quot; &lt;&lt; simpleRun.logicalLeft &lt;&lt; &quot;, &quot; &lt;&lt; simpleRun.logicalRight &lt;&lt; &quot;)&quot;;</span>
<span class="line-added">+         stream &lt;&lt; &quot; inline run&quot;;</span>
<span class="line-added">+         if (displayRun.textContext())</span>
<span class="line-added">+             stream &lt;&lt; &quot; (&quot; &lt;&lt; displayRun.textContext()-&gt;start() &lt;&lt; &quot;, &quot; &lt;&lt; displayRun.textContext()-&gt;end() &lt;&lt; &quot;)&quot;;</span>
<span class="line-added">+         stream &lt;&lt; &quot; (&quot; &lt;&lt; displayRun.left() &lt;&lt; &quot;, &quot; &lt;&lt; displayRun.top() &lt;&lt; &quot;) (&quot; &lt;&lt; displayRun.width() &lt;&lt; &quot;x&quot; &lt;&lt; displayRun.height() &lt;&lt; &quot;)&quot;;</span>
          stream.nextLine();
          mismatched = true;
      }
      return mismatched;
  }
  
  static bool checkForMatchingNonTextRuns(const Display::Run&amp; inlineRun, const WebCore::InlineBox&amp; inlineBox)
  {
<span class="line-modified">!     return areEssentiallyEqual(inlineBox.left(), inlineRun.left())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineBox.right(), inlineRun.right())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineBox.top(), inlineRun.top())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineBox.bottom(), inlineRun.bottom());</span>
  }
  
  
  static bool checkForMatchingTextRuns(const Display::Run&amp; inlineRun, const InlineTextBox&amp; inlineTextBox)
  {
<span class="line-modified">!     return areEssentiallyEqual(inlineTextBox.left(), inlineRun.left())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineTextBox.right(), inlineRun.right())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineTextBox.top(), inlineRun.top())</span>
<span class="line-modified">!         &amp;&amp; areEssentiallyEqual(inlineTextBox.bottom(), inlineRun.bottom())</span>
<span class="line-modified">!         &amp;&amp; (inlineTextBox.isLineBreak() || (inlineTextBox.start() == inlineRun.textContext()-&gt;start() &amp;&amp; inlineTextBox.end() == inlineRun.textContext()-&gt;end()));</span>
  }
  
  static void collectFlowBoxSubtree(const InlineFlowBox&amp; flowbox, Vector&lt;WebCore::InlineBox*&gt;&amp; inlineBoxes)
  {
<span class="line-modified">!     auto* inlineBox = flowbox.firstLeafDescendant();</span>
<span class="line-modified">!     auto* lastLeafDescendant = flowbox.lastLeafDescendant();</span>
      while (inlineBox) {
          inlineBoxes.append(inlineBox);
<span class="line-modified">!         if (inlineBox == lastLeafDescendant)</span>
              break;
<span class="line-modified">!         inlineBox = inlineBox-&gt;nextLeafOnLine();</span>
      }
  }
  
  static void collectInlineBoxes(const RenderBlockFlow&amp; root, Vector&lt;WebCore::InlineBox*&gt;&amp; inlineBoxes)
  {
</pre>
<hr />
<pre>
<span class="line-old-header">*** 149,30 ***</span>
  }
  
  static bool outputMismatchingComplexLineInformationIfNeeded(TextStream&amp; stream, const LayoutState&amp; layoutState, const RenderBlockFlow&amp; blockFlow, const Container&amp; inlineFormattingRoot)
  {
      auto&amp; inlineFormattingState = layoutState.establishedFormattingState(inlineFormattingRoot);
<span class="line-modified">!     ASSERT(is&lt;InlineFormattingState&gt;(inlineFormattingState));</span>
<span class="line-modified">!     auto&amp; inlineRunList = downcast&lt;InlineFormattingState&gt;(inlineFormattingState).inlineRuns();</span>
  
      // Collect inlineboxes.
      Vector&lt;WebCore::InlineBox*&gt; inlineBoxes;
      collectInlineBoxes(blockFlow, inlineBoxes);
  
      auto mismatched = false;
      unsigned runIndex = 0;
  
<span class="line-modified">!     if (inlineBoxes.size() != inlineRunList.size()) {</span>
<span class="line-modified">!         stream &lt;&lt; &quot;Warning: mismatching number of runs: inlineboxes(&quot; &lt;&lt; inlineBoxes.size() &lt;&lt; &quot;) vs. inline runs(&quot; &lt;&lt; inlineRunList.size() &lt;&lt; &quot;)&quot;;</span>
          stream.nextLine();
      }
  
<span class="line-modified">!     for (unsigned inlineBoxIndex = 0; inlineBoxIndex &lt; inlineBoxes.size() &amp;&amp; runIndex &lt; inlineRunList.size(); ++inlineBoxIndex) {</span>
<span class="line-modified">!         auto&amp; inlineRun = inlineRunList[runIndex];</span>
          auto* inlineBox = inlineBoxes[inlineBoxIndex];
          auto* inlineTextBox = is&lt;InlineTextBox&gt;(inlineBox) ? downcast&lt;InlineTextBox&gt;(inlineBox) : nullptr;
<span class="line-modified">!         bool matchingRuns = inlineTextBox ? checkForMatchingTextRuns(*inlineRun, *inlineTextBox) : matchingRuns = checkForMatchingNonTextRuns(*inlineRun, *inlineBox);</span>
  
          if (!matchingRuns) {
  
              if (is&lt;RenderLineBreak&gt;(inlineBox-&gt;renderer())) {
                  // &lt;br&gt; positioning is weird at this point. It needs proper baseline.
<span class="line-new-header">--- 160,35 ---</span>
  }
  
  static bool outputMismatchingComplexLineInformationIfNeeded(TextStream&amp; stream, const LayoutState&amp; layoutState, const RenderBlockFlow&amp; blockFlow, const Container&amp; inlineFormattingRoot)
  {
      auto&amp; inlineFormattingState = layoutState.establishedFormattingState(inlineFormattingRoot);
<span class="line-modified">! </span>
<span class="line-modified">!     auto* displayInlineContent = downcast&lt;InlineFormattingState&gt;(inlineFormattingState).displayInlineContent();</span>
<span class="line-added">+     if (!displayInlineContent) {</span>
<span class="line-added">+         ASSERT_NOT_REACHED();</span>
<span class="line-added">+         return true;</span>
<span class="line-added">+     }</span>
<span class="line-added">+     auto&amp; displayRuns = displayInlineContent-&gt;runs;</span>
  
      // Collect inlineboxes.
      Vector&lt;WebCore::InlineBox*&gt; inlineBoxes;
      collectInlineBoxes(blockFlow, inlineBoxes);
  
      auto mismatched = false;
      unsigned runIndex = 0;
  
<span class="line-modified">!     if (inlineBoxes.size() != displayRuns.size()) {</span>
<span class="line-modified">!         stream &lt;&lt; &quot;Warning: mismatching number of runs: inlineboxes(&quot; &lt;&lt; inlineBoxes.size() &lt;&lt; &quot;) vs. inline runs(&quot; &lt;&lt; displayRuns.size() &lt;&lt; &quot;)&quot;;</span>
          stream.nextLine();
      }
  
<span class="line-modified">!     for (unsigned inlineBoxIndex = 0; inlineBoxIndex &lt; inlineBoxes.size() &amp;&amp; runIndex &lt; displayRuns.size(); ++inlineBoxIndex) {</span>
<span class="line-modified">!         auto&amp; displayRun = displayRuns[runIndex];</span>
          auto* inlineBox = inlineBoxes[inlineBoxIndex];
          auto* inlineTextBox = is&lt;InlineTextBox&gt;(inlineBox) ? downcast&lt;InlineTextBox&gt;(inlineBox) : nullptr;
<span class="line-modified">!         bool matchingRuns = inlineTextBox ? checkForMatchingTextRuns(displayRun, *inlineTextBox) : matchingRuns = checkForMatchingNonTextRuns(displayRun, *inlineBox);</span>
  
          if (!matchingRuns) {
  
              if (is&lt;RenderLineBreak&gt;(inlineBox-&gt;renderer())) {
                  // &lt;br&gt; positioning is weird at this point. It needs proper baseline.
</pre>
<hr />
<pre>
<span class="line-old-header">*** 182,17 ***</span>
              }
  
              stream &lt;&lt; &quot;Mismatching: run&quot;;
  
              if (inlineTextBox)
<span class="line-modified">!                 stream &lt;&lt; &quot; (&quot; &lt;&lt; inlineTextBox-&gt;start() &lt;&lt; &quot;, &quot; &lt;&lt; inlineTextBox-&gt;end() + 1 &lt;&lt; &quot;)&quot;;</span>
              stream &lt;&lt; &quot; (&quot; &lt;&lt; inlineBox-&gt;logicalLeft() &lt;&lt; &quot;, &quot; &lt;&lt; inlineBox-&gt;logicalTop() &lt;&lt; &quot;) (&quot; &lt;&lt; inlineBox-&gt;logicalWidth() &lt;&lt; &quot;x&quot; &lt;&lt; inlineBox-&gt;logicalHeight() &lt;&lt; &quot;)&quot;;
  
              stream &lt;&lt; &quot; inline run&quot;;
<span class="line-modified">!             if (inlineRun-&gt;textContext())</span>
<span class="line-modified">!                 stream &lt;&lt; &quot; (&quot; &lt;&lt; inlineRun-&gt;textContext()-&gt;start() &lt;&lt; &quot;, &quot; &lt;&lt; inlineRun-&gt;textContext()-&gt;end() &lt;&lt; &quot;)&quot;;</span>
<span class="line-modified">!             stream &lt;&lt; &quot; (&quot; &lt;&lt; inlineRun-&gt;logicalLeft() &lt;&lt; &quot;, &quot; &lt;&lt; inlineRun-&gt;logicalTop() &lt;&lt; &quot;) (&quot; &lt;&lt; inlineRun-&gt;logicalWidth() &lt;&lt; &quot;x&quot; &lt;&lt; inlineRun-&gt;logicalHeight() &lt;&lt; &quot;)&quot;;</span>
              stream.nextLine();
              mismatched = true;
          }
          ++runIndex;
      }
<span class="line-new-header">--- 198,17 ---</span>
              }
  
              stream &lt;&lt; &quot;Mismatching: run&quot;;
  
              if (inlineTextBox)
<span class="line-modified">!                 stream &lt;&lt; &quot; (&quot; &lt;&lt; inlineTextBox-&gt;start() &lt;&lt; &quot;, &quot; &lt;&lt; inlineTextBox-&gt;end() &lt;&lt; &quot;)&quot;;</span>
              stream &lt;&lt; &quot; (&quot; &lt;&lt; inlineBox-&gt;logicalLeft() &lt;&lt; &quot;, &quot; &lt;&lt; inlineBox-&gt;logicalTop() &lt;&lt; &quot;) (&quot; &lt;&lt; inlineBox-&gt;logicalWidth() &lt;&lt; &quot;x&quot; &lt;&lt; inlineBox-&gt;logicalHeight() &lt;&lt; &quot;)&quot;;
  
              stream &lt;&lt; &quot; inline run&quot;;
<span class="line-modified">!             if (displayRun.textContext())</span>
<span class="line-modified">!                 stream &lt;&lt; &quot; (&quot; &lt;&lt; displayRun.textContext()-&gt;start() &lt;&lt; &quot;, &quot; &lt;&lt; displayRun.textContext()-&gt;end() &lt;&lt; &quot;)&quot;;</span>
<span class="line-modified">!             stream &lt;&lt; &quot; (&quot; &lt;&lt; displayRun.left() &lt;&lt; &quot;, &quot; &lt;&lt; displayRun.top() &lt;&lt; &quot;) (&quot; &lt;&lt; displayRun.width() &lt;&lt; &quot;x&quot; &lt;&lt; displayRun.height() &lt;&lt; &quot;)&quot;;</span>
              stream.nextLine();
              mismatched = true;
          }
          ++runIndex;
      }
</pre>
<hr />
<pre>
<span class="line-old-header">*** 270,10 ***</span>
<span class="line-new-header">--- 286,14 ---</span>
      return false;
  }
  
  static bool verifyAndOutputSubtree(TextStream&amp; stream, const LayoutState&amp; context, const RenderBox&amp; renderer, const Box&amp; layoutBox)
  {
<span class="line-added">+     // Rendering code does not have the concept of table wrapper box. Skip it by verifying the first child(table box) instead.</span>
<span class="line-added">+     if (layoutBox.isTableWrapperBox())</span>
<span class="line-added">+         return verifyAndOutputSubtree(stream, context, renderer, *downcast&lt;Container&gt;(layoutBox).firstChild());</span>
<span class="line-added">+ </span>
      auto mismtachingGeometry = outputMismatchingBlockBoxInformationIfNeeded(stream, context, renderer, layoutBox);
  
      if (!is&lt;Container&gt;(layoutBox))
          return mismtachingGeometry;
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 312,23 ***</span>
      }
  
      return mismtachingGeometry;
  }
  
<span class="line-modified">! void LayoutState::verifyAndOutputMismatchingLayoutTree(const RenderView&amp; renderView) const</span>
  {
      TextStream stream;
<span class="line-modified">!     auto mismatchingGeometry = verifyAndOutputSubtree(stream, *this, renderView, initialContainingBlock());</span>
      if (!mismatchingGeometry)
          return;
  #if ENABLE(TREE_DEBUGGING)
<span class="line-modified">!     showRenderTree(&amp;renderView);</span>
<span class="line-modified">!     showLayoutTree(initialContainingBlock(), this);</span>
  #endif
      WTFLogAlways(&quot;%s&quot;, stream.release().utf8().data());
      ASSERT_NOT_REACHED();
  }
  
  }
  }
  
  #endif
<span class="line-new-header">--- 332,26 ---</span>
      }
  
      return mismtachingGeometry;
  }
  
<span class="line-modified">! void LayoutContext::verifyAndOutputMismatchingLayoutTree(const LayoutState&amp; layoutState, const RenderView&amp; rootRenderer)</span>
  {
      TextStream stream;
<span class="line-modified">!     auto&amp; layoutRoot = layoutState.root();</span>
<span class="line-added">+     auto mismatchingGeometry = verifyAndOutputSubtree(stream, layoutState, rootRenderer, layoutRoot);</span>
      if (!mismatchingGeometry)
          return;
  #if ENABLE(TREE_DEBUGGING)
<span class="line-modified">!     showRenderTree(&amp;rootRenderer);</span>
<span class="line-modified">!     showLayoutTree(layoutRoot, &amp;layoutState);</span>
  #endif
      WTFLogAlways(&quot;%s&quot;, stream.release().utf8().data());
      ASSERT_NOT_REACHED();
  }
  
  }
  }
  
  #endif
<span class="line-added">+ </span>
<span class="line-added">+ #endif</span>
</pre>
<center><a href="MarginTypes.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="blockformatting/BlockFormattingContext.cpp.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>