<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineItem.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="InlineFormattingState.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineLineBreaker.cpp.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineItem.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -26,40 +26,52 @@</span>
  #pragma once
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
  #include &quot;LayoutBox.h&quot;
<span class="udiff-line-modified-removed">- #include &lt;wtf/WeakPtr.h&gt;</span>
<span class="udiff-line-modified-added">+ #include &quot;LayoutUnits.h&quot;</span>
  
  namespace WebCore {
  namespace Layout {
  
<span class="udiff-line-modified-removed">- class InlineItem : public CanMakeWeakPtr&lt;InlineItem&gt; {</span>
<span class="udiff-line-removed">-     WTF_MAKE_FAST_ALLOCATED;</span>
<span class="udiff-line-modified-added">+ class InlineItem {</span>
  public:
<span class="udiff-line-modified-removed">-     enum class Type { Text, HardLineBreak, Box, Float, ContainerStart, ContainerEnd };</span>
<span class="udiff-line-modified-added">+     enum class Type : uint8_t { Text, HardLineBreak, SoftLineBreak, Box, Float, ContainerStart, ContainerEnd };</span>
      InlineItem(const Box&amp; layoutBox, Type);
  
      Type type() const { return m_type; }
<span class="udiff-line-modified-removed">-     const Box&amp; layoutBox() const { return m_layoutBox; }</span>
<span class="udiff-line-modified-removed">-     const RenderStyle&amp; style() const { return m_layoutBox.style(); }</span>
<span class="udiff-line-modified-added">+     const Box&amp; layoutBox() const { return *m_layoutBox; }</span>
<span class="udiff-line-modified-added">+     const RenderStyle&amp; style() const { return layoutBox().style(); }</span>
  
      bool isText() const { return type() == Type::Text; }
      bool isBox() const { return type() == Type::Box; }
<span class="udiff-line-removed">-     bool isHardLineBreak() const { return type() == Type::HardLineBreak; }</span>
      bool isFloat() const { return type() == Type::Float; }
<span class="udiff-line-modified-removed">-     bool isLineBreak() const { return type() == Type::HardLineBreak; }</span>
<span class="udiff-line-modified-added">+     bool isLineBreak() const { return isSoftLineBreak() || isHardLineBreak(); }</span>
<span class="udiff-line-added">+     bool isSoftLineBreak() const { return type() == Type::SoftLineBreak; }</span>
<span class="udiff-line-added">+     bool isHardLineBreak() const { return type() == Type::HardLineBreak; }</span>
      bool isContainerStart() const { return type() == Type::ContainerStart; }
      bool isContainerEnd() const { return type() == Type::ContainerEnd; }
  
  private:
<span class="udiff-line-modified-removed">-     const Box&amp; m_layoutBox;</span>
<span class="udiff-line-modified-removed">-     const Type m_type;</span>
<span class="udiff-line-modified-added">+     const Box* m_layoutBox { nullptr };</span>
<span class="udiff-line-modified-added">+     Type m_type { };</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+ protected:</span>
<span class="udiff-line-added">+     // For InlineTextItem</span>
<span class="udiff-line-added">+     enum class TextItemType  : uint8_t { Undefined, Whitespace, NonWhitespace };</span>
<span class="udiff-line-added">+     TextItemType m_textItemType { TextItemType::Undefined };</span>
<span class="udiff-line-added">+     bool m_hasWidth { false };</span>
<span class="udiff-line-added">+     bool m_isCollapsible { false };</span>
<span class="udiff-line-added">+     InlineLayoutUnit m_width { };</span>
<span class="udiff-line-added">+     unsigned m_length { 0 };</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+     // For InlineTextItem and InlineSoftLineBreakItem</span>
<span class="udiff-line-added">+     unsigned m_startOrPosition { 0 };</span>
  };
  
  inline InlineItem::InlineItem(const Box&amp; layoutBox, Type type)
<span class="udiff-line-modified-removed">-     : m_layoutBox(layoutBox)</span>
<span class="udiff-line-modified-added">+     : m_layoutBox(&amp;layoutBox)</span>
      , m_type(type)
  {
  }
  
  #define SPECIALIZE_TYPE_TRAITS_INLINE_ITEM(ToValueTypeName, predicate) \
</pre>
<center><a href="InlineFormattingState.h.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineLineBreaker.cpp.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>