<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineTextItem.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="InlineLineBreaker.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineTextItem.h.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/inlineformatting/InlineTextItem.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #include &quot;config.h&quot;
 27 #include &quot;InlineTextItem.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 
<span class="line-modified"> 31 #include &quot;BreakLines.h&quot;</span>



 32 
 33 namespace WebCore {
 34 namespace Layout {
 35 
<span class="line-modified"> 36 static inline bool isWhitespaceCharacter(char character, bool preserveNewline)</span>
<span class="line-removed"> 37 {</span>
<span class="line-removed"> 38     return character == &#39; &#39; || character == &#39;\t&#39; || (character == &#39;\n&#39; &amp;&amp; !preserveNewline);</span>
<span class="line-removed"> 39 }</span>
 40 
<span class="line-modified"> 41 static inline bool isSoftLineBreak(char character, bool preserveNewline)</span>
 42 {
<span class="line-modified"> 43     return preserveNewline &amp;&amp; character == &#39;\n&#39;;</span>
 44 }
 45 
<span class="line-modified"> 46 static unsigned moveToNextNonWhitespacePosition(String textContent, unsigned startPosition, bool preserveNewline)</span>
 47 {
 48     auto nextNonWhiteSpacePosition = startPosition;
 49     while (nextNonWhiteSpacePosition &lt; textContent.length() &amp;&amp; isWhitespaceCharacter(textContent[nextNonWhiteSpacePosition], preserveNewline))
 50         ++nextNonWhiteSpacePosition;
 51     return nextNonWhiteSpacePosition - startPosition;
 52 }
 53 
<span class="line-modified"> 54 static unsigned moveToNextBreakablePosition(unsigned startPosition, LazyLineBreakIterator lineBreakIterator, const RenderStyle&amp; style)</span>
 55 {
<span class="line-removed"> 56     auto findNextBreakablePosition = [&amp;](auto startPosition) {</span>
<span class="line-removed"> 57         auto keepAllWordsForCJK = style.wordBreak() == WordBreak::KeepAll;</span>
<span class="line-removed"> 58         auto breakNBSP = style.autoWrap() &amp;&amp; style.nbspMode() == NBSPMode::Space;</span>
<span class="line-removed"> 59 </span>
<span class="line-removed"> 60         if (keepAllWordsForCJK) {</span>
<span class="line-removed"> 61             if (breakNBSP)</span>
<span class="line-removed"> 62                 return nextBreakablePositionKeepingAllWords(lineBreakIterator, startPosition);</span>
<span class="line-removed"> 63             return nextBreakablePositionKeepingAllWordsIgnoringNBSP(lineBreakIterator, startPosition);</span>
<span class="line-removed"> 64         }</span>
<span class="line-removed"> 65 </span>
<span class="line-removed"> 66         if (lineBreakIterator.mode() == LineBreakIteratorMode::Default) {</span>
<span class="line-removed"> 67             if (breakNBSP)</span>
<span class="line-removed"> 68                 return WebCore::nextBreakablePosition(lineBreakIterator, startPosition);</span>
<span class="line-removed"> 69             return nextBreakablePositionIgnoringNBSP(lineBreakIterator, startPosition);</span>
<span class="line-removed"> 70         }</span>
<span class="line-removed"> 71 </span>
<span class="line-removed"> 72         if (breakNBSP)</span>
<span class="line-removed"> 73             return nextBreakablePositionWithoutShortcut(lineBreakIterator, startPosition);</span>
<span class="line-removed"> 74         return nextBreakablePositionIgnoringNBSPWithoutShortcut(lineBreakIterator, startPosition);</span>
<span class="line-removed"> 75     };</span>
<span class="line-removed"> 76 </span>
 77     auto textLength = lineBreakIterator.stringView().length();
<span class="line-modified"> 78     auto currentPosition = startPosition;</span>
<span class="line-modified"> 79     while (currentPosition &lt; textLength - 1) {</span>
<span class="line-modified"> 80         auto nextBreakablePosition = findNextBreakablePosition(currentPosition);</span>
<span class="line-modified"> 81         if (nextBreakablePosition != currentPosition)</span>
<span class="line-modified"> 82             return nextBreakablePosition - currentPosition;</span>
<span class="line-modified"> 83         ++currentPosition;</span>

 84     }
 85     return textLength - startPosition;
 86 }
 87 
 88 void InlineTextItem::createAndAppendTextItems(InlineItems&amp; inlineContent, const Box&amp; inlineBox)
 89 {
<span class="line-modified"> 90     auto text = inlineBox.textContent();</span>

 91     if (!text.length())
<span class="line-modified"> 92         return inlineContent.append(makeUnique&lt;InlineTextItem&gt;(inlineBox, 0, 0, false, false));</span>
 93 
 94     auto&amp; style = inlineBox.style();
<span class="line-modified"> 95     auto preserveNewline = style.preserveNewline();</span>
<span class="line-removed"> 96     auto collapseWhiteSpace = style.collapseWhiteSpace();</span>
 97     LazyLineBreakIterator lineBreakIterator(text);
 98     unsigned currentPosition = 0;







 99     while (currentPosition &lt; text.length()) {
<span class="line-modified">100         // Soft linebreak?</span>
<span class="line-modified">101         if (isSoftLineBreak(text[currentPosition], preserveNewline)) {</span>
<span class="line-modified">102             inlineContent.append(makeUnique&lt;InlineTextItem&gt;(inlineBox, currentPosition, 1, true, false));</span>




103             ++currentPosition;
104             continue;
105         }
<span class="line-modified">106         if (isWhitespaceCharacter(text[currentPosition], preserveNewline)) {</span>
<span class="line-modified">107             auto length = moveToNextNonWhitespacePosition(text, currentPosition, preserveNewline);</span>
<span class="line-modified">108             auto isCollapsed = collapseWhiteSpace &amp;&amp; length &gt; 1;</span>
<span class="line-modified">109             inlineContent.append(makeUnique&lt;InlineTextItem&gt;(inlineBox, currentPosition, length, true, isCollapsed));</span>













110             currentPosition += length;
111             continue;
112         }
113 
114         auto length = moveToNextBreakablePosition(currentPosition, lineBreakIterator, style);
<span class="line-modified">115         inlineContent.append(makeUnique&lt;InlineTextItem&gt;(inlineBox, currentPosition, length, false, false));</span>
116         currentPosition += length;
117     }
118 }
119 
<span class="line-modified">120 InlineTextItem::InlineTextItem(const Box&amp; inlineBox, unsigned start, unsigned length, bool isWhitespace, bool isCollapsed)</span>
<span class="line-removed">121     : InlineItem(inlineBox, Type::Text)</span>
<span class="line-removed">122     , m_start(start)</span>
<span class="line-removed">123     , m_length(length)</span>
<span class="line-removed">124     , m_isWhitespace(isWhitespace)</span>
<span class="line-removed">125     , m_isCollapsed(isCollapsed)</span>
<span class="line-removed">126 {</span>
<span class="line-removed">127 }</span>
<span class="line-removed">128 </span>
<span class="line-removed">129 std::unique_ptr&lt;InlineTextItem&gt; InlineTextItem::split(unsigned splitPosition, unsigned length) const</span>
130 {
<span class="line-modified">131     RELEASE_ASSERT(splitPosition &gt;= this-&gt;start());</span>
<span class="line-modified">132     RELEASE_ASSERT(splitPosition + length &lt;= end());</span>
<span class="line-removed">133     return makeUnique&lt;InlineTextItem&gt;(layoutBox(), splitPosition, length, isWhitespace(), isCollapsed());</span>
134 }
135 
136 }
137 }
138 #endif
</pre>
</td>
<td>
<hr />
<pre>
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #include &quot;config.h&quot;
 27 #include &quot;InlineTextItem.h&quot;
 28 
 29 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 30 
<span class="line-modified"> 31 #include &quot;FontCascade.h&quot;</span>
<span class="line-added"> 32 #include &quot;InlineSoftLineBreakItem.h&quot;</span>
<span class="line-added"> 33 #include &quot;TextUtil.h&quot;</span>
<span class="line-added"> 34 #include &lt;wtf/unicode/CharacterNames.h&gt;</span>
 35 
 36 namespace WebCore {
 37 namespace Layout {
 38 
<span class="line-modified"> 39 static_assert(sizeof(InlineItem) == sizeof(InlineTextItem), &quot;&quot;);</span>



 40 
<span class="line-modified"> 41 static inline bool isWhitespaceCharacter(UChar character, bool preserveNewline)</span>
 42 {
<span class="line-modified"> 43     return character == &#39; &#39; || character == &#39;\t&#39; || (character == &#39;\n&#39; &amp;&amp; !preserveNewline);</span>
 44 }
 45 
<span class="line-modified"> 46 static unsigned moveToNextNonWhitespacePosition(const StringView&amp; textContent, unsigned startPosition, bool preserveNewline)</span>
 47 {
 48     auto nextNonWhiteSpacePosition = startPosition;
 49     while (nextNonWhiteSpacePosition &lt; textContent.length() &amp;&amp; isWhitespaceCharacter(textContent[nextNonWhiteSpacePosition], preserveNewline))
 50         ++nextNonWhiteSpacePosition;
 51     return nextNonWhiteSpacePosition - startPosition;
 52 }
 53 
<span class="line-modified"> 54 static unsigned moveToNextBreakablePosition(unsigned startPosition, LazyLineBreakIterator&amp; lineBreakIterator, const RenderStyle&amp; style)</span>
 55 {





















 56     auto textLength = lineBreakIterator.stringView().length();
<span class="line-modified"> 57     auto startPositionForNextBreakablePosition = startPosition;</span>
<span class="line-modified"> 58     while (startPositionForNextBreakablePosition &lt; textLength) {</span>
<span class="line-modified"> 59         auto nextBreakablePosition = TextUtil::findNextBreakablePosition(lineBreakIterator, startPositionForNextBreakablePosition, style);</span>
<span class="line-modified"> 60         // Oftentimes the next breakable position comes back as the start position (most notably hyphens).</span>
<span class="line-modified"> 61         if (nextBreakablePosition != startPosition)</span>
<span class="line-modified"> 62             return nextBreakablePosition - startPosition;</span>
<span class="line-added"> 63         ++startPositionForNextBreakablePosition;</span>
 64     }
 65     return textLength - startPosition;
 66 }
 67 
 68 void InlineTextItem::createAndAppendTextItems(InlineItems&amp; inlineContent, const Box&amp; inlineBox)
 69 {
<span class="line-modified"> 70     auto&amp; textContext = *inlineBox.textContext();</span>
<span class="line-added"> 71     auto text = textContext.content;</span>
 72     if (!text.length())
<span class="line-modified"> 73         return inlineContent.append(InlineTextItem::createEmptyItem(inlineBox));</span>
 74 
 75     auto&amp; style = inlineBox.style();
<span class="line-modified"> 76     auto&amp; font = style.fontCascade();</span>

 77     LazyLineBreakIterator lineBreakIterator(text);
 78     unsigned currentPosition = 0;
<span class="line-added"> 79 </span>
<span class="line-added"> 80     auto inlineItemWidth = [&amp;](auto startPosition, auto length) -&gt; Optional&lt;InlineLayoutUnit&gt; {</span>
<span class="line-added"> 81         if (!textContext.canUseSimplifiedContentMeasuring)</span>
<span class="line-added"> 82             return { };</span>
<span class="line-added"> 83         return TextUtil::width(inlineBox, startPosition, startPosition + length);</span>
<span class="line-added"> 84     };</span>
<span class="line-added"> 85 </span>
 86     while (currentPosition &lt; text.length()) {
<span class="line-modified"> 87         auto isSegmentBreakCandidate = [](auto character) {</span>
<span class="line-modified"> 88             return character == &#39;\n&#39;;</span>
<span class="line-modified"> 89         };</span>
<span class="line-added"> 90 </span>
<span class="line-added"> 91         // Segment breaks with preserve new line style (white-space: pre, pre-wrap, break-spaces and pre-line) compute to forced line break.</span>
<span class="line-added"> 92         if (isSegmentBreakCandidate(text[currentPosition]) &amp;&amp; style.preserveNewline()) {</span>
<span class="line-added"> 93             inlineContent.append(InlineSoftLineBreakItem::createSoftLineBreakItem(inlineBox, currentPosition));</span>
 94             ++currentPosition;
 95             continue;
 96         }
<span class="line-modified"> 97 </span>
<span class="line-modified"> 98         if (isWhitespaceCharacter(text[currentPosition], style.preserveNewline())) {</span>
<span class="line-modified"> 99             auto appendWhitespaceItem = [&amp;] (auto startPosition, auto itemLength) {</span>
<span class="line-modified">100                 auto simpleSingleWhitespaceContent = textContext.canUseSimplifiedContentMeasuring &amp;&amp; (itemLength == 1 || style.collapseWhiteSpace());</span>
<span class="line-added">101                 auto width = simpleSingleWhitespaceContent ? makeOptional(InlineLayoutUnit { font.spaceWidth() }) : inlineItemWidth(startPosition, itemLength);</span>
<span class="line-added">102                 inlineContent.append(InlineTextItem::createWhitespaceItem(inlineBox, startPosition, itemLength, width));</span>
<span class="line-added">103             };</span>
<span class="line-added">104 </span>
<span class="line-added">105             auto length = moveToNextNonWhitespacePosition(text, currentPosition, style.preserveNewline());</span>
<span class="line-added">106             if (style.whiteSpace() == WhiteSpace::BreakSpaces) {</span>
<span class="line-added">107                 // https://www.w3.org/TR/css-text-3/#white-space-phase-1</span>
<span class="line-added">108                 // For break-spaces, a soft wrap opportunity exists after every space and every tab.</span>
<span class="line-added">109                 // FIXME: if this turns out to be a perf hit with too many individual whitespace inline items, we should transition this logic to line breaking.</span>
<span class="line-added">110                 for (unsigned i = 0; i &lt; length; ++i)</span>
<span class="line-added">111                     appendWhitespaceItem(currentPosition + i, 1);</span>
<span class="line-added">112             } else</span>
<span class="line-added">113                 appendWhitespaceItem(currentPosition, length);</span>
114             currentPosition += length;
115             continue;
116         }
117 
118         auto length = moveToNextBreakablePosition(currentPosition, lineBreakIterator, style);
<span class="line-modified">119         inlineContent.append(InlineTextItem::createNonWhitespaceItem(inlineBox, currentPosition, length, inlineItemWidth(currentPosition, length)));</span>
120         currentPosition += length;
121     }
122 }
123 
<span class="line-modified">124 bool InlineTextItem::isEmptyContent() const</span>









125 {
<span class="line-modified">126     // FIXME: We should check for more zero width content and not just U+200B.</span>
<span class="line-modified">127     return !m_length || (m_length == 1 &amp;&amp; layoutBox().textContext()-&gt;content[start()] == zeroWidthSpace);</span>

128 }
129 
130 }
131 }
132 #endif
</pre>
</td>
</tr>
</table>
<center><a href="InlineLineBreaker.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="InlineTextItem.h.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>