<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff test/jdk/javax/net/ssl/templates/SSLSocketTemplate.java</title>
    <link rel="stylesheet" href="../../../../../../style.css" />
  </head>
<body>
<center><a href="SSLContextTemplate.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../index.html" target="_top">index</a> <a href="../../../../sun/security/tools/keytool/WeakAlg.java.udiff.html" target="_top">next &gt;</a></center>    <h2>test/jdk/javax/net/ssl/templates/SSLSocketTemplate.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -840,10 +840,57 @@</span>
                  &quot;6l7dOGHeWiL7nl43AhUAoGr8DY2mWHZPHk2XbZ5wpaM2lLcCgYBKiFbFFViH/ylH\n&quot; +
                  &quot;JRPtYtjtJw4ls1scbVP4TRHnKoZcHPAird1fDYgGC2b0GQNAMABhI+L+ogxS7qak\n&quot; +
                  &quot;ySpJCheuN25AjiSyilygQdlXoWRtMggsh8EQZT7iP4V4e9m3xRHzb5ECvsSTdZB1\n&quot; +
                  &quot;BQMcC90W2Avq+orqgBnr2in9UEd8qwQWAhQ7rSn+WvIxeuZ/CK4p04eMe5JzpA==&quot;),
  
<span class="udiff-line-added">+         CA_ED25519(</span>
<span class="udiff-line-added">+                 &quot;EdDSA&quot;,</span>
<span class="udiff-line-added">+                 // ED25519</span>
<span class="udiff-line-added">+                 // Validity</span>
<span class="udiff-line-added">+                 //     Not Before: May 24 23:32:35 2020 GMT</span>
<span class="udiff-line-added">+                 //     Not After : May 22 23:32:35 2030 GMT</span>
<span class="udiff-line-added">+                 // X509v3 Authority Key Identifier:</span>
<span class="udiff-line-added">+                 //     keyid:06:76:DB:88:EB:61:55:4C:C9:63:41:C2:A0:A8:57:3F:D7:F1:B8:EC</span>
<span class="udiff-line-added">+                 &quot;-----BEGIN CERTIFICATE-----\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;MIIByTCCAXugAwIBAgIUCyxKvhErehsygx50JYArsHby9hAwBQYDK2VwMDsxCzAJ\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BgNVBAYTAlVTMQ0wCwYDVQQKDARqYXZhMR0wGwYDVQQLDBRTdW5KU1NFIFRlc3Qg\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;U2VyaXZjZTAeFw0yMDA1MjQyMzMyMzVaFw0zMDA1MjIyMzMyMzVaMDsxCzAJBgNV\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BAYTAlVTMQ0wCwYDVQQKDARqYXZhMR0wGwYDVQQLDBRTdW5KU1NFIFRlc3QgU2Vy\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;aXZjZTAqMAUGAytlcAMhAKdotuYIkH8PYbopSLbaf1BtqUY2d6AbTgK2prMzQ6B3\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;o4GQMIGNMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFAZ224jrYVVMyWNBwqCo\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;Vz/X8bjsMB8GA1UdIwQYMBaAFAZ224jrYVVMyWNBwqCoVz/X8bjsMA4GA1UdDwEB\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;/wQEAwIBhjAqBgNVHSUBAf8EIDAeBggrBgEFBQcDAwYIKwYBBQUHAwgGCCsGAQUF\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BwMJMAUGAytlcANBADVAArvME8xFigFhCCCOTBoy/4ldGkDZQ/GT3Q6xnAP558FU\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;0G32OprKQZP43D9bmFU0LMgCVM9bHWU+bu/10AU=\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;-----END CERTIFICATE-----&quot;,</span>
<span class="udiff-line-added">+                 &quot;MC4CAQAwBQYDK2VwBCIEII/VYp8nu/eqq2L5y7/3IzavBgis4LWP6Rikv0N8SpgL&quot;),</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+         CA_ED448(</span>
<span class="udiff-line-added">+                 &quot;EdDSA&quot;,</span>
<span class="udiff-line-added">+                 // ED448</span>
<span class="udiff-line-added">+                 // Validity</span>
<span class="udiff-line-added">+                 //     Not Before: May 24 23:23:43 2020 GMT</span>
<span class="udiff-line-added">+                 //     Not After : May 22 23:23:43 2030 GMT</span>
<span class="udiff-line-added">+                 // X509v3 Authority Key Identifier:</span>
<span class="udiff-line-added">+                 //     keyid:F5:D5:9D:FB:6F:B7:50:29:DF:F0:B8:83:10:5F:9B:C4:A8:1C:E9:F4</span>
<span class="udiff-line-added">+                 &quot;-----BEGIN CERTIFICATE-----\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;MIICFDCCAZSgAwIBAgIUKcmLeKilq0LN40sniBJO7F1gb/owBQYDK2VxMDsxCzAJ\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BgNVBAYTAlVTMQ0wCwYDVQQKDARqYXZhMR0wGwYDVQQLDBRTdW5KU1NFIFRlc3Qg\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;U2VyaXZjZTAeFw0yMDA1MjQyMzIzNDNaFw0zMDA1MjIyMzIzNDNaMDsxCzAJBgNV\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BAYTAlVTMQ0wCwYDVQQKDARqYXZhMR0wGwYDVQQLDBRTdW5KU1NFIFRlc3QgU2Vy\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;aXZjZTBDMAUGAytlcQM6APYP8iSXS8xPVDike5RgCByfTtg4GGtpYfoBtt6G5szA\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;55ExAKjm03wtk29nEPU2mCHF2QgfBzUrgKOBkDCBjTAPBgNVHRMBAf8EBTADAQH/\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;MB0GA1UdDgQWBBT11Z37b7dQKd/wuIMQX5vEqBzp9DAfBgNVHSMEGDAWgBT11Z37\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;b7dQKd/wuIMQX5vEqBzp9DAOBgNVHQ8BAf8EBAMCAYYwKgYDVR0lAQH/BCAwHgYI\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;KwYBBQUHAwMGCCsGAQUFBwMIBggrBgEFBQcDCTAFBgMrZXEDcwAlRXA2gPb52yV3\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;MKJErjmKlYSFExj5w5jafbbd0QgI1yDs+qSaZLjQ8ljwabmLDg+KR+167m0djQDI\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;OOoVuL7bgM0RL836KnuuBzm+gTdPp0gCXy3k9lL0KA0V2YLJHXXzu3suu+7rdgoP\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;plCh2hWdLgA=\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;-----END CERTIFICATE-----&quot;,</span>
<span class="udiff-line-added">+                 &quot;MEcCAQAwBQYDK2VxBDsEOd6/hRZqkUyTlJSwdN5gO/HnoWYda1fD83YUm5j6m2Bg\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;hAQi+QadFsQLD7R6PI/4Q0twXqlKnxU5Ug==&quot;),</span>
<span class="udiff-line-added">+ </span>
          EE_ECDSA_SECP256R1(
                  &quot;EC&quot;,
                  // SHA256withECDSA, curve secp256r1
                  // Validity
                  //     Not Before: May 22 07:18:16 2018 GMT
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -1084,11 +1131,56 @@</span>
                  &quot;AMt6Edv2F0Fuk9IQjIZvI5sYJNWwyHfWSh68bDNORJArUWGqmoOGWXhnXssL9yMM\n&quot; +
                  &quot;GKgkHxrZD8E/UALHUgAWMBjq5YRLWbQRtckOOHPkc/1bPj7ZAMmW3+VRtYksRW/W\n&quot; +
                  &quot;yOUBSVifWtlaWYefAhUAghgC0KCuDLED/Fe9lpQewb7fXq8CgYEAwsbtBjNoma9C\n&quot; +
                  &quot;fA2gKPfwoUuJuxO4eic/SjptnBYc2BnpJFFzc58u58s+kKYG7n/CjRSo7aqFAwvL\n&quot; +
                  &quot;ZXFUAFJU3BEgtE2V0d4dtYZfcMyAYRPpCdY/L9SgMXzmiTsTm5OUBLyGgOY/o4hx\n&quot; +
<span class="udiff-line-modified-removed">-                 &quot;sEUubQ6ssDmrc/npsDGb9cCpwjQRJTYEFgIUNRiLmNzfTYOuVsjkySPzP5gPImM=&quot;);</span>
<span class="udiff-line-modified-added">+                 &quot;sEUubQ6ssDmrc/npsDGb9cCpwjQRJTYEFgIUNRiLmNzfTYOuVsjkySPzP5gPImM=&quot;),</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+         EE_ED25519(</span>
<span class="udiff-line-added">+                 &quot;EdDSA&quot;,</span>
<span class="udiff-line-added">+                 // ED25519</span>
<span class="udiff-line-added">+                 // Validity</span>
<span class="udiff-line-added">+                 //     Not Before: May 24 23:32:36 2020 GMT</span>
<span class="udiff-line-added">+                 //     Not After : May 22 23:32:36 2030 GMT</span>
<span class="udiff-line-added">+                 // X509v3 Authority Key Identifier:</span>
<span class="udiff-line-added">+                 //     keyid:06:76:DB:88:EB:61:55:4C:C9:63:41:C2:A0:A8:57:3F:D7:F1:B8:EC</span>
<span class="udiff-line-added">+                 &quot;-----BEGIN CERTIFICATE-----\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;MIIBlDCCAUagAwIBAgIUFTt/jcgQ65nhTG8LkrWFJhhEGuwwBQYDK2VwMDsxCzAJ\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BgNVBAYTAlVTMQ0wCwYDVQQKDARqYXZhMR0wGwYDVQQLDBRTdW5KU1NFIFRlc3Qg\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;U2VyaXZjZTAeFw0yMDA1MjQyMzMyMzZaFw0zMDA1MjIyMzMyMzZaMFUxCzAJBgNV\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BAYTAlVTMQ0wCwYDVQQKDARqYXZhMR0wGwYDVQQLDBRTdW5KU1NFIFRlc3QgU2Vy\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;aXZjZTEYMBYGA1UEAwwPUmVncmVzc2lvbiBUZXN0MCowBQYDK2VwAyEAGAYQmKb7\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;WNYpVxIdsc49lI1emNjF06/Jl85zlG0wc9OjQjBAMB0GA1UdDgQWBBQkJ2E4/S8Z\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;EIM1v9uTc0eYtYNk3zAfBgNVHSMEGDAWgBQGdtuI62FVTMljQcKgqFc/1/G47DAF\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BgMrZXADQQCVZnl/AyIEtZ8r45e/hcfxwuezgRX+7e9NHZFV1A/TMGcBRORDfDUi\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;bbh72K528fjT7P4/WoXvm1zJKOAzUOUL\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;-----END CERTIFICATE-----&quot;,</span>
<span class="udiff-line-added">+                 &quot;MC4CAQAwBQYDK2VwBCIEIGBmdh4tfc0lng/LWokhfFLlo0ZlmTn2lbI639qou2KP&quot;),</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+         EE_ED448(</span>
<span class="udiff-line-added">+                 &quot;EdDSA&quot;,</span>
<span class="udiff-line-added">+                 // ED448</span>
<span class="udiff-line-added">+                 // Validity</span>
<span class="udiff-line-added">+                 //     Not Before: May 24 23:23:43 2020 GMT</span>
<span class="udiff-line-added">+                 //     Not After : May 22 23:23:43 2030 GMT</span>
<span class="udiff-line-added">+                 // X509v3 Authority Key Identifier:</span>
<span class="udiff-line-added">+                 //     keyid:F5:D5:9D:FB:6F:B7:50:29:DF:F0:B8:83:10:5F:9B:C4:A8:1C:E9:F4</span>
<span class="udiff-line-added">+                 &quot;-----BEGIN CERTIFICATE-----\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;MIIB3zCCAV+gAwIBAgIUNlWzFrH2+BILqM3SNYQjKoY98S8wBQYDK2VxMDsxCzAJ\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BgNVBAYTAlVTMQ0wCwYDVQQKDARqYXZhMR0wGwYDVQQLDBRTdW5KU1NFIFRlc3Qg\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;U2VyaXZjZTAeFw0yMDA1MjQyMzIzNDNaFw0zMDA1MjIyMzIzNDNaMFUxCzAJBgNV\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;BAYTAlVTMQ0wCwYDVQQKDARqYXZhMR0wGwYDVQQLDBRTdW5KU1NFIFRlc3QgU2Vy\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;aXZjZTEYMBYGA1UEAwwPUmVncmVzc2lvbiBUZXN0MEMwBQYDK2VxAzoAoIubPNAg\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;F11u3MQ5d9wujg10+80I0xzYzTqzzXrfJNtw+eU8NbUk86xiCvlMzJRH0Oo3DbY8\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;NAKAo0IwQDAdBgNVHQ4EFgQUUiI1+qT1x+HsDgfZRIU6hUaAbmUwHwYDVR0jBBgw\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;FoAU9dWd+2+3UCnf8LiDEF+bxKgc6fQwBQYDK2VxA3MAx8P0mle08s5YDd/p58dt\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;yORqvDPwo5IYPasqN8Zeen1B9u1xF/kvDGFxCJ6D9Gi4ynnDx0FZFMkA83evZcxJ\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;+X+swt7FyHwXrdkZcvjRKEcsWhkj+0FlxYF/NZzLTGuGIPYJnRLEwf/zr+5NDxKs\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;fCoA\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;-----END CERTIFICATE-----&quot;,</span>
<span class="udiff-line-added">+                 &quot;MEcCAQAwBQYDK2VxBDsEOfbhmUSuKP9WCO7Nr6JxVq5rfJESk1MNMyYhC134SiAP\n&quot; +</span>
<span class="udiff-line-added">+                 &quot;Suw0Cu7RZVadpfPR7Kiwb2b/JXjMdY1HAA==&quot;);</span>
  
          final String keyAlgo;
          final String certStr;
          final String privKeyStr;
  
</pre>
<center><a href="SSLContextTemplate.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../index.html" target="_top">index</a> <a href="../../../../sun/security/tools/keytool/WeakAlg.java.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>