<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../../style.css" />
  </head>
<body>
<center>&lt; prev <a href="../../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>    <h2>application/org.openjdk.jmc.flightrecorder.ui/src/main/java/org/openjdk/jmc/flightrecorder/ui/views/stacktrace/StacktraceView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 733,11 ***</span>
  		@Override
  		public String getText(Object element) {
  			StacktraceFrame frame = (StacktraceFrame) element;
  			int itemCount = frame.getItemCount();
  			int totalCount = getRootFork(frame.getBranch().getParentFork()).getItemsInFork();
<span class="line-modified">! 			return String.format(&quot;%.2f%%&quot;, (itemCount / (float) totalCount) * 100F);</span>
  		}
  
  		@Override
  		public String getToolTipText(Object element) {
  			StacktraceFrame frame = (StacktraceFrame) element;
<span class="line-new-header">--- 733,11 ---</span>
  		@Override
  		public String getText(Object element) {
  			StacktraceFrame frame = (StacktraceFrame) element;
  			int itemCount = frame.getItemCount();
  			int totalCount = getRootFork(frame.getBranch().getParentFork()).getItemsInFork();
<span class="line-modified">! 			return UnitLookup.PERCENT_UNITY.quantity(itemCount / (double) totalCount).displayUsing(IDisplayable.AUTO);</span>
  		}
  
  		@Override
  		public String getToolTipText(Object element) {
  			StacktraceFrame frame = (StacktraceFrame) element;
</pre>
<center>&lt; prev <a href="../../../../../../../../../../../../index.html" target="_top">index</a> next &gt;</center>  </body>
</html>