<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutContainer.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="LayoutContainer.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutReplaced.h.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/layouttree/LayoutContainer.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
31 #include &lt;wtf/IsoMalloc.h&gt;
32 
33 namespace WebCore {
34 
35 class RenderStyle;
36 
37 namespace Layout {
38 
39 class Container final : public Box {
40     WTF_MAKE_ISO_ALLOCATED(Container);
41 public:
42     Container(Optional&lt;ElementAttributes&gt;, RenderStyle&amp;&amp;, BaseTypeFlags = ContainerFlag);
43 
44     const Box* firstChild() const { return m_firstChild; }
45     const Box* firstInFlowChild() const;
46     const Box* firstInFlowOrFloatingChild() const;
47     const Box* lastChild() const { return m_lastChild; }
48     const Box* lastInFlowChild() const;
49     const Box* lastInFlowOrFloatingChild() const;
50 



51     bool hasChild() const { return firstChild(); }
52     bool hasInFlowChild() const { return firstInFlowChild(); }
53     bool hasInFlowOrFloatingChild() const { return firstInFlowOrFloatingChild(); }
54 
55     void setFirstChild(Box&amp;);
56     void setLastChild(Box&amp;);

57 
58 private:
59     Box* m_firstChild { nullptr };
60     Box* m_lastChild { nullptr };
61 };
62 
63 }
64 }
65 
66 SPECIALIZE_TYPE_TRAITS_LAYOUT_BOX(Container, isContainer())
67 
68 #endif
</pre>
</td>
<td>
<hr />
<pre>
31 #include &lt;wtf/IsoMalloc.h&gt;
32 
33 namespace WebCore {
34 
35 class RenderStyle;
36 
37 namespace Layout {
38 
39 class Container final : public Box {
40     WTF_MAKE_ISO_ALLOCATED(Container);
41 public:
42     Container(Optional&lt;ElementAttributes&gt;, RenderStyle&amp;&amp;, BaseTypeFlags = ContainerFlag);
43 
44     const Box* firstChild() const { return m_firstChild; }
45     const Box* firstInFlowChild() const;
46     const Box* firstInFlowOrFloatingChild() const;
47     const Box* lastChild() const { return m_lastChild; }
48     const Box* lastInFlowChild() const;
49     const Box* lastInFlowOrFloatingChild() const;
50 
<span class="line-added">51     // FIXME: This is currently needed for style updates.</span>
<span class="line-added">52     Box* firstChild() { return m_firstChild; }</span>
<span class="line-added">53 </span>
54     bool hasChild() const { return firstChild(); }
55     bool hasInFlowChild() const { return firstInFlowChild(); }
56     bool hasInFlowOrFloatingChild() const { return firstInFlowOrFloatingChild(); }
57 
58     void setFirstChild(Box&amp;);
59     void setLastChild(Box&amp;);
<span class="line-added">60     void appendChild(Box&amp;);</span>
61 
62 private:
63     Box* m_firstChild { nullptr };
64     Box* m_lastChild { nullptr };
65 };
66 
67 }
68 }
69 
70 SPECIALIZE_TYPE_TRAITS_LAYOUT_BOX(Container, isContainer())
71 
72 #endif
</pre>
</td>
</tr>
</table>
<center><a href="LayoutContainer.cpp.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="LayoutReplaced.h.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>