<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Old make/ide/idea/langtools/template/modules.xml</title>
    <link rel="stylesheet" href="../../../../../style.css" />
  </head>
  <body>
    <pre>
1 &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
2 &lt;project version=&quot;4&quot;&gt;
3   &lt;component name=&quot;ProjectModuleManager&quot;&gt;
4     &lt;modules&gt;
5       &lt;module fileurl=&quot;file://$PROJECT_DIR$/.idea/langtools.iml&quot; filepath=&quot;$PROJECT_DIR$/.idea/langtools.iml&quot; /&gt;
6     &lt;/modules&gt;
7   &lt;/component&gt;
8 &lt;/project&gt;
9 
    </pre>
  </body>
</html>