<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New make/ide/idea/langtools/template/workspace.xml</title>
    <link rel="stylesheet" href="../../../../../style.css" />
  </head>
  <body>
    <pre>
 1 &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
 2 &lt;project version=&quot;4&quot;&gt;
 3   &lt;component name=&quot;StructureViewFactory&quot;&gt;
 4     &lt;option name=&quot;ACTIVE_ACTIONS&quot; value=&quot;,ALPHA_COMPARATOR&quot; /&gt;
 5   &lt;/component&gt;
 6   &lt;component name=&quot;antWorkspaceConfiguration&quot;&gt;
 7     &lt;option name=&quot;IS_AUTOSCROLL_TO_SOURCE&quot; value=&quot;false&quot; /&gt;
 8     &lt;option name=&quot;FILTER_TARGETS&quot; value=&quot;false&quot; /&gt;
 9     &lt;buildFile url=&quot;file://$PROJECT_DIR$/make/ide/idea/langtools/build.xml&quot;&gt;
10       &lt;runInBackground value=&quot;false&quot; /&gt;
11       &lt;targetFilters&gt;
12         &lt;filter targetName=&quot;build-all-tools&quot; isVisible=&quot;true&quot; /&gt;
13         &lt;filter targetName=&quot;build-all-classes&quot; isVisible=&quot;true&quot; /&gt;
14         &lt;filter targetName=&quot;clean&quot; isVisible=&quot;true&quot; /&gt;
15         &lt;filter targetName=&quot;crules&quot; isVisible=&quot;true&quot; /&gt;
16       &lt;/targetFilters&gt;
17       &lt;viewClosedWhenNoErrors value=&quot;true&quot; /&gt;
18       &lt;expanded value=&quot;false&quot; /&gt;
19       &lt;treeView value=&quot;false&quot; /&gt;
20     &lt;/buildFile&gt;
21   &lt;/component&gt;
22 &lt;/project&gt;
    </pre>
  </body>
</html>