<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockMarginCollapse.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="BlockFormattingState.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../displaytree/DisplayBox.cpp.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/blockformatting/BlockMarginCollapse.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 26,10 ***</span>
<span class="line-new-header">--- 26,12 ---</span>
  #include &quot;config.h&quot;
  #include &quot;BlockFormattingContext.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
<span class="line-added">+ #include &quot;BlockFormattingState.h&quot;</span>
<span class="line-added">+ #include &quot;FloatingState.h&quot;</span>
  #include &quot;InlineFormattingState.h&quot;
  #include &quot;LayoutBox.h&quot;
  #include &quot;LayoutContainer.h&quot;
  #include &quot;LayoutUnit.h&quot;
  #include &quot;RenderStyle.h&quot;
</pre>
<hr />
<pre>
<span class="line-old-header">*** 68,51 ***</span>
  static bool hasPaddingAfter(const Box&amp; layoutBox)
  {
      return hasPadding(layoutBox.style().paddingAfter());
  }
  
<span class="line-removed">- static bool hasClearance(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
<span class="line-removed">- {</span>
<span class="line-removed">-     if (!layoutBox.hasFloatClear())</span>
<span class="line-removed">-         return false;</span>
<span class="line-removed">-     return layoutState.displayBoxForLayoutBox(layoutBox).hasClearance();</span>
<span class="line-removed">- }</span>
<span class="line-removed">- </span>
  static bool establishesBlockFormattingContext(const Box&amp; layoutBox)
  {
      // WebKit treats the document element renderer as a block formatting context root. It probably only impacts margin collapsing, so let&#39;s not do
      // a layout wide quirk on this for now.
      if (layoutBox.isDocumentBox())
          return true;
      return layoutBox.establishesBlockFormattingContext();
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginBeforeCollapsesWithParentMarginAfter(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      // 1. This is the last in-flow child and its margins collapse through and the margin after collapses with parent&#39;s margin after or
      // 2. This box&#39;s margin after collapses with the next sibling&#39;s margin before and that sibling collapses through and
      // we can get to the last in-flow child like that.
      auto* lastInFlowChild = layoutBox.parent()-&gt;lastInFlowChild();
      for (auto* currentBox = &amp;layoutBox; currentBox; currentBox = currentBox-&gt;nextInFlowSibling()) {
<span class="line-modified">!         if (!marginsCollapseThrough(layoutState, *currentBox))</span>
              return false;
          if (currentBox == lastInFlowChild)
<span class="line-modified">!             return marginAfterCollapsesWithParentMarginAfter(layoutState, *currentBox);</span>
<span class="line-modified">!         if (!marginAfterCollapsesWithNextSiblingMarginBefore(layoutState, *currentBox))</span>
              return false;
      }
      ASSERT_NOT_REACHED();
      return false;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginBeforeCollapsesWithParentMarginBefore(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      // The first inflow child could propagate its top margin to parent.
      // https://www.w3.org/TR/CSS21/box.html#collapsing-margins
<span class="line-removed">-     if (layoutBox.isAnonymous())</span>
<span class="line-removed">-         return false;</span>
<span class="line-removed">- </span>
      ASSERT(layoutBox.isBlockLevelBox());
  
      // Margins between a floated box and any other box do not collapse.
      if (layoutBox.isFloatingPositioned())
          return false;
<span class="line-new-header">--- 70,52 ---</span>
  static bool hasPaddingAfter(const Box&amp; layoutBox)
  {
      return hasPadding(layoutBox.style().paddingAfter());
  }
  
  static bool establishesBlockFormattingContext(const Box&amp; layoutBox)
  {
      // WebKit treats the document element renderer as a block formatting context root. It probably only impacts margin collapsing, so let&#39;s not do
      // a layout wide quirk on this for now.
      if (layoutBox.isDocumentBox())
          return true;
      return layoutBox.establishesBlockFormattingContext();
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::hasClearance(const Box&amp; layoutBox) const</span>
<span class="line-added">+ {</span>
<span class="line-added">+     if (!layoutBox.hasFloatClear())</span>
<span class="line-added">+         return false;</span>
<span class="line-added">+     // FIXME: precomputedVerticalPositionForFormattingRoot logic ends up calling into this function when the layoutBox (first inflow child) has</span>
<span class="line-added">+     // not been laid out.</span>
<span class="line-added">+     if (!layoutState().hasDisplayBox(layoutBox))</span>
<span class="line-added">+         return false;</span>
<span class="line-added">+     return formattingContext().geometryForBox(layoutBox).hasClearance();</span>
<span class="line-added">+ }</span>
<span class="line-added">+ </span>
<span class="line-added">+ bool BlockFormattingContext::MarginCollapse::marginBeforeCollapsesWithParentMarginAfter(const Box&amp; layoutBox) const</span>
  {
      // 1. This is the last in-flow child and its margins collapse through and the margin after collapses with parent&#39;s margin after or
      // 2. This box&#39;s margin after collapses with the next sibling&#39;s margin before and that sibling collapses through and
      // we can get to the last in-flow child like that.
      auto* lastInFlowChild = layoutBox.parent()-&gt;lastInFlowChild();
      for (auto* currentBox = &amp;layoutBox; currentBox; currentBox = currentBox-&gt;nextInFlowSibling()) {
<span class="line-modified">!         if (!marginsCollapseThrough(*currentBox))</span>
              return false;
          if (currentBox == lastInFlowChild)
<span class="line-modified">!             return marginAfterCollapsesWithParentMarginAfter(*currentBox);</span>
<span class="line-modified">!         if (!marginAfterCollapsesWithNextSiblingMarginBefore(*currentBox))</span>
              return false;
      }
      ASSERT_NOT_REACHED();
      return false;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginBeforeCollapsesWithParentMarginBefore(const Box&amp; layoutBox) const</span>
  {
      // The first inflow child could propagate its top margin to parent.
      // https://www.w3.org/TR/CSS21/box.html#collapsing-margins
      ASSERT(layoutBox.isBlockLevelBox());
  
      // Margins between a floated box and any other box do not collapse.
      if (layoutBox.isFloatingPositioned())
          return false;
</pre>
<hr />
<pre>
<span class="line-old-header">*** 139,30 ***</span>
  
      if (hasPaddingBefore(parent))
          return false;
  
      // ...and the child has no clearance.
<span class="line-modified">!     if (hasClearance(layoutState, layoutBox))</span>
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginBeforeCollapsesWithPreviousSiblingMarginAfter(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
<span class="line-removed">-     if (layoutBox.isAnonymous())</span>
<span class="line-removed">-         return false;</span>
<span class="line-removed">- </span>
      if (!layoutBox.previousInFlowSibling())
          return false;
  
      auto&amp; previousInFlowSibling = *layoutBox.previousInFlowSibling();
<span class="line-removed">-     if (previousInFlowSibling.isAnonymous())</span>
<span class="line-removed">-         return false;</span>
<span class="line-removed">- </span>
      // Margins between a floated box and any other box do not collapse.
      if (layoutBox.isFloatingPositioned() || previousInFlowSibling.isFloatingPositioned())
          return false;
  
      // Margins of absolutely positioned boxes do not collapse.
<span class="line-new-header">--- 142,24 ---</span>
  
      if (hasPaddingBefore(parent))
          return false;
  
      // ...and the child has no clearance.
<span class="line-modified">!     if (hasClearance(layoutBox))</span>
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginBeforeCollapsesWithPreviousSiblingMarginAfter(const Box&amp; layoutBox) const</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
      if (!layoutBox.previousInFlowSibling())
          return false;
  
      auto&amp; previousInFlowSibling = *layoutBox.previousInFlowSibling();
      // Margins between a floated box and any other box do not collapse.
      if (layoutBox.isFloatingPositioned() || previousInFlowSibling.isFloatingPositioned())
          return false;
  
      // Margins of absolutely positioned boxes do not collapse.
</pre>
<hr />
<pre>
<span class="line-old-header">*** 174,21 ***</span>
      if (layoutBox.isInlineBlockBox() || previousInFlowSibling.isInlineBlockBox())
          return false;
  
      // The bottom margin of an in-flow block-level element always collapses with the top margin of
      // its next in-flow block-level sibling, unless that sibling has clearance.
<span class="line-modified">!     if (hasClearance(layoutState, layoutBox))</span>
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginBeforeCollapsesWithFirstInFlowChildMarginBefore(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
<span class="line-removed">-     if (layoutBox.isAnonymous())</span>
<span class="line-removed">-         return false;</span>
<span class="line-removed">- </span>
      ASSERT(layoutBox.isBlockLevelBox());
      // Margins of elements that establish new block formatting contexts do not collapse with their in-flow children.
      if (establishesBlockFormattingContext(layoutBox))
          return false;
  
<span class="line-new-header">--- 171,18 ---</span>
      if (layoutBox.isInlineBlockBox() || previousInFlowSibling.isInlineBlockBox())
          return false;
  
      // The bottom margin of an in-flow block-level element always collapses with the top margin of
      // its next in-flow block-level sibling, unless that sibling has clearance.
<span class="line-modified">!     if (hasClearance(layoutBox))</span>
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginBeforeCollapsesWithFirstInFlowChildMarginBefore(const Box&amp; layoutBox) const</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
      // Margins of elements that establish new block formatting contexts do not collapse with their in-flow children.
      if (establishesBlockFormattingContext(layoutBox))
          return false;
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 207,59 ***</span>
      auto&amp; firstInFlowChild = *downcast&lt;Container&gt;(layoutBox).firstInFlowChild();
      if (!firstInFlowChild.isBlockLevelBox())
          return false;
  
      // ...and the child has no clearance.
<span class="line-modified">!     if (hasClearance(layoutState, firstInFlowChild))</span>
          return false;
  
      // Margins of inline-block boxes do not collapse.
      if (firstInFlowChild.isInlineBlockBox())
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithSiblingMarginBeforeWithClearance(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      // If the top and bottom margins of an element with clearance are adjoining, its margins collapse with the adjoining margins
      // of following siblings but that resulting margin does not collapse with the bottom margin of the parent block.
<span class="line-modified">!     if (!marginsCollapseThrough(layoutState, layoutBox))</span>
          return false;
  
      for (auto* previousSibling = layoutBox.previousInFlowSibling(); previousSibling; previousSibling = previousSibling-&gt;previousInFlowSibling()) {
<span class="line-modified">!         if (!marginsCollapseThrough(layoutState, *previousSibling))</span>
              return false;
<span class="line-modified">!         if (hasClearance(layoutState, *previousSibling))</span>
              return true;
      }
      return false;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithParentMarginBefore(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      // 1. This is the first in-flow child and its margins collapse through and the margin before collapses with parent&#39;s margin before or
      // 2. This box&#39;s margin before collapses with the previous sibling&#39;s margin after and that sibling collapses through and
      // we can get to the first in-flow child like that.
      auto* firstInFlowChild = layoutBox.parent()-&gt;firstInFlowChild();
      for (auto* currentBox = &amp;layoutBox; currentBox; currentBox = currentBox-&gt;previousInFlowSibling()) {
<span class="line-modified">!         if (!marginsCollapseThrough(layoutState, *currentBox))</span>
              return false;
          if (currentBox == firstInFlowChild)
<span class="line-modified">!             return marginBeforeCollapsesWithParentMarginBefore(layoutState, *currentBox);</span>
<span class="line-modified">!         if (!marginBeforeCollapsesWithPreviousSiblingMarginAfter(layoutState, *currentBox))</span>
              return false;
      }
      ASSERT_NOT_REACHED();
      return false;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithParentMarginAfter(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
<span class="line-removed">-     if (layoutBox.isAnonymous())</span>
<span class="line-removed">-         return false;</span>
<span class="line-removed">- </span>
      ASSERT(layoutBox.isBlockLevelBox());
  
      // Margins between a floated box and any other box do not collapse.
      if (layoutBox.isFloatingPositioned())
          return false;
<span class="line-new-header">--- 201,56 ---</span>
      auto&amp; firstInFlowChild = *downcast&lt;Container&gt;(layoutBox).firstInFlowChild();
      if (!firstInFlowChild.isBlockLevelBox())
          return false;
  
      // ...and the child has no clearance.
<span class="line-modified">!     if (hasClearance(firstInFlowChild))</span>
          return false;
  
      // Margins of inline-block boxes do not collapse.
      if (firstInFlowChild.isInlineBlockBox())
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithSiblingMarginBeforeWithClearance(const Box&amp; layoutBox) const</span>
  {
      // If the top and bottom margins of an element with clearance are adjoining, its margins collapse with the adjoining margins
      // of following siblings but that resulting margin does not collapse with the bottom margin of the parent block.
<span class="line-modified">!     if (!marginsCollapseThrough(layoutBox))</span>
          return false;
  
      for (auto* previousSibling = layoutBox.previousInFlowSibling(); previousSibling; previousSibling = previousSibling-&gt;previousInFlowSibling()) {
<span class="line-modified">!         if (!marginsCollapseThrough(*previousSibling))</span>
              return false;
<span class="line-modified">!         if (hasClearance(*previousSibling))</span>
              return true;
      }
      return false;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithParentMarginBefore(const Box&amp; layoutBox) const</span>
  {
      // 1. This is the first in-flow child and its margins collapse through and the margin before collapses with parent&#39;s margin before or
      // 2. This box&#39;s margin before collapses with the previous sibling&#39;s margin after and that sibling collapses through and
      // we can get to the first in-flow child like that.
      auto* firstInFlowChild = layoutBox.parent()-&gt;firstInFlowChild();
      for (auto* currentBox = &amp;layoutBox; currentBox; currentBox = currentBox-&gt;previousInFlowSibling()) {
<span class="line-modified">!         if (!marginsCollapseThrough(*currentBox))</span>
              return false;
          if (currentBox == firstInFlowChild)
<span class="line-modified">!             return marginBeforeCollapsesWithParentMarginBefore(*currentBox);</span>
<span class="line-modified">!         if (!marginBeforeCollapsesWithPreviousSiblingMarginAfter(*currentBox))</span>
              return false;
      }
      ASSERT_NOT_REACHED();
      return false;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithParentMarginAfter(const Box&amp; layoutBox) const</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
      // Margins between a floated box and any other box do not collapse.
      if (layoutBox.isFloatingPositioned())
          return false;
</pre>
<hr />
<pre>
<span class="line-old-header">*** 292,22 ***</span>
      // the box has no bottom border, and
      if (hasBorderAfter(parent))
          return false;
  
      // the child&#39;s bottom margin neither collapses with a top margin that has clearance...
<span class="line-modified">!     if (marginAfterCollapsesWithSiblingMarginBeforeWithClearance(layoutState, layoutBox))</span>
          return false;
  
      // nor (if the box&#39;s min-height is non-zero) with the box&#39;s top margin.
      auto computedMinHeight = parent.style().logicalMinHeight();
<span class="line-modified">!     if (!computedMinHeight.isAuto() &amp;&amp; computedMinHeight.value() &amp;&amp; marginAfterCollapsesWithParentMarginBefore(layoutState, layoutBox))</span>
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithLastInFlowChildMarginAfter(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
      // Margins of elements that establish new block formatting contexts do not collapse with their in-flow children.
      if (establishesBlockFormattingContext(layoutBox))
<span class="line-new-header">--- 283,22 ---</span>
      // the box has no bottom border, and
      if (hasBorderAfter(parent))
          return false;
  
      // the child&#39;s bottom margin neither collapses with a top margin that has clearance...
<span class="line-modified">!     if (marginAfterCollapsesWithSiblingMarginBeforeWithClearance(layoutBox))</span>
          return false;
  
      // nor (if the box&#39;s min-height is non-zero) with the box&#39;s top margin.
      auto computedMinHeight = parent.style().logicalMinHeight();
<span class="line-modified">!     if (!computedMinHeight.isAuto() &amp;&amp; computedMinHeight.value() &amp;&amp; marginAfterCollapsesWithParentMarginBefore(layoutBox))</span>
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithLastInFlowChildMarginAfter(const Box&amp; layoutBox) const</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
      // Margins of elements that establish new block formatting contexts do not collapse with their in-flow children.
      if (establishesBlockFormattingContext(layoutBox))
</pre>
<hr />
<pre>
<span class="line-old-header">*** 331,37 ***</span>
      // the box has no bottom border, and
      if (hasBorderAfter(layoutBox))
          return false;
  
      // the child&#39;s bottom margin neither collapses with a top margin that has clearance...
<span class="line-modified">!     if (marginAfterCollapsesWithSiblingMarginBeforeWithClearance(layoutState, lastInFlowChild))</span>
          return false;
  
      // nor (if the box&#39;s min-height is non-zero) with the box&#39;s top margin.
      auto computedMinHeight = layoutBox.style().logicalMinHeight();
      if (!computedMinHeight.isAuto() &amp;&amp; computedMinHeight.value()
<span class="line-modified">!         &amp;&amp; (marginAfterCollapsesWithParentMarginBefore(layoutState, lastInFlowChild) || hasClearance(layoutState, lastInFlowChild)))</span>
          return false;
  
      // Margins of inline-block boxes do not collapse.
      if (lastInFlowChild.isInlineBlockBox())
          return false;
  
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithNextSiblingMarginBefore(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
      if (!layoutBox.nextInFlowSibling())
          return false;
  
<span class="line-modified">!     return marginBeforeCollapsesWithPreviousSiblingMarginAfter(layoutState, *layoutBox.nextInFlowSibling());</span>
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginsCollapseThrough(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
      // A box&#39;s own margins collapse if the &#39;min-height&#39; property is zero, and it has neither top or bottom borders nor top or bottom padding,
      // and it has a &#39;height&#39; of either 0 or &#39;auto&#39;, and it does not contain a line box, and all of its in-flow children&#39;s margins (if any) collapse.
<span class="line-new-header">--- 322,42 ---</span>
      // the box has no bottom border, and
      if (hasBorderAfter(layoutBox))
          return false;
  
      // the child&#39;s bottom margin neither collapses with a top margin that has clearance...
<span class="line-modified">!     if (marginAfterCollapsesWithSiblingMarginBeforeWithClearance(lastInFlowChild))</span>
          return false;
  
      // nor (if the box&#39;s min-height is non-zero) with the box&#39;s top margin.
      auto computedMinHeight = layoutBox.style().logicalMinHeight();
      if (!computedMinHeight.isAuto() &amp;&amp; computedMinHeight.value()
<span class="line-modified">!         &amp;&amp; (marginAfterCollapsesWithParentMarginBefore(lastInFlowChild) || hasClearance(lastInFlowChild)))</span>
          return false;
  
      // Margins of inline-block boxes do not collapse.
      if (lastInFlowChild.isInlineBlockBox())
          return false;
  
<span class="line-added">+     // This is a quirk behavior: When the margin after of the last inflow child (or a previous sibling with collapsed through margins)</span>
<span class="line-added">+     // collapses with a quirk parent&#39;s the margin before, then the same margin after does not collapses with the parent&#39;s margin after.</span>
<span class="line-added">+     if (formattingContext().quirks().shouldIgnoreCollapsedQuirkMargin(layoutBox) &amp;&amp; marginAfterCollapsesWithParentMarginBefore(lastInFlowChild))</span>
<span class="line-added">+         return false;</span>
<span class="line-added">+ </span>
      return true;
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginAfterCollapsesWithNextSiblingMarginBefore(const Box&amp; layoutBox) const</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
      if (!layoutBox.nextInFlowSibling())
          return false;
  
<span class="line-modified">!     return marginBeforeCollapsesWithPreviousSiblingMarginAfter(*layoutBox.nextInFlowSibling());</span>
  }
  
<span class="line-modified">! bool BlockFormattingContext::MarginCollapse::marginsCollapseThrough(const Box&amp; layoutBox) const</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
  
      // A box&#39;s own margins collapse if the &#39;min-height&#39; property is zero, and it has neither top or bottom borders nor top or bottom padding,
      // and it has a &#39;height&#39; of either 0 or &#39;auto&#39;, and it does not contain a line box, and all of its in-flow children&#39;s margins (if any) collapse.
</pre>
<hr />
<pre>
<span class="line-old-header">*** 390,34 ***</span>
      if (!downcast&lt;Container&gt;(layoutBox).hasInFlowChild())
          return !establishesBlockFormattingContext(layoutBox);
  
      if (layoutBox.establishesFormattingContext()) {
          if (layoutBox.establishesInlineFormattingContext()) {
              // If we get here through margin estimation, we don&#39;t necessarily have an actual state for this layout box since
              // we haven&#39;t started laying it out yet.
<span class="line-modified">!             if (!layoutState.hasFormattingState(layoutBox))</span>
<span class="line-modified">!                 return false;</span>
<span class="line-removed">-             auto&amp; formattingState = downcast&lt;InlineFormattingState&gt;(layoutState.establishedFormattingState(layoutBox));</span>
<span class="line-removed">-             if (!formattingState.inlineRuns().isEmpty())</span>
                  return false;
<span class="line-modified">!             // Any float box in this formatting context prevents collapsing through.</span>
<span class="line-modified">!             auto&amp; floats = formattingState.floatingState().floats();</span>
<span class="line-modified">!             for (auto&amp; floatItem : floats) {</span>
<span class="line-modified">!                 if (floatItem.isDescendantOfFormattingRoot(downcast&lt;Container&gt;(layoutBox)))</span>
<span class="line-modified">!                     return false;</span>
<span class="line-modified">!             }</span>
<span class="line-modified">!             return true;</span>
          }
  
          // A root of a non-inline formatting context (table, flex etc) with inflow descendants should not collapse through.
          return false;
      }
  
      for (auto* inflowChild = downcast&lt;Container&gt;(layoutBox).firstInFlowOrFloatingChild(); inflowChild; inflowChild = inflowChild-&gt;nextInFlowOrFloatingSibling()) {
          if (establishesBlockFormattingContext(*inflowChild))
              return false;
<span class="line-modified">!         if (!marginsCollapseThrough(layoutState, *inflowChild))</span>
              return false;
      }
      return true;
  }
  
<span class="line-new-header">--- 386,44 ---</span>
      if (!downcast&lt;Container&gt;(layoutBox).hasInFlowChild())
          return !establishesBlockFormattingContext(layoutBox);
  
      if (layoutBox.establishesFormattingContext()) {
          if (layoutBox.establishesInlineFormattingContext()) {
<span class="line-added">+             auto&amp; layoutState = this-&gt;layoutState();</span>
              // If we get here through margin estimation, we don&#39;t necessarily have an actual state for this layout box since
              // we haven&#39;t started laying it out yet.
<span class="line-modified">!             auto&amp; layoutContainer = downcast&lt;Container&gt;(layoutBox);</span>
<span class="line-modified">!             if (!layoutState.hasInlineFormattingState(layoutContainer))</span>
                  return false;
<span class="line-modified">! </span>
<span class="line-modified">!             auto isConsideredEmpty = [&amp;] {</span>
<span class="line-modified">!                 auto&amp; formattingState = layoutState.establishedInlineFormattingState(layoutContainer);</span>
<span class="line-modified">!                 if (auto* inlineContent = formattingState.displayInlineContent()) {</span>
<span class="line-modified">!                     for (auto&amp; lineBox : inlineContent-&gt;lineBoxes) {</span>
<span class="line-modified">!                         if (!lineBox.isConsideredEmpty())</span>
<span class="line-modified">!                             return false;</span>
<span class="line-added">+                     }</span>
<span class="line-added">+                 }</span>
<span class="line-added">+                 // Any float box in this formatting context prevents collapsing through.</span>
<span class="line-added">+                 auto&amp; floats = formattingState.floatingState().floats();</span>
<span class="line-added">+                 for (auto&amp; floatItem : floats) {</span>
<span class="line-added">+                     if (floatItem.isDescendantOfFormattingRoot(layoutContainer))</span>
<span class="line-added">+                         return false;</span>
<span class="line-added">+                 }</span>
<span class="line-added">+                 return true;</span>
<span class="line-added">+             };</span>
<span class="line-added">+             return isConsideredEmpty();</span>
          }
  
          // A root of a non-inline formatting context (table, flex etc) with inflow descendants should not collapse through.
          return false;
      }
  
      for (auto* inflowChild = downcast&lt;Container&gt;(layoutBox).firstInFlowOrFloatingChild(); inflowChild; inflowChild = inflowChild-&gt;nextInFlowOrFloatingSibling()) {
          if (establishesBlockFormattingContext(*inflowChild))
              return false;
<span class="line-modified">!         if (!marginsCollapseThrough(*inflowChild))</span>
              return false;
      }
      return true;
  }
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 456,38 ***</span>
          return marginValues.negative;
  
      return *marginValues.positive + *marginValues.negative;
  }
  
<span class="line-modified">! void BlockFormattingContext::MarginCollapse::updateMarginAfterForPreviousSibling(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      // 1. Get the margin before value from the next in-flow sibling. This is the same as this box&#39;s margin after value now since they are collapsed.
      // 2. Update the collapsed margin after value as well as the positive/negative cache.
      // 3. Check if the box&#39;s margins collapse through.
<span class="line-modified">!     // 4. If so, update the collapsed margin before value as well as the positive/negative cache.</span>
      // 5. In case of collapsed through margins check if the before margin collapes with the previous inflow sibling&#39;s after margin.
      // 6. If so, jump to #2.
<span class="line-modified">!     // 7. No need to propagate to parent because its margin is not computed yet (estimated at most).</span>
      auto* currentBox = &amp;layoutBox;
<span class="line-modified">!     while (marginBeforeCollapsesWithPreviousSiblingMarginAfter(layoutState, *currentBox)) {</span>
          auto&amp; previousSibling = *currentBox-&gt;previousInFlowSibling();
<span class="line-modified">!         auto&amp; previousSiblingDisplayBox = layoutState.displayBoxForLayoutBox(previousSibling);</span>
          auto previousSiblingVerticalMargin = previousSiblingDisplayBox.verticalMargin();
  
          auto collapsedVerticalMarginBefore = previousSiblingVerticalMargin.collapsedValues().before;
<span class="line-modified">!         auto collapsedVerticalMarginAfter = layoutState.displayBoxForLayoutBox(*currentBox).verticalMargin().before();</span>
  
<span class="line-modified">!         auto marginsCollapseThrough = MarginCollapse::marginsCollapseThrough(layoutState, previousSibling);</span>
          if (marginsCollapseThrough)
              collapsedVerticalMarginBefore = collapsedVerticalMarginAfter;
  
<span class="line-removed">-         // Update collapsed vertical margin values.</span>
<span class="line-removed">-         previousSiblingVerticalMargin.setCollapsedValues({ collapsedVerticalMarginBefore, collapsedVerticalMarginAfter });</span>
<span class="line-removed">-         previousSiblingDisplayBox.setVerticalMargin(previousSiblingVerticalMargin);</span>
<span class="line-removed">- </span>
          // Update positive/negative cache.
<span class="line-removed">-         auto&amp; blockFormattingState = downcast&lt;BlockFormattingState&gt;(layoutState.formattingStateForBox(previousSibling));</span>
          auto previousSiblingPositiveNegativeMargin = blockFormattingState.positiveAndNegativeVerticalMargin(previousSibling);
          auto positiveNegativeMarginBefore = blockFormattingState.positiveAndNegativeVerticalMargin(*currentBox).before;
  
          previousSiblingPositiveNegativeMargin.after = computedPositiveAndNegativeMargin(positiveNegativeMarginBefore, previousSiblingPositiveNegativeMargin.after);
          if (marginsCollapseThrough) {
<span class="line-new-header">--- 462,34 ---</span>
          return marginValues.negative;
  
      return *marginValues.positive + *marginValues.negative;
  }
  
<span class="line-modified">! void BlockFormattingContext::MarginCollapse::updateMarginAfterForPreviousSibling(BlockFormattingContext&amp; blockFormattingContext, const MarginCollapse&amp; marginCollapse, const Box&amp; layoutBox)</span>
  {
      // 1. Get the margin before value from the next in-flow sibling. This is the same as this box&#39;s margin after value now since they are collapsed.
      // 2. Update the collapsed margin after value as well as the positive/negative cache.
      // 3. Check if the box&#39;s margins collapse through.
<span class="line-modified">!     // 4. If so, update the positive/negative cache.</span>
      // 5. In case of collapsed through margins check if the before margin collapes with the previous inflow sibling&#39;s after margin.
      // 6. If so, jump to #2.
<span class="line-modified">!     // 7. No need to propagate to parent because its margin is not computed yet (pre-computed at most).</span>
      auto* currentBox = &amp;layoutBox;
<span class="line-modified">!     auto&amp; blockFormattingState = blockFormattingContext.formattingState();</span>
<span class="line-added">+     while (marginCollapse.marginBeforeCollapsesWithPreviousSiblingMarginAfter(*currentBox)) {</span>
          auto&amp; previousSibling = *currentBox-&gt;previousInFlowSibling();
<span class="line-modified">!         auto&amp; previousSiblingDisplayBox = blockFormattingState.displayBox(previousSibling);</span>
          auto previousSiblingVerticalMargin = previousSiblingDisplayBox.verticalMargin();
  
          auto collapsedVerticalMarginBefore = previousSiblingVerticalMargin.collapsedValues().before;
<span class="line-modified">!         auto collapsedVerticalMarginAfter = blockFormattingContext.geometryForBox(*currentBox).verticalMargin().before();</span>
  
<span class="line-modified">!         auto marginsCollapseThrough = marginCollapse.marginsCollapseThrough(previousSibling);</span>
          if (marginsCollapseThrough)
              collapsedVerticalMarginBefore = collapsedVerticalMarginAfter;
  
          // Update positive/negative cache.
          auto previousSiblingPositiveNegativeMargin = blockFormattingState.positiveAndNegativeVerticalMargin(previousSibling);
          auto positiveNegativeMarginBefore = blockFormattingState.positiveAndNegativeVerticalMargin(*currentBox).before;
  
          previousSiblingPositiveNegativeMargin.after = computedPositiveAndNegativeMargin(positiveNegativeMarginBefore, previousSiblingPositiveNegativeMargin.after);
          if (marginsCollapseThrough) {
</pre>
<hr />
<pre>
<span class="line-old-header">*** 501,46 ***</span>
  
          currentBox = &amp;previousSibling;
      }
  }
  
<span class="line-modified">! PositiveAndNegativeVerticalMargin::Values BlockFormattingContext::MarginCollapse::positiveNegativeValues(const LayoutState&amp; layoutState, const Box&amp; layoutBox, MarginType marginType)</span>
  {
      auto&amp; blockFormattingState = downcast&lt;BlockFormattingState&gt;(layoutState.formattingStateForBox(layoutBox));
      if (blockFormattingState.hasPositiveAndNegativeVerticalMargin(layoutBox)) {
          auto positiveAndNegativeVerticalMargin = blockFormattingState.positiveAndNegativeVerticalMargin(layoutBox);
          return marginType == MarginType::Before ? positiveAndNegativeVerticalMargin.before : positiveAndNegativeVerticalMargin.after;
      }
<span class="line-modified">!     // This is the estimate path. We don&#39;t yet have positive/negative margin computed.</span>
<span class="line-modified">!     auto usedValues = UsedHorizontalValues { layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxWidth() };</span>
<span class="line-removed">-     auto computedVerticalMargin = Geometry::computedVerticalMargin(layoutBox, usedValues);</span>
      auto nonCollapsedMargin = UsedVerticalMargin::NonCollapsedValues { computedVerticalMargin.before.valueOr(0), computedVerticalMargin.after.valueOr(0) };
  
      if (marginType == MarginType::Before)
<span class="line-modified">!         return positiveNegativeMarginBefore(layoutState, layoutBox, nonCollapsedMargin);</span>
<span class="line-modified">!     return positiveNegativeMarginAfter(layoutState, layoutBox, nonCollapsedMargin);</span>
  }
  
<span class="line-modified">! PositiveAndNegativeVerticalMargin::Values BlockFormattingContext::MarginCollapse::positiveNegativeMarginBefore(const LayoutState&amp; layoutState, const Box&amp; layoutBox, const UsedVerticalMargin::NonCollapsedValues&amp; nonCollapsedValues)</span>
  {
      auto firstChildCollapsedMarginBefore = [&amp;]() -&gt; PositiveAndNegativeVerticalMargin::Values {
<span class="line-modified">!         if (!marginBeforeCollapsesWithFirstInFlowChildMarginBefore(layoutState, layoutBox))</span>
              return { };
<span class="line-modified">!         return positiveNegativeValues(layoutState, *downcast&lt;Container&gt;(layoutBox).firstInFlowChild(), MarginType::Before);</span>
      };
  
      auto previouSiblingCollapsedMarginAfter = [&amp;]() -&gt; PositiveAndNegativeVerticalMargin::Values {
<span class="line-modified">!         if (!marginBeforeCollapsesWithPreviousSiblingMarginAfter(layoutState, layoutBox))</span>
              return { };
<span class="line-modified">!         return positiveNegativeValues(layoutState, *layoutBox.previousInFlowSibling(), MarginType::After);</span>
      };
  
      // 1. Gather positive and negative margin values from first child if margins are adjoining.
      // 2. Gather positive and negative margin values from previous inflow sibling if margins are adjoining.
      // 3. Compute min/max positive and negative collapsed margin values using non-collpased computed margin before.
      auto collapsedMarginBefore = computedPositiveAndNegativeMargin(firstChildCollapsedMarginBefore(), previouSiblingCollapsedMarginAfter());
<span class="line-modified">!     if (collapsedMarginBefore.isQuirk &amp;&amp; Quirks::shouldIgnoreCollapsedQuirkMargin(layoutState, layoutBox))</span>
          collapsedMarginBefore = { };
  
      PositiveAndNegativeVerticalMargin::Values nonCollapsedBefore;
      if (nonCollapsedValues.before &gt; 0)
          nonCollapsedBefore = { nonCollapsedValues.before, { }, layoutBox.style().hasMarginBeforeQuirk() };
<span class="line-new-header">--- 503,46 ---</span>
  
          currentBox = &amp;previousSibling;
      }
  }
  
<span class="line-modified">! PositiveAndNegativeVerticalMargin::Values BlockFormattingContext::MarginCollapse::positiveNegativeValues(const Box&amp; layoutBox, MarginType marginType) const</span>
  {
<span class="line-added">+     auto&amp; layoutState = this-&gt;layoutState();</span>
      auto&amp; blockFormattingState = downcast&lt;BlockFormattingState&gt;(layoutState.formattingStateForBox(layoutBox));
      if (blockFormattingState.hasPositiveAndNegativeVerticalMargin(layoutBox)) {
          auto positiveAndNegativeVerticalMargin = blockFormattingState.positiveAndNegativeVerticalMargin(layoutBox);
          return marginType == MarginType::Before ? positiveAndNegativeVerticalMargin.before : positiveAndNegativeVerticalMargin.after;
      }
<span class="line-modified">!     // This is the pre-computed path. We don&#39;t yet have positive/negative margin computed.</span>
<span class="line-modified">!     auto computedVerticalMargin = formattingContext().geometry().computedVerticalMargin(layoutBox, Geometry::horizontalConstraintsForInFlow(formattingContext().geometryForBox(*layoutBox.containingBlock())));</span>
      auto nonCollapsedMargin = UsedVerticalMargin::NonCollapsedValues { computedVerticalMargin.before.valueOr(0), computedVerticalMargin.after.valueOr(0) };
  
      if (marginType == MarginType::Before)
<span class="line-modified">!         return positiveNegativeMarginBefore(layoutBox, nonCollapsedMargin);</span>
<span class="line-modified">!     return positiveNegativeMarginAfter(layoutBox, nonCollapsedMargin);</span>
  }
  
<span class="line-modified">! PositiveAndNegativeVerticalMargin::Values BlockFormattingContext::MarginCollapse::positiveNegativeMarginBefore(const Box&amp; layoutBox, UsedVerticalMargin::NonCollapsedValues nonCollapsedValues) const</span>
  {
      auto firstChildCollapsedMarginBefore = [&amp;]() -&gt; PositiveAndNegativeVerticalMargin::Values {
<span class="line-modified">!         if (!marginBeforeCollapsesWithFirstInFlowChildMarginBefore(layoutBox))</span>
              return { };
<span class="line-modified">!         return positiveNegativeValues(*downcast&lt;Container&gt;(layoutBox).firstInFlowChild(), MarginType::Before);</span>
      };
  
      auto previouSiblingCollapsedMarginAfter = [&amp;]() -&gt; PositiveAndNegativeVerticalMargin::Values {
<span class="line-modified">!         if (!marginBeforeCollapsesWithPreviousSiblingMarginAfter(layoutBox))</span>
              return { };
<span class="line-modified">!         return positiveNegativeValues(*layoutBox.previousInFlowSibling(), MarginType::After);</span>
      };
  
      // 1. Gather positive and negative margin values from first child if margins are adjoining.
      // 2. Gather positive and negative margin values from previous inflow sibling if margins are adjoining.
      // 3. Compute min/max positive and negative collapsed margin values using non-collpased computed margin before.
      auto collapsedMarginBefore = computedPositiveAndNegativeMargin(firstChildCollapsedMarginBefore(), previouSiblingCollapsedMarginAfter());
<span class="line-modified">!     if (collapsedMarginBefore.isQuirk &amp;&amp; formattingContext().quirks().shouldIgnoreCollapsedQuirkMargin(layoutBox))</span>
          collapsedMarginBefore = { };
  
      PositiveAndNegativeVerticalMargin::Values nonCollapsedBefore;
      if (nonCollapsedValues.before &gt; 0)
          nonCollapsedBefore = { nonCollapsedValues.before, { }, layoutBox.style().hasMarginBeforeQuirk() };
</pre>
<hr />
<pre>
<span class="line-old-header">*** 548,95 ***</span>
          nonCollapsedBefore = { { }, nonCollapsedValues.before, layoutBox.style().hasMarginBeforeQuirk() };
  
      return computedPositiveAndNegativeMargin(collapsedMarginBefore, nonCollapsedBefore);
  }
  
<span class="line-modified">! PositiveAndNegativeVerticalMargin::Values BlockFormattingContext::MarginCollapse::positiveNegativeMarginAfter(const LayoutState&amp; layoutState, const Box&amp; layoutBox, const UsedVerticalMargin::NonCollapsedValues&amp; nonCollapsedValues)</span>
  {
      auto lastChildCollapsedMarginAfter = [&amp;]() -&gt; PositiveAndNegativeVerticalMargin::Values {
<span class="line-modified">!         if (!marginAfterCollapsesWithLastInFlowChildMarginAfter(layoutState, layoutBox))</span>
              return { };
<span class="line-modified">!         return positiveNegativeValues(layoutState, *downcast&lt;Container&gt;(layoutBox).lastInFlowChild(), MarginType::After);</span>
      };
  
      // We don&#39;t know yet the margin before value of the next sibling. Let&#39;s just pretend it does not have one and
<span class="line-modified">!     // update it later when we compute the next sibling&#39;s margin before. See updateCollapsedMarginAfter.</span>
      PositiveAndNegativeVerticalMargin::Values nonCollapsedAfter;
      if (nonCollapsedValues.after &gt; 0)
          nonCollapsedAfter = { nonCollapsedValues.after, { }, layoutBox.style().hasMarginAfterQuirk() };
      else if (nonCollapsedValues.after &lt; 0)
          nonCollapsedAfter = { { }, nonCollapsedValues.after, layoutBox.style().hasMarginAfterQuirk() };
  
      return computedPositiveAndNegativeMargin(lastChildCollapsedMarginAfter(), nonCollapsedAfter);
  }
  
<span class="line-modified">! EstimatedMarginBefore BlockFormattingContext::MarginCollapse::estimatedMarginBefore(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
<span class="line-removed">-     if (layoutBox.isAnonymous())</span>
<span class="line-removed">-         return { };</span>
<span class="line-removed">- </span>
      ASSERT(layoutBox.isBlockLevelBox());
<span class="line-modified">!     // Don&#39;t estimate vertical margins for out of flow boxes.</span>
      ASSERT(layoutBox.isInFlow() || layoutBox.isFloatingPositioned());
      ASSERT(!layoutBox.replaced());
  
<span class="line-modified">!     auto usedValues = UsedHorizontalValues { layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).contentBoxWidth() };</span>
<span class="line-modified">!     auto computedVerticalMargin = Geometry::computedVerticalMargin(layoutBox, usedValues);</span>
<span class="line-removed">-     auto nonCollapsedMargin = UsedVerticalMargin::NonCollapsedValues { computedVerticalMargin.before.valueOr(0), computedVerticalMargin.after.valueOr(0) };</span>
<span class="line-removed">-     auto marginsCollapseThrough = MarginCollapse::marginsCollapseThrough(layoutState, layoutBox);</span>
<span class="line-removed">-     auto positiveNegativeMarginBefore = MarginCollapse::positiveNegativeMarginBefore(layoutState, layoutBox, nonCollapsedMargin);</span>
  
      auto collapsedMarginBefore = marginValue(!marginsCollapseThrough ? positiveNegativeMarginBefore
<span class="line-modified">!         : computedPositiveAndNegativeMargin(positiveNegativeMarginBefore, positiveNegativeMarginAfter(layoutState, layoutBox, nonCollapsedMargin)));</span>
  
<span class="line-modified">!     return { nonCollapsedMargin.before, collapsedMarginBefore, marginsCollapseThrough };</span>
  }
  
<span class="line-modified">! LayoutUnit BlockFormattingContext::MarginCollapse::marginBeforeIgnoringCollapsingThrough(const LayoutState&amp; layoutState, const Box&amp; layoutBox, const UsedVerticalMargin::NonCollapsedValues&amp; nonCollapsedValues)</span>
  {
<span class="line-removed">-     ASSERT(!layoutBox.isAnonymous());</span>
      ASSERT(layoutBox.isBlockLevelBox());
<span class="line-modified">!     return marginValue(positiveNegativeMarginBefore(layoutState, layoutBox, nonCollapsedValues)).valueOr(nonCollapsedValues.before);</span>
  }
  
<span class="line-modified">! void BlockFormattingContext::MarginCollapse::updatePositiveNegativeMarginValues(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
<span class="line-modified">!     auto nonCollapsedValues = layoutState.displayBoxForLayoutBox(layoutBox).verticalMargin().nonCollapsedValues();</span>
<span class="line-modified">! </span>
<span class="line-removed">-     auto positiveNegativeMarginBefore = MarginCollapse::positiveNegativeMarginBefore(layoutState, layoutBox, nonCollapsedValues);</span>
<span class="line-removed">-     auto positiveNegativeMarginAfter = MarginCollapse::positiveNegativeMarginAfter(layoutState, layoutBox, nonCollapsedValues);</span>
  
<span class="line-modified">!     if (MarginCollapse::marginsCollapseThrough(layoutState, layoutBox)) {</span>
          positiveNegativeMarginBefore = computedPositiveAndNegativeMargin(positiveNegativeMarginBefore, positiveNegativeMarginAfter);
          positiveNegativeMarginAfter = positiveNegativeMarginBefore;
      }
<span class="line-modified">!     auto&amp; blockFormattingState = downcast&lt;BlockFormattingState&gt;(layoutState.formattingStateForBox(layoutBox));</span>
<span class="line-removed">-     blockFormattingState.setPositiveAndNegativeVerticalMargin(layoutBox, { positiveNegativeMarginBefore, positiveNegativeMarginAfter });</span>
  }
  
<span class="line-modified">! UsedVerticalMargin::CollapsedValues BlockFormattingContext::MarginCollapse::collapsedVerticalValues(const LayoutState&amp; layoutState, const Box&amp; layoutBox, const UsedVerticalMargin::NonCollapsedValues&amp; nonCollapsedValues)</span>
  {
<span class="line-removed">-     if (layoutBox.isAnonymous())</span>
<span class="line-removed">-         return { };</span>
<span class="line-removed">- </span>
      ASSERT(layoutBox.isBlockLevelBox());
      // 1. Get min/max margin top values from the first in-flow child if we are collapsing margin top with it.
      // 2. Get min/max margin top values from the previous in-flow sibling, if we are collapsing margin top with it.
      // 3. Get this layout box&#39;s computed margin top value.
      // 4. Update the min/max value and compute the final margin.
<span class="line-modified">!     auto positiveNegativeMarginBefore = MarginCollapse::positiveNegativeMarginBefore(layoutState, layoutBox, nonCollapsedValues);</span>
<span class="line-modified">!     auto positiveNegativeMarginAfter = MarginCollapse::positiveNegativeMarginAfter(layoutState, layoutBox, nonCollapsedValues);</span>
  
<span class="line-modified">!     auto marginsCollapseThrough = MarginCollapse::marginsCollapseThrough(layoutState, layoutBox);</span>
      if (marginsCollapseThrough) {
          positiveNegativeMarginBefore = computedPositiveAndNegativeMargin(positiveNegativeMarginBefore, positiveNegativeMarginAfter);
          positiveNegativeMarginAfter = positiveNegativeMarginBefore;
      }
  
<span class="line-modified">!     auto beforeMarginIsCollapsedValue = marginBeforeCollapsesWithFirstInFlowChildMarginBefore(layoutState, layoutBox) || marginBeforeCollapsesWithPreviousSiblingMarginAfter(layoutState, layoutBox);</span>
<span class="line-modified">!     auto afterMarginIsCollapsedValue = marginAfterCollapsesWithLastInFlowChildMarginAfter(layoutState, layoutBox);</span>
  
      if ((beforeMarginIsCollapsedValue &amp;&amp; afterMarginIsCollapsedValue) || marginsCollapseThrough)
          return { marginValue(positiveNegativeMarginBefore), marginValue(positiveNegativeMarginAfter), marginsCollapseThrough };
      if (beforeMarginIsCollapsedValue)
          return { marginValue(positiveNegativeMarginBefore), { }, false };
<span class="line-new-header">--- 550,82 ---</span>
          nonCollapsedBefore = { { }, nonCollapsedValues.before, layoutBox.style().hasMarginBeforeQuirk() };
  
      return computedPositiveAndNegativeMargin(collapsedMarginBefore, nonCollapsedBefore);
  }
  
<span class="line-modified">! PositiveAndNegativeVerticalMargin::Values BlockFormattingContext::MarginCollapse::positiveNegativeMarginAfter(const Box&amp; layoutBox, UsedVerticalMargin::NonCollapsedValues nonCollapsedValues) const</span>
  {
      auto lastChildCollapsedMarginAfter = [&amp;]() -&gt; PositiveAndNegativeVerticalMargin::Values {
<span class="line-modified">!         if (!marginAfterCollapsesWithLastInFlowChildMarginAfter(layoutBox))</span>
              return { };
<span class="line-modified">!         return positiveNegativeValues(*downcast&lt;Container&gt;(layoutBox).lastInFlowChild(), MarginType::After);</span>
      };
  
      // We don&#39;t know yet the margin before value of the next sibling. Let&#39;s just pretend it does not have one and
<span class="line-modified">!     // update it later when we compute the next sibling&#39;s margin before. See updateMarginAfterForPreviousSibling.</span>
      PositiveAndNegativeVerticalMargin::Values nonCollapsedAfter;
      if (nonCollapsedValues.after &gt; 0)
          nonCollapsedAfter = { nonCollapsedValues.after, { }, layoutBox.style().hasMarginAfterQuirk() };
      else if (nonCollapsedValues.after &lt; 0)
          nonCollapsedAfter = { { }, nonCollapsedValues.after, layoutBox.style().hasMarginAfterQuirk() };
  
      return computedPositiveAndNegativeMargin(lastChildCollapsedMarginAfter(), nonCollapsedAfter);
  }
  
<span class="line-modified">! PrecomputedMarginBefore BlockFormattingContext::MarginCollapse::precomputedMarginBefore(const Box&amp; layoutBox, UsedVerticalMargin::NonCollapsedValues usedNonCollapsedMargin)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
<span class="line-modified">!     // Don&#39;t pre-compute vertical margins for out of flow boxes.</span>
      ASSERT(layoutBox.isInFlow() || layoutBox.isFloatingPositioned());
      ASSERT(!layoutBox.replaced());
  
<span class="line-modified">!     auto marginsCollapseThrough = this-&gt;marginsCollapseThrough(layoutBox);</span>
<span class="line-modified">!     auto positiveNegativeMarginBefore = this-&gt;positiveNegativeMarginBefore(layoutBox, usedNonCollapsedMargin);</span>
  
      auto collapsedMarginBefore = marginValue(!marginsCollapseThrough ? positiveNegativeMarginBefore
<span class="line-modified">!         : computedPositiveAndNegativeMargin(positiveNegativeMarginBefore, positiveNegativeMarginAfter(layoutBox, usedNonCollapsedMargin)));</span>
  
<span class="line-modified">!     return { usedNonCollapsedMargin.before, collapsedMarginBefore, marginsCollapseThrough };</span>
  }
  
<span class="line-modified">! LayoutUnit BlockFormattingContext::MarginCollapse::marginBeforeIgnoringCollapsingThrough(const Box&amp; layoutBox, UsedVerticalMargin::NonCollapsedValues nonCollapsedValues)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
<span class="line-modified">!     return marginValue(positiveNegativeMarginBefore(layoutBox, nonCollapsedValues)).valueOr(nonCollapsedValues.before);</span>
  }
  
<span class="line-modified">! PositiveAndNegativeVerticalMargin BlockFormattingContext::MarginCollapse::resolvedPositiveNegativeMarginValues(const Box&amp; layoutBox, const UsedVerticalMargin::NonCollapsedValues&amp; nonCollapsedValues)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
<span class="line-modified">!     auto positiveNegativeMarginBefore = this-&gt;positiveNegativeMarginBefore(layoutBox, nonCollapsedValues);</span>
<span class="line-modified">!     auto positiveNegativeMarginAfter = this-&gt;positiveNegativeMarginAfter(layoutBox, nonCollapsedValues);</span>
  
<span class="line-modified">!     if (marginsCollapseThrough(layoutBox)) {</span>
          positiveNegativeMarginBefore = computedPositiveAndNegativeMargin(positiveNegativeMarginBefore, positiveNegativeMarginAfter);
          positiveNegativeMarginAfter = positiveNegativeMarginBefore;
      }
<span class="line-modified">!     return { positiveNegativeMarginBefore, positiveNegativeMarginAfter };</span>
  }
  
<span class="line-modified">! UsedVerticalMargin::CollapsedValues BlockFormattingContext::MarginCollapse::collapsedVerticalValues(const Box&amp; layoutBox, UsedVerticalMargin::NonCollapsedValues nonCollapsedValues)</span>
  {
      ASSERT(layoutBox.isBlockLevelBox());
      // 1. Get min/max margin top values from the first in-flow child if we are collapsing margin top with it.
      // 2. Get min/max margin top values from the previous in-flow sibling, if we are collapsing margin top with it.
      // 3. Get this layout box&#39;s computed margin top value.
      // 4. Update the min/max value and compute the final margin.
<span class="line-modified">!     auto positiveNegativeMarginBefore = this-&gt;positiveNegativeMarginBefore(layoutBox, nonCollapsedValues);</span>
<span class="line-modified">!     auto positiveNegativeMarginAfter = this-&gt;positiveNegativeMarginAfter(layoutBox, nonCollapsedValues);</span>
  
<span class="line-modified">!     auto marginsCollapseThrough = this-&gt;marginsCollapseThrough(layoutBox);</span>
      if (marginsCollapseThrough) {
          positiveNegativeMarginBefore = computedPositiveAndNegativeMargin(positiveNegativeMarginBefore, positiveNegativeMarginAfter);
          positiveNegativeMarginAfter = positiveNegativeMarginBefore;
      }
  
<span class="line-modified">!     auto beforeMarginIsCollapsedValue = marginBeforeCollapsesWithFirstInFlowChildMarginBefore(layoutBox) || marginBeforeCollapsesWithPreviousSiblingMarginAfter(layoutBox);</span>
<span class="line-modified">!     auto afterMarginIsCollapsedValue = marginAfterCollapsesWithLastInFlowChildMarginAfter(layoutBox);</span>
  
      if ((beforeMarginIsCollapsedValue &amp;&amp; afterMarginIsCollapsedValue) || marginsCollapseThrough)
          return { marginValue(positiveNegativeMarginBefore), marginValue(positiveNegativeMarginAfter), marginsCollapseThrough };
      if (beforeMarginIsCollapsedValue)
          return { marginValue(positiveNegativeMarginBefore), { }, false };
</pre>
<center><a href="BlockFormattingState.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../displaytree/DisplayBox.cpp.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>