<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff modules/javafx.web/src/main/native/Source/WebCore/layout/FormattingContext.h</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FormattingContext.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="FormattingContextGeometry.cpp.udiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/FormattingContext.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -48,21 +48,27 @@</span>
  public:
      FormattingContext(const Box&amp; formattingContextRoot, FormattingState&amp;);
      virtual ~FormattingContext();
  
      virtual void layout() const = 0;
<span class="udiff-line-modified-removed">-     void layoutOutOfFlowDescendants(const Box&amp;) const;</span>
<span class="udiff-line-modified-added">+     void layoutOutOfFlowContent() const;</span>
  
      struct IntrinsicWidthConstraints {
<span class="udiff-line-added">+         void expand(LayoutUnit horizontalValue);</span>
<span class="udiff-line-added">+         IntrinsicWidthConstraints&amp; operator+=(const IntrinsicWidthConstraints&amp;);</span>
<span class="udiff-line-added">+ </span>
          LayoutUnit minimum;
          LayoutUnit maximum;
      };
<span class="udiff-line-modified-removed">-     virtual void computeIntrinsicWidthConstraints() const = 0;</span>
<span class="udiff-line-modified-added">+     virtual IntrinsicWidthConstraints computedIntrinsicWidthConstraints() const = 0;</span>
  
      static Display::Box mapBoxToAncestor(const LayoutState&amp;, const Box&amp;, const Container&amp; ancestor);
      static LayoutUnit mapTopToAncestor(const LayoutState&amp;, const Box&amp;, const Container&amp; ancestor);
<span class="udiff-line-modified-removed">-     static Point mapCoordinateToAncestor(const LayoutState&amp;, Point, const Container&amp; containingBlock, const Container&amp; ancestor);</span>
<span class="udiff-line-modified-added">+     static LayoutUnit mapLeftToAncestor(const LayoutState&amp;, const Box&amp;, const Container&amp; ancestor);</span>
<span class="udiff-line-added">+     static LayoutUnit mapRightToAncestor(const LayoutState&amp;, const Box&amp;, const Container&amp; ancestor);</span>
<span class="udiff-line-added">+     static Point mapPointToAncestor(const LayoutState&amp;, Point, const Container&amp; from, const Container&amp; to);</span>
<span class="udiff-line-added">+     static Point mapPointToDescendent(const LayoutState&amp;, Point, const Container&amp; from, const Container&amp; to);</span>
  
  protected:
      using LayoutQueue = Vector&lt;const Box*&gt;;
  
      LayoutState&amp; layoutState() const;
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -104,10 +110,12 @@</span>
          static Optional&lt;LayoutUnit&gt; computedMinHeight(const LayoutState&amp;, const Box&amp;);
          static Optional&lt;LayoutUnit&gt; computedMaxHeight(const LayoutState&amp;, const Box&amp;);
  
          static FormattingContext::IntrinsicWidthConstraints constrainByMinMaxWidth(const Box&amp;, IntrinsicWidthConstraints);
  
<span class="udiff-line-added">+         static LayoutUnit contentHeightForFormattingContextRoot(const LayoutState&amp;, const Box&amp;);</span>
<span class="udiff-line-added">+ </span>
      protected:
          enum class HeightType { Min, Max, Normal };
          static Optional&lt;LayoutUnit&gt; computedHeightValue(const LayoutState&amp;, const Box&amp;, HeightType);
  
      private:
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -134,8 +142,21 @@</span>
  
      WeakPtr&lt;const Box&gt; m_root;
      FormattingState&amp; m_formattingState;
  };
  
<span class="udiff-line-added">+ inline void FormattingContext::IntrinsicWidthConstraints::expand(LayoutUnit horizontalValue)</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     minimum += horizontalValue;</span>
<span class="udiff-line-added">+     maximum += horizontalValue;</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
<span class="udiff-line-added">+ inline FormattingContext::IntrinsicWidthConstraints&amp; FormattingContext::IntrinsicWidthConstraints::operator+=(const IntrinsicWidthConstraints&amp; other)</span>
<span class="udiff-line-added">+ {</span>
<span class="udiff-line-added">+     minimum += other.minimum;</span>
<span class="udiff-line-added">+     maximum += other.maximum;</span>
<span class="udiff-line-added">+     return *this;</span>
<span class="udiff-line-added">+ }</span>
<span class="udiff-line-added">+ </span>
  }
  }
  #endif
</pre>
<center><a href="FormattingContext.cpp.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="FormattingContextGeometry.cpp.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>