<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutUnits.h</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="LayoutState.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="Verification.cpp.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutUnits.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 57,10 ***</span>
<span class="line-new-header">--- 57,13 ---</span>
      LayoutUnit y; // top
  
      Point() = default;
      Point(LayoutUnit, LayoutUnit);
      Point(LayoutPoint);
<span class="line-added">+     static Point max() { return { LayoutUnit::max(), LayoutUnit::max() }; }</span>
<span class="line-added">+ </span>
<span class="line-added">+     void move(LayoutSize);</span>
      void moveBy(LayoutPoint);
      operator LayoutPoint() const { return { x, y }; }
  };
  
  // FIXME: Wrap these into structs.
</pre>
<hr />
<pre>
<span class="line-old-header">*** 77,10 ***</span>
<span class="line-new-header">--- 80,16 ---</span>
      : x(x)
      , y(y)
  {
  }
  
<span class="line-added">+ inline void Point::move(LayoutSize offset)</span>
<span class="line-added">+ {</span>
<span class="line-added">+     x += offset.width();</span>
<span class="line-added">+     y += offset.height();</span>
<span class="line-added">+ }</span>
<span class="line-added">+ </span>
  inline void Point::moveBy(LayoutPoint offset)
  {
      x += offset.x();
      y += offset.y();
  }
</pre>
<center><a href="LayoutState.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="Verification.cpp.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>