<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/displaytree/DisplayBox.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../blockformatting/BlockMarginCollapse.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="DisplayBox.h.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/displaytree/DisplayBox.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 26,59 ***</span>
  #include &quot;config.h&quot;
  #include &quot;DisplayBox.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
<span class="line-removed">- #include &quot;RenderStyle.h&quot;</span>
  #include &lt;wtf/IsoMallocInlines.h&gt;
  
  namespace WebCore {
  namespace Display {
  
  WTF_MAKE_ISO_ALLOCATED_IMPL(Box);
  
<span class="line-removed">- Box::Box(const RenderStyle&amp; style)</span>
<span class="line-removed">-     : m_style(style)</span>
<span class="line-removed">- {</span>
<span class="line-removed">- }</span>
<span class="line-removed">- </span>
  Box::Box(const Box&amp; other)
<span class="line-modified">!     : m_style(other.m_style)</span>
<span class="line-removed">-     , m_topLeft(other.m_topLeft)</span>
      , m_contentWidth(other.m_contentWidth)
      , m_contentHeight(other.m_contentHeight)
      , m_horizontalMargin(other.m_horizontalMargin)
      , m_verticalMargin(other.m_verticalMargin)
      , m_horizontalComputedMargin(other.m_horizontalComputedMargin)
      , m_hasClearance(other.m_hasClearance)
      , m_border(other.m_border)
      , m_padding(other.m_padding)
<span class="line-modified">! #if !ASSERT_DISABLED</span>
      , m_hasValidTop(other.m_hasValidTop)
      , m_hasValidLeft(other.m_hasValidLeft)
      , m_hasValidHorizontalMargin(other.m_hasValidHorizontalMargin)
      , m_hasValidVerticalMargin(other.m_hasValidVerticalMargin)
      , m_hasValidVerticalNonCollapsedMargin(other.m_hasValidVerticalNonCollapsedMargin)
      , m_hasValidHorizontalComputedMargin(other.m_hasValidHorizontalComputedMargin)
      , m_hasValidBorder(other.m_hasValidBorder)
      , m_hasValidPadding(other.m_hasValidPadding)
      , m_hasValidContentHeight(other.m_hasValidContentHeight)
      , m_hasValidContentWidth(other.m_hasValidContentWidth)
<span class="line-modified">!     , m_hasEstimatedMarginBefore(other.m_hasEstimatedMarginBefore)</span>
  #endif
  {
  }
  
  Box::~Box()
  {
  }
  
<span class="line-removed">- Box::Style::Style(const RenderStyle&amp; style)</span>
<span class="line-removed">-     : boxSizing(style.boxSizing())</span>
<span class="line-removed">- {</span>
<span class="line-removed">- }</span>
<span class="line-removed">- </span>
  Rect Box::marginBox() const
  {
      auto borderBox = this-&gt;borderBox();
  
      Rect marginBox;
<span class="line-new-header">--- 26,47 ---</span>
  #include &quot;config.h&quot;
  #include &quot;DisplayBox.h&quot;
  
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
  #include &lt;wtf/IsoMallocInlines.h&gt;
  
  namespace WebCore {
  namespace Display {
  
  WTF_MAKE_ISO_ALLOCATED_IMPL(Box);
  
  Box::Box(const Box&amp; other)
<span class="line-modified">!     : m_topLeft(other.m_topLeft)</span>
      , m_contentWidth(other.m_contentWidth)
      , m_contentHeight(other.m_contentHeight)
      , m_horizontalMargin(other.m_horizontalMargin)
      , m_verticalMargin(other.m_verticalMargin)
      , m_horizontalComputedMargin(other.m_horizontalComputedMargin)
      , m_hasClearance(other.m_hasClearance)
      , m_border(other.m_border)
      , m_padding(other.m_padding)
<span class="line-modified">! #if ASSERT_ENABLED</span>
      , m_hasValidTop(other.m_hasValidTop)
      , m_hasValidLeft(other.m_hasValidLeft)
      , m_hasValidHorizontalMargin(other.m_hasValidHorizontalMargin)
      , m_hasValidVerticalMargin(other.m_hasValidVerticalMargin)
      , m_hasValidVerticalNonCollapsedMargin(other.m_hasValidVerticalNonCollapsedMargin)
      , m_hasValidHorizontalComputedMargin(other.m_hasValidHorizontalComputedMargin)
      , m_hasValidBorder(other.m_hasValidBorder)
      , m_hasValidPadding(other.m_hasValidPadding)
      , m_hasValidContentHeight(other.m_hasValidContentHeight)
      , m_hasValidContentWidth(other.m_hasValidContentWidth)
<span class="line-modified">!     , m_hasPrecomputedMarginBefore(other.m_hasPrecomputedMarginBefore)</span>
  #endif
  {
  }
  
  Box::~Box()
  {
  }
  
  Rect Box::marginBox() const
  {
      auto borderBox = this-&gt;borderBox();
  
      Rect marginBox;
</pre>
<center><a href="../blockformatting/BlockMarginCollapse.cpp.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="DisplayBox.h.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>