<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sdiff modules/javafx.web/src/main/native/Source/WebCore/layout/displaytree/DisplayRun.h</title>
    <link rel="stylesheet" href="../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="DisplayRect.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../floats/FloatAvoider.cpp.sdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/displaytree/DisplayRun.h</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<table>
<tr valign="top">
<td>
<hr />
<pre>
 10  *    notice, this list of conditions and the following disclaimer in the
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
<span class="line-modified"> 30 #include &quot;DisplayRect.h&quot;</span>
<span class="line-modified"> 31 #include &quot;InlineItem.h&quot;</span>
<span class="line-modified"> 32 #include &quot;LayoutUnit.h&quot;</span>
 33 #include &quot;TextFlags.h&quot;
 34 
 35 namespace WebCore {



 36 namespace Display {
 37 
 38 struct Run {
 39     WTF_MAKE_STRUCT_FAST_ALLOCATED;
 40     struct TextContext {
 41         WTF_MAKE_STRUCT_FAST_ALLOCATED;
 42     public:
<span class="line-modified"> 43         TextContext(unsigned position, unsigned length);</span>

 44 
 45         unsigned start() const { return m_start; }
 46         unsigned end() const { return start() + length(); }
 47         unsigned length() const { return m_length; }








 48 
<span class="line-modified"> 49         void expand(unsigned length) { m_length += length; }</span>



 50 
 51     private:
<span class="line-modified"> 52         unsigned m_start;</span>
<span class="line-modified"> 53         unsigned m_length;</span>



 54     };
 55 
<span class="line-modified"> 56     Run(Rect logicalRect);</span>
<span class="line-modified"> 57     Run(Rect logicalRect, TextContext);</span>
<span class="line-modified"> 58     Run(const Run&amp;);</span>
<span class="line-modified"> 59 </span>
<span class="line-modified"> 60     LayoutPoint logicalTopLeft() const { return m_logicalRect.topLeft(); }</span>
<span class="line-modified"> 61     LayoutUnit logicalLeft() const { return m_logicalRect.left(); }</span>
<span class="line-modified"> 62     LayoutUnit logicalRight() const { return m_logicalRect.right(); }</span>
<span class="line-modified"> 63     LayoutUnit logicalTop() const { return m_logicalRect.top(); }</span>
<span class="line-modified"> 64     LayoutUnit logicalBottom() const { return m_logicalRect.bottom(); }</span>
<span class="line-modified"> 65 </span>
<span class="line-modified"> 66     LayoutUnit logicalWidth() const { return m_logicalRect.width(); }</span>
<span class="line-modified"> 67     LayoutUnit logicalHeight() const { return m_logicalRect.height(); }</span>
<span class="line-modified"> 68 </span>
<span class="line-modified"> 69     void setLogicalWidth(LayoutUnit width) { m_logicalRect.setWidth(width); }</span>
<span class="line-modified"> 70     void setLogicalTop(LayoutUnit logicalTop) { m_logicalRect.setTop(logicalTop); }</span>
<span class="line-modified"> 71     void setLogicalLeft(LayoutUnit logicalLeft) { m_logicalRect.setLeft(logicalLeft); }</span>
<span class="line-modified"> 72     void setLogicalRight(LayoutUnit logicalRight) { m_logicalRect.shiftRightTo(logicalRight); }</span>
<span class="line-modified"> 73     void moveVertically(LayoutUnit delta) { m_logicalRect.moveVertically(delta); }</span>
<span class="line-modified"> 74     void moveHorizontally(LayoutUnit delta) { m_logicalRect.moveHorizontally(delta); }</span>
<span class="line-modified"> 75     void expandVertically(LayoutUnit delta) { m_logicalRect.expand(0, delta); }</span>
<span class="line-modified"> 76     void expandHorizontally(LayoutUnit delta) { m_logicalRect.expand(delta, 0); }</span>
<span class="line-modified"> 77 </span>
<span class="line-modified"> 78     void setTextContext(TextContext textContext) { m_textContext.emplace(textContext); }</span>



 79     Optional&lt;TextContext&gt;&amp; textContext() { return m_textContext; }
<span class="line-modified"> 80     Optional&lt;TextContext&gt; textContext() const { return m_textContext; }</span>







 81 
 82 private:
<span class="line-modified"> 83     Rect m_logicalRect;</span>





 84     Optional&lt;TextContext&gt; m_textContext;
 85 };
 86 
<span class="line-modified"> 87 inline Run::Run(Rect logicalRect)</span>
<span class="line-modified"> 88     : m_logicalRect(logicalRect)</span>
<span class="line-modified"> 89 {</span>
<span class="line-modified"> 90 }</span>
<span class="line-modified"> 91 </span>
<span class="line-removed"> 92 inline Run::Run(Rect logicalRect, TextContext textContext)</span>
<span class="line-removed"> 93     : m_logicalRect(logicalRect)</span>
 94     , m_textContext(textContext)
 95 {
 96 }
 97 
<span class="line-modified"> 98 inline Run::TextContext::TextContext(unsigned start, unsigned length)</span>
 99     : m_start(start)
100     , m_length(length)

101 {
102 }
103 
<span class="line-removed">104 inline Run::Run(const Run&amp; other)</span>
<span class="line-removed">105 {</span>
<span class="line-removed">106     m_logicalRect = other.m_logicalRect;</span>
<span class="line-removed">107     m_textContext = other.m_textContext;</span>
<span class="line-removed">108 }</span>
<span class="line-removed">109 </span>
110 }
111 }
112 #endif
</pre>
</td>
<td>
<hr />
<pre>
 10  *    notice, this list of conditions and the following disclaimer in the
 11  *    documentation and/or other materials provided with the distribution.
 12  *
 13  * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS&#39;&#39;
 14  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 15  * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 16  * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 17  * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 18  * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 19  * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 20  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 21  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 22  * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 23  * THE POSSIBILITY OF SUCH DAMAGE.
 24  */
 25 
 26 #pragma once
 27 
 28 #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
 29 
<span class="line-modified"> 30 #include &quot;DisplayInlineRect.h&quot;</span>
<span class="line-modified"> 31 #include &quot;LayoutBox.h&quot;</span>
<span class="line-modified"> 32 #include &quot;RenderStyle.h&quot;</span>
 33 #include &quot;TextFlags.h&quot;
 34 
 35 namespace WebCore {
<span class="line-added"> 36 </span>
<span class="line-added"> 37 class CachedImage;</span>
<span class="line-added"> 38 </span>
 39 namespace Display {
 40 
 41 struct Run {
 42     WTF_MAKE_STRUCT_FAST_ALLOCATED;
 43     struct TextContext {
 44         WTF_MAKE_STRUCT_FAST_ALLOCATED;
 45     public:
<span class="line-modified"> 46         struct ExpansionContext;</span>
<span class="line-added"> 47         TextContext(unsigned position, unsigned length, const String&amp;);</span>
 48 
 49         unsigned start() const { return m_start; }
 50         unsigned end() const { return start() + length(); }
 51         unsigned length() const { return m_length; }
<span class="line-added"> 52         StringView content() const { return StringView(m_contentString).substring(m_start, m_length); }</span>
<span class="line-added"> 53 </span>
<span class="line-added"> 54         struct ExpansionContext {</span>
<span class="line-added"> 55             ExpansionBehavior behavior { DefaultExpansion };</span>
<span class="line-added"> 56             InlineLayoutUnit horizontalExpansion { 0 };</span>
<span class="line-added"> 57         };</span>
<span class="line-added"> 58         void setExpansion(ExpansionContext expansionContext) { m_expansionContext = expansionContext; }</span>
<span class="line-added"> 59         Optional&lt;ExpansionContext&gt; expansion() const { return m_expansionContext; }</span>
 60 
<span class="line-modified"> 61         bool needsHyphen() const { return m_needsHyphen; }</span>
<span class="line-added"> 62 </span>
<span class="line-added"> 63         void expand(unsigned delta) { m_length += delta; }</span>
<span class="line-added"> 64         void setNeedsHyphen() { m_needsHyphen = true; }</span>
 65 
 66     private:
<span class="line-modified"> 67         unsigned m_start { 0 };</span>
<span class="line-modified"> 68         unsigned m_length { 0 };</span>
<span class="line-added"> 69         bool m_needsHyphen { false };</span>
<span class="line-added"> 70         String m_contentString;</span>
<span class="line-added"> 71         Optional&lt;ExpansionContext&gt; m_expansionContext;</span>
 72     };
 73 
<span class="line-modified"> 74     Run(size_t lineIndex, const Layout::Box&amp;, const InlineRect&amp;, const InlineRect&amp; inkOverflow, Optional&lt;TextContext&gt; = WTF::nullopt);</span>
<span class="line-modified"> 75 </span>
<span class="line-modified"> 76     size_t lineIndex() const { return m_lineIndex; }</span>
<span class="line-modified"> 77 </span>
<span class="line-modified"> 78     const InlineRect&amp; rect() const { return m_rect; }</span>
<span class="line-modified"> 79     const InlineRect&amp; inkOverflow() const { return m_inkOverflow; }</span>
<span class="line-modified"> 80 </span>
<span class="line-modified"> 81     InlineLayoutPoint topLeft() const { return m_rect.topLeft(); }</span>
<span class="line-modified"> 82     InlineLayoutUnit left() const { return m_rect.left(); }</span>
<span class="line-modified"> 83     InlineLayoutUnit right() const { return m_rect.right(); }</span>
<span class="line-modified"> 84     InlineLayoutUnit top() const { return m_rect.top(); }</span>
<span class="line-modified"> 85     InlineLayoutUnit bottom() const { return m_rect.bottom(); }</span>
<span class="line-modified"> 86 </span>
<span class="line-modified"> 87     InlineLayoutUnit width() const { return m_rect.width(); }</span>
<span class="line-modified"> 88     InlineLayoutUnit height() const { return m_rect.height(); }</span>
<span class="line-modified"> 89 </span>
<span class="line-modified"> 90     void setWidth(InlineLayoutUnit width) { m_rect.setWidth(width); }</span>
<span class="line-modified"> 91     void setTop(InlineLayoutUnit top) { m_rect.setTop(top); }</span>
<span class="line-modified"> 92     void setlLeft(InlineLayoutUnit left) { m_rect.setLeft(left); }</span>
<span class="line-modified"> 93     void moveVertically(InlineLayoutUnit delta) { m_rect.moveVertically(delta); }</span>
<span class="line-modified"> 94     void moveHorizontally(InlineLayoutUnit delta) { m_rect.moveHorizontally(delta); }</span>
<span class="line-modified"> 95     void expandVertically(InlineLayoutUnit delta) { m_rect.expandVertically(delta); }</span>
<span class="line-modified"> 96     void expandHorizontally(InlineLayoutUnit delta) { m_rect.expandHorizontally(delta); }</span>
<span class="line-added"> 97 </span>
<span class="line-added"> 98     void setTextContext(const TextContext&amp;&amp; textContext) { m_textContext.emplace(textContext); }</span>
<span class="line-added"> 99     const Optional&lt;TextContext&gt;&amp; textContext() const { return m_textContext; }</span>
100     Optional&lt;TextContext&gt;&amp; textContext() { return m_textContext; }
<span class="line-modified">101 </span>
<span class="line-added">102     void setImage(CachedImage&amp; image) { m_cachedImage = &amp;image; }</span>
<span class="line-added">103     CachedImage* image() const { return m_cachedImage; }</span>
<span class="line-added">104 </span>
<span class="line-added">105     bool isLineBreak() const { return layoutBox().isLineBreakBox() || (textContext() &amp;&amp; textContext()-&gt;content() == &quot;\n&quot; &amp;&amp; style().preserveNewline()); }</span>
<span class="line-added">106 </span>
<span class="line-added">107     const Layout::Box&amp; layoutBox() const { return *m_layoutBox; }</span>
<span class="line-added">108     const RenderStyle&amp; style() const { return m_layoutBox-&gt;style(); }</span>
109 
110 private:
<span class="line-modified">111     // FIXME: Find out the Display::Run &lt;-&gt; paint style setup.</span>
<span class="line-added">112     const size_t m_lineIndex;</span>
<span class="line-added">113     WeakPtr&lt;const Layout::Box&gt; m_layoutBox;</span>
<span class="line-added">114     CachedImage* m_cachedImage { nullptr };</span>
<span class="line-added">115     InlineRect m_rect;</span>
<span class="line-added">116     InlineRect m_inkOverflow;</span>
117     Optional&lt;TextContext&gt; m_textContext;
118 };
119 
<span class="line-modified">120 inline Run::Run(size_t lineIndex, const Layout::Box&amp; layoutBox, const InlineRect&amp; rect, const InlineRect&amp; inkOverflow, Optional&lt;TextContext&gt; textContext)</span>
<span class="line-modified">121     : m_lineIndex(lineIndex)</span>
<span class="line-modified">122     , m_layoutBox(makeWeakPtr(layoutBox))</span>
<span class="line-modified">123     , m_rect(rect)</span>
<span class="line-modified">124     , m_inkOverflow(inkOverflow)</span>


125     , m_textContext(textContext)
126 {
127 }
128 
<span class="line-modified">129 inline Run::TextContext::TextContext(unsigned start, unsigned length, const String&amp; contentString)</span>
130     : m_start(start)
131     , m_length(length)
<span class="line-added">132     , m_contentString(contentString)</span>
133 {
134 }
135 






136 }
137 }
138 #endif
</pre>
</td>
</tr>
</table>
<center><a href="DisplayRect.h.sdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../index.html" target="_top">index</a> <a href="../floats/FloatAvoider.cpp.sdiff.html" target="_top">next &gt;</a></center>  </body>
</html>