<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Frames make/ide/idea/langtools/template/inspectionProfiles/profiles_settings.xml</title>
    <link rel="stylesheet" href="../../../../../../style.css" />
    <script type="text/javascript" src="../../../../../../navigation.js"></script>
  </head>
<body onkeypress="keypress(event);">
<a name="0"></a>
<hr />
<pre>1 &lt;component name=&quot;InspectionProjectProfileManager&quot;&gt;
2   &lt;settings&gt;
3     &lt;option name=&quot;PROJECT_PROFILE&quot; value=&quot;langtools&quot; /&gt;
4     &lt;option name=&quot;USE_PROJECT_PROFILE&quot; value=&quot;true&quot; /&gt;
5     &lt;version value=&quot;1.0&quot; /&gt;
6   &lt;/settings&gt;
7 &lt;/component&gt;
<a name="1" id="anc1"></a><b style="font-size: large; color: red">--- EOF ---</b>
















































































</pre>
<input id="eof" value="1" type="hidden" />
</body>
</html>