<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/FormattingContextGeometry.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FormattingContext.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="FormattingContextQuirks.cpp.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/FormattingContextGeometry.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 29,10 ***</span>
<span class="line-new-header">--- 29,12 ---</span>
  #if ENABLE(LAYOUT_FORMATTING_CONTEXT)
  
  #include &quot;FloatingState.h&quot;
  #include &quot;FormattingState.h&quot;
  #include &quot;InlineFormattingState.h&quot;
<span class="line-added">+ #include &quot;TableFormattingState.h&quot;</span>
<span class="line-added">+ #include &quot;TableGrid.h&quot;</span>
  
  namespace WebCore {
  namespace Layout {
  
  static inline bool isHeightAuto(const Box&amp; layoutBox)
</pre>
<hr />
<pre>
<span class="line-old-header">*** 63,11 ***</span>
      auto height = heightType == HeightType::Normal ? style.logicalHeight() : heightType == HeightType::Min ? style.logicalMinHeight() : style.logicalMaxHeight();
      if (height.isUndefined() || height.isAuto())
          return { };
  
      if (height.isFixed())
<span class="line-modified">!         return { height.value() };</span>
  
      Optional&lt;LayoutUnit&gt; containingBlockHeightValue;
      if (layoutBox.isOutOfFlowPositioned()) {
          // Containing block&#39;s height is already computed since we layout the out-of-flow boxes as the last step.
          containingBlockHeightValue = layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).height();
<span class="line-new-header">--- 65,11 ---</span>
      auto height = heightType == HeightType::Normal ? style.logicalHeight() : heightType == HeightType::Min ? style.logicalMinHeight() : style.logicalMaxHeight();
      if (height.isUndefined() || height.isAuto())
          return { };
  
      if (height.isFixed())
<span class="line-modified">!         return LayoutUnit(height.value());</span>
  
      Optional&lt;LayoutUnit&gt; containingBlockHeightValue;
      if (layoutBox.isOutOfFlowPositioned()) {
          // Containing block&#39;s height is already computed since we layout the out-of-flow boxes as the last step.
          containingBlockHeightValue = layoutState.displayBoxForLayoutBox(*layoutBox.containingBlock()).height();
</pre>
<hr />
<pre>
<span class="line-old-header">*** 75,21 ***</span>
          if (layoutState.inQuirksMode())
              containingBlockHeightValue = FormattingContext::Quirks::heightValueOfNearestContainingBlockWithFixedHeight(layoutState, layoutBox);
          else {
              auto containingBlockHeight = layoutBox.containingBlock()-&gt;style().logicalHeight();
              if (containingBlockHeight.isFixed())
<span class="line-modified">!                 containingBlockHeightValue = { containingBlockHeight.value() };</span>
          }
      }
  
      if (!containingBlockHeightValue)
          return { };
  
      return valueForLength(height, *containingBlockHeightValue);
  }
  
<span class="line-modified">! static LayoutUnit contentHeightForFormattingContextRoot(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      ASSERT(isHeightAuto(layoutBox) &amp;&amp; (layoutBox.establishesFormattingContext() || layoutBox.isDocumentBox()));
  
      // 10.6.7 &#39;Auto&#39; heights for block formatting context roots
  
<span class="line-new-header">--- 77,21 ---</span>
          if (layoutState.inQuirksMode())
              containingBlockHeightValue = FormattingContext::Quirks::heightValueOfNearestContainingBlockWithFixedHeight(layoutState, layoutBox);
          else {
              auto containingBlockHeight = layoutBox.containingBlock()-&gt;style().logicalHeight();
              if (containingBlockHeight.isFixed())
<span class="line-modified">!                 containingBlockHeightValue = LayoutUnit(containingBlockHeight.value());</span>
          }
      }
  
      if (!containingBlockHeightValue)
          return { };
  
      return valueForLength(height, *containingBlockHeightValue);
  }
  
<span class="line-modified">! LayoutUnit FormattingContext::Geometry::contentHeightForFormattingContextRoot(const LayoutState&amp; layoutState, const Box&amp; layoutBox)</span>
  {
      ASSERT(isHeightAuto(layoutBox) &amp;&amp; (layoutBox.establishesFormattingContext() || layoutBox.isDocumentBox()));
  
      // 10.6.7 &#39;Auto&#39; heights for block formatting context roots
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 99,32 ***</span>
  
      // In addition, if the element has any floating descendants whose bottom margin edge is below the element&#39;s bottom content edge,
      // then the height is increased to include those edges. Only floats that participate in this block formatting context are taken
      // into account, e.g., floats inside absolutely positioned descendants or other floats are not.
      if (!is&lt;Container&gt;(layoutBox) || !downcast&lt;Container&gt;(layoutBox).hasInFlowOrFloatingChild())
<span class="line-modified">!         return 0;</span>
  
      auto&amp; displayBox = layoutState.displayBoxForLayoutBox(layoutBox);
      auto borderAndPaddingTop = displayBox.borderTop() + displayBox.paddingTop().valueOr(0);
      auto top = borderAndPaddingTop;
      auto bottom = borderAndPaddingTop;
      auto&amp; formattingRootContainer = downcast&lt;Container&gt;(layoutBox);
      if (formattingRootContainer.establishesInlineFormattingContext()) {
<span class="line-modified">!         // This is temp and will be replaced by the correct display box once inline runs move over to the display tree.</span>
<span class="line-modified">!         auto&amp; inlineRuns = downcast&lt;InlineFormattingState&gt;(layoutState.establishedFormattingState(layoutBox)).inlineRuns();</span>
<span class="line-modified">!         if (!inlineRuns.isEmpty()) {</span>
<span class="line-modified">!             top = inlineRuns[0].logicalTop();</span>
<span class="line-modified">!             bottom =  inlineRuns.last().logicalBottom();</span>
<span class="line-removed">-         }</span>
      } else if (formattingRootContainer.establishesBlockFormattingContext() || layoutBox.isDocumentBox()) {
          if (formattingRootContainer.hasInFlowChild()) {
              auto&amp; firstDisplayBox = layoutState.displayBoxForLayoutBox(*formattingRootContainer.firstInFlowChild());
              auto&amp; lastDisplayBox = layoutState.displayBoxForLayoutBox(*formattingRootContainer.lastInFlowChild());
              top = firstDisplayBox.rectWithMargin().top();
              bottom = lastDisplayBox.rectWithMargin().bottom();
          }
<span class="line-modified">!     }</span>
  
      auto* formattingContextRoot = &amp;layoutBox;
      // TODO: The document renderer is not a formatting context root by default at all. Need to find out what it is.
      if (!layoutBox.establishesFormattingContext()) {
          ASSERT(layoutBox.isDocumentBox());
<span class="line-new-header">--- 101,38 ---</span>
  
      // In addition, if the element has any floating descendants whose bottom margin edge is below the element&#39;s bottom content edge,
      // then the height is increased to include those edges. Only floats that participate in this block formatting context are taken
      // into account, e.g., floats inside absolutely positioned descendants or other floats are not.
      if (!is&lt;Container&gt;(layoutBox) || !downcast&lt;Container&gt;(layoutBox).hasInFlowOrFloatingChild())
<span class="line-modified">!         return { };</span>
  
      auto&amp; displayBox = layoutState.displayBoxForLayoutBox(layoutBox);
      auto borderAndPaddingTop = displayBox.borderTop() + displayBox.paddingTop().valueOr(0);
      auto top = borderAndPaddingTop;
      auto bottom = borderAndPaddingTop;
      auto&amp; formattingRootContainer = downcast&lt;Container&gt;(layoutBox);
      if (formattingRootContainer.establishesInlineFormattingContext()) {
<span class="line-modified">!         auto&amp; lineBoxes = downcast&lt;InlineFormattingState&gt;(layoutState.establishedFormattingState(layoutBox)).lineBoxes();</span>
<span class="line-modified">!         // Even empty containers generate one line.</span>
<span class="line-modified">!         ASSERT(!lineBoxes.isEmpty());</span>
<span class="line-modified">!         top = lineBoxes.first().logicalTop();</span>
<span class="line-modified">!         bottom = lineBoxes.last().logicalBottom();</span>
      } else if (formattingRootContainer.establishesBlockFormattingContext() || layoutBox.isDocumentBox()) {
          if (formattingRootContainer.hasInFlowChild()) {
              auto&amp; firstDisplayBox = layoutState.displayBoxForLayoutBox(*formattingRootContainer.firstInFlowChild());
              auto&amp; lastDisplayBox = layoutState.displayBoxForLayoutBox(*formattingRootContainer.lastInFlowChild());
              top = firstDisplayBox.rectWithMargin().top();
              bottom = lastDisplayBox.rectWithMargin().bottom();
          }
<span class="line-modified">!     } else if (formattingRootContainer.establishesTableFormattingContext()) {</span>
<span class="line-added">+         auto&amp; rowList = downcast&lt;TableFormattingState&gt;(layoutState.establishedFormattingState(formattingRootContainer)).tableGrid().rows();</span>
<span class="line-added">+         ASSERT(!rowList.isEmpty());</span>
<span class="line-added">+         top += rowList.first().logicalTop();</span>
<span class="line-added">+         auto&amp; lastRow = rowList.last();</span>
<span class="line-added">+         bottom += lastRow.logicalBottom();</span>
<span class="line-added">+     } else</span>
<span class="line-added">+         ASSERT_NOT_REACHED();</span>
  
      auto* formattingContextRoot = &amp;layoutBox;
      // TODO: The document renderer is not a formatting context root by default at all. Need to find out what it is.
      if (!layoutBox.establishesFormattingContext()) {
          ASSERT(layoutBox.isDocumentBox());
</pre>
<hr />
<pre>
<span class="line-old-header">*** 158,11 ***</span>
  
  Optional&lt;LayoutUnit&gt; FormattingContext::Geometry::fixedValue(const Length&amp; geometryProperty)
  {
      if (!geometryProperty.isFixed())
          return WTF::nullopt;
<span class="line-modified">!     return { geometryProperty.value() };</span>
  }
  
  // https://www.w3.org/TR/CSS22/visudet.html#min-max-heights
  // Specifies a percentage for determining the used value. The percentage is calculated with respect to the height of the generated box&#39;s containing block.
  // If the height of the containing block is not specified explicitly (i.e., it depends on content height), and this element is not absolutely positioned,
<span class="line-new-header">--- 166,11 ---</span>
  
  Optional&lt;LayoutUnit&gt; FormattingContext::Geometry::fixedValue(const Length&amp; geometryProperty)
  {
      if (!geometryProperty.isFixed())
          return WTF::nullopt;
<span class="line-modified">!     return LayoutUnit(geometryProperty.value());</span>
  }
  
  // https://www.w3.org/TR/CSS22/visudet.html#min-max-heights
  // Specifies a percentage for determining the used value. The percentage is calculated with respect to the height of the generated box&#39;s containing block.
  // If the height of the containing block is not specified explicitly (i.e., it depends on content height), and this element is not absolutely positioned,
</pre>
<hr />
<pre>
<span class="line-old-header">*** 200,19 ***</span>
          ASSERT(layoutBox.parent());
          top = layoutState.displayBoxForLayoutBox(*layoutBox.parent()).contentBoxTop();
      }
  
      // Resolve top all the way up to the containing block.
<span class="line-modified">!     auto* containingBlock = layoutBox.containingBlock();</span>
      // Start with the parent since we pretend that this box is normal flow.
<span class="line-modified">!     for (auto* container = layoutBox.parent(); container != containingBlock; container = container-&gt;containingBlock()) {</span>
          auto&amp; displayBox = layoutState.displayBoxForLayoutBox(*container);
          // Display::Box::top is the border box top position in its containing block&#39;s coordinate system.
          top += displayBox.top();
          ASSERT(!container-&gt;isPositioned() || layoutBox.isFixedPositioned());
      }
<span class="line-modified">!     return top;</span>
  }
  
  static LayoutUnit staticHorizontalPositionForOutOfFlowPositioned(const LayoutState&amp; layoutState, const Box&amp; layoutBox)
  {
      ASSERT(layoutBox.isOutOfFlowPositioned());
<span class="line-new-header">--- 208,21 ---</span>
          ASSERT(layoutBox.parent());
          top = layoutState.displayBoxForLayoutBox(*layoutBox.parent()).contentBoxTop();
      }
  
      // Resolve top all the way up to the containing block.
<span class="line-modified">!     auto&amp; containingBlock = *layoutBox.containingBlock();</span>
      // Start with the parent since we pretend that this box is normal flow.
<span class="line-modified">!     for (auto* container = layoutBox.parent(); container != &amp;containingBlock; container = container-&gt;containingBlock()) {</span>
          auto&amp; displayBox = layoutState.displayBoxForLayoutBox(*container);
          // Display::Box::top is the border box top position in its containing block&#39;s coordinate system.
          top += displayBox.top();
          ASSERT(!container-&gt;isPositioned() || layoutBox.isFixedPositioned());
      }
<span class="line-modified">!     // Move the static position relative to the padding box. This is very specific to abolutely positioned boxes.</span>
<span class="line-added">+     auto paddingBoxTop = layoutState.displayBoxForLayoutBox(containingBlock).paddingBoxTop();</span>
<span class="line-added">+     return top - paddingBoxTop;</span>
  }
  
  static LayoutUnit staticHorizontalPositionForOutOfFlowPositioned(const LayoutState&amp; layoutState, const Box&amp; layoutBox)
  {
      ASSERT(layoutBox.isOutOfFlowPositioned());
</pre>
<hr />
<pre>
<span class="line-old-header">*** 221,19 ***</span>
      // Start with this box&#39;s border box offset from the parent&#39;s border box.
      ASSERT(layoutBox.parent());
      auto left = layoutState.displayBoxForLayoutBox(*layoutBox.parent()).contentBoxLeft();
  
      // Resolve left all the way up to the containing block.
<span class="line-modified">!     auto* containingBlock = layoutBox.containingBlock();</span>
      // Start with the parent since we pretend that this box is normal flow.
<span class="line-modified">!     for (auto* container = layoutBox.parent(); container != containingBlock; container = container-&gt;containingBlock()) {</span>
          auto&amp; displayBox = layoutState.displayBoxForLayoutBox(*container);
          // Display::Box::left is the border box left position in its containing block&#39;s coordinate system.
          left += displayBox.left();
          ASSERT(!container-&gt;isPositioned() || layoutBox.isFixedPositioned());
      }
<span class="line-modified">!     return left;</span>
  }
  
  LayoutUnit FormattingContext::Geometry::shrinkToFitWidth(LayoutState&amp; layoutState, const Box&amp; formattingRoot, UsedHorizontalValues usedValues)
  {
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Width] -&gt; shrink to fit -&gt; unsupported -&gt; width(&quot; &lt;&lt; LayoutUnit { } &lt;&lt; &quot;px) layoutBox: &quot; &lt;&lt; &amp;formattingRoot &lt;&lt; &quot;)&quot;);
<span class="line-new-header">--- 231,21 ---</span>
      // Start with this box&#39;s border box offset from the parent&#39;s border box.
      ASSERT(layoutBox.parent());
      auto left = layoutState.displayBoxForLayoutBox(*layoutBox.parent()).contentBoxLeft();
  
      // Resolve left all the way up to the containing block.
<span class="line-modified">!     auto&amp; containingBlock = *layoutBox.containingBlock();</span>
      // Start with the parent since we pretend that this box is normal flow.
<span class="line-modified">!     for (auto* container = layoutBox.parent(); container != &amp;containingBlock; container = container-&gt;containingBlock()) {</span>
          auto&amp; displayBox = layoutState.displayBoxForLayoutBox(*container);
          // Display::Box::left is the border box left position in its containing block&#39;s coordinate system.
          left += displayBox.left();
          ASSERT(!container-&gt;isPositioned() || layoutBox.isFixedPositioned());
      }
<span class="line-modified">!     // Move the static position relative to the padding box. This is very specific to abolutely positioned boxes.</span>
<span class="line-added">+     auto paddingBoxLeft = layoutState.displayBoxForLayoutBox(containingBlock).paddingBoxLeft();</span>
<span class="line-added">+     return left - paddingBoxLeft;</span>
  }
  
  LayoutUnit FormattingContext::Geometry::shrinkToFitWidth(LayoutState&amp; layoutState, const Box&amp; formattingRoot, UsedHorizontalValues usedValues)
  {
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Width] -&gt; shrink to fit -&gt; unsupported -&gt; width(&quot; &lt;&lt; LayoutUnit { } &lt;&lt; &quot;px) layoutBox: &quot; &lt;&lt; &amp;formattingRoot &lt;&lt; &quot;)&quot;);
</pre>
<hr />
<pre>
<span class="line-old-header">*** 245,16 ***</span>
      // and also calculate the preferred minimum width, e.g., by trying all possible line breaks. CSS 2.2 does not define the exact algorithm.
      // Thirdly, find the available width: in this case, this is the width of the containing block minus the used values of &#39;margin-left&#39;, &#39;border-left-width&#39;,
      // &#39;padding-left&#39;, &#39;padding-right&#39;, &#39;border-right-width&#39;, &#39;margin-right&#39;, and the widths of any relevant scroll bars.
  
      // Then the shrink-to-fit width is: min(max(preferred minimum width, available width), preferred width).
<span class="line-modified">!     auto&amp; formattingStateForRoot = layoutState.formattingStateForBox(formattingRoot);</span>
<span class="line-modified">!     auto intrinsicWidthConstraints = formattingStateForRoot.intrinsicWidthConstraints(formattingRoot);</span>
<span class="line-modified">!     if (!intrinsicWidthConstraints) {</span>
<span class="line-modified">!         layoutState.createFormattingContext(formattingRoot)-&gt;computeIntrinsicWidthConstraints();</span>
<span class="line-removed">-         intrinsicWidthConstraints = formattingStateForRoot.intrinsicWidthConstraints(formattingRoot);</span>
<span class="line-removed">-     }</span>
      auto availableWidth = *usedValues.containingBlockWidth;
      return std::min(std::max(intrinsicWidthConstraints-&gt;minimum, availableWidth), intrinsicWidthConstraints-&gt;maximum);
  }
  
  VerticalGeometry FormattingContext::Geometry::outOfFlowNonReplacedVerticalGeometry(const LayoutState&amp; layoutState, const Box&amp; layoutBox, UsedVerticalValues usedValues)
<span class="line-new-header">--- 257,14 ---</span>
      // and also calculate the preferred minimum width, e.g., by trying all possible line breaks. CSS 2.2 does not define the exact algorithm.
      // Thirdly, find the available width: in this case, this is the width of the containing block minus the used values of &#39;margin-left&#39;, &#39;border-left-width&#39;,
      // &#39;padding-left&#39;, &#39;padding-right&#39;, &#39;border-right-width&#39;, &#39;margin-right&#39;, and the widths of any relevant scroll bars.
  
      // Then the shrink-to-fit width is: min(max(preferred minimum width, available width), preferred width).
<span class="line-modified">!     auto&amp; formattingStateForRoot = layoutState.createFormattingStateForFormattingRootIfNeeded(formattingRoot);</span>
<span class="line-modified">!     auto intrinsicWidthConstraints = formattingStateForRoot.intrinsicWidthConstraints();</span>
<span class="line-modified">!     if (!intrinsicWidthConstraints)</span>
<span class="line-modified">!         intrinsicWidthConstraints = layoutState.createFormattingContext(formattingRoot)-&gt;computedIntrinsicWidthConstraints();</span>
      auto availableWidth = *usedValues.containingBlockWidth;
      return std::min(std::max(intrinsicWidthConstraints-&gt;minimum, availableWidth), intrinsicWidthConstraints-&gt;maximum);
  }
  
  VerticalGeometry FormattingContext::Geometry::outOfFlowNonReplacedVerticalGeometry(const LayoutState&amp; layoutState, const Box&amp; layoutBox, UsedVerticalValues usedValues)
</pre>
<hr />
<pre>
<span class="line-old-header">*** 291,11 ***</span>
      auto containingBlockHeight = containingBlockDisplayBox.paddingBoxHeight();
      auto containingBlockWidth = containingBlockDisplayBox.paddingBoxWidth();
  
      auto top = computedValueIfNotAuto(style.logicalTop(), containingBlockWidth);
      auto bottom = computedValueIfNotAuto(style.logicalBottom(), containingBlockWidth);
<span class="line-removed">-     auto isStaticallyPositioned = !top &amp;&amp; !bottom;</span>
      auto height = usedValues.height ? usedValues.height.value() : computedHeightValue(layoutState, layoutBox, HeightType::Normal);
      auto computedVerticalMargin = Geometry::computedVerticalMargin(layoutBox, UsedHorizontalValues { containingBlockWidth });
      UsedVerticalMargin::NonCollapsedValues usedVerticalMargin;
      auto paddingTop = displayBox.paddingTop().valueOr(0);
      auto paddingBottom = displayBox.paddingBottom().valueOr(0);
<span class="line-new-header">--- 301,10 ---</span>
</pre>
<hr />
<pre>
<span class="line-old-header">*** 369,16 ***</span>
      ASSERT(top);
      ASSERT(bottom);
      ASSERT(height);
  
      // For out-of-flow elements the containing block is formed by the padding edge of the ancestor.
<span class="line-modified">!     // At this point the non-statically positioned value is in the coordinate system of the padding box. Let&#39;s convert it to border box coordinate system.</span>
<span class="line-modified">!     if (!isStaticallyPositioned) {</span>
<span class="line-modified">!         auto containingBlockPaddingVerticalEdge = containingBlockDisplayBox.paddingBoxTop();</span>
<span class="line-modified">!         *top += containingBlockPaddingVerticalEdge;</span>
<span class="line-removed">-         *bottom += containingBlockPaddingVerticalEdge;</span>
<span class="line-removed">-     }</span>
  
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Position][Height][Margin] -&gt; out-of-flow non-replaced -&gt; top(&quot; &lt;&lt; *top &lt;&lt; &quot;px) bottom(&quot;  &lt;&lt; *bottom &lt;&lt; &quot;px) height(&quot; &lt;&lt; *height &lt;&lt; &quot;px) margin(&quot; &lt;&lt; usedVerticalMargin.before &lt;&lt; &quot;px, &quot;  &lt;&lt; usedVerticalMargin.after &lt;&lt; &quot;px) layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
      return { *top, *bottom, { contentHeight(), usedVerticalMargin } };
  }
  
<span class="line-new-header">--- 378,14 ---</span>
      ASSERT(top);
      ASSERT(bottom);
      ASSERT(height);
  
      // For out-of-flow elements the containing block is formed by the padding edge of the ancestor.
<span class="line-modified">!     // At this point the positioned value is in the coordinate system of the padding box. Let&#39;s convert it to border box coordinate system.</span>
<span class="line-modified">!     auto containingBlockPaddingVerticalEdge = containingBlockDisplayBox.paddingBoxTop();</span>
<span class="line-modified">!     *top += containingBlockPaddingVerticalEdge;</span>
<span class="line-modified">!     *bottom += containingBlockPaddingVerticalEdge;</span>
  
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Position][Height][Margin] -&gt; out-of-flow non-replaced -&gt; top(&quot; &lt;&lt; *top &lt;&lt; &quot;px) bottom(&quot;  &lt;&lt; *bottom &lt;&lt; &quot;px) height(&quot; &lt;&lt; *height &lt;&lt; &quot;px) margin(&quot; &lt;&lt; usedVerticalMargin.before &lt;&lt; &quot;px, &quot;  &lt;&lt; usedVerticalMargin.after &lt;&lt; &quot;px) layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
      return { *top, *bottom, { contentHeight(), usedVerticalMargin } };
  }
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 419,11 ***</span>
      auto containingBlockWidth = usedValues.containingBlockWidth.valueOr(0);
      auto isLeftToRightDirection = containingBlock.style().isLeftToRightDirection();
  
      auto left = computedValueIfNotAuto(style.logicalLeft(), containingBlockWidth);
      auto right = computedValueIfNotAuto(style.logicalRight(), containingBlockWidth);
<span class="line-removed">-     auto isStaticallyPositioned = !left &amp;&amp; !right;</span>
      auto width = computedValueIfNotAuto(usedValues.width ? Length { usedValues.width.value(), Fixed } : style.logicalWidth(), containingBlockWidth);
      auto computedHorizontalMargin = Geometry::computedHorizontalMargin(layoutBox, usedValues);
      UsedHorizontalMargin usedHorizontalMargin;
      auto paddingLeft = displayBox.paddingLeft().valueOr(0);
      auto paddingRight = displayBox.paddingRight().valueOr(0);
<span class="line-new-header">--- 426,10 ---</span>
</pre>
<hr />
<pre>
<span class="line-old-header">*** 465,37 ***</span>
                  }
              }
          } else if (!computedHorizontalMargin.start) {
              usedHorizontalMargin.end = *computedHorizontalMargin.end;
              usedHorizontalMargin.start = containingBlockWidth - (*left + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end + *right);
<span class="line-removed">-             // Overconstrained? Ignore right (left).</span>
<span class="line-removed">-             if (usedHorizontalMargin.start &lt; 0) {</span>
<span class="line-removed">-                 if (isLeftToRightDirection)</span>
<span class="line-removed">-                     usedHorizontalMargin.start = containingBlockWidth - (*left + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end);</span>
<span class="line-removed">-                 else</span>
<span class="line-removed">-                     usedHorizontalMargin.start = containingBlockWidth - (borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end + *right);</span>
<span class="line-removed">-             }</span>
          } else if (!computedHorizontalMargin.end) {
              usedHorizontalMargin.start = *computedHorizontalMargin.start;
              usedHorizontalMargin.end = containingBlockWidth - (*left + usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + *right);
<span class="line-modified">!             // Overconstrained? Ignore right (left).</span>
<span class="line-removed">-             if (usedHorizontalMargin.end &lt; 0) {</span>
<span class="line-removed">-                 if (isLeftToRightDirection)</span>
<span class="line-removed">-                     usedHorizontalMargin.end = containingBlockWidth - (*left + usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight);</span>
<span class="line-removed">-                 else</span>
<span class="line-removed">-                     usedHorizontalMargin.end = containingBlockWidth - (usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + *right);</span>
<span class="line-removed">-             }</span>
<span class="line-removed">-         } else</span>
              usedHorizontalMargin = { *computedHorizontalMargin.start, *computedHorizontalMargin.end };
      } else {
          // Otherwise, set &#39;auto&#39; values for &#39;margin-left&#39; and &#39;margin-right&#39; to 0, and pick the one of the following six rules that applies.
          usedHorizontalMargin = { computedHorizontalMargin.start.valueOr(0), computedHorizontalMargin.end.valueOr(0) };
      }
  
      if (!left &amp;&amp; !width &amp;&amp; right) {
          // #1
<span class="line-modified">!         width = shrinkToFitWidth(layoutState, layoutBox, usedValues);</span>
          left = containingBlockWidth - (usedHorizontalMargin.start + borderLeft + paddingLeft + *width + paddingRight  + borderRight + usedHorizontalMargin.end + *right);
      } else if (!left &amp;&amp; !right &amp;&amp; width) {
          // #2
          auto staticHorizontalPosition = staticHorizontalPositionForOutOfFlowPositioned(layoutState, layoutBox);
          if (isLeftToRightDirection) {
<span class="line-new-header">--- 471,32 ---</span>
                  }
              }
          } else if (!computedHorizontalMargin.start) {
              usedHorizontalMargin.end = *computedHorizontalMargin.end;
              usedHorizontalMargin.start = containingBlockWidth - (*left + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end + *right);
          } else if (!computedHorizontalMargin.end) {
              usedHorizontalMargin.start = *computedHorizontalMargin.start;
              usedHorizontalMargin.end = containingBlockWidth - (*left + usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + *right);
<span class="line-modified">!         } else {</span>
              usedHorizontalMargin = { *computedHorizontalMargin.start, *computedHorizontalMargin.end };
<span class="line-added">+             // Overconstrained? Ignore right (left).</span>
<span class="line-added">+             if (isLeftToRightDirection)</span>
<span class="line-added">+                 right = containingBlockWidth - (usedHorizontalMargin.start + *left + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end);</span>
<span class="line-added">+             else</span>
<span class="line-added">+                 left = containingBlockWidth - (usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end + *right);</span>
<span class="line-added">+         }</span>
      } else {
          // Otherwise, set &#39;auto&#39; values for &#39;margin-left&#39; and &#39;margin-right&#39; to 0, and pick the one of the following six rules that applies.
          usedHorizontalMargin = { computedHorizontalMargin.start.valueOr(0), computedHorizontalMargin.end.valueOr(0) };
      }
  
      if (!left &amp;&amp; !width &amp;&amp; right) {
          // #1
<span class="line-modified">!         // Calculate the available width by solving for &#39;width&#39; after setting &#39;left&#39; (in case 1) to 0</span>
<span class="line-added">+         left = LayoutUnit { 0 };</span>
<span class="line-added">+         auto availableWidth = containingBlockWidth - (*left + usedHorizontalMargin.start + borderLeft + paddingLeft + paddingRight + borderRight + usedHorizontalMargin.end + *right);</span>
<span class="line-added">+         width = shrinkToFitWidth(layoutState, layoutBox, UsedHorizontalValues { availableWidth, usedValues.width, usedValues.margin });</span>
          left = containingBlockWidth - (usedHorizontalMargin.start + borderLeft + paddingLeft + *width + paddingRight  + borderRight + usedHorizontalMargin.end + *right);
      } else if (!left &amp;&amp; !right &amp;&amp; width) {
          // #2
          auto staticHorizontalPosition = staticHorizontalPositionForOutOfFlowPositioned(layoutState, layoutBox);
          if (isLeftToRightDirection) {
</pre>
<hr />
<pre>
<span class="line-old-header">*** 505,11 ***</span>
              right = staticHorizontalPosition;
              left = containingBlockWidth - (usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end + *right);
          }
      } else if (!width &amp;&amp; !right &amp;&amp; left) {
          // #3
<span class="line-modified">!         width = shrinkToFitWidth(layoutState, layoutBox, usedValues);</span>
          right = containingBlockWidth - (*left + usedHorizontalMargin.start + borderLeft + paddingLeft + *width + paddingRight + borderRight + usedHorizontalMargin.end);
      } else if (!left &amp;&amp; width &amp;&amp; right) {
          // #4
          left = containingBlockWidth - (usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end + *right);
      } else if (!width &amp;&amp; left &amp;&amp; right) {
<span class="line-new-header">--- 506,14 ---</span>
              right = staticHorizontalPosition;
              left = containingBlockWidth - (usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end + *right);
          }
      } else if (!width &amp;&amp; !right &amp;&amp; left) {
          // #3
<span class="line-modified">!         // Calculate the available width by solving for &#39;width&#39; after setting &#39;right&#39; (in case 3) to 0</span>
<span class="line-added">+         right = LayoutUnit { 0 };</span>
<span class="line-added">+         auto availableWidth = containingBlockWidth - (*left + usedHorizontalMargin.start + borderLeft + paddingLeft + paddingRight + borderRight + usedHorizontalMargin.end + *right);</span>
<span class="line-added">+         width = shrinkToFitWidth(layoutState, layoutBox, UsedHorizontalValues { availableWidth, usedValues.width, usedValues.margin });</span>
          right = containingBlockWidth - (*left + usedHorizontalMargin.start + borderLeft + paddingLeft + *width + paddingRight + borderRight + usedHorizontalMargin.end);
      } else if (!left &amp;&amp; width &amp;&amp; right) {
          // #4
          left = containingBlockWidth - (usedHorizontalMargin.start + borderLeft + paddingLeft + contentWidth() + paddingRight + borderRight + usedHorizontalMargin.end + *right);
      } else if (!width &amp;&amp; left &amp;&amp; right) {
</pre>
<hr />
<pre>
<span class="line-old-header">*** 523,16 ***</span>
      ASSERT(left);
      ASSERT(right);
      ASSERT(width);
  
      // For out-of-flow elements the containing block is formed by the padding edge of the ancestor.
<span class="line-modified">!     // At this point the non-statically positioned value is in the coordinate system of the padding box. Let&#39;s convert it to border box coordinate system.</span>
<span class="line-modified">!     if (!isStaticallyPositioned) {</span>
<span class="line-modified">!         auto containingBlockPaddingVerticalEdge = containingBlockDisplayBox.paddingBoxLeft();</span>
<span class="line-modified">!         *left += containingBlockPaddingVerticalEdge;</span>
<span class="line-removed">-         *right += containingBlockPaddingVerticalEdge;</span>
<span class="line-removed">-     }</span>
  
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Position][Width][Margin] -&gt; out-of-flow non-replaced -&gt; left(&quot; &lt;&lt; *left &lt;&lt; &quot;px) right(&quot;  &lt;&lt; *right &lt;&lt; &quot;px) width(&quot; &lt;&lt; *width &lt;&lt; &quot;px) margin(&quot; &lt;&lt; usedHorizontalMargin.start &lt;&lt; &quot;px, &quot;  &lt;&lt; usedHorizontalMargin.end &lt;&lt; &quot;px) layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
      return { *left, *right, { contentWidth(), usedHorizontalMargin, computedHorizontalMargin } };
  }
  
<span class="line-new-header">--- 527,14 ---</span>
      ASSERT(left);
      ASSERT(right);
      ASSERT(width);
  
      // For out-of-flow elements the containing block is formed by the padding edge of the ancestor.
<span class="line-modified">!     // At this point the positioned value is in the coordinate system of the padding box. Let&#39;s convert it to border box coordinate system.</span>
<span class="line-modified">!     auto containingBlockPaddingVerticalEdge = containingBlockDisplayBox.paddingBoxLeft();</span>
<span class="line-modified">!     *left += containingBlockPaddingVerticalEdge;</span>
<span class="line-modified">!     *right += containingBlockPaddingVerticalEdge;</span>
  
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Position][Width][Margin] -&gt; out-of-flow non-replaced -&gt; left(&quot; &lt;&lt; *left &lt;&lt; &quot;px) right(&quot;  &lt;&lt; *right &lt;&lt; &quot;px) width(&quot; &lt;&lt; *width &lt;&lt; &quot;px) margin(&quot; &lt;&lt; usedHorizontalMargin.start &lt;&lt; &quot;px, &quot;  &lt;&lt; usedHorizontalMargin.end &lt;&lt; &quot;px) layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
      return { *left, *right, { contentWidth(), usedHorizontalMargin, computedHorizontalMargin } };
  }
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 556,11 ***</span>
      auto containingBlockHeight = containingBlockDisplayBox.paddingBoxHeight();
      auto containingBlockWidth = containingBlockDisplayBox.paddingBoxWidth();
  
      auto top = computedValueIfNotAuto(style.logicalTop(), containingBlockWidth);
      auto bottom = computedValueIfNotAuto(style.logicalBottom(), containingBlockWidth);
<span class="line-removed">-     auto isStaticallyPositioned = !top &amp;&amp; !bottom;</span>
      auto height = inlineReplacedHeightAndMargin(layoutState, layoutBox, usedValues).height;
      auto computedVerticalMargin = Geometry::computedVerticalMargin(layoutBox, UsedHorizontalValues { containingBlockWidth });
      Optional&lt;LayoutUnit&gt; usedMarginBefore = computedVerticalMargin.before;
      Optional&lt;LayoutUnit&gt; usedMarginAfter = computedVerticalMargin.after;
      auto paddingTop = displayBox.paddingTop().valueOr(0);
<span class="line-new-header">--- 558,10 ---</span>
</pre>
<hr />
<pre>
<span class="line-old-header">*** 603,16 ***</span>
      auto boxHeight = *top + *usedMarginBefore + borderTop + paddingTop + height + paddingBottom + borderBottom + *usedMarginAfter + *bottom;
      if (boxHeight &gt; containingBlockHeight)
          bottom = containingBlockHeight - (*top + *usedMarginBefore + borderTop + paddingTop + height + paddingBottom + borderBottom + *usedMarginAfter);
  
      // For out-of-flow elements the containing block is formed by the padding edge of the ancestor.
<span class="line-modified">!     // At this point the non-statically positioned value is in the coordinate system of the padding box. Let&#39;s convert it to border box coordinate system.</span>
<span class="line-modified">!     if (!isStaticallyPositioned) {</span>
<span class="line-modified">!         auto containingBlockPaddingVerticalEdge = containingBlockDisplayBox.paddingBoxTop();</span>
<span class="line-modified">!         *top += containingBlockPaddingVerticalEdge;</span>
<span class="line-removed">-         *bottom += containingBlockPaddingVerticalEdge;</span>
<span class="line-removed">-     }</span>
  
      ASSERT(top);
      ASSERT(bottom);
      ASSERT(usedMarginBefore);
      ASSERT(usedMarginAfter);
<span class="line-new-header">--- 604,14 ---</span>
      auto boxHeight = *top + *usedMarginBefore + borderTop + paddingTop + height + paddingBottom + borderBottom + *usedMarginAfter + *bottom;
      if (boxHeight &gt; containingBlockHeight)
          bottom = containingBlockHeight - (*top + *usedMarginBefore + borderTop + paddingTop + height + paddingBottom + borderBottom + *usedMarginAfter);
  
      // For out-of-flow elements the containing block is formed by the padding edge of the ancestor.
<span class="line-modified">!     // At this point the positioned value is in the coordinate system of the padding box. Let&#39;s convert it to border box coordinate system.</span>
<span class="line-modified">!     auto containingBlockPaddingVerticalEdge = containingBlockDisplayBox.paddingBoxTop();</span>
<span class="line-modified">!     *top += containingBlockPaddingVerticalEdge;</span>
<span class="line-modified">!     *bottom += containingBlockPaddingVerticalEdge;</span>
  
      ASSERT(top);
      ASSERT(bottom);
      ASSERT(usedMarginBefore);
      ASSERT(usedMarginAfter);
</pre>
<hr />
<pre>
<span class="line-old-header">*** 644,11 ***</span>
      auto containingBlockWidth = usedValues.containingBlockWidth.valueOr(0);
      auto isLeftToRightDirection = containingBlock.style().isLeftToRightDirection();
  
      auto left = computedValueIfNotAuto(style.logicalLeft(), containingBlockWidth);
      auto right = computedValueIfNotAuto(style.logicalRight(), containingBlockWidth);
<span class="line-removed">-     auto isStaticallyPositioned = !left &amp;&amp; !right;</span>
      auto computedHorizontalMargin = Geometry::computedHorizontalMargin(layoutBox, usedValues);
      Optional&lt;LayoutUnit&gt; usedMarginStart = computedHorizontalMargin.start;
      Optional&lt;LayoutUnit&gt; usedMarginEnd = computedHorizontalMargin.end;
      auto width = inlineReplacedWidthAndMargin(layoutState, layoutBox, usedValues).width;
      auto paddingLeft = displayBox.paddingLeft().valueOr(0);
<span class="line-new-header">--- 643,10 ---</span>
</pre>
<hr />
<pre>
<span class="line-old-header">*** 714,16 ***</span>
      ASSERT(right);
      ASSERT(usedMarginStart);
      ASSERT(usedMarginEnd);
  
      // For out-of-flow elements the containing block is formed by the padding edge of the ancestor.
<span class="line-modified">!     // At this point the non-statically positioned value is in the coordinate system of the padding box. Let&#39;s convert it to border box coordinate system.</span>
<span class="line-modified">!     if (!isStaticallyPositioned) {</span>
<span class="line-modified">!         auto containingBlockPaddingVerticalEdge = layoutState.displayBoxForLayoutBox(containingBlock).paddingBoxLeft();</span>
<span class="line-modified">!         *left += containingBlockPaddingVerticalEdge;</span>
<span class="line-removed">-         *right += containingBlockPaddingVerticalEdge;</span>
<span class="line-removed">-     }</span>
  
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Position][Width][Margin] -&gt; out-of-flow replaced -&gt; left(&quot; &lt;&lt; *left &lt;&lt; &quot;px) right(&quot;  &lt;&lt; *right &lt;&lt; &quot;px) width(&quot; &lt;&lt; width &lt;&lt; &quot;px) margin(&quot; &lt;&lt; *usedMarginStart &lt;&lt; &quot;px, &quot;  &lt;&lt; *usedMarginEnd &lt;&lt; &quot;px) layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
      return { *left, *right, { width, { *usedMarginStart, *usedMarginEnd }, computedHorizontalMargin } };
  }
  
<span class="line-new-header">--- 712,14 ---</span>
      ASSERT(right);
      ASSERT(usedMarginStart);
      ASSERT(usedMarginEnd);
  
      // For out-of-flow elements the containing block is formed by the padding edge of the ancestor.
<span class="line-modified">!     // At this point the positioned value is in the coordinate system of the padding box. Let&#39;s convert it to border box coordinate system.</span>
<span class="line-modified">!     auto containingBlockPaddingVerticalEdge = layoutState.displayBoxForLayoutBox(containingBlock).paddingBoxLeft();</span>
<span class="line-modified">!     *left += containingBlockPaddingVerticalEdge;</span>
<span class="line-modified">!     *right += containingBlockPaddingVerticalEdge;</span>
  
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Position][Width][Margin] -&gt; out-of-flow replaced -&gt; left(&quot; &lt;&lt; *left &lt;&lt; &quot;px) right(&quot;  &lt;&lt; *right &lt;&lt; &quot;px) width(&quot; &lt;&lt; width &lt;&lt; &quot;px) margin(&quot; &lt;&lt; *usedMarginStart &lt;&lt; &quot;px, &quot;  &lt;&lt; *usedMarginEnd &lt;&lt; &quot;px) layoutBox(&quot; &lt;&lt; &amp;layoutBox &lt;&lt; &quot;)&quot;);
      return { *left, *right, { width, { *usedMarginStart, *usedMarginEnd }, computedHorizontalMargin } };
  }
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 1037,12 ***</span>
  Edges FormattingContext::Geometry::computedBorder(const Box&amp; layoutBox)
  {
      auto&amp; style = layoutBox.style();
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Border] -&gt; layoutBox: &quot; &lt;&lt; &amp;layoutBox);
      return {
<span class="line-modified">!         { style.borderLeft().boxModelWidth(), style.borderRight().boxModelWidth() },</span>
<span class="line-modified">!         { style.borderTop().boxModelWidth(), style.borderBottom().boxModelWidth() }</span>
      };
  }
  
  Optional&lt;Edges&gt; FormattingContext::Geometry::computedPadding(const Box&amp; layoutBox, UsedHorizontalValues usedValues)
  {
<span class="line-new-header">--- 1033,12 ---</span>
  Edges FormattingContext::Geometry::computedBorder(const Box&amp; layoutBox)
  {
      auto&amp; style = layoutBox.style();
      LOG_WITH_STREAM(FormattingContextLayout, stream &lt;&lt; &quot;[Border] -&gt; layoutBox: &quot; &lt;&lt; &amp;layoutBox);
      return {
<span class="line-modified">!         { LayoutUnit(style.borderLeft().boxModelWidth()), LayoutUnit(style.borderRight().boxModelWidth()) },</span>
<span class="line-modified">!         { LayoutUnit(style.borderTop().boxModelWidth()), LayoutUnit(style.borderBottom().boxModelWidth()) }</span>
      };
  }
  
  Optional&lt;Edges&gt; FormattingContext::Geometry::computedPadding(const Box&amp; layoutBox, UsedHorizontalValues usedValues)
  {
</pre>
<center><a href="FormattingContext.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="FormattingContextQuirks.cpp.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>