<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cdiff modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutState.cpp</title>
    <link rel="stylesheet" href="../../../../../../../../style.css" />
  </head>
<body>
<center><a href="FormattingState.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="LayoutState.h.cdiff.html" target="_top">next &gt;</a></center>    <h2>modules/javafx.web/src/main/native/Source/WebCore/layout/LayoutState.cpp</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-old-header">*** 36,10 ***</span>
<span class="line-new-header">--- 36,15 ---</span>
  #include &quot;InlineFormattingState.h&quot;
  #include &quot;InlineInvalidation.h&quot;
  #include &quot;Invalidation.h&quot;
  #include &quot;LayoutBox.h&quot;
  #include &quot;LayoutContainer.h&quot;
<span class="line-added">+ #include &quot;LayoutPhase.h&quot;</span>
<span class="line-added">+ #include &quot;LayoutTreeBuilder.h&quot;</span>
<span class="line-added">+ #include &quot;RenderView.h&quot;</span>
<span class="line-added">+ #include &quot;TableFormattingContext.h&quot;</span>
<span class="line-added">+ #include &quot;TableFormattingState.h&quot;</span>
  #include &lt;wtf/IsoMallocInlines.h&gt;
  
  namespace WebCore {
  namespace Layout {
  
</pre>
<hr />
<pre>
<span class="line-old-header">*** 57,18 ***</span>
      displayBox.setHorizontalComputedMargin({ });
      displayBox.setVerticalMargin({ });
      displayBox.setBorder({ });
      displayBox.setPadding({ });
      displayBox.setTopLeft({ });
<span class="line-modified">!     displayBox.setContentBoxHeight(initialContainingBlock.style().logicalHeight().value());</span>
<span class="line-modified">!     displayBox.setContentBoxWidth(initialContainingBlock.style().logicalWidth().value());</span>
  
      m_formattingContextRootListForLayout.add(&amp;initialContainingBlock);
  }
  
  void LayoutState::updateLayout()
  {
      ASSERT(!m_formattingContextRootListForLayout.isEmpty());
      for (auto* layoutRoot : m_formattingContextRootListForLayout)
          layoutFormattingContextSubtree(*layoutRoot);
      m_formattingContextRootListForLayout.clear();
  }
<span class="line-new-header">--- 62,20 ---</span>
      displayBox.setHorizontalComputedMargin({ });
      displayBox.setVerticalMargin({ });
      displayBox.setBorder({ });
      displayBox.setPadding({ });
      displayBox.setTopLeft({ });
<span class="line-modified">!     displayBox.setContentBoxHeight(LayoutUnit(initialContainingBlock.style().logicalHeight().value()));</span>
<span class="line-modified">!     displayBox.setContentBoxWidth(LayoutUnit(initialContainingBlock.style().logicalWidth().value()));</span>
  
      m_formattingContextRootListForLayout.add(&amp;initialContainingBlock);
  }
  
  void LayoutState::updateLayout()
  {
<span class="line-added">+     PhaseScope scope(Phase::Type::Layout);</span>
<span class="line-added">+ </span>
      ASSERT(!m_formattingContextRootListForLayout.isEmpty());
      for (auto* layoutRoot : m_formattingContextRootListForLayout)
          layoutFormattingContextSubtree(*layoutRoot);
      m_formattingContextRootListForLayout.clear();
  }
</pre>
<hr />
<pre>
<span class="line-old-header">*** 76,22 ***</span>
  void LayoutState::layoutFormattingContextSubtree(const Box&amp; layoutRoot)
  {
      RELEASE_ASSERT(layoutRoot.establishesFormattingContext());
      auto formattingContext = createFormattingContext(layoutRoot);
      formattingContext-&gt;layout();
<span class="line-modified">!     formattingContext-&gt;layoutOutOfFlowDescendants(layoutRoot);</span>
  }
  
  Display::Box&amp; LayoutState::displayBoxForLayoutBox(const Box&amp; layoutBox) const
  {
      return *m_layoutToDisplayBox.ensure(&amp;layoutBox, [&amp;layoutBox] {
<span class="line-modified">!         return std::make_unique&lt;Display::Box&gt;(layoutBox.style());</span>
      }).iterator-&gt;value;
  }
  
  void LayoutState::styleChanged(const Box&amp; layoutBox, StyleDiff styleDiff)
  {
      auto&amp; formattingState = formattingStateForBox(layoutBox);
      const Container* invalidationRoot = nullptr;
      if (is&lt;BlockFormattingState&gt;(formattingState))
          invalidationRoot = BlockInvalidation::invalidate(layoutBox, styleDiff, *this, downcast&lt;BlockFormattingState&gt;(formattingState)).root;
      else if (is&lt;InlineFormattingState&gt;(formattingState))
<span class="line-new-header">--- 83,24 ---</span>
  void LayoutState::layoutFormattingContextSubtree(const Box&amp; layoutRoot)
  {
      RELEASE_ASSERT(layoutRoot.establishesFormattingContext());
      auto formattingContext = createFormattingContext(layoutRoot);
      formattingContext-&gt;layout();
<span class="line-modified">!     formattingContext-&gt;layoutOutOfFlowContent();</span>
  }
  
  Display::Box&amp; LayoutState::displayBoxForLayoutBox(const Box&amp; layoutBox) const
  {
      return *m_layoutToDisplayBox.ensure(&amp;layoutBox, [&amp;layoutBox] {
<span class="line-modified">!         return makeUnique&lt;Display::Box&gt;(layoutBox.style());</span>
      }).iterator-&gt;value;
  }
  
  void LayoutState::styleChanged(const Box&amp; layoutBox, StyleDiff styleDiff)
  {
<span class="line-added">+     PhaseScope scope(Phase::Type::Invalidation);</span>
<span class="line-added">+ </span>
      auto&amp; formattingState = formattingStateForBox(layoutBox);
      const Container* invalidationRoot = nullptr;
      if (is&lt;BlockFormattingState&gt;(formattingState))
          invalidationRoot = BlockInvalidation::invalidate(layoutBox, styleDiff, *this, downcast&lt;BlockFormattingState&gt;(formattingState)).root;
      else if (is&lt;InlineFormattingState&gt;(formattingState))
</pre>
<hr />
<pre>
<span class="line-old-header">*** 129,23 ***</span>
  
              // If the block container box that initiates this inline formatting context also establishes a block context, the floats outside of the formatting root
              // should not interfere with the content inside.
              // &lt;div style=&quot;float: left&quot;&gt;&lt;/div&gt;&lt;div style=&quot;overflow: hidden&quot;&gt; &lt;- is a non-intrusive float, because overflow: hidden triggers new block formatting context.&lt;/div&gt;
              if (formattingRoot.establishesBlockFormattingContext())
<span class="line-modified">!                 return std::make_unique&lt;InlineFormattingState&gt;(FloatingState::create(*this, formattingRoot), *this);</span>
  
              // Otherwise, the formatting context inherits the floats from the parent formatting context.
              // Find the formatting state in which this formatting root lives, not the one it creates and use its floating state.
<span class="line-modified">!             return std::make_unique&lt;InlineFormattingState&gt;(formattingStateForBox(formattingRoot).floatingState(), *this);</span>
          }).iterator-&gt;value;
      }
  
      if (formattingRoot.establishesBlockFormattingContext()) {
          return *m_formattingStates.ensure(&amp;formattingRoot, [&amp;] {
  
              // Block formatting context always establishes a new floating state.
<span class="line-modified">!             return std::make_unique&lt;BlockFormattingState&gt;(FloatingState::create(*this, formattingRoot), *this);</span>
          }).iterator-&gt;value;
      }
  
      CRASH();
  }
<span class="line-new-header">--- 138,33 ---</span>
  
              // If the block container box that initiates this inline formatting context also establishes a block context, the floats outside of the formatting root
              // should not interfere with the content inside.
              // &lt;div style=&quot;float: left&quot;&gt;&lt;/div&gt;&lt;div style=&quot;overflow: hidden&quot;&gt; &lt;- is a non-intrusive float, because overflow: hidden triggers new block formatting context.&lt;/div&gt;
              if (formattingRoot.establishesBlockFormattingContext())
<span class="line-modified">!                 return makeUnique&lt;InlineFormattingState&gt;(FloatingState::create(*this, formattingRoot), *this);</span>
  
              // Otherwise, the formatting context inherits the floats from the parent formatting context.
              // Find the formatting state in which this formatting root lives, not the one it creates and use its floating state.
<span class="line-modified">!             auto&amp; parentFormattingState = createFormattingStateForFormattingRootIfNeeded(formattingRoot.formattingContextRoot());</span>
<span class="line-added">+             auto&amp; parentFloatingState = parentFormattingState.floatingState();</span>
<span class="line-added">+             return makeUnique&lt;InlineFormattingState&gt;(parentFloatingState, *this);</span>
          }).iterator-&gt;value;
      }
  
      if (formattingRoot.establishesBlockFormattingContext()) {
          return *m_formattingStates.ensure(&amp;formattingRoot, [&amp;] {
  
              // Block formatting context always establishes a new floating state.
<span class="line-modified">!             return makeUnique&lt;BlockFormattingState&gt;(FloatingState::create(*this, formattingRoot), *this);</span>
<span class="line-added">+         }).iterator-&gt;value;</span>
<span class="line-added">+     }</span>
<span class="line-added">+ </span>
<span class="line-added">+     if (formattingRoot.establishesTableFormattingContext()) {</span>
<span class="line-added">+         return *m_formattingStates.ensure(&amp;formattingRoot, [&amp;] {</span>
<span class="line-added">+ </span>
<span class="line-added">+             // Table formatting context always establishes a new floating state -and it stays empty.</span>
<span class="line-added">+             return makeUnique&lt;TableFormattingState&gt;(FloatingState::create(*this, formattingRoot), *this);</span>
          }).iterator-&gt;value;
      }
  
      CRASH();
  }
</pre>
<hr />
<pre>
<span class="line-old-header">*** 153,21 ***</span>
  std::unique_ptr&lt;FormattingContext&gt; LayoutState::createFormattingContext(const Box&amp; formattingContextRoot)
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      if (formattingContextRoot.establishesInlineFormattingContext()) {
          auto&amp; inlineFormattingState = downcast&lt;InlineFormattingState&gt;(createFormattingStateForFormattingRootIfNeeded(formattingContextRoot));
<span class="line-modified">!         return std::make_unique&lt;InlineFormattingContext&gt;(formattingContextRoot, inlineFormattingState);</span>
      }
  
      if (formattingContextRoot.establishesBlockFormattingContext()) {
          ASSERT(formattingContextRoot.establishesBlockFormattingContextOnly());
          auto&amp; blockFormattingState = downcast&lt;BlockFormattingState&gt;(createFormattingStateForFormattingRootIfNeeded(formattingContextRoot));
<span class="line-modified">!         return std::make_unique&lt;BlockFormattingContext&gt;(formattingContextRoot, blockFormattingState);</span>
      }
  
      CRASH();
  }
  
  }
  }
  
  #endif
<span class="line-new-header">--- 172,51 ---</span>
  std::unique_ptr&lt;FormattingContext&gt; LayoutState::createFormattingContext(const Box&amp; formattingContextRoot)
  {
      ASSERT(formattingContextRoot.establishesFormattingContext());
      if (formattingContextRoot.establishesInlineFormattingContext()) {
          auto&amp; inlineFormattingState = downcast&lt;InlineFormattingState&gt;(createFormattingStateForFormattingRootIfNeeded(formattingContextRoot));
<span class="line-modified">!         return makeUnique&lt;InlineFormattingContext&gt;(formattingContextRoot, inlineFormattingState);</span>
      }
  
      if (formattingContextRoot.establishesBlockFormattingContext()) {
          ASSERT(formattingContextRoot.establishesBlockFormattingContextOnly());
          auto&amp; blockFormattingState = downcast&lt;BlockFormattingState&gt;(createFormattingStateForFormattingRootIfNeeded(formattingContextRoot));
<span class="line-modified">!         return makeUnique&lt;BlockFormattingContext&gt;(formattingContextRoot, blockFormattingState);</span>
<span class="line-added">+     }</span>
<span class="line-added">+ </span>
<span class="line-added">+     if (formattingContextRoot.establishesTableFormattingContext()) {</span>
<span class="line-added">+         auto&amp; tableFormattingState = downcast&lt;TableFormattingState&gt;(createFormattingStateForFormattingRootIfNeeded(formattingContextRoot));</span>
<span class="line-added">+         return makeUnique&lt;TableFormattingContext&gt;(formattingContextRoot, tableFormattingState);</span>
      }
  
      CRASH();
  }
  
<span class="line-added">+ void LayoutState::run(const RenderView&amp; renderView)</span>
<span class="line-added">+ {</span>
<span class="line-added">+     auto initialContainingBlock = TreeBuilder::createLayoutTree(renderView);</span>
<span class="line-added">+     auto layoutState = LayoutState(*initialContainingBlock);</span>
<span class="line-added">+     // Not efficient, but this is temporary anyway.</span>
<span class="line-added">+     // Collect the out-of-flow descendants at the formatting root level (as opposed to at the containing block level, though they might be the same).</span>
<span class="line-added">+     for (auto&amp; descendant : descendantsOfType&lt;Box&gt;(*initialContainingBlock)) {</span>
<span class="line-added">+         if (!descendant.isOutOfFlowPositioned())</span>
<span class="line-added">+             continue;</span>
<span class="line-added">+         auto&amp; formattingState = layoutState.createFormattingStateForFormattingRootIfNeeded(descendant.formattingContextRoot());</span>
<span class="line-added">+         formattingState.addOutOfFlowBox(descendant);</span>
<span class="line-added">+     }</span>
<span class="line-added">+     auto quirksMode = [&amp;] {</span>
<span class="line-added">+         auto&amp; document = renderView.document();</span>
<span class="line-added">+         if (document.inLimitedQuirksMode())</span>
<span class="line-added">+             return QuirksMode::Limited;</span>
<span class="line-added">+         if (document.inQuirksMode())</span>
<span class="line-added">+             return QuirksMode::Yes;</span>
<span class="line-added">+         return QuirksMode::No;</span>
<span class="line-added">+     };</span>
<span class="line-added">+     layoutState.setQuirksMode(quirksMode());</span>
<span class="line-added">+     layoutState.updateLayout();</span>
<span class="line-added">+     layoutState.verifyAndOutputMismatchingLayoutTree(renderView);</span>
<span class="line-added">+ }</span>
<span class="line-added">+ </span>
  }
  }
  
  #endif
</pre>
<center><a href="FormattingState.h.cdiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../index.html" target="_top">index</a> <a href="LayoutState.h.cdiff.html" target="_top">next &gt;</a></center>  </body>
</html>