<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Udiff application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</title>
    <link rel="stylesheet" href="../../../../../../../../../../../style.css" />
  </head>
<body>
<center><a href="../tree/TraceTreeUtils.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../js/flameview.css.udiff.html" target="_top">next &gt;</a></center>    <h2>application/org.openjdk.jmc.flightrecorder.flameview/src/main/java/org/openjdk/jmc/flightrecorder/flameview/views/FlameGraphView.java</h2>
     <a class="print" href="javascript:print()">Print this page</a>
<hr />
<pre>
<span class="line-new-header">@@ -40,10 +40,12 @@</span>
  import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_JPEG_IMAGE;
  import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_PNG_IMAGE;
  import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_PRINT;
  import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_SAVE_AS;
  import static org.openjdk.jmc.flightrecorder.flameview.Messages.FLAMEVIEW_SAVE_FLAME_GRAPH_AS;
<span class="udiff-line-added">+ import static org.openjdk.jmc.flightrecorder.flameview.MessagesUtils.getFlameviewMessage;</span>
<span class="udiff-line-added">+ import static org.openjdk.jmc.flightrecorder.flameview.MessagesUtils.getStacktraceMessage;</span>
  
  import java.io.ByteArrayOutputStream;
  import java.io.File;
  import java.io.FileOutputStream;
  import java.io.IOException;
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -128,18 +130,18 @@</span>
  		String cssFlameview = &quot;flameview.css&quot;;
  
  		String jsIeLibraries = loadLibraries(jsHtml5shiv, jsRespond);
  		String jsD3Libraries = loadLibraries(jsD3V4, jsD3Tip, jsD3FlameGraph);
  		String styleheets = loadLibraries(cssD3Flamegraph, cssFlameview);
<span class="udiff-line-modified-removed">- 		String jsFlameview = fileContent(jsFlameviewName);</span>
<span class="udiff-line-modified-added">+ 		String jsFlameviewColoring = fileContent(jsFlameviewName);</span>
  
  		String magnifierIcon = getIconBase64(ImageConstants.ICON_MAGNIFIER);
  
  		// formatter arguments for the template: %1 - CSSs stylesheets, %2 - IE9 specific scripts,
  		// %3 - Search Icon Base64, %4 - 3rd party scripts, %5 - Flameview Coloring,
  		HTML_PAGE = String.format(fileContent(&quot;page.template&quot;), styleheets, jsIeLibraries, magnifierIcon, jsD3Libraries,
<span class="udiff-line-modified-removed">- 				jsFlameview);</span>
<span class="udiff-line-modified-added">+ 				jsFlameviewColoring);</span>
  	}
  
  	private static final ExecutorService MODEL_EXECUTOR = Executors.newFixedThreadPool(1);
  	private FrameSeparator frameSeparator;
  
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -155,13 +157,13 @@</span>
  	private ExportAction[] exportActions;
  
  	private enum GroupActionType {
  		THREAD_ROOT(Messages.STACKTRACE_VIEW_THREAD_ROOT, IAction.AS_RADIO_BUTTON, CoreImages.THREAD),
  		LAST_FRAME(Messages.STACKTRACE_VIEW_LAST_FRAME, IAction.AS_RADIO_BUTTON, CoreImages.METHOD_NON_OPTIMIZED),
<span class="udiff-line-modified-removed">- 		ICICLE_GRAPH(flameviewMessage(FLAMEVIEW_ICICLE_GRAPH), IAction.AS_RADIO_BUTTON, flameviewImageDescriptor(</span>
<span class="udiff-line-modified-added">+ 		ICICLE_GRAPH(getFlameviewMessage(FLAMEVIEW_ICICLE_GRAPH), IAction.AS_RADIO_BUTTON, flameviewImageDescriptor(</span>
  				FlameviewImages.ICON_ICICLE_FLIP)),
<span class="udiff-line-modified-removed">- 		FLAME_GRAPH(flameviewMessage(FLAMEVIEW_FLAME_GRAPH), IAction.AS_RADIO_BUTTON, flameviewImageDescriptor(</span>
<span class="udiff-line-modified-added">+ 		FLAME_GRAPH(getFlameviewMessage(FLAMEVIEW_FLAME_GRAPH), IAction.AS_RADIO_BUTTON, flameviewImageDescriptor(</span>
  				FlameviewImages.ICON_FLAME_FLIP));
  
  		private final String message;
  		private final int action;
  		private final ImageDescriptor imageDescriptor;
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -212,14 +214,14 @@</span>
  			browser.execute(String.format(&quot;icicleView(%s);&quot;, icicleViewActive));
  		}
  	}
  
  	private enum ExportActionType {
<span class="udiff-line-modified-removed">- 		SAVE_AS(flameviewMessage(FLAMEVIEW_SAVE_AS), IAction.AS_PUSH_BUTTON, PlatformUI.getWorkbench().getSharedImages()</span>
<span class="udiff-line-modified-removed">- 				.getImageDescriptor(ISharedImages.IMG_ETOOL_SAVEAS_EDIT), PlatformUI.getWorkbench().getSharedImages()</span>
<span class="udiff-line-modified-removed">- 						.getImageDescriptor(ISharedImages.IMG_ETOOL_SAVEAS_EDIT_DISABLED)),</span>
<span class="udiff-line-modified-removed">- 		PRINT(flameviewMessage(FLAMEVIEW_PRINT), IAction.AS_PUSH_BUTTON, PlatformUI.getWorkbench().getSharedImages()</span>
<span class="udiff-line-modified-added">+ 		SAVE_AS(getFlameviewMessage(FLAMEVIEW_SAVE_AS), IAction.AS_PUSH_BUTTON, PlatformUI.getWorkbench()</span>
<span class="udiff-line-modified-added">+ 				.getSharedImages().getImageDescriptor(ISharedImages.IMG_ETOOL_SAVEAS_EDIT), PlatformUI.getWorkbench()</span>
<span class="udiff-line-modified-added">+ 						.getSharedImages().getImageDescriptor(ISharedImages.IMG_ETOOL_SAVEAS_EDIT_DISABLED)),</span>
<span class="udiff-line-modified-added">+ 		PRINT(getFlameviewMessage(FLAMEVIEW_PRINT), IAction.AS_PUSH_BUTTON, PlatformUI.getWorkbench().getSharedImages()</span>
  				.getImageDescriptor(ISharedImages.IMG_ETOOL_PRINT_EDIT), PlatformUI.getWorkbench().getSharedImages()
  						.getImageDescriptor(ISharedImages.IMG_ETOOL_PRINT_EDIT_DISABLED));
  
  		private final String message;
  		private final int action;
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -377,13 +379,13 @@</span>
  		CompletableFuture&lt;String&gt; future = new CompletableFuture&lt;&gt;();
  		String[] destination = new String[2];
  
  		DisplayToolkit.inDisplayThread().execute(() -&gt; {
  			FileDialog fd = new FileDialog(browser.getShell(), SWT.SAVE);
<span class="udiff-line-modified-removed">- 			fd.setText(flameviewMessage(FLAMEVIEW_SAVE_FLAME_GRAPH_AS));</span>
<span class="udiff-line-modified-added">+ 			fd.setText(getFlameviewMessage(FLAMEVIEW_SAVE_FLAME_GRAPH_AS));</span>
  			fd.setFilterNames(
<span class="udiff-line-modified-removed">- 					new String[] {flameviewMessage(FLAMEVIEW_JPEG_IMAGE), flameviewMessage(FLAMEVIEW_PNG_IMAGE)});</span>
<span class="udiff-line-modified-added">+ 					new String[] {getFlameviewMessage(FLAMEVIEW_JPEG_IMAGE), getFlameviewMessage(FLAMEVIEW_PNG_IMAGE)});</span>
  			fd.setFilterExtensions(new String[] {&quot;*.jpg&quot;, &quot;*.png&quot;}); //$NON-NLS-1$ //$NON-NLS-2$
  			fd.setFileName(&quot;flame_graph&quot;); //$NON-NLS-1$
  			fd.setOverwrite(true);
  			if (fd.open() == null) {
  				future.cancel(true);
</pre>
<hr />
<pre>
<span class="line-new-header">@@ -511,18 +513,10 @@</span>
  					MessageFormat.format(&quot;Could not load script \&quot;{0}\&quot;,\&quot;{1}\&quot;&quot;, fileName, e.getMessage())); //$NON-NLS-1$
  			return &quot;&quot;;
  		}
  	}
  
<span class="udiff-line-removed">- 	private static String getStacktraceMessage(String key) {</span>
<span class="udiff-line-removed">- 		return org.openjdk.jmc.flightrecorder.stacktrace.Messages.getString(key);</span>
<span class="udiff-line-removed">- 	}</span>
<span class="udiff-line-removed">- </span>
<span class="udiff-line-removed">- 	private static String flameviewMessage(String key) {</span>
<span class="udiff-line-removed">- 		return org.openjdk.jmc.flightrecorder.flameview.Messages.getString(key);</span>
<span class="udiff-line-removed">- 	}</span>
<span class="udiff-line-removed">- </span>
  	private static ImageDescriptor flameviewImageDescriptor(String iconName) {
  		return AbstractUIPlugin.imageDescriptorFromPlugin(PLUGIN_ID, DIR_ICONS + iconName); //$NON-NLS-1$
  	}
  
  	private static String getIconBase64(String iconName) {
</pre>
<center><a href="../tree/TraceTreeUtils.java.udiff.html" target="_top">&lt; prev</a> <a href="../../../../../../../../../../../index.html" target="_top">index</a> <a href="../../../../../../../js/flameview.css.udiff.html" target="_top">next &gt;</a></center>  </body>
</html>